.manualheader h4 {
    font-size: 38px;
    font-weight: 300;
    line-height: 43px;
    margin: 20px 0 40px;
}

.manualsubheader h4 {
    font-size: 28px;
    font-weight: 300;
    line-height: 33px;
    margin: 10px 0 10px;
}