<div class="col-md-12" ng-controller="EditSurveyController">
    <ul class="breadcrumb">
        <li>{{'label.anchor.admin' | translate}}</li>
        <li><a href="#/system">{{'system' | translate}}</a></li>
        <li><a href="#/admin/system/surveys">{{'label.anchor.surveys' | translate}}</a></li>
        <li><a href="#/admin/system/surveys/view/{{surveyData.id}}">{{surveyData.name | translate}}</a></li>
        <li class="active">Edit Survey</li>
    </ul>

    <form name="createsurveyform" novalidate="" class="form-horizontal well" rc-submit="submit()">
        <api-validate></api-validate>
        <fieldset>
            <div class="form-group">
                <label class="control-label col-sm-2">
                    {{'label.survey' | translate}} <span class="required">*</span>
                </label>
                <div class="col-sm-2">
                    <input type="text" id="surveyKey" name="surveyKey" ng-model="formData.key" placeholder="Survey Key" class="form-control" required
                           late-Validate maxlength="32"/>
                </div>
                <div class="col-sm-2">
                    <input type="text" id="surveyName" name="surveyName" ng-model="formData.name" placeholder="Survey Name" class="form-control" required
                           late-Validate maxlength="250"/>
                </div>
                <div class="col-sm-2">
                    <select id="entityTypeId" name="entityTypeId" ng-model="formData.entityTypeId" class="form-control"
                            ng-options="surveyEntityType.id as surveyEntityType.value for surveyEntityType in surveyEntityTypes"
                            value="{{surveyEntityType.id}}" required
                            late-Validate>
                        <option value="">--{{'label.menu.survey.for' | translate}}--</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <div ng-hide="formData.key">
                        <form-validate valattributeform="createsurveyform" valattribute="key"/>
                    </div>
                    <div ng-show="formData.key" && ng-hide="formData.name">
                        <form-validate valattributeform="createsurveyform" valattribute="name"/>
                    </div>
                    <div ng-show="formData.key && formData.name" ng-hide="formData.entityTypeId">
                        <form-validate valattributeform="createsurveyform" valattribute="entityTypeId"/>
                    </div>
                </div>
                <div class="col-sm-2 pull-right" ng-if="formData.key && formData.name && formData.entityTypeId">
                    <h4><strong>Add new component</strong>&nbsp;<a ng-click="addNewComponent()">&nbsp;<i class="icon-plus icon-white"></i></a></h4>
                </div>
            </div>

            <div ng-if="formData.componentDatas.length > 0">
                <div class="col-md-12 well" ng-repeat="componentData in formData.componentDatas track by $index" ng-init="componentIndex = $index">
                    <div class="form-group">
                        <label class="control-label col-sm-2">
                            Component <span class="required">*</span>
                        </label>
                        <div class="col-sm-3">
                            <input type="text" id="componentDataKey" name="componentDataKey" ng-model="componentData.key" class="form-control" required
                                   late-Validate maxlength="32" placeholder="Component Key"/>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" id="componentDataText" name="componentDataText" ng-model="componentData.text" class="form-control" required
                                   late-Validate maxlength="250" placeholder="Component Name"/>
                        </div>
                        <div class="col-sm-2" ng-if="componentData.key && componentData.text">
                            <h4><strong>Add new question</strong>&nbsp;<a ng-click="addNewQuestion(componentIndex)">&nbsp;<i class="icon-plus icon-white"></i></a></h4>
                        </div>
                    </div>
                    <div class="form-group" ng-hide="componentData.key && componentData.text">
                        <label class="control-label col-sm-2">&nbsp;</label>
                        <div class="col-sm-2">&nbsp;</div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="createsurveyform" valattribute="componentDataKey"/>
                        </div>
                        <label class="control-label col-sm-2">&nbsp;</label>
                        <div class="col-sm-2">&nbsp;</div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="createsurveyform" valattribute="componentDataText"/>
                        </div>
                    </div>
                    <div ng-if="componentData.questionDatas.length > 0">
                        <legend></legend>
                        <div class="col-md-12" ng-repeat="questionData in componentData.questionDatas track by $index" ng-init="questionIndex = $index">
                            <div class="form-group">
                                <label class="control-label col-sm-2">Question<span class="required">*</span></label>
                                <div class="col-sm-3">
                                    <input type="text" id="questionDataKey" name="questionDataKey" ng-model="questionData.key" class="form-control" required
                                           late-Validate maxlength="32" placeholder="Question Key"/>
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" id="questionDataText" name="questionDataText" ng-model="questionData.text" class="form-control" required
                                           late-Validate maxlength="250" placeholder="Question Name"/>
                                </div>
                                <div class="col-sm-2 pull-right" ng-if="questionData.key && questionData.text">
                                    <h4><strong>Add new option</strong>&nbsp;<a ng-click="addNewQuestionOptions(componentIndex, questionIndex)">&nbsp;<i class="icon-plus icon-white"></i></a></h4>
                                </div>
                            </div>
                            <div class="form-group" ng-hide="questionData.key && questionData.text">
                                <label class="control-label col-sm-2">&nbsp;</label>
                                <div class="col-sm-2">&nbsp;</div>
                                <div class="col-sm-2">
                                    <form-validate valattributeform="createsurveyform" valattribute="questionDataKey"/>
                                </div>
                                <label class="control-label col-sm-2">&nbsp;</label>
                                <div class="col-sm-2">&nbsp;</div>
                                <div class="col-sm-2">
                                    <form-validate valattributeform="createsurveyform" valattribute="questionDataText"/>
                                </div>
                            </div>
                            <div ng-if="questionData.responseDatas.length > 0">
                                <div ng-repeat="responseData in questionData.responseDatas track by $index" ng-init="responseIndex = $index">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-10 well">
                                        <div class="form-group">
                                            <legend><h4>Option : {{responseIndex+1}}</h4></legend>
                                            <label class="control-label col-sm-2">
                                                Name <span class="required">*</span>
                                            </label>
                                            <div class="col-sm-2">
                                                <input type="text" id="responseText" name="responseText" ng-model="responseData.text" class="form-control" required
                                                       late-Validate/>
                                            </div>
                                            <div class="col-sm-2">
                                                <form-validate valattributeform="createsurveyform" valattribute="responseText"/>
                                            </div>
                                            <label class="control-label col-sm-2">
                                                Score <span class="required">*</span>
                                            </label>
                                            <div class="col-sm-2">
                                                <input type="number" maxlength="5" id="responseValue" name="responseValue" ng-model="responseData.value" class="form-control" required
                                                       late-Validate/>
                                            </div>
                                            <div class="col-sm-2">
                                                <form-validate valattributeform="createsurveyform" valattribute="responseValue"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <legend></legend>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-offset-5">
                <a id="cancel" href="#/admin/system/surveys" class="btn btn-default">{{ 'label.button.cancel' | translate }}</a>
                <button id="save" type="submit" class="btn btn-primary">{{ 'label.button.save' | translate }}</button>
            </div>

        </fieldset>
    </form>
</div>