/* app css stylesheet */

body, html {
  height: 100%;
}

.fullscreen {
 height: 100%; 
}

.whitebg {
  background-color: #FFFFFF;
}

.bolder {
    font-weight: bolder !important;
}

.black{
    color:#000000 !important;
}

.well {
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
}
.paddedleft120 {
    padding-left: 12%;
}

.paddedleft90 {
    padding-left: 9%;
}

.paddedleft80 {
    padding-left: 8%;
}

.paddedleft {
    padding-left: 20px;
}

.paddedleft0 {
    padding-left: 15px;
}

.paddedtop {
padding-top: 10px;
}

.paddedtop10 {
    padding-top: 40px;
}

.paddedbottom {
padding-bottom: 40px;
}

.paddedbottom10 {
padding-bottom: 10px;
}

.paddedbottom20 {
padding-bottom: 20px;
}

td > a {
    color: #080808;
}
.blockquoteresult {
    margin: 0 0 20px;
    padding: 10px 15px;
    border-left: 5px solid #BBBBBB;
}
.condensed-table th, .condensed-table td {
  padding:5px 5px 4px;
}
accordion > div > div > div > a {
	color : #5e565e;
}

accordion > div > div > div > a:hover,
accordion > div > div > div > a:focus {
  color: #080808;
  text-decoration: underline;
}

span > a {
  color: #080808;
}

div > ul > li a {
  color : #5e565e;
}

div > div > ul > li a:hover,
div > div > ul > li a:focus {
  color: #080808;
  text-decoration: underline;
}


.list-group {
    background-color: #FFFFFF;
    margin-bottom: 20px;
    padding-left: 0;
}
.list-group-item {
    border-bottom: 1px solid #DDDDDD;
    display: block;
    margin-bottom: -1px;
    padding: 10px 30px 10px 15px;
    position: relative;
}
.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}
.list-group-item > .badge {
    float: right;
    margin-right: -15px;
}
.list-group-item-heading {
    margin-bottom: 5px;
    margin-top: 0;
}
.list-group-item-text {
    line-height: 1.3;
    margin-bottom: 0;
}
a.list-group-item .list-group-item-heading {
    color: #333333;
}
a.list-group-item .list-group-item-text {
    color: #555555;
}
a.list-group-item:hover, a.list-group-item:focus {
    background-color: #F5F5F5;
    text-decoration: none;
}
a.list-group-item.active {
    background-color: #007FFF;
    border-color: #007FFF;
    color: #FFFFFF;
    z-index: 2;
}
a.list-group-item.active .list-group-item-heading {
    color: inherit;
}
a.list-group-item.active .list-group-item-text {
    color: #CCE5FF;
}

.statustransferprogress {
    color: #FF4000;
}

.statustransferonhold {
    color: #DF0101;
}

.statusactive {
    color: #008000;
}

.statusdeleted {
    color: #000000;
}

.statuspending {
    color: #FFA500;
}
.statusApproved {
    color: #0F36E4;
}

.statusbad {
    color: #FF0000;
}

.statusgood {
    color: #008000;
}

.statushold {
    color: #FFFF00;
}

td.labelrow {
    padding: 0 0 10px;
}

tr.bottomborder td, tr.bottomborder th {
     border-bottom:1px solid #C0C0C0;
     padding-bottom:2px
}
tr.toppadding td, tr.toppadding th {
     padding-top:8px
}

tr.graybg td, tr.graybg th {
     background-color: #F0F0F0;
}

td.graybg {
     background-color: #F0F0F0;
}

hr.marginbottom {
    margin-bottom: 8px;
}

.primarydiv {
  background-color: #0f82f5;
  *background-color: #0072e6;
  background-image: -moz-linear-gradient(top, #1a8cff, #0072e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1a8cff), to(#0072e6));
  background-image: -webkit-linear-gradient(top, #1a8cff, #0072e6);
  background-image: -o-linear-gradient(top, #1a8cff, #0072e6);
  background-image: linear-gradient(to bottom, #1a8cff, #0072e6);
  background-repeat: repeat-x;
  border-color: #0072e6 #0072e6 #004c99;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1a8cff', endColorstr='#ff0072e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

}

.ext-sidenav {
    background-color: #FFFFFF;
    z-index: 2000;
    box-shadow: 8px 0px 8px -6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 8px 0px 8px -6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 8px 0px 8px -6px rgba(0, 0, 0, 0.2);
}


.leftmenu > ul > li { 
  height: 30px;
  vertical-align: middle;
}

iframe { 
  display:block; 
  
}

/* Chrome custome scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(203,203,203,0.8); 
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(203,203,203,0.4); 
}

/* Panel */
.panel {
    border: 1px solid #DDDDDD;
    padding:15px;
    margin: 15px 15px 15px 15px;
    height:300px;
    width:310px;
    overflow:hidden;
    z-index: -1;
    background-color:#ffffff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.panelbig {
    border: 1px solid #DDDDDD;
    padding:15px;
    margin: 15px 15px 15px 15px;
    height:370px;
    width:735px;
    overflow:hidden;
    z-index: -1;
    background-color:#ffffff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.panel-header {
    background-color:#f5f5f5;
    border-bottom: 1px solid #DDDDDD;
    padding: 10px 15px;
    margin: -15px -15px 15px;
}

.panel-header-text {
    font-weight:bold;
    color:#000000;
}

.panel-error {
    z-index:1;
    margin-left:80px;
}
/* Avatar */

.gavatar {
    margin-top: 5px;
    border: 2px solid #ffffff;
    padding:1px;
    width: 50px;
    height: 51px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.avatarpic {
    height: 24px;
    width: 23px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.next-row {
    margin-top: 3px;
}

input.marginbottom0px, textarea.marginbottom0px  {
  margin-bottom: 0px;
  border-bottom-width: 0px;
}

.notewrapper {
   width: 938px;
   background-color: #f5f5f5; 
   border-left: 1px solid #AFAFAF;
   border-right: 1px solid #AFAFAF;
   border-bottom: 1px solid #AFAFAF;
}

.noteaddbuttonwrapper {
   padding: 6px;
}

.blockoverlay {
    background-color: #FFFFFF;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    list-style: none outside none;
    padding-right: 20px;
    padding-left: 20px;
    position: fixed;
    width:300px;
}

.grpinputicons {
  margin-bottom: 0px;
}

.blockoverlaywidth{
    width:300px;
}

a:hover
{
  cursor: pointer;
}

.pointer{
    cursor: pointer;
}

tr.pointer-main:hover {
    background-color: #007FFF;
    color: #ffffff !important;
}

.grbgcolor {
  background-color: #F0F0F0;
}

/* form Validation */

.error {
    color:red;
    padding: 10px;
    z-index: 100;
    top: -10px;
    left: 160px;
    border:1px solid #ddd;
    opacity: 0.9;
}

.required {
    color:red;
    font-weight:bolder;
}

/* Dashboard Inputs */

.input-mini-small {
  width: 20px;
}

.input-smaller {
  width: 65px;
}

.input-small-tooltip {
    width: 90px;
    border-radius:5px;
    background-color: #f5f5f5;
}

.btn-tooltip {
    background-color: #f5f5f5;
    color: #000000;
    border-radius: 2px;
    padding: 1px;
    width:auto;
}

.progress-tooltip {
    background-color: #f5f5f5;
    width:280px;
    height:20px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.loading-widget-div {
    position: fixed;
    top: 50%;
    left: 48%;
    z-index: 100;
}

.modal-middle{
    left:100px
}

.activate {
    color: darkgrey !important;
}

div[data-angular-treeview] {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Tahoma;
    font-size:13px;
    color: #000000;
    text-decoration: none;
}

div[data-tree-model] ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    overflow: hidden;
}

div[data-tree-model] li {
    position: relative;
    padding: 0 0 0 20px;
    line-height: 20px;
}

div[data-tree-model] li .expanded:before {
    padding: 1px 10px;
    position:absolute;
    font-family: fontawesome;
    top:0;
    left:-5px;
    content: "\f117";
    font-style: normal;
    color:red;
}

div[data-tree-model] li .collapsed:before {
    padding: 1px 10px;
    position:absolute;
    font-family: fontawesome;
    top:0;
    left:-5px;
    content: "\f116";
    font-style: normal;
    color:darkgreen;
}

div[data-tree-model] li .normal:before {
    padding: 1px 10px;
    position:absolute;
    font-family: fontawesome;
    font-style: normal;
    top:0;
    left:-5px;
    content: "\f111";
    color:deepskyblue;
}

div[data-tree-model] li i, div[data-tree-model] li span {
    cursor: pointer;
}

div[data-tree-model] li .selected {
    background-color: #d3d3d3;
    font-weight: bold;
    color: darkblue;
    padding: 1px 10px;
}

.btn-silver{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #CCCCCC #CCCCCC #B3B3B3;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

.btn-silver-info {
    background-color: #49AFCD;
    background-image: linear-gradient(to bottom, #5BC0DE, #2F96B4);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-silver-info:hover, .btn-silver-info:focus, .btn-silver-info:active, .btn-silver-info.active, .btn-silver-info.disabled, .btn-silver-info[disabled] {
    background-color: #2F96B4;
    color: #FFFFFF;
}

.btn-black{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #000000;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

.flag{
    width: 15px;
}

.marginbuttontop16px {
    margin-top: 16px;
}

.templatekeys {
    cursor: pointer;
    color: rgb(255, 255, 255);
    line-height: 1; 
    text-align: center; 
    vertical-align: baseline; 
    white-space: nowrap; 
    background-color: rgb(66, 139, 202); 
    margin: 10px 0px; 
    border-radius: 0.25em 0.25em 0.25em 0.25em; 
    font-weight: bold; 
    padding: 0.3em 0.6em 0.4em;
}

.rowleft {
    margin-left: -90px; 
    border-left-width: 1px; 
    margin-right: 90px;
}

/* Inventure */
.inventureTabTitle a {
    font-weight: bold;
    color: #FF6600;
}

#inventureBulletChart .nv-tick text, .displaynone {
    display: none;
}

.inventureMainBorder {
    border: 1.5px solid #DDDDDD; 
    padding:15px;
}

.inventureCategoryTitle {
    background-color: #E8E8E8;
    border-bottom: 1.5px solid #DDDDDD;
    padding: 10px 15px; 
    margin: -15px -15px 15px;
}

.inventureBulletLegendCell {
    width:90px;
    text-align:center;
}

.inventureRecommendationTable {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}

.inventureTableTopBorder {
    border-top: 3px solid #DDDDDD;
}

.inventureRecommendationCellTitle {
    font-weight:bold; 
    color:#333;
}

.inventureRecommendationCellType {
    width:125px;
    height:25px;
    text-align:center;
}

.inventureRecommendationCellAmount {
    width:175px;
    height:25px;
    text-align:center;
}

.inventureRecommendationCellLeftGap {
    width:7px;
    text-align:center;
    border-right: 2px solid #DDDDDD;
}

.inventureTooltip .tooltip-inner {
    white-space: pre-wrap;
    font-size: 13px;
}

.inventureRecommendationCellRightGap {
    width:7px;
    text-align:center;
}

.collapse-header-main {
    padding: 10px 15px;
    width: 300px !important;
}

.black {
    color:#000000;
}

.collapse-header {
    padding: 10px 15px;
    width: 300px !important;
}

.silver {
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
}

.collapse-button {
    position:absolute;
    left:440px;
    color:#000000;
    background-color: transparent;
}

.nav-info {
    list-style: none;
}

.nav-header{
    width: 550px !important;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #CCCCCC #CCCCCC #B3B3B3;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

.center{
    text-align: center;
}

.table-font-nav {
    font-weight: bold;
}

input.marginbottom3px, textarea.marginbottom3px  {
    margin-bottom: 13px;
    border-bottom-width: 0px;
    padding: 3px;
}


nav
{
    position: fixed;
    left: -16em;
    top: 0;
    bottom: 0;
    background-color: #ffffff;
    border-right: 2px solid #ffffff;
    box-shadow: 4px 0 5px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
}

nav:after
{
    position: absolute;
    content: ' ';
    width: 0;
    height: 0;
    right: -20px;
    top: 50%;
    border-width: 15px 10px;
    border-style: solid;
    border-color: transparent transparent transparent #765;

}

nav ul
{
    width: 14em;
    list-style-type: none;
    margin: 0px;
    padding: 1em;
}

.margin-nav {
    margin-top: 50px;
}

nav:hover
{
    left: 0;
    -webkit-transition: all .50s ease-in-out;
    -moz-transition: all .50s ease-in-out;
    -ms-transition: all .50s ease-in-out;
    -o-transition: all .50s ease-in-out;
    transition: all .50s ease-in-out;
}
.blockui{
    pointer-events: none !important;
    cursor: default !important;
}

nav:hover:after{
    border-color: transparent transparent transparent transparent;
}
.validationerror{
    border: 1px solid red !important;
}

/* summary */
.summary {
    border: 1px solid #DDDDDD;
    padding:15px;
    margin-left: 70px;
    height:100px;
    width:100px;
    overflow:hidden;
    z-index: -1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.summary-header {
    background-color:transparent;
    padding: 10px 15px;
    margin: -15px -15px 15px;
}

.summary-header-text {
    font-weight:bold;
    color:#000000;
    font-size: 28px !important;
}

.summary-error {
    z-index:1;
    margin-left:80px;
}
/* summary */

.head-affix{
    width: 100%;
    max-width: 940px !important;
    background-color: #F0F0F0;
    margin-bottom: -20px;

}

.modal-big{
    height : 250px !important;
}

.date-disable[readonly]{
    background-color: #ffffff !important;
    color: #000000 !important;
    box-shadow: none !important;
    cursor: text !important;
}

.angled-textarea{
    margin-left: -25px !important;
}

.display-header-text {
    font-weight:bold;
    color: #ffffff;
    font-size: 13px !important;
    text-align: center;
    text-decoration: none !important;
    text-decoration-line: no-underline !important;
}

.fa-middled{
    margin-left: 20px;
}

a.no-decorate {
    text-decoration: none;
    text-decoration-line: no-underline !important;
}

.display-panel {
    border: 1px solid #DDDDDD;
    padding:15px;
    margin-left: 70px;
    height:20px;
    width:100px;
    overflow:hidden;
    background-color: #555555;
    z-index: -1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.display-panel:hover{
    color:#000000 !important;
    background-color: #696969;
}


/* not good practice to set style on element at such broad scope*/
.container td:first-child {    padding-left: 20px;  }
.container th:first-child {    padding-left: 20px;  }
.container td:last-child {    padding-right: 20px;  }
.container th:last-child {    padding-right: 20px;  }

tr.pointer-main td.pointer:hover{
    color:white;
}

tr.pointer-code:hover{
    background-color: #00bfff !important;
    color: #ffffff;
}

td.pointer a:hover{
    color: white;
    text-decoration:none;
}

.text-pointer{
    cursor: text;
}

#search:focus{
    background-color: white;
    color: #000000;
}

.selected-row{
    background-color: deepskyblue !important;
}

.text-main:hover{
    cursor: text;
    background-color: deepskyblue !important;
}

.display-save-message {
    top:50%;
    left:35%;
    position:absolute;
}

.select-row:selection {
    color:blue;
}

.advacctable th{
    width: 200px;
}

.pullleft19px{
    margin-left: -19px !important;
}

.table-bold{
    font-weight: bold;
    width:120px !important;
    background-color: #F5F5F5;
}

.table-bold-loan{
    font-weight: normal;
    width:140px !important;
    background-color: #F5F5F5;
}
.table-bold-acc{
    width:180px !important;
    background-color: #F5F5F5;
}

.padded-td{
    margin-left: 15px !important;
}

.view-table{
    font-weight:bold;
    border-width:2px;
    border-spacing: 2px;
    left:20px;
    position: relative;
}

.view-member{
    border-spacing: 2px;
    position: relative;
    right: 30px;
    left: 30px;
}

.paddedsummary{
    position: relative;
    right:10px;
    left: 40px;
}

.gray-head{
    background-color: #F5F5F5;
}

.highlight-row:hover{
    background-color: #00bfff;
}

.strikeoff{
    color: red !important;
    text-decoration:line-through;
    text-decoration-style: double;
}

tr.strikeoff td a{
    color: red!important;
}

.hotkey{
    font-weight: bold;
    color: red;
    font-style: italic;
    font-size: 20px;
}
input#search::-webkit-input-placeholder{
    font-size: 12px;
    color: #ffffff;
}
input#search:-moz-placeholder{
    font-size: 12px;
    color: #ffffff;
}
input#search::-moz-placeholder {
    font-size: 12px;
    color: #ffffff;
}
input#search:-ms-input-placeholder {
    font-size: 12px;
    color: #ffffff;
}
