.paddedleft60px{
    padding-left: 60px;
}

.paddedleft75 {
    padding-left: 75%;
}

/* line 60, ../styles-dev/app.scss */
.paddedleft72px {
    padding-left: 72px;
}

/* line 64, ../styles-dev/app.scss */
.paddedleft60px {

    padding-left: 60px;
}

.paddedleft30px {
    padding-left: 30px;
}

.paddedleft80 {
    padding-left: 8%;
}

.paddedleft {
    padding-left: 20px;
}
