/* app css stylesheet */

body, html {
  height: 100%;
}

.fullscreen {
 height: 100%; 
}

.whitebg {
  background-color: #FFFFFF;
}

.bolder {
    font-weight: bolder;
}

.well {
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
}
.paddedleft120 {
    padding-left: 12%;
}
.paddedleft80 {
    padding-left: 8%;
}

.paddedleft {
    padding-left: 20px;
}

.paddedtop {
padding-top: 10px;
}

.paddedbottom {
padding-bottom: 40px;
}

.paddedbottom10 {
padding-bottom: 10px;
}

.paddedbottom20 {
padding-bottom: 20px;
}

td > a {
    color: #080808;
}
.blockquoteresult {
    margin: 0 0 20px;
    padding: 10px 15px;
    border-left: 5px solid #BBBBBB;
}
.condensed-table th, .condensed-table td {
  padding:5px 5px 4px;
}
accordion > div > div > div > a {
	color : #5e565e;
}

accordion > div > div > div > a:hover,
accordion > div > div > div > a:focus {
  color: #080808;
  text-decoration: underline;
}

span > a {
  color: #080808;
}

div > ul > li a {
  color : #5e565e;
}

div > div > ul > li a:hover,
div > div > ul > li a:focus {
  color: #080808;
  text-decoration: underline;
}


.list-group {
    background-color: #FFFFFF;
    margin-bottom: 20px;
    padding-left: 0;
}
.list-group-item {
    border-bottom: 1px solid #DDDDDD;
    display: block;
    margin-bottom: -1px;
    padding: 10px 30px 10px 15px;
    position: relative;
}
.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}
.list-group-item > .badge {
    float: right;
    margin-right: -15px;
}
.list-group-item-heading {
    margin-bottom: 5px;
    margin-top: 0;
}
.list-group-item-text {
    line-height: 1.3;
    margin-bottom: 0;
}
a.list-group-item .list-group-item-heading {
    color: #333333;
}
a.list-group-item .list-group-item-text {
    color: #555555;
}
a.list-group-item:hover, a.list-group-item:focus {
    background-color: #F5F5F5;
    text-decoration: none;
}
a.list-group-item.active {
    background-color: #007FFF;
    border-color: #007FFF;
    color: #FFFFFF;
    z-index: 2;
}
a.list-group-item.active .list-group-item-heading {
    color: inherit;
}
a.list-group-item.active .list-group-item-text {
    color: #CCE5FF;
}

.statusactive {
    color: #008000;
}

.statusdeleted {
    color: #000000;
}

.statuspending {
    color: #FFA500;
}
.statusApproved {
    color: #0F36E4;
}

.statusbad {
    color: #FF0000;
}

.statusgood {
    color: #008000;
}

.statushold {
    color: #FFFF00;
}

td.labelrow {
    padding: 0 0 10px;
}

tr.bottomborder td, tr.bottomborder th {
     border-bottom:1px solid #C0C0C0;
     padding-bottom:2px
}
tr.toppadding td, tr.toppadding th {
     padding-top:8px
}

tr.graybg td, tr.graybg th {
     background-color: #F0F0F0;
}

td.graybg {
     background-color: #F0F0F0;
}

hr.marginbottom {
    margin-bottom: 8px;
}

.primarydiv {
  background-color: #0f82f5;
  *background-color: #0072e6;
  background-image: -moz-linear-gradient(top, #1a8cff, #0072e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1a8cff), to(#0072e6));
  background-image: -webkit-linear-gradient(top, #1a8cff, #0072e6);
  background-image: -o-linear-gradient(top, #1a8cff, #0072e6);
  background-image: linear-gradient(to bottom, #1a8cff, #0072e6);
  background-repeat: repeat-x;
  border-color: #0072e6 #0072e6 #004c99;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1a8cff', endColorstr='#ff0072e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

}

.ext-sidenav {
    background-color: #FFFFFF;
    /*box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);*/
    z-index: 1000;
    box-shadow: 8px 0px 8px -6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 8px 0px 8px -6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 8px 0px 8px -6px rgba(0, 0, 0, 0.2);
}


.leftmenu > ul > li { 
  height: 30px;
  vertical-align: middle;
}

iframe { 
  display:block; 
  
}

/* Chrome custome scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(203,203,203,0.8); 
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(203,203,203,0.4); 
}

/* Panel */
.panel {
    border: 1px solid #DDDDDD;
    padding:15px;
    margin: 15px 15px 15px 15px;
    Height:250px;
    Width:300px;
    overflow:auto;
    background-color:#ffffff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.panelbig {
    border: 1px solid #DDDDDD;
    padding:15px;
    margin: 15px 15px 15px 15px;
    Height:350px;
    Width:735px;
    overflow:auto;
    background-color:#ffffff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.panel-header {
    background-color:#f5f5f5;
    border-bottom: 1px solid #DDDDDD;
    padding: 10px 15px;
    margin: -15px -15px 15px;
}

.panel-header-text {
    font-weight:bold;
    color:#000000;
}
/* Avatar */

.gavatar {
    margin-top: 5px;
    border: 2px solid #ffffff;
    padding:1px;
    width: 50px;
    height: 51px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.avatarpic {
    height: 24px;
    width: 23px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.next-row {
    margin-top: 3px;
}

input.marginbottom0px, textarea.marginbottom0px  {
  margin-bottom: 0px;
  border-bottom-width: 0px;
}

.notewrapper {
   width: 938px;
   background-color: #f5f5f5; 
   border-left: 1px solid #AFAFAF;
   border-right: 1px solid #AFAFAF;
   border-bottom: 1px solid #AFAFAF;
}

.noteaddbuttonwrapper {
   padding: 6px;
}

.blockoverlay {
    background-color: #FFFFFF;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    list-style: none outside none;
    padding-right: 20px;
    padding-left: 20px;
    position: fixed;
}

.grpinputicons {
  margin-bottom: 0px;
}

.pointer:hover
{
  cursor: pointer;
}

.grbgcolor {
  background-color: #F0F0F0;
}

/* form Validation */

.error {
    background-color: white;
    color:red;
    padding: 10px;
    font-family: fantasy;
    z-index: 100;
    top: -10px;
    left: 160px;
    border-radius:5px;
    box-shadow:0 1px 3px #aaa;
    border:1px solid #ddd;
    opacity: 0.9;
}

.required {
    color:red;
    font-weight:bolder;
}


.input-mini-small {
  width: 25px;
}