th#heading, td#heading, tfoot#total {
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    border-collapse: collapse;
}
th, td {
    padding-left: 15px;
    padding-bottom: 2px;
    text-align: left;
}

table#table2 {
    cellpadding:2;
    cellspacing:2;
    width: 50%; margin-left: 50%;
    border-top:1px;
}

table#table1 {
    cellpadding:2;
    cellspacing:2;
    width: 50%; margin-top: -21%;
    border-top:1px;
}