#circularG{
    position:relative;
    width:50px;
    height:50px;
}

.circularG{
    position:absolute;
    background-color:#008000;
    width:10px;
    height:10px;
    -moz-border-radius:7px;
    -moz-animation-name:bounce_circularG;
    -moz-animation-duration:0.64s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -webkit-border-radius:7px;
    -webkit-animation-name:bounce_circularG;
    -webkit-animation-duration:0.64s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -ms-border-radius:7px;
    -ms-animation-name:bounce_circularG;
    -ms-animation-duration:0.64s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -o-border-radius:7px;
    -o-animation-name:bounce_circularG;
    -o-animation-duration:0.64s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    border-radius:7px;
    animation-name:bounce_circularG;
    animation-duration:0.64s;
    animation-iteration-count:infinite;
    animation-direction:linear;
}

#circularG_1{
    left:0;
    top:18px;
    -moz-animation-delay:0.24s;
    -webkit-animation-delay:0.24s;
    -ms-animation-delay:0.24s;
    -o-animation-delay:0.24s;
    animation-delay:0.24s;
}

#circularG_2{
    left:5px;
    top:5px;
    -moz-animation-delay:0.32s;
    -webkit-animation-delay:0.32s;
    -ms-animation-delay:0.32s;
    -o-animation-delay:0.32s;
    animation-delay:0.32s;
}

#circularG_3{
    top:0;
    left:18px;
    -moz-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
    -ms-animation-delay:0.4s;
    -o-animation-delay:0.4s;
    animation-delay:0.4s;
}

#circularG_4{
    right:5px;
    top:5px;
    -moz-animation-delay:0.48s;
    -webkit-animation-delay:0.48s;
    -ms-animation-delay:0.48s;
    -o-animation-delay:0.48s;
    animation-delay:0.48s;
}

#circularG_5{
    right:0;
    top:18px;
    -moz-animation-delay:0.56s;
    -webkit-animation-delay:0.56s;
    -ms-animation-delay:0.56s;
    -o-animation-delay:0.56s;
    animation-delay:0.56s;
}

#circularG_6{
    right:5px;
    bottom:5px;
    -moz-animation-delay:0.64s;
    -webkit-animation-delay:0.64s;
    -ms-animation-delay:0.64s;
    -o-animation-delay:0.64s;
    animation-delay:0.64s;
}

#circularG_7{
    left:18px;
    bottom:0;
    -moz-animation-delay:0.72s;
    -webkit-animation-delay:0.72s;
    -ms-animation-delay:0.72s;
    -o-animation-delay:0.72s;
    animation-delay:0.72s;
}

#circularG_8{
    left:5px;
    bottom:5px;
    -moz-animation-delay:0.8s;
    -webkit-animation-delay:0.8s;
    -ms-animation-delay:0.8s;
    -o-animation-delay:0.8s;
    animation-delay:0.8s;
}

@-moz-keyframes bounce_circularG{
    0%{
        -moz-transform:scale(1)}

    100%{
        -moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circularG{
    0%{
        -webkit-transform:scale(1)}

    100%{
        -webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circularG{
    0%{
        -ms-transform:scale(1)}

    100%{
        -ms-transform:scale(.3)}

}

@-o-keyframes bounce_circularG{
    0%{
        -o-transform:scale(1)}

    100%{
        -o-transform:scale(.3)}

}

@keyframes bounce_circularG{
    0%{
        transform:scale(1)}

    100%{
        transform:scale(.3)}

}