#circularG{
    position:relative;
    width:45px;
    height:45px}

.circularG{
    position:absolute;
    background-color:#008000 !important;
    width:10px;
    height:10px;
    -moz-border-radius:7px;
    -moz-animation-name:bounce_circularG;
    -moz-animation-duration:0.56s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -webkit-border-radius:7px;
    -webkit-animation-name:bounce_circularG;
    -webkit-animation-duration:0.56s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -ms-border-radius:7px;
    -ms-animation-name:bounce_circularG;
    -ms-animation-duration:0.56s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -o-border-radius:7px;
    -o-animation-name:bounce_circularG;
    -o-animation-duration:0.56s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    border-radius:7px;
    animation-name:bounce_circularG;
    animation-duration:0.56s;
    animation-iteration-count:infinite;
    animation-direction:linear;
}

#circularG_1{
    left:0;
    top:18px;
    -moz-animation-delay:0.7s;
    -webkit-animation-delay:0.7s;
    -ms-animation-delay:0.7s;
    -o-animation-delay:0.7s;
    animation-delay:0.7s;
}

#circularG_2{
    left:5px;
    top:5px;
    -moz-animation-delay:0.63s;
    -webkit-animation-delay:0.63s;
    -ms-animation-delay:0.63s;
    -o-animation-delay:0.63s;
    animation-delay:0.63s;
}

#circularG_3{
    top:0;
    left:18px;
    -moz-animation-delay:0.56s;
    -webkit-animation-delay:0.56s;
    -ms-animation-delay:0.56s;
    -o-animation-delay:0.56s;
    animation-delay:0.56s;
}

#circularG_4{
    right:5px;
    top:5px;
    -moz-animation-delay:0.49s;
    -webkit-animation-delay:0.49s;
    -ms-animation-delay:0.49s;
    -o-animation-delay:0.49s;
    animation-delay:0.49s;
}

#circularG_5{
    right:0;
    top:18px;
    -moz-animation-delay:0.42s;
    -webkit-animation-delay:0.42s;
    -ms-animation-delay:0.42s;
    -o-animation-delay:0.42s;
    animation-delay:0.42s;
}

#circularG_6{
    right:5px;
    bottom:5px;
    -moz-animation-delay:0.35s;
    -webkit-animation-delay:0.35s;
    -ms-animation-delay:0.35s;
    -o-animation-delay:0.35s;
    animation-delay:0.35s;
}

#circularG_7{
    left:18px;
    bottom:0;
    -moz-animation-delay:0.28s;
    -webkit-animation-delay:0.28s;
    -ms-animation-delay:0.28s;
    -o-animation-delay:0.28s;
    animation-delay:0.28s;
}

#circularG_8{
    left:5px;
    bottom:5px;
    -moz-animation-delay:0.21s;
    -webkit-animation-delay:0.21s;
    -ms-animation-delay:0.21s;
    -o-animation-delay:0.21s;
    animation-delay:0.21s;
}

@-moz-keyframes bounce_circularG{
    0%{
        -moz-transform:scale(1)}

    100%{
        -moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circularG{
    0%{
        -webkit-transform:scale(1)}

    100%{
        -webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circularG{
    0%{
        -ms-transform:scale(1)}

    100%{
        -ms-transform:scale(.3)}

}

@-o-keyframes bounce_circularG{
    0%{
        -o-transform:scale(1)}

    100%{
        -o-transform:scale(.3)}

}

@keyframes bounce_circularG{
    0%{
        transform:scale(1)}

    100%{
        transform:scale(.3)}
}


fieldset.savings-Account-Details {
    border: 2px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
}

legend.savings-Account-Details {
    font-size: 1.0em !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}

.fieldset-tittle {
    font-size: 20px;
    /* margin-left: 15px; */
}

/* style of the deposit account navbar*/
#depositAmountNavBar {
position:relative;
list-style:none;
margin:3px;
padding:0;
float:left;
}
#depositAmountNavBar li {
margin:0;
padding:0;
float:left;
}
#depositAmountNavBar li a {
display:inline;
float:left;
margin:0;
padding:11px 14px;
text-decoration:none;
text-align:center;
text-transform:capitalize;
font-weight:bold;
color:#555452;
border-right:1px solid #F1F1F1;
font-style:normal;
background:-webkit-gradient(linear,left top,left bottom,from(#DDDDDD),color-stop(0.50 #EFEDEA),to(#F0F0F0));
background:-webkit-linear-gradient(top,#DDDDDD 0%,#EFEDEA 50%,#F0F0F0 100%);
background:-moz-linear-gradient(top,#DDDDDD 0%,#EFEDEA 50%,#F0F0F0 100%);
background:-o-linear-gradient(top,#DDDDDD 0%,#EFEDEA 50%,#F0F0F0 100%);
background:-ms-linear-gradient(top,#DDDDDD 0%,#EFEDEA 50%,#F0F0F0 100%);
background:linear-gradient(top,#DDDDDD 0%,#EFEDEA 50%,#F0F0F0 100%);
}
#depositAmountNavBar li:nth-child(2n) a:hover {
-moz-box-shadow:inset 0px -4px 0px 0px #0D7FF2;
-webkit-box-shadow:inset 0px -4px 0px 0px #0D7FF2;
box-shadow:inset 0px -4px 0px 0px #0D7FF2;
-moz-transition:all 0.35s ease-in;
-webkit-transition:all 0.35s ease-in;
-o-transition:all 0.35s ease-in;
transition:all 0.35s ease-in;
}
#depositAmountNavBar li:nth-child(2n-1) a:hover {
-moz-box-shadow:inset 0px -4px 0px 0px #0D7FF2;
-webkit-box-shadow:inset 0px -4px 0px 0px #0D7FF2;
box-shadow:inset 0px -4px 0px 0px #0D7FF2;
-moz-transition:all 0.35s ease-in;
-webkit-transition:all 0.35s ease-in;
-o-transition:all 0.35s ease-in;
transition:all 0.35s ease-in;
}
#depositAmountNavBar li:last-child {
border-right:none;
}
#depositAmountNavBar li:nth-child(n+1) a:active {
-moz-box-shadow:inset 0px -60px 0px 0px #DCDCDC;
-webkit-box-shadow:inset 0px -60px 0px 0px #DCDCDC;
box-shadow:inset 0px -60px 0px 0px #DCDCDC;
-moz-transition:all 0.35s ease-in-out;
-webkit-transition:all 0.35s ease-in-out;
-o-transition:all 0.35s ease-in-out;
transition:all 0.35s ease-in-out;
}
#depositAmountNavBar li:nth-child(2n-1) a:active {
-moz-box-shadow:inset 0px -60px 0px 0px #DCDCDC;
-webkit-box-shadow:inset 0px -60px 0px 0px #DCDCDC;
box-shadow:inset 0px -60px 0px 0px #DCDCDC;
-moz-transition:all 0.35s ease-in-out;
-webkit-transition:all 0.35s ease-in-out;
-o-transition:all 0.35s ease-in-out;
transition:all 0.35s ease-in-out;
}
