<div class="col-md-12" ng-controller="ViewMakerCheckerTaskController">
    <ul class="breadcrumb">
        <li><a href="#/tasks">{{'label.anchor.tasks' | translate}}</a></li>
        <li class="active">{{'label.anchor.viewcheckerinbox' | translate}}</li>
    </ul>
    <h3 class="paddedleft bolder">{{'label.heading.makercheckertask.waiting.for.approval' | translate}}</h3>
    <hr/>
    <div>
        <h4 class="paddedleft">{{'label.makerchecker.task.created.description' | translate}}</h4>
        <h4 class="paddedleft">{{'label.makerchecker.task.created.description.view.details' | translate}}&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#/viewcheckerinbox/{{commandId}}" class="btn btn-primary">{{'label.button.details' |
                translate}} </a></h4>
    </div>
</div>