.idea
.gradle/
build
lib-cov
lib
.vscode
app/bower_components
app/styles/styles.css
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.zip
*.gz
*.swp
pids
logs
results
npm-debug.log
.idea/*
*/images/Thumbs.db
**/.DS_Store
node_modules
*~
dist
/target
*.iml
atlassian-ide-plugin.xml
.tmp
jshint-log.xml
karma-reports
app/custom_files
Gruntfile-custom.js
.sass-cache
gems.locked
.grunt/
