<div class="content-container" ng-controller="EditValidationLimitController">
    <ul class="breadcrumb">
        <li><a href="#/products">{{'label.anchor.products' | translate}}</a></li>
        <li><a href="#/validationlimit">{{'label.anchor.validation.limits' | translate}}</a></li>
        <li class="active">{{'label.anchor.edit.validation.limit' | translate}}</li>
    </ul>
    <form name="editvalidationlimitform" novalidate="" class="card form-horizontal well" rc-submit="submit()">
        <api-validate></api-validate>
        <fieldset>
            <div>
                <div class="form-group">
                    <label class="control-label col-sm-2">{{'label.input.clientlevel' | translate}}<span
                            class="required">*</span></label>

                    <div class="col-sm-3">
                        <select id="clientLevelId" name="clientLevelId" ng-model="formData.clientLevelId"
                                ng-options="clientLevel.id as clientLevel.name for clientLevel in template.clientLevelOptions"
                                value="{{clientLevel.id}}" class="form-control" ng-disabled="true" required>
                            <option value="">{{'label.selectone' | translate}}</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <form-validate valattributeform="editvalidationlimitform" valattribute="clientLevelId"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="maximumsingledepositamount">{{'label.input.maximumsingledepositamount' | translate}}
                    </label>

                    <div class="col-sm-3">
                        <input id="maximumsingledepositamount" name="maximumsingledepositamount" type="text" ng-model="formData.maximumSingleDepositAmount" class="form-control" number-format  number=true />
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="maximumcumulativebalance">{{'label.input.maximumcumulativebalance' | translate}}
                    </label>

                    <div class="col-sm-3">
                        <input id="maximumcumulativebalance" name="maximumcumulativebalance" type="text" ng-model="formData.maximumCumulativeBalance" class="form-control" number-format  number=true />
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="maximumsinglewithdrawlimit">{{'label.input.defaultsinglewithdrawlimit' | translate}}</label>

                    <div class="col-sm-3">
                        <input id="maximumsinglewithdrawlimit" name="maximumsinglewithdrawlimit" type="text" ng-model="formData.maximumSingleWithdrawLimit" class="form-control" number-format  number=true />
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="maximumdailywithdrawlimit">{{'label.input.defaultdailywithdrawlimit' | translate}}</label>

                    <div class="col-sm-3">
                        <input id="maximumdailywithdrawlimit" name="maximumdailywithdrawlimit" type="text" ng-model="formData.maximumDailyWithdrawLimit" class="form-control" number-format  number=true />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="maximumclientspecificsinglewithdrawlimit">{{'label.input.maximumclientspecificsinglewithdrawlimit' | translate}}</label>

                    <div class="col-sm-3">
                        <input id="maximumclientspecificsinglewithdrawlimit" type="text" ng-model="formData.maximumClientSpecificSingleWithdrawLimit" class="form-control" number-format  number=true />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="maximumclientspecificdailywithdrawlimit">{{'label.input.maximumclientspecificdailywithdrawlimit' | translate}}</label>

                    <div class="col-sm-3">
                        <input id="maximumclientspecificdailywithdrawlimit" type="text" ng-model="formData.maximumClientSpecificDailyWithdrawLimit" class="form-control" number-format  number=true />
                    </div>
                </div>
                <div class="col-md-offset-3">
                    <a id="cancel" href="#/validationlimit">
                        <button type="reset" class="btn btn-default">{{'label.button.cancel' | translate}}</button>
                    </a>
                    <button id="save" type="submit" class="btn btn-primary" has-permission='UPDATE_VALIDATIONLIMIT'>
                        {{'label.button.save' | translate}}
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
