<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="#/products">{{'label.anchor.products' | translate}}</a></li>
        <li class="active">{{'label.anchor.managetaxconfigurations' | translate}}</li>
    </ul>

    <div class="card">
        <div class="content">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="list-group">
                        <a class="list-group-item" href="#/taxcomponents" has-permission='READ_TAXCOMPONENT'>
                            <h4 class="list-group-item-heading"><i class="fa fa-building fa fa-large"></i>&nbsp;&nbsp;{{'label.anchor.managetaxcomponents'
                                | translate}}</h4>

                            <p class="list-group-item-text">{{'label.view.taxcomponent'
                                | translate}}</p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="list-group">
                        <a class="list-group-item" href="#/taxgroups" has-permission='READ_TAXGROUP'>
                            <h4 class="list-group-item-heading"><i class="fa fa-large fa fa-cogs"></i>&nbsp;&nbsp;{{'label.anchor.managetaxgroup'
                                | translate}}</h4>

                            <p class="list-group-item-text">{{'label.view.taxgroup' |
                                translate}}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>