<div class="col-md-12">
    <ul class="breadcrumb">
        <li><a href="#/products">{{'label.anchor.products' | translate}}</a></li>
        <li class="active">{{'label.anchor.productmix' | translate}}</li>
    </ul>
	<legend>{{ 'label.anchor.productmix' | translate }}
	<div class="col-md-12 col-sm-12">
		<div class="row primarydiv">
    		<div class="btn-group pull-right">
                <a href="#/addproductmix" class="btn btn-primary" has-permission='CREATE_PRODUCTMIX'>
                <i class="icon-plus icon-white"></i>&nbsp;{{'label.button.add' | translate}}</a>
    		</div>
    	</div>
    </div>
    </legend>
    <input ng-autofocus="true" ng-model="filterText" type="text" class="form-control"
           placeholder="{{'label.input.filterbyname' | translate}}">
	<div ng-controller="ProductMixController">
	    <table class="table">
	        <thead>
	        <tr class="graybg">
	            <th>{{'label.heading.productname' | translate}}</th>
	        </tr>
	        </thead>
	        <tbody>
	        <tr class="pointer-main" ng-repeat="productmix in productmixes | orderBy:'productName':reverse | filter:filterText">
	            <td class="pointer" data-ng-click="routeTo(productmix.productId)">{{productmix.productName}}</td>
	        </tr>
	        </tbody>
	    </table>
	</div>
</div>
