<div class="content-container">
    <ul class="breadcrumb">
        <li class="active">{{ 'label.anchor.help' | translate }}</li>
    </ul>
    <div class="card">
    <div class="content">
        <div class="toolbar">
            <h4>{{ 'label.anchor.help' | translate }}<i class="fa fa-question-circle"></i></h4>
        </div>
        <br>
            <div class="row">
                <div class="col-sm-7 col-md-7">
                    <i class="fa fa-keyboard fa fa-2x"></i><h3 class="inline bolder">{{'label.heading.keyboarshortcuts' | translate}}</h2>
                    <table class="table table-bordered view-table">
                        <tr>
                            <td style="font-weight: normal" class="table-bold-acc">{{'label.heading.navigation' | translate}}</td>
                            <td><span class="padded-td">ctrl + shift + <span class="hotkey">n</span></span></td>
                        </tr>
                        <tr>
                            <td style="font-weight: normal" class="table-bold-acc">{{'label.heading.tasks' | translate}}</td>
                            <td><span class="padded-td">ctrl + shift + <span class="hotkey">i</span></span></td>
                        </tr>
                        <tr>
                            <td style="font-weight: normal" class="table-bold-acc">{{'label.heading.collectionsheet' | translate}}</td>
                            <td><span class="padded-td">ctrl + shift + <span class="hotkey">o</span></span></td>
                        </tr>
                        <tr>
                            <td style="font-weight: normal" class="table-bold-acc">{{'label.heading.createclient' | translate}}</td>
                            <td><span class="padded-td">ctrl + shift + <span class="hotkey">c</span></span></td>
                        </tr>
                        <tr>
                            <td style="font-weight: normal" class="table-bold-acc">{{'label.heading.creategroup' | translate}}</td>
                            <td><span class="padded-td">ctrl + shift + <span class="hotkey">g</span></span></td>
                        </tr>
                        <tr>
                            <td style="font-weight: normal" class="table-bold-acc">{{'label.heading.createcenter' | translate}}</td>
                            <td><span class="padded-td">ctrl + shift + <span class="hotkey">q</span></span></td>
                        </tr>
                        <tr>
                            <td style="font-weight: normal" class="table-bold-acc">{{'label.heading.frequentposting' | translate}}</td>
                            <td><span class="padded-td">ctrl + shift + <span class="hotkey">f</span></span></td>
                        </tr>
                        <tr>
                            <td style="font-weight: normal" class="table-bold-acc">{{'label.heading.closureentries' | translate}}</td>
                            <td><span class="padded-td">ctrl + shift + <span class="hotkey">e</span></span></td>
                        </tr>
                        <tr>
                            <td style="font-weight: normal" class="table-bold-acc">{{'label.heading.journalentry' | translate}}</td>
                            <td><span class="padded-td">ctrl + shift + <span class="hotkey">j</span></span></td>
                        </tr>
                        <tr>
                            <td style="font-weight: normal" class="table-bold-acc">{{'label.heading.reports' | translate}}</td>
                            <td><span class="padded-td">ctrl + shift + <span class="hotkey">r</span></span></td>
                        </tr>
                        <tr>
                            <td style="font-weight: normal" class="table-bold-acc">{{'label.heading.accounting' | translate}}</td>
                            <td><span class="padded-td">ctrl + shift + <span class="hotkey">a</span></span></td>
                        </tr>
                        <tr>
                            <td style="font-weight: normal" class="table-bold-acc">{{'label.heading.saveorsubmit' | translate}}</td>
                            <td><span class="padded-td"><span class="hotkey">ctrl + s</span></span></td>
                        </tr>
                        <tr>
                            <td style="font-weight: normal" class="table-bold-acc">{{'label.heading.runreport' | translate}}</td>
                            <td><span class="padded-td"><span class="hotkey">ctrl + r</span></span></td>
                        </tr>
                        <tr>
                            <td style="font-weight: normal" class="table-bold-acc">{{'label.heading.cancel' | translate}}</td>
                            <td><span class="padded-td">ctrl + shift + <span class="hotkey">x</span></span></td>
                        </tr>
                        <tr>
                            <td style="font-weight: normal" class="table-bold-acc">{{'label.heading.logout' | translate}}</td>
                            <td><span class="padded-td">ctrl + shift + <span class="hotkey">l</span></span></td>
                        </tr>
                        <tr>
                            <td style="font-weight: normal" class="table-bold-acc">{{'label.heading.search' | translate}}</td>
                            <td><span class="padded-td"><span class="hotkey">alt + x</span></span></td>
                        </tr>
                        <tr>
                            <td style="font-weight: normal" class="table-bold-acc">{{'label.heading.help' | translate}}</td>
                            <td><span class="padded-td">ctrl + shift + <span class="hotkey">h</span></span></td>
                        </tr>
                        <tr>
                            <td style="font-weight: normal" class="table-bold-acc">{{'label.heading.next' | translate}}</td>
                            <td><span class="padded-td"><span class="hotkey">ctrl + n</span></span></td>
                        </tr>
                        <tr>
                            <td style="font-weight: normal" class="table-bold-acc">{{'label.heading.prev' | translate}}</td>
                            <td><span class="padded-td"><span class="hotkey">ctrl + p</span></span></td>
                        </tr>
                    </table>
                </div>
            </div>
    </div>
    </div>
</div>