/* @import this file */

.alert{
  border-radius:2px;


  &.alert-default{
    background: transparent;
    border:1px solid #e0e0e0;
  }

  &.dashed{
    border-color:#ddd;
    border-style: dashed;
  }

  &.shrunk{
    margin:10px 20px;
  }
}