.btn{
  border-radius:2px;

  &.btn-plain{
    background:none;
    padding:0;
    color:$brand-primary;

    &:hover{
      color:darken($brand-primary,10);
    }
    &:active,&:focus{
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      outline:none;
    }
  }

  &.btn-round{
    border-radius:50%;
    &.btn-xs{
      width:22px;
      height:22px;
    }
  }
}

.btn-offset{
  margin-bottom: 5px;
}