/* @import this file */

/* @import this file */
.chosen-container-active .chosen-with-drop .chosen-single{
  background:#fff;
}
.chosen-container-single .chosen-single {
  background:#fff;
  border:1px solid #e0e0e0;
  border-radius:0;
  height:30px;
  box-shadow:none;
  padding:2px 0 0 10px;
  min-width: 220px !important;
  max-width: 244px !important;
}
div.chosen-container.chosen-container-single{
  min-width: 220px !important;
  max-width: 244px !important;
}
.chosen-container-single.input-xs .chosen-single{
  height:24px;
  padding-top:0;
}
.chosen-container-single.input-xs .chosen-single div{
  top:0;
}
.chosen-container-single .chosen-single div{
  top:2px;
}

.chosen-container.chosen-container-active{
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(97, 161, 215, 0.60);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(102, 175, 233, 0.6);
  min-width: 220px !important;
  max-width: 244px !important
}

.chosen-container-multi .chosen-choices{
  border:1px solid #e0e0e0;
  background: #fff;

}
.chosen-container-multi .chosen-choices li.search-field input[type="text"]{
  width:100% !important;
}

.chosen-container-active .chosen-choices{
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(97, 161, 215, 0.60);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(102, 175, 233, 0.6);
}

.chosen-container-multi .chosen-choices li.search-choice{
  background-color:#f5f5f5;
  background-image:none;
  padding: 5px 22px 5px 8px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close{
  top:6px;
}
.chosen-container .chosen-with-drop{
  border-color:#d0d0d0;
}

.chosen-container .chosen-results li.highlighted{
  background: $brand-info !important;
}