body{
  -webkit-font-smoothing: antialiased;
  color: #666F73;
  font-family: 'Helvetica Neue','Helvetica',sans-serif;
}

/* .btn-xs, .btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 12px;
    border-radius: 3px;
    width: 25px;
} */
.chosen-container .chosen-container-single{
    width: 442px;
}

ul.nav-tabs {
  > li {
    &.active {
      > a {
        border-top: solid 3px #428bca !important;
      }
    }
  }
}

div.scrollable {
  position: relative;

  &:before, &:after {
    background: #ffffff;
    cursor: pointer;
    font-weight: bold;
    line-height: 42px;
    height: 42px;
    padding: 0 7px;
    position: absolute;
    z-index: 1;
  }

  &:before{
    content: '<';
  }

  &:after{
    content: '>';
    right: 0;
    top: 0;
  }

  > ul.nav-tabs {
    overflow: hidden;
    padding-left: 28px;
    white-space: nowrap;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;

    > li {
      display: inline-block;
      float: none;

      &:last-child {
        margin-right: 26px;
      }
    }
  }

  > .tab-content{
    > .tab-pane{
      padding: 5px;
    }
  }
}


div[data-angular-treeview] {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Tahoma;
    font-size:13px;
    color: #000000;
    text-decoration: none;
}

div[data-tree-model] ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    overflow: hidden;
}

div[data-tree-model] li {
    position: relative;
    padding: 0 0 0 20px;
    line-height: 20px;
}

div[data-tree-model] li .expanded:before {
    padding: 1px 10px;
    position:absolute;
    font-family: fontawesome;
    top:0;
    left:-5px;
    content: "\f147";
    font-style: normal;
    color:red;
}

div[data-tree-model] li .collapsed:before {
    padding: 1px 10px;
    position:absolute;
    font-family: fontawesome;
    top:0;
    left:-5px;
    content: "\f196";
    font-style: normal;
    color:darkgreen;
}

div[data-tree-model] li .normal:before {
    padding: 1px 10px;
    position:absolute;
    font-family: fontawesome;
    font-style: normal;
    top:0;
    left:-5px;
    content: "\f111";
    color:deepskyblue;
}

div[data-tree-model] li i, div[data-tree-model] li span {
    cursor: pointer;
}

div[data-tree-model] li .selected {
    background-color: #d3d3d3;
    font-weight: bold;
    color: darkblue;
    padding: 1px 10px;
}

span.required {
  color: $brand-danger;
}
.fa-question-circle{
  color: $brand-success;
}

.scrollme {
  max-height: 100px;
}

.strikeoff{
  color: red !important;
  text-decoration:line-through;
  text-decoration-style: double;
}

.breadcrumb{
  padding: 2px;
  margin-bottom: 4px;
  list-style: none;
  background-color: transparent;
  border-radius: 0;
  font-size:12px;
  max-height:21px;
}

#mifos-reskin-body-view {
  padding: 90px 15px 0 65px;
  .content-container {
    width: 100%;
    max-width: 1124px;
    margin: 0 auto;
  }
  background-color: #ebeff1;
}

.centerloader
{
    position: fixed;
    left: 50%;
    top: 30%;
    z-index: 10000;
}

.center{
  text-align:center;
}

.table th{
    background:$table-bg-active;
}

// Wizard Progress Bar..

.flexer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.no-flexer {
  display: block;
}
.no-flexer-element {
  -ms-flex: 0;
  -webkit-flex: 0;
  -moz-flex: 0;
  flex: 0;
}
.flexer-element {
  -ms-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
}
.progress-indicator {
  @extend .flexer;
  margin: 0;
  padding: 0;
  font-size: 80%;
  text-transform: uppercase;
  margin-bottom: 1em;
  > li {
    @extend .flexer-element;
    list-style: none;
    text-align: center;
    width: auto;
    padding: 0;
    margin: 0;
    position: relative;
    text-overflow: ellipsis;
    color: $incomplete;
    display: block;
    &:hover {
      color: darken($incomplete, $darken-amount);
    }
  }
  > li .bubble {
    border-radius: 1000px;
    width: $bubble-size;
    height: $bubble-size;
    background-color: $incomplete;
    display: block;
    margin: 0 auto 0.5em auto;
    border-bottom: $border-thickness solid darken($incomplete, 20%);
  }

  // line connectors

  > li .bubble:before,
  > li .bubble:after {
    display: block;
    position: absolute;
    top: $bubble-size / 2 - $border-thickness;
    width: 100%;
    height: $bubble-line-thickness;
    content: '';
    background-color: $incomplete;
    &:hover{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
  > li .bubble:before {
    left: 0;
  }
  > li .bubble:after {
    right: 0;
  }

  > li:first-child .bubble:before,
  > li:first-child .bubble:after {
    width: 50%;
    margin-left: 50%;
  }

  > li:last-child .bubble:before,
  > li:last-child .bubble:after {
    width: 50%;
    margin-right: 50%;
  }


  // completed state

  > li.progress-done {
    color: $complete;
    .bubble {
      @include bubble-style($complete);
      transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
      -webkit-transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
      -moz-transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
      &:before,
      &:after {
        transition: background-color 0.6s ease-in-out, border-color 0.6s ease-in-out;
        -webkit-transition: background-color 0.6s ease-in-out, border-color 0.6s ease-in-out;
        -moz-transition: background-color 0.6s ease-in-out, border-color 0.6s ease-in-out;
      }

    }
  }

  >li.progress-danger {
    color: $step-danger;
    .bubble{
      @include bubble-style($step-danger);
    }
  }

  // current state

  > li.progress-current {
    color: $active;
    .bubble {
      @include bubble-style($active);
    }
  }

  // button states

  > li a:hover .bubble {
    @include bubble-style($hover);
  }

  // override states

  > li.danger .bubble {
    @include bubble-style($step-danger);
  }
  > li.warning .bubble {
    @include bubble-style($step-warning);
  }
  > li.info .bubble {
    @include bubble-style($step-info);
  }

  // stacked version

  &.stacked {
    @extend .no-flexer;
    > li {
      text-indent: -10px;
      text-align: center;
      display: block;
    }
    > li .bubble:before,
    > li .bubble:after {
      left: 50%;
      margin-left: -$bubble-line-thickness / 2;
      width: $bubble-line-thickness;
      height: 100%;
    }
    .stacked-text {
      position: relative;
      z-index: 10;
      top: 0;
      margin-left: 60% !important;
      width: 45% !important;
      display: inline-block;
      text-align: left;
      line-height: 1.2em;
    }
    > li a {
      border: none;
    }
  }
  &.stacked.nocenter {
    > li .bubble {
      margin-left: 0;
      margin-right: 0
    }
    > li .bubble:before,
    > li .bubble:after {
      left: $bubble-size / 2;
    }
    .stacked-text {
      width: auto !important;
      display: block;
      margin-left: $bubble-size * 2 !important;
    }
  }
}


.card{
  background:#fff;
  display:block;

  -webkit-box-shadow:  0 1px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:  0 1px 3px rgba(0,0,0,0.3);
  box-shadow:  0 1px 3px rgba(0,0,0,0.3);

  border-radius:2px 2px 0 0;

  color: #666F73;


  &>.content{
    padding:10px;
    font-size: 13px;
  }

  h4{ font-size: 14px; }
  /*just for the presentation */
  .pointer-main:hover{
    cursor: pointer;
    background-color: #4f99ed;
    color: #fff;
  }

.statusoverpaid {
    color: #800080
}

.statusactiveoverdue {
  color: #FF0000
}

.statustransferprogress {
    color: #FF4000;
}

.statustransferonhold {
    color: #DF0101;
}

.statusactive {
    color: #00CE00;
}

.statusmatured {
    color: #FF4000;
}

.statusdeleted {
    color: #000000;
}

.statuspending {
    color: #FFA500;
}
.statusApproved {
    color: #0F36E4;
}

.statusbad {
    color: #FF0000;
}

.statusgood {
    color: #008000;
}

.statushold {
    color: #FFFF00;
}

.statusprogresspendingtab {
    color: #F7FE2E;
}

.statusprogresstab {
    color: #FFA500;
}

.statusprogresscompletedtab {
    color: #298A08;
}

  a{
    cursor: pointer;
  }

  .error {
    color: $brand-danger;
  }

  .toolbar{
    height:40px;
    border-bottom:1px solid #e5e5e5;

    &>h4{
      float:left;
      margin:0;
      padding:10px 10px;
      font-size: 18px;
      font-weight: bold;
    }

    &>.btn-group{

      .btn{
        border:none;
        border-radius:0;
        border-left:1px solid #e5e5e5;
        height:39px;
        min-width:39px;
        &:hover{
          border:none;
          border-left:1px solid #e5e5e5;
        }

        &.btn-default:hover{
          background:#f5f5f5;
          color:$brand-info;
        }
      }

      &.open .dropdown-toggle{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }

      &.btn-group-right{
        float:right;
      }
    }

  }
}