/* @import this file */
.form-control{
  border-radius:0;
  border:1px solid #e0e0e0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;


  &:focus{
    border-color:#BCE0FD;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(97, 161, 215, 0.60);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(102, 175, 233, 0.6);
  }

  &.ng-invalid{
    &.ng-dirty,&.ng-touched{
      border-color:$brand-danger;
    }
  }
  &.ng-valid{
    &.ng-dirty,&.ng-touched{
      border-color:darken($brand-success,10);
    }
  }

  &.unstyled{
    &:focus{
      border-color:#e0e0e0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

    &.ng-invalid{
      &.ng-dirty,&.ng-touched{
        border-color:#e0e0e0;
      }
    }
    &.ng-valid{
      &.ng-dirty,&.ng-touched{
        border-color:#e0e0e0;
      }
    }
  }
}

.input-sm,
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn
{
  border-radius:0;
}

.input-mini-small {
  width: 20px;
}

.input-mini-medium {
  width: 30px;
}

.input-smaller {
  width: 65px;
}

.input-lg,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn
{
  border-radius:0;
}