/* @import this file */

.navbar{
  border-bottom:1px solid #dfdfdf;

  #leftnav-toggle{
    float:left;
    display:inline-block;
    height:50px;
    border-right:1px solid #e0e0e0;
    padding: 11px 16px 0 0;
    font-size:20px;
    margin-right:10px;
  }

  .navbar-brand {
    padding:10px 15px;
    img{
      max-width:80px;

    }
  }
  background-color:white;
}