.graybg{
  background-color: #f0f0f0;
}
.width170px {
    min-width: 170px !important;
    width: auto;
}

.width100 {
    width: 100%;
}

.width86 {
    width: 86%;
}

.width30 {
    width: 30%;
}

.width20 {
    width: 20%;
}

.width11 {
    width: 11%;
}

.width8 {
    width: 8%;
}
.width5{
  width: 5%;
}
.width10{
  width: 10%;
}
.width12{
  width: 12%;
}
.width14{
  width: 14%;
}
.width19{
  width: 19%;
}
.width31{
  width: 31%;
}
.width34{
  width: 34%;
}
.width36{
  width: 36%;
}
.width40{
  width: 40%;
}
.width45{
  width: 45%;
}
.width50{
  width: 50%;
}
.width60{
  width: 60%;
}
.width80{
  width: 80%;
}
.width500px{
  min-width: 500px !important;
  width: auto;
}

.minheight30px{
    min-height: 30px;
}

.paddedleft120 {
  padding-left: 12%;
}

.paddedleft90 {
  padding-left: 9%;
}

.paddingleft0px {
  padding-left: 0px;
}

.paddedleft75{
  padding-left: 75%;
}

.paddedleft72px{
  padding-left: 72px;
}

.paddedleft60px{
  padding-left: 60px;
}

.paddedleft30px {
  padding-left: 30px;
}

.paddedleft80 {
  padding-left: 8%;
}

.paddedleft {
  padding-left: 20px;
}
.paddedleftn20px {
  padding-left: -20px;
}
.paddedleft0 {
  padding-left: 15px;
}

.paddedtop {
  padding-top: 10px;
}

.paddedtop25px {
  padding-top: 25px;
}

.paddedtop10 {
  padding-top: 40px;
}

.paddedtop60px {
  padding-top: 60px;
}

.paddedbottom {
  padding-bottom: 40px;
}

.paddedbottom10 {
  padding-bottom: 10px;
}

.paddedbottom20 {
  padding-bottom: 20px;
}

.margintop25px {
  margin-top: 25px;
}

.blockquoteresult {
    margin: 0 0 20px;
    padding: 10px 15px;

    &.width86 {
    	select {
		  display: inline-block;
		  width: auto;
		  vertical-align: middle
    	}
    }

}
td.labelrow {
  padding: 0 0 10px;
}

tr.bottomborder td, tr.bottomborder th {
  border-bottom:1px solid #C0C0C0;
  padding-bottom:2px
}
tr.toppadding td, tr.toppadding th {
  padding-top:8px
}

tr.graybg td, tr.graybg th {
  background-color: #F0F0F0;
}

td.graybg {
  background-color: #F0F0F0;
}


td.left-border {
  border-left: thick solid #F0F0F0;
}

hr.marginbottom {
  margin-bottom: 8px;
}
.margintopminustenpx {
    margin-top: -10px;

    input {
    	margin-left: 0px;
    }

}

.container {
	td:first-child {
    	padding-left: 20px;
	}

	td:last-child {
	    padding-right: 20px;
	}
}

accordion > div > div > div {
  > a {
    color : #5e565e;
  }
  > a:hover, a:focus {
    color: #080808;
    text-decoration: underline;
  }
}

.templatekeys {
  cursor: pointer;
  color: rgb(255, 255, 255);
  line-height: 1;
  text-align: center;
  vertical-align: baseline;
  word-wrap: break-word;
  background-color: rgb(66, 139, 202);
  margin: 10px 0px;
  border-radius: 0.25em 0.25em 0.25em 0.25em;
  font-weight: bold;
  padding: 0.3em 0.6em 0.4em;
}