<form class="form-horizontal well" ng-controller="CreateRoleController" ng-submit="submit()">
	<div>
		<ul class="breadcrumb">
			<li><a href="#/system">{{'link.admin.system' | translate}}</a> <span class="divider">/</span></li>
			<li><a href="#/admin/roles">{{'label.view.roles' | translate}}</a> <span class="divider">/</span></li>
			<li class="active">{{'label.addrole' | translate}}</li>
		</ul>
	</div>
	<fieldset>
		<legend>{{'label.addrole' | translate}}</legend>

		<div class="control-group">
			<label class="control-label" for="name">{{'label.name' | translate}}</label>
			<div class="controls">
				<input type="text" ng-model="formData.name" required="required">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="description">{{'label.description' | translate}}</label>
			<div class="controls">
				<textarea rows="2" ng-model="formData.description"  required="required"></textarea>
			</div>
		</div>

		<div class="offset3">
			<a href="#/admin/roles"><button type="reset" class="btn">{{'button.cancel' | translate}}</button></a>
			<button type="submit" class="btn btn-primary">{{'button.save' | translate}}</button>
		</div>
	</fieldset>
</form>