<div ng-controller="CreateRoleController">
	<div>
		<ul class="breadcrumb">
			<li><a href="#/system">{{'label.anchor.system' | translate}}</a> </li>
			<li><a href="#/admin/roles">{{'label.anchor.viewroles' | translate}}</a> </li>
			<li class="active">{{'label.anchor.addrole' | translate}}</li>
		</ul>
	</div>
	<form name="addroleform" novalidate="" class="form-horizontal well" rc-submit="submit()">
		<api-validate></api-validate>
		<fieldset>
			<legend>{{'label.heading.addrole' | translate}}</legend>

			<div class="form-group">
				<label class="control-label" for="name">{{'label.input.name' | translate}}<span class="required">*</span></label>
				<div class="controls">
					<input id="name" type="text" name="name" ng-model="formData.name" required="" late-validate="" class="form-control">
		            <form-validate valattributeform="addroleform" valattribute="name">
				</form-validate></div>
			</div>

			<div class="form-group">
				<label class="control-label" name="" for="description">{{'label.input.description' | translate}}<span class="required">*</span></label>
				<div class="controls">
					<textarea id="description" type="text" rows="2" name="description" ng-model="formData.description" required="" late-validate=""></textarea>
					<form-validate valattributeform="addroleform" valattribute="description">
				</form-validate></div>
			</div>

			<div class="col-lg-offset-3">
				<a id="cancel" href="#/admin/roles"><button type="reset" class="btn btn-default">{{'label.button.cancel' | translate}}</button></a>
				<button id="save" type="submit" class="btn btn-primary">{{'label.button.save' | translate}}</button>
			</div>
		</fieldset></form>
	
</div>
