<div class="row paddedleft paddedtop">
    <div class="list-group">
        <a class="list-group-item span6" href="#/global">
            <h4 class="list-group-item-heading"><i class="icon-cog icon-large"></i>&nbsp;&nbsp;{{ 'label.globalconfigurations' | translate }}</h4>
            <p class="list-group-item-text">Enable or Disable Global Configurations</p>
        </a>
        <a class="list-group-item span6" href="#/cache">
            <h4 class="list-group-item-heading"><i class="icon-cog icon-large"></i>&nbsp;&nbsp;{{ 'label.cachesettings' | translate }}</h4>
            <p class="list-group-item-text">Define Cache Settings</p>
        </a>
    </div>
</div>