    <div ng-controller="EditUserController">
      <div>
        <ul class="breadcrumb">
          <li><a href="#/users">{{'label.anchor.users' | translate}}</a> <span class="divider">/</span></li>
          <li><a href="#/viewuser/{{userId}}">{{formData.firstname}}{{formData.lastname}}</a> <span class="divider">/</span></li>
          <li class="active">{{'label.anchor.edituser' | translate}}</li>
        </ul>
      </div>
      <form name="edituserform" novalidate="" class="form-horizontal well" rc-submit="submit()">
        <api-validate></api-validate>
        <fieldset>
          <legend>{{'label.heading.edituser' | translate}}</legend>
          
          <div class="control-group">
            <label class="control-label" for="username">{{'label.input.username' | translate}}<span class="required">*</span></label>
            <div class="controls">
              <input type="text" id="username" name="username" ng-model="formData.username" required late-Validate/>
              <form-validate valattributeform="edituserform" valattribute="username"/>
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="firstname">{{'label.input.firstname' | translate}}<span class="required">*</span></label>
            <div class="controls">
              <input type="text" id="firstname" name="firstname" value="{{user.firstname}}" ng-model="formData.firstname" required late-Validate/>
              <form-validate valattributeform="edituserform" valattribute="firstname"/>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="lastname">{{'label.input.lastname' | translate}}<span class="required">*</span></label>
            <div class="controls">
              <input type="text" id="lastname" name="lastname" value="{{user.lastname}}" ng-model="formData.lastname" required late-Validate/>
              <form-validate valattributeform="edituserform" valattribute="lastname"/>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="email">{{'label.input.email' | translate}}<span class="required">*</span></label>
            <div class="controls">
              <input type="email" id="email" name="email" value="{{user.email}}" ng-model="formData.email" required late-Validate/>
              <form-validate valattributeform="edituserform" valattribute="email"/>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="office">{{'label.input.office' | translate}}<span class="required">*</span></label>
            <div class="controls">
              <select id="officeId" ng-model="formData.officeId"  ng-options="office.id as office.name for office in offices" value="{{office.id}}">
      		    </select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="role">{{'label.input.selectroles' | translate}}<span class="required">*</span></label>
            <div class="controls">
              <select id="selectedRoles" ng-model="formData.selectedRoles" name="role"  ng-options="availablerole.name for availablerole in availableRoles" value="{{availablerole.id}}" multiple required>
      		    </select>
              <form-validate valattributeform="edituserform" valattribute="role"/>
            </div>
          </div>

          <div class="offset3">
            <a id="cancel" href="#/viewuser/{{userId}}"><button type="reset" class="btn">{{'label.button.cancel' | translate}}</button></a>
            <button id="save" type="submit" class="btn btn-primary">{{'label.button.save' | translate}}</button>
          </div>
        </fieldset>
      </form>
    </div>
