<div>
    <ul class="breadcrumb">
        <li class="active">{{'label.anchor.globalconfigurations' | translate}}</li>
    </ul>
</div>
<div class="row-fluid" ng-controller="GlobalConfigurationController">
    <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="{{'label.input.filterbyname' | translate}}">
    <table class="table">
        <thead>
        <tr class="graybg">
            <th>{{'label.heading.name' | translate}}</th>
            <th>{{'label.heading.enabled' | translate}}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="config in configs | orderBy:'name':reverse | filter:filterText">
            <td>{{config.name}}</a></td>
            <td>{{config.enabled}}</td>
            <td><button type="button" class="btn btn-success flag" data-ng-hide="config.enabled" data-ng-click="enable(config.name)"><i class="icon-flag-alt"></i></button>
                <button type="button" class="btn btn-danger flag" data-ng-show="config.enabled" data-ng-click="disable(config.name)"><i class="icon-remove"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>