<div>
    <ul class="breadcrumb">
        <li class="active">{{'label.anchor.globalconfigurations' | translate}}</li>
    </ul>
</div>
<div ng-controller="GlobalConfigurationController">
    <input ng-model="filterText" type="text" class="form-control"
           placeholder="{{'label.input.filterbyname' | translate}}">
    <table class="table">
        <thead>
        <tr class="graybg">
          <th width="40%">{{'label.heading.name' | translate}}</th>
          <th width="15%">{{'label.heading.enabled' | translate}}</th>
          <th width="15%"></th>
          <th width="25%">{{'label.heading.value' | translate}}</th>
          <th width="5%"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="config in configs | orderBy:'name':reverse | filter:filterText">
            <td width="40%">{{config.name | translate}}</a></td>
            <td width="15%">{{config.enabled}}</td>
            <td width="15%" align="center">
                <a class="btn btn-success flag" data-ng-hide="config.enabled"
                        data-ng-click="enable(config.id, config.name)" has-permission='UPDATE_CONFIGURATION'><i class="icon-flag-alt"></i></a>
                <a class="btn btn-danger flag" data-ng-show="config.enabled"
                        data-ng-click="disable(config.id, config.name)" has-permission='UPDATE_CONFIGURATION'><i class="icon-remove"></i></a>                
            </td>
            <td width="25%">{{config.value}}</td>
            <td width="5%">
                <a title="{{'label.edit' | translate}}"  data-ng-show="config.showEditvalue"  
                   href="#/configurations/{{config.id}}/editconfig"><i class="icon-pencil icon-white"></i></a>
            </td>                   
        </tr>
        </tbody>
    </table>
</div>