<div>
    <ul class="breadcrumb">
        <li class="active">{{'label.anchor.globalconfigurations' | translate}}</li>
    </ul>
</div>
<div ng-controller="GlobalConfigurationController">
    <input ng-model="filterText" type="text" class="form-control"
           placeholder="{{'label.input.filterbyname' | translate}}">
    <table class="table">
        <thead>
        <tr class="graybg">
            <th>{{'label.heading.name' | translate}}</th>
            <th>{{'label.heading.enabled' | translate}}</th>
            <th></th>
            <th>{{'label.heading.value' | translate}}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="config in configs | orderBy:'name':reverse | filter:filterText">
            <td>
			{{config.name | translate}}
			&nbsp; &nbsp; &nbsp;<i class="icon-question-sign icon-white" tooltip="{{config.description}}"></i>
			</td>
            <td>{{config.enabled}}</td>
            <td>
                <button type="button" class="btn btn-success flag" data-ng-hide="config.enabled"
                        data-ng-click="enable(config.id, config.name)" has-permission='UPDATE_CONFIGURATION'><i class="icon-flag-alt"></i></button>
                <button type="button" class="btn btn-danger flag" data-ng-show="config.enabled"
                        data-ng-click="disable(config.id, config.name)" has-permission='UPDATE_CONFIGURATION'><i class="icon-remove"></i></button>
                
            </td>
            <td>{{config.value}}</td>
            <td>
                <a title="{{'label.edit' | translate}}"  data-ng-show="config.showEditvalue"  
                   href="#/configurations/{{config.id}}/editconfig"><i
                        class="icon-pencil icon-white"></i></a>
            </td>                   
        </tr>
        </tbody>
    </table>
</div>