<div class="col-md-12" ng-controller="MakerCheckerController">
    <ul class="breadcrumb" ng-show="isDisabled">
        <li><a href="#/system">{{'label.anchor.system' | translate}}</a></li>
        <li class="active">{{'label.anchor.viewmakercheckersettings' | translate}}</li>
    </ul>
    <ul class="breadcrumb" ng-hide="isDisabled">
        <li><a href="#/system">{{'label.anchor.system' | translate}}</a></li>
        <li><a ng-click="cancel()">{{'label.anchor.viewmakercheckersettings' | translate}}</a></li>
        <li class="active">{{'label.anchor.editmakerchecker' | translate}}</li>
    </ul>

    <form ng-submit="submit()">
        <legend>{{'label.heading.makercheckertasks' | translate}}</legend>

        <a class="pull-right btn btn-primary" ng-click="editMCTasks()" has-permission='UPDATE_PERMISSION' ng-show="isDisabled"><i class="icon-edit icon-white"></i> {{'label.button.edit' | translate}}</a>

        <div class="col-sm-3">
            <div ng-repeat="grouping in groupings">
                <a ng-class="{black: grouping == previousGrouping}" ng-click="showPermissions(grouping)">{{formatName(grouping)}}</a>
            </div>
        </div>

        <div class="col-sm-5">
            <div ng-repeat="permission in permissions.permissions">
                <label for="{{permission.code}}">{{permissionName(permission.code)}}</label>
                <input id="{{permission.code}}" type="checkbox" ng-model="formData[permission.code]" ng-disabled="isDisabled">
            </div>
        </div>

        <div class="pull-right" ng-hide="isDisabled">
            <a id="cancel" class="btn btn-default" ng-click="cancel()">{{'label.button.cancel' | translate}}</a>
            <button id="save" type="submit" class="btn btn-primary" has-permission='UPDATE_PERMISSION'>{{'label.button.save' | translate}}</button>
        </div>
    </form>
</div>