<h3>Roles</h3>
<div id="systemRoles" data-ng-controller="RoleController">
  <table id="rolesTable" data-ng-show="roles.length > 0" data-mf-data-table="{sScrollY: 280, sPaginationType: 'full_numbers'}" data-mf-data-table-items="roles">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="role in roles">
        <td>{{role.name}}</td>
        <td>{{user.description}}</td>
      </tr>
    </tbody>
  </table>
</div>
