<div>
    <ul class="breadcrumb">
        <li><a href="#/system">{{'label.anchor.system' | translate}}</a> <span class="divider">/</span></li>
        <li class="active">{{'label.anchor.viewroles' | translate}}</li>
    </ul>
</div>
<div class="pull-right">
  <a href="#/admin/addrole" class="btn btn-primary"><i class="icon-plus icon-white"></i> {{'label.button.addrole' | translate}}</a>
</div>
<div class="row-fluid" data-ng-controller="RoleController">
  <table class="table">
    <thead>
      <tr class="graybg">
        <th>{{'label.heading.name' | translate}}</th>
        <th>{{'label.heading.description' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr class="pointer-main" data-ng-repeat="role in roles | orderBy:'name':reverse">
        <td class="pointer" data-ng-click="routeTo(role.id)">{{role.name}}</td>
        <td class="pointer" data-ng-click="routeTo(role.id)">{{role.description}}</td>
      </tr>
    </tbody>
  </table>
</div>
