<div class="row paddedleft paddedtop">
    <div class="col-sm-6 col-md-6">
        <div class="list-group">
            <a class="list-group-item" href="#/datatables" has-permission='READ_DATATABLE'>
                <h4 class="list-group-item-heading"><i class="icon-table icon-large"></i>&nbsp;&nbsp;{{'label.anchor.managedatatables'
                    | translate}}</h4>

                <p class="list-group-item-text">{{'label.addnewextrafieldstoanyentityintheformofdatatable' |
                    translate}}</p>
            </a>
            <a class="list-group-item" href="#/codes" has-permission='READ_CODE'>
                <h4 class="list-group-item-heading"><i class="icon-list-ul icon-large"></i>&nbsp;&nbsp;{{'label.anchor.managecodes'
                    | translate}}</h4>

                <p class="list-group-item-text">{{'label.codesareusedtodefinedropdownvalues' | translate}}</p>
            </a>
            <a class="list-group-item" href="#/admin/roles" has-permission='READ_ROLE'>
                <h4 class="list-group-item-heading"><i class="icon-key icon-large"></i>&nbsp;&nbsp;{{'label.anchor.manageroleandpermissions'
                    | translate}}</h4>

                <p class="list-group-item-text">{{'label.defineormodifyrolesandassociatedpermissions' | translate}}</p>
            </a>
            <a class="list-group-item" href="#/admin/viewmctasks" has-permission='READ_PERMISSION'>
                <h4 class="list-group-item-heading"><i class="icon-sitemap icon-large"></i>&nbsp;&nbsp;{{'label.anchor.configuremakercheckertask'
                    | translate}}</h4>

                <p class="list-group-item-text">{{'label.defineormodifymakercheckertasks' | translate}}</p>
            </a>
			<a class="list-group-item" href="#/hooks" has-permission='READ_PERMISSION'>
                <h4 class="list-group-item-heading"><i class="icon-anchor icon-large"></i>&nbsp;&nbsp;{{'label.anchor.managehooks'
                    | translate}}</h4>

                <p class="list-group-item-text">{{'label.defineormodifyhooks' | translate}}</p>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="list-group">
            <a class="list-group-item" href="#/audit" has-permission='READ_AUDIT'>
                <h4 class="list-group-item-heading"><i class="icon-large icon-list-alt"></i>&nbsp;&nbsp;{{'label.anchor.audittrails'
                    | translate}}</h4>

                <p class="list-group-item-text">{{'label.auditlogsofalltheactivities' | translate}}</p>
            </a>
            <a class="list-group-item" href="#/reports" has-permission='READ_REPORT'>
                <h4 class="list-group-item-heading"><i class="icon-large icon-bar-chart"></i>&nbsp;&nbsp;{{'label.anchor.managereports'
                    | translate}}</h4>

                <p class="list-group-item-text">{{'label.addnewreportand' | translate}}</p>
            </a>
            <a class="list-group-item" href="#/jobs" has-permission='READ_SCHEDULER'>
                <h4 class="list-group-item-heading"><i class="icon-large icon-time"></i>&nbsp;&nbsp;{{'label.anchor.schedulerjobs'
                    | translate}}</h4>

                <p class="list-group-item-text">{{'label.scheduleajobmodifyjobs' | translate}}</p>
            </a>
            <a class="list-group-item" href="#/global" has-permission='READ_CONFIGURATION'>
                <h4 class="list-group-item-heading"><i class="icon-large icon-gears"></i>&nbsp;&nbsp;{{'label.anchor.configuration'
                    | translate}}</h4>

                <p class="list-group-item-text">{{'label.globalconfigurationsand' | translate}}</p>
            </a>
            <a class="list-group-item" href="#/accountnumberpreferences" has-permission='READ_PERMISSION'>
                <h4 class="list-group-item-heading"><i class="icon-key icon-large"></i>&nbsp;&nbsp;{{'label.anchor.accountNumberPreferences'
                    | translate}}</h4>

                <p class="list-group-item-text">{{'label.accountNumberPreferences' | translate}}</p>
            </a>
        </div>
    </div>
</div>