
<div class="content-container">
    <ul class="breadcrumb">
        <li>user setting</li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4><i class="fa fa-cog"></i> {{'label.heading.usersettings' | translate}}</h4>
            </div>
            <br>
            <div id="systemUsers" class="form-horizontal" data-ng-controller="UserSettingController">
                <div class="form-group">
                    <label class="control-label col-sm-2">{{'label.input.language' | translate}}<span class="required">*</span></label>

                    <div class="col-sm-3">
                        <select ng-model="optlang" ng-options="lang.name for lang in langs"
                                ng-change="changeLang(optlang)" class="form-control"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">{{'label.input.dateformat' | translate}}<span class="required">*</span></label>

                    <div class="col-sm-3">
                        <select ng-model="df" ng-options="format for format in dates" data-ng-change="updateDf(df)" class="form-control"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
