<div>
    <fieldset><legend>{{'label.heading.usersettings' | translate}}<i class="icon-cog"></i></legend></fieldset>
</div>

<div id="systemUsers" class="well form-horizontal" data-ng-controller="UserSettingController">
    <div class="form-group">
        <label class="control-label col-sm-2">{{'label.input.language' | translate}}<span class="required">*</span></label>

        <div class="col-sm-3">
            <select ng-model="optlang" ng-options="lang.name for lang in langs"
                    ng-change="changeLang(optlang)" class="form-control"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">{{'label.input.dateformat' | translate}}<span class="required">*</span></label>

        <div class="col-sm-3">
            <select ng-model="dateformat" ng-options="format for format in dates" class="form-control"></select>
        </div>
    </div>


</div>
