<h3>{{'label.systemusers' | translate}}</h3>
<div id="systemUsers" data-ng-controller="UserController">
  <div class="users-actions">
    <div class="action create" data-ng-click="newUserFormDialog()">{{'label.newuser' | translate}}</div>
  </div>
  <table id="usersTable" data-ng-show="users.length > 0"
    data-mf-data-table="{sScrollY: 280, sPaginationType: 'full_numbers'}"
    data-mf-data-table-columns="username,firstname,lastname"
    data-mf-data-table-items="users">
    <thead>
      <tr>
        <th>{{'label.username' | translate}}</th>
        <th>{{'label.givenname' | translate}}</th>
        <th>{{'label.familyname' | translate}}</th>
      </tr>
    </thead>
  </table>
  <div class="hide" 
    data-mf-overlay="{show: 'UserDataLoadingStartEvent', hide: 'UserDataLoadingCompleteEvent'}"
    data-mf-overlay-target="#systemUsers">
    <div class="overlay-msg element info">
      <spam>Loading users... Please wait.</spam>
    </div>
  </div>
  <div data-ng-include="'html/administration/userFormDialog.html'"></div>
</div>
