<div ng-controller="ViewUserController">
	<div class="paddedbottom10">
		<ul class="breadcrumb">
	        <li><a href="#/users">{{'label.anchor.users' | translate}}</a> <span class="divider">/</span></li>
	        <li class="active">{{user.firstname}}&nbsp;{{user.lastname}}</li>
	    </ul>
	</div>
    <script type="text/ng-template" id="password.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.heading.changepassword' | translate}}</h3>
        </div>

        <div class="modal-body">
            <div class="control-group">
                <label class="control-label" for="password">{{ 'label.input.password' | translate }}</label>
                <div class="controls">
                    <input type="password" id="password" ng-model="formData.password">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="repeatPassword">{{ 'label.input.repeatpassword' | translate }}</label>
                <div class="controls">
                    <input type="password" id="repeatPassword" ng-model="formData.repeatPassword">
                </div>
            </div>
        </div>

        <div class="modal-footer silver">
            <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="save()">{{'label.button.save' | translate}}</button>
        </div>
    </script>
    <script type="text/ng-template" id="deleteuser.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.heading.delete' | translate}}</h3>
        </div>
        <div class="modal-body ">
            <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="delete()">{{'label.button.confirm' | translate}}</button>
        </div>
    </script>
	<div class="well">
        <div class="pull-right">
            <div class="btn-group">
                <a href="#/edituser/{{user.id}}" class="btn btn-primary"><i class="icon-edit icon-white"></i>{{'label.button.edit' | translate}}</a>
                <button type="button" ng-click="deleteuser()" class="btn btn-primary"><i class="icon-trash icon-white"></i>{{'label.button.delete' | translate}}</button>
                <button type="button" class="btn btn-primary" data-ng-click="open()"><i class="icon-cog icon-white"></i>{{'label.button.changepassword' | translate}}</button>
            </div>
        </div>
		<h3><strong>{{user.firstname}}&nbsp;{{user.lastname}}</strong></h3>
		<table width="100%">
			<tr>
				<td width="20%">{{'label.heading.loginname' | translate}}:</td>
				<td width="80%">{{user.username}}</td>
			</tr>
			<tr>
				<td>{{'label.heading.firstname' | translate}}:</td>
				<td>{{user.firstname}}</td>
			</tr>
			<tr>
				<td>{{'label.heading.lastname' | translate}}:</td>
				<td>{{user.lastname}}</td>
			</tr>
			<tr>
				<td>{{'label.heading.email' | translate}}:</td>
				<td>{{user.email}}</td>
			</tr>
			<tr>
				<td>{{'label.heading.office' | translate}}:</td>
				<td>{{user.officeName}}</td>
			</tr>
			<tr>
				<td valign="top">{{'label.heading.roles' | translate}}:</td>
				<td>
					<table>
						<tr ng-repeat="role in user.selectedRoles">
							<td>
								<span style="margin-left: -20px">{{role.name}}</span>
							</td>
						</tr>
					</table>		
				</td>
			</tr>
		</table>
	</div>
</div>
          