<div name="viewdocumentform" novalidate="" class="row form-horizontal" ng-controller="ViewBankStatementDetailsController"
     rc-submit="submit()">
    <div>
        <ul class="breadcrumb">
            <li><a href="#/bankstatements">{{'label.view.viewbankstatement' | translate}}</a></li>
            <li class="active">{{'label.anchor.portfoliotransactions' | translate}}</li>
        </ul>
    </div>
    <div class="pull-right btn-group" ng-show="action =='default'">
        <a href='#/bankstatementsdetails/{{bankId}}/reconciledtransaction' class="btn btn-primary" role="button">
            {{'label.button.reconcileddata' | translate }}</a>
    </div>
    <div class="form-horizontal" ng-show="action == 'default'" >
        <div style="clear:both"></div>
        <div style="float:left;max-width:50%;">
                <table class="table well">
                        <thead>
                        <tr class="graybg" style="height:78px;">
                            <th>{{'label.heading.transactiondate' | translate}}</th>
                            <th>{{'label.heading.transactiontype' | translate}}</th>
                            <th>{{'label.heading.amount' | translate}}</th>
                            <th>{{'label.heading.mobilenumber' | translate}}</th>
                            <th>{{'label.heading.groupexternalid' | translate}}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr  ng-class="($index%2!=0)?'graybg':''" ng-repeat="bankStatementDetail in bankStatementDetails" style="height:78px;cursor: pointer;">
                            <td class="pointer">{{bankStatementDetail.transactionDate}}</td>
                            <td class="pointer">{{bankStatementDetail.transactionType }}</td>
                            <td class="pointer">{{bankStatementDetail.amount}}</td>
                            <td class="pointer">{{bankStatementDetail.mobileNumber}}</td>
                            <td class="pointer">{{bankStatementDetail.groupExternalId}}</td>
                            <td ng-click="!(bankStatementDetail.optionsLength > 1 && bankStatementDetail.optionsLength <= maxPossibleLength)? goToView($index,'search'): goToView($index,'options')">
                                <i ng-show="!(bankStatementDetail.optionsLength > 1 && bankStatementDetail.optionsLength <= maxPossibleLength)" - class="icon-search icon-white"></i>
                                <i ng-show="(bankStatementDetail.optionsLength > 1 && bankStatementDetail.optionsLength <= maxPossibleLength)" class="icon-eye-open icon-white"></i>
                            </td>
                        </tr>
                        </tbody>
                </table>
        </div>
        <div  style="float:left; width:50%;">
            <table class="table well">
                <thead>
                <tr class="graybg" style="height:78px;">
                    <th>{{'label.heading.reconcile' | translate}}</th>
                    <th>{{'label.heading.amount' | translate}}</th>
                    <th>{{'label.heading.groupexternalid' | translate}}</th>
                    <th>{{'label.heading.loanaccountnumber' | translate}}</th>
                    <th>{{'label.heading.officeName' | translate}}</th>
                    <th>{{'label.heading.transactiontype' | translate}}</th>
                    <th>{{'label.heading.transactiondate' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="bankStatementDetail in bankStatementDetails" style="height:78px;"   ng-class="($index%2!=0)?'graybg':''">
                            <td align="center" ng-show = "(bankStatementDetail.hasOwnProperty('loanTransactionData'))">
                                <input ng-checked="isChecked(bankStatementDetail.loanTransactionData.id)" ng-value="isChecked(bankStatementDetail.loanTransactionData.id)"  type="checkbox"  ng-click="selectedSearchTransaction($index,bankStatementDetail.loanTransactionData,false)" name="{{bankStatementDetail.id}}">
                                <!--<a ng-click="uncheckOptions($index, bankStatementDetail.loanTransactionData.id)" class="btn btn-primary" role="button" ng-show="isChecked(bankStatementDetail.loanTransactionData.id)"><i class="icon-check icon-white"></i></a>-->
                            </td>
                            <td ng-show = "(bankStatementDetail.hasOwnProperty('loanTransactionData'))">{{bankStatementDetail.loanTransactionData.amount}}</td>
                            <td  ng-show = "(bankStatementDetail.hasOwnProperty('loanTransactionData'))">{{bankStatementDetail.loanTransactionData.groupExternalId}}</td>
                            <td  ng-show = "(bankStatementDetail.hasOwnProperty('loanTransactionData'))">{{bankStatementDetail.loanTransactionData.loanAccountNumber}}</td>
                            <td  ng-show = "(bankStatementDetail.hasOwnProperty('loanTransactionData'))">{{bankStatementDetail.loanTransactionData.officeName}}</td>
                            <td  ng-show = "(bankStatementDetail.hasOwnProperty('loanTransactionData'))">{{bankStatementDetail.loanTransactionData.type.value}}</td>
                            <td  ng-show = "(bankStatementDetail.hasOwnProperty('loanTransactionData'))">{{bankStatementDetail.loanTransactionData.date | DateFormat}}</td>

                            <!--  when search options -->
                            <td align="center"ng-show = "((bankStatementDetail.optionsLength == 0 || bankStatementDetail.optionsLength > maxPossibleLength) && !bankStatementDetail.hasOwnProperty('loanTransactionData'))">
                                <a class="btn btn-primary"  role="button" ng-click="goToView($index,'search')"><i class="icon-search icon-white"></i>{{'label.heading.search' | translate}}</a>
                            </td>
                            <!--  when options -->
                            <td align="center"ng-show = "((bankStatementDetail.optionsLength > 1 && bankStatementDetail.optionsLength <= maxPossibleLength )&& !bankStatementDetail.hasOwnProperty('loanTransactionData'))">
                                <a class="btn btn-primary"  role="button" ng-click="goToView($index, 'options')">
                                    <i class="icon-eye-open icon-white"></i>{{'label.heading.seeoptions' | translate}}</a>
                            </td>
                            <td ng-show = "(!bankStatementDetail.hasOwnProperty('loanTransactionData'))"></td>
                            <td ng-show = "(!bankStatementDetail.hasOwnProperty('loanTransactionData'))"></td>
                            <td ng-show = "(!bankStatementDetail.hasOwnProperty('loanTransactionData'))"></td>
                            <td ng-show = "(!bankStatementDetail.hasOwnProperty('loanTransactionData'))"></td>
                            <td ng-show = "(!bankStatementDetail.hasOwnProperty('loanTransactionData'))"></td>
                            <td ng-show = "(!bankStatementDetail.hasOwnProperty('loanTransactionData'))"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div  align="center" >
            <div class="form-group">
                <div class="col-sm-6" align="right" has-permission="RECONCILE_BANKSTATEMENTDETAILS">
                    <a  ng-show="toBulkReconcile.length > 0" align="center" role="button" ng-click="makeBulkBankStatementDetailsReconcile()" class="btn btn-primary">
                        {{'label.button.reconcilebanktransaction' | translate}}
                    </a>
                </div>
                <div class="col-sm-2" align="right">
                    <label>{{'label.input.allexactmatch' | translate}}</label>
                    <input type="checkbox" ng-click="selectAll()">
                </div>
            </div>
        </div>
    </div>
    <div class="form-horizontal" ng-show="action == 'options'" >
        <div style="clear:both"></div>
        <div style="float:left;max-width:50%;">
            <table class="table well">
                <thead>
                <tr class="graybg" style="height:60px;">
                    <th>{{'label.heading.transactiondate' | translate}}</th>
                    <th>{{'label.heading.transactiontype' | translate}}</th>
                    <th>{{'label.heading.amount' | translate}}</th>
                    <th>{{'label.heading.groupexternalid' | translate}}</th>
                    <th>{{'label.heading.mobilenumber' | translate}}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr style="height:60px;cursor: pointer;">
                    <td class="pointer">{{bankStatementDetails[searchIndex].transactionDate}}</td>
                    <td class="pointer">{{bankStatementDetails[searchIndex].transactionType }}</td>
                    <td class="pointer">{{bankStatementDetails[searchIndex].amount}}</td>
                    <td class="pointer">{{bankStatementDetails[searchIndex].groupExternalId}}</td>
                    <td class="pointer">{{bankStatementDetails[searchIndex].mobileNumber}}</td>
                    <td ng-click="goToView(searchIndex,'search')"><i class="icon-search icon-white"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div  style="float:left; width:50%;">
            <table class="table well">
                <thead>
                <tr class="graybg" style="height:60px;">
                    <th></th>
                    <th>{{'label.heading.transactiondate' | translate}}</th>
                    <th>{{'label.heading.transactiontype' | translate}}</th>
                    <th>{{'label.heading.amount' | translate}}</th>
                    <th>{{'label.heading.groupexternalid' | translate}}</th>
                    <th>{{'label.heading.loanaccountnumber' | translate}}</th>
                    <th>{{'label.heading.officeName' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="loanTransactionData in bankStatementDetails[searchIndex].loanTransactionOptions" style="height:60px;" ng-class="($index%2!=0)?'graybg':''" ng-show="isBankTransactionSelected(bankStatementDetails[searchIndex].id, loanTransactionData.id)">
                    <td>
                        <input ng-value="isChecked(loanTransactionData.id)" ng-hide="isChecked(loanTransactionData.id)" ng-click="selectedSearchTransaction(searchIndex,loanTransactionData,false)" type="radio" name="{{bankStatementDetail.id}}">
                        <a class="btn btn-primary" role="button" ng-show="isChecked(loanTransactionData.id)"><i class="icon-check icon-white"></i></a>
                    </td>
                    <td>{{loanTransactionData.date | DateFormat}}</td>
                    <td>{{loanTransactionData.amount}}</td>
                    <td>{{loanTransactionData.amount}}</td>
                    <td>{{loanTransactionData.groupExternalId}}</td>
                    <td>{{loanTransactionData.loanAccountNumber}}</td>
                    <td>{{loanTransactionData.officeName}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="pull-left">
            <button  class="btn btn-primary" ng-click="action='default'"><i class="icon-arrow-left icon-white"></i> {{'label.button.back' | translate}}</button>
        </div>
    </div>

    <div class="form-horizontal" ng-show="action == 'search'">
        <div>
            <table class="table well" ng-show="bankStatementDetails.length > 0">
                <thead>
                <tr class="graybg">
                    <th>{{'label.heading.transactiondate' | translate}}</th>
                    <th>{{'label.heading.transactiontype' | translate}}</th>
                    <th>{{'label.heading.amount' | translate}}</th>
                    <th>{{'label.heading.description' | translate}}</th>
                    <th>{{'label.heading.mobilenumber' | translate}}</th>
                    <th>{{'label.heading.groupexternalid' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{bankStatementDetails[searchIndex].transactionDate}}</td>
                    <td>{{bankStatementDetails[searchIndex].transactionType}}</td>
                    <td>{{bankStatementDetails[searchIndex].amount}}</td>
                    <td>{{bankStatementDetails[searchIndex].description}}</td>
                    <td>{{bankStatementDetails[searchIndex].mobileNumber}}</td>
                    <td>{{bankStatementDetails[searchIndex].groupExternalId}}</td>

                </tr>
                </tbody>
            </table>
        </div>
        <div  class="well">
            <div name="searchloantransactionform" >
                <fieldset>
                    <div class="form-group" ng-show="!isSearchedCriteriaMatched" align="center">
                        <label class="error">{{'error.search.criteria.failed' | translate}}</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{'label.input.branch' | translate}}<span class="required">*</span></label>
                        <div class="col-sm-3">
                            <select chosen="offices" id="officeId" ng-model="formData.officeId"
                                    ng-options="office.id as office.name for office in offices" value="{{office.id}}"
                                    class="form-control">
                                <option value="" style="display:none;">--{{'label.menu.selectbranch' | translate}}--</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">{{'label.input.groupexternalid' | translate}}:</label>
                        <div class="col-sm-3">
                            <input id="groupExternalId" type="text" name="groupExternalId" ng-model="formData.groupExternalId" class="form-control" ng-change="checkCriteria();"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">{{'label.input.daterangefrom' | translate}}:</label>
                        <div class="col-sm-3">
                            <input id="startDate" type="text" name="startDate" datepicker-pop="yyyy-MM-dd"
                                   ng-model="formData.startDate" date-disabled="disabled(date, mode)" is-open="opened" min="'2000-01-01'" max="restrictDate" class="form-control"  ng-change="checkCriteria()"/>
                        </div>
                        <label class="control-label col-sm-2">{{'label.input.to' | translate}}:</label>
                        <div class="col-sm-3">
                            <input id="endDate" type="text" name="endDate" datepicker-pop="yyyy-MM-dd" ng-change="checkCriteria()"
                                   ng-model="formData.endDate" date-disabled="disabled(date, mode)" is-open="opened" min="'2000-01-01'" max="restrictDate" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">{{'label.input.amountrangefrom' | translate}}:</label>
                        <div class="col-sm-3">
                            <input id="min" type="text" name="min" ng-model="formData.min"  ng-change="checkCriteria()" class="form-control"/>
                        </div>
                        <label class="control-label col-sm-2">{{'label.input.to' | translate}}:</label>
                        <div class="col-sm-3">
                            <input id="max" type="text" name="max" ng-model="formData.max"  ng-change="checkCriteria()" class="form-control"/>
                        </div>
                        <button id="save" ng-click="submit()" class="btn btn-primary"><i class="icon-search icon-white"></i>{{'label.button.search' | translate}}</button>
                    </div>

                </fieldset>
            </div>

            <table class="table" ng-show="loanTransactionData.length > 0">
                <thead>
                <tr class="graybg">
                    <th style="width:5%;"></th>
                    <th style="width:15%;">{{'label.heading.transactiondate' | translate}}</th>
                    <th style="width:15%;">{{'label.heading.transactiontype' | translate}}</th>
                    <th style="width:15%;">{{'label.heading.loantransactionnumber' | translate}}</th>
                    <th style="width:15%;">{{'label.heading.amount' | translate}}</th>
                    <th style="width:15%;">{{'label.heading.groupexternalid' | translate}}</th>
                    <th style="width:15%;">{{'label.heading.loanaccountnumber' | translate}}</th>
                    <th style="width:auto;">{{'label.heading.branch' | translate}}</th>
                </tr>
                </thead>
             </table>

            <div style="max-height:110px;overflow-y:auto;display: block;width:100%;">
                <table class="table" ng-show="loanTransactionData.length > 0">
                    <tbody>
                        <tr ng-repeat="loanTransaction in loanTransactionData"  ng-show="isBankTransactionSelected(bankStatementDetails[searchIndex].id,loanTransaction.LOAN_TRANSACTION_NO)">
                            <td  style="width:5%;">
                              <input ng-checked="isBankTransactionSelected(bankStatementDetails[searchIndex].id,loanTransaction.LOAN_TRANSACTION_NO)" ng-click="selectedSearchTransaction(searchIndex,loanTransaction,true)" type="radio" id="{{bankStatementDetails[searchIndex].id}}" name="{{bankStatementDetails[searchIndex].id}}">
                            </td>
                            <td style="width:15%;">{{loanTransaction.TRANSACTION_DATE | DateFormat}}</td>
                            <td style="width:15%;">{{loanTransaction.TRANSACTION_TYPE}}</td>
                            <td style="width:15%;">{{loanTransaction.LOAN_TRANSACTION_NO}}</td>
                            <td style="width:15%;">{{loanTransaction.AMOUNT}}</td>
                            <td style="width:15%;">{{loanTransaction.GROUP_EXTERNAL_ID}}</td>
                            <td style="width:15%;">{{loanTransaction.LOAN_ACCOUNT_NO}}</td>
                            <td style="width:auto;">{{loanTransaction.BRANCH}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>                
                <button  class="btn btn-primary" ng-click="action='default'"><i class="icon-arrow-left icon-white"></i> {{'label.button.back' | translate}}</button>
            </div>

        </div>
    </div>

</div>
