<div class="content-container" ng-controller="ViewExternalServicesController">
        <ul class="breadcrumb">
            <li><a href="#/system">{{'label.anchor.system' | translate}}</a></li>
            <li><a href="#/externalservices">{{'label.anchor.externalServices' | translate}}</a></li>
            <li class="active">{{'label.anchor.viewexternalservices' | translate}}</li>
        </ul>
<div class="card">
    <div class="content">
        <a href="#/externalservices/{{externalServicesType}}/editconfig" class="btn btn-primary pull-right" has-permission='UPDATE_EXTERNALSERVICES'><i class="fa fa-edit"></i>&nbsp;&nbsp;{{'label.button.edit' | translate}}</a>
        <table class="table">
            <thead>
            <tr class="graybg">

                <th>{{'label.heading.name' | translate}}</th>
                <th>{{'label.heading.value' | translate}}</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="config in Configs">

                <td>
                    {{config.name}}
                </td>
                <td>{{config.value}}</td>

            </tr>

            </tbody>
        </table>
    </div>
</div>
</div>