<div class="col-md-12" ng-controller="CreateCashierForTellerController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li><a href="#/tellers">{{'label.anchor.tellers' | translate}}</a></li>
        <li>{{cashier.officeName}}</li>
        <li><a href="#/tellers/{{cashier.tellerId}}">{{cashier.tellerName}}</a></li>
        <li class="active">{{'label.anchor.createCashier' | translate}}</li>
    </ul>

    <api-validate></api-validate>
    <form name="createcashierform" class="form-horizontal well" novalidate="" rc-submit="submit()">
        <legend>{{'label.anchor.createCashier' | translate}}</legend>

        <div class="form-group">
            <label class="label-control col-sm-2">{{'label.heading.cashmgmt.tellerCashiers.cashierName' | translate}}</label>
            <div class="col-sm-2">
                <select id="staffId" class="form-control" ng-model="formData.staffId" chosen="cashier.staffOptions" ng-options="staff.id as staff.displayName for staff in cashier.staffOptions"></select>
            </div>

            <label class="label-control col-sm-2">{{'label.heading.cashmgmt.tellerCashiers.description' | translate}}</label>
            <div class="col-sm-2">
                <input id="description" type="text" class="form-control" ng-model="formData.description">
            </div>
        </div>

        <div class="form-group">
            <label class="label-control col-sm-2">{{'label.input.teller.cashier.startDate' | translate}}</label>
            <div class="col-sm-2">
                <input id="startDate" type="text" class="form-control" ng-model="first.date" datepicker-pop="dd MMMM yyyy" sort is-open="opened" min="minDate" max="restrictDate">
            </div>

            <label class="label-control col-sm-2">{{'label.input.teller.cashier.endDate' | translate}}</label>
            <div class="col-sm-2">
                <input id="endDate" type="text" class="form-control" ng-model="formData.endDate" datepicker-pop="dd MMMM yyyy" sort is-open="opened" min="minDate">
            </div>
        </div>

        <div class="form-group">
            <label class="label-control col-sm-2">{{'label.input.teller.cashier.fullDay' | translate}}</label>
            <input id="fullDayCheckbox" type="checkbox" class="col-sm-1" checked="true" ng-model="formData.isFullDay" data-ng-change="setChoice()">

            <div ng-show="choice == '0'">
                <label class="label-control col-sm-2">{{'label.input.teller.cashier.startTime' | translate}}</label>
                <div class="col-sm-1">
                    <input id="startTime" type="text" class="form-control" ng-model="startTime" sort>
                </div>

                <label class="label-control col-sm-2">{{'label.input.teller.cashier.endTime' | translate}}</label>
                <div class="col-sm-1">
                    <input id="endTime" type="text" class="form-control" ng-model="endTime" sort>
                </div>
            </div>
        </div>

        <div class="text-center">
            <a id="cancel" class="btn btn-default" href="#/tellers/{{tellerId}}/cashiers">{{'label.button.cancel' | translate}}</a>
            <button id="save" type="submit" class="btn btn-primary" has-permission='ALLOCATECASHIER_TELLER'>{{'label.button.save' | translate}}</button>
        </div>
    </form>
</div>