<div class="col-md-12">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li><a href="#/tellers">{{'label.anchor.tellers' | translate}}</a></li>
        <li class="active">{{'label.anchor.editteller' | translate}}</li>
    </ul>
    <div class="card">
        <div class="content">
            <form name="edittellerform" novalidate="" class="form-horizontal"
                ng-controller="EditTellerController" rc-submit="submit()">
                <api-validate></api-validate>
                <fieldset>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{ 'label.input.teller.name' | translate }}<span
                                class="required">*</span></label>

                        <div class="col-sm-3">
                            <input id="name" ng-autofocus="true" type="text" name="name" ng-model="formData.name" class="form-control"
                                   required />
                        </div>
                        <div class="col-sm-3">
                            <form-validate valattributeform="edittellerform" valattribute="name"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">{{ 'label.input.teller.office' | translate }}<span class="required">*</span></label>
                        <div class="col-sm-3">
                            {{officeName}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">{{ 'label.input.teller.description' | translate }}</label>

                        <div class="col-sm-3">
                            <input id="description" ng-autofocus="true" type="text" name="description" ng-model="formData.description" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">{{ 'label.input.teller.startDate' | translate }}<span
                                class="required">*</span></label>

                        <div class="col-sm-3">
                            <input name="startDate" id="startDate" sort type="text" datepicker-pop="dd MMMM yyyy" ng-model="formData.startDate"
                                   class="form-control" is-open="opened" min="minDate" max="restrictDate" required />
                        </div>
                        <div class="col-sm-3">
                            <form-validate valattributeform="edittellerform" valattribute="startDate"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">{{ 'label.input.teller.endDate' | translate }}</label>

                        <div class="col-sm-3">
                            <input id="endDate" sort type="text" datepicker-pop="dd MMMM yyyy" ng-model="formData.endDate"
                                   class="form-control" is-open="opened" min="minDate" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{ 'label.input.teller.status' | translate }}<span
                                class="required">*</span></label>
                        <div class="col-sm-3">
                            <select id="usage" name="usage" ng-model="formData.status"
                                    ng-options="tellerStatus.id as tellerStatus.value for tellerStatus in tellerStatuses"
                                    value="{{tellerStatus.id}}" class="form-control"></select>
                        </div>
                        <div class="col-sm-3">
                            <form-validate valattributeform="edittellerform" valattribute="usage"/>
                        </div>
                    </div>


                    <div class="col-md-offset-3">
                        <a id="cancel" href="#/tellers">
                            <button type="reset" class="btn btn-default">{{'label.button.cancel' | translate}}</button>
                        </a>
                        <button id="save" type="submit" class="btn btn-primary" has-permission='CREATE_TELLER'>{{'label.button.save' | translate}}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
