<div class="col-md-12">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li class="active">{{'label.anchor.tellers' | translate}}</li>
    </ul>
</div>

<div class="col-md-12" ng-controller="TellersController">
    <div class="pull-right">
        <a href="#/createTeller" class="btn btn-primary" has-permission='CREATE_TELLER'><i class="icon-plus icon-white"></i>{{'label.button.createteller'
            | translate}}</a>
    </div>
    <div class="clear"></div>
    <div ng-hide="isTreeView">
        <api-validate></api-validate>
    	<input ng-autofocus="true" ng-model="filterText" type="text" class="form-control span marginbottom0px"
           placeholder="{{'label.input.filterbynameexternalid' | translate}}">
        <table class="table">
            <thead>
            <tr class="graybg">
                <th>{{'label.heading.cashmgmt.officeName' | translate}}</th>
                <th>{{'label.heading.cashmgmt.tellerName' | translate}}</th>
                <th>{{'label.heading.cashmgmt.tellerStatus' | translate}}</th>
                <th>{{'label.heading.cashmgmt.tellerStartDate' | translate}}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr class="pointer-main" ng-repeat="teller in tellers| orderBy:'teller.officeName' | orderBy:'name'  | filter:filterText">
                <td class="pointer" data-ng-click="routeToCashiers(teller.id)">{{teller.officeName}}</td>
                <td class="pointer" data-ng-click="routeToCashiers(teller.id)">{{teller.name}}</td>
                <td class="pointer" data-ng-click="routeToCashiers(teller.id)">{{teller.status}}</td>
                <td class="pointer" data-ng-click="routeToCashiers(teller.id)">{{teller.startDate | DateFormat}}</td>
                <td >

                    <a class="btn btn-warning" data-ng-click="routeTo(teller.id)"><i class="icon-eye-open"></i>{{'label.button.view' | translate}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#/editteller/{{teller.id}}" class="btn btn-primary" has-permission='UPDATE_TELLER'><i class="icon-edit icon-white"></i>{{
                        'label.button.edit' | translate }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-danger" has-permission='DELETE_TELLER' data-ng-click="routeToDelete(teller.id)"><i class="icon-trash "></i></a>
                </td>
                <!--<td data-ng-click="routeTo(teller.id)">

                </td>
                <td data-ng-click="routeTo(teller.id)">

                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>
