<form name="addmemeberform" novalidate="" class="form-horizontal well" ng-controller="AddMemberController" rc-submit="submit()">
    <api-validate></api-validate>
    <fieldset>
        <legend>{{'label.heading.addmember' | translate}}</legend>

        <div class="control-group">
            <label class="control-label" for="staffid">{{ 'label.input.staff' | translate }}:</label>
            <div class="controls">
                <select ng-model="formData.staffId" id="staffId">
                    <option ng-repeat="staff in clientTemplate.staffOptions" value="{{staff.id}}">{{staff.displayName}}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="firstname">{{ 'label.input.firstname' | translate }}<span class="required">*</span></label>
            <div class="controls">
                <input type="text" id="firstname" name="firstname" ng-model="formData.firstname" required late-Validate/>
                <form-validate valattributeform="addmemeberform" valattribute="firstname"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="middlename">{{ 'label.input.middlename' | translate }}</label>
            <div class="controls">
                <input type="text" id="middlename" ng-model="formData.middlename">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="lastname">{{ 'label.input.lastname' | translate }}<span class="required">*</span></label>
            <div class="controls">
                <input type="text" id="lastname" name="lastname" ng-model="formData.lastname" required late-Validate/>
                <form-validate valattributeform="addmemeberform" valattribute="lastname"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="externalid">{{ 'label.input.externalid' | translate }}</label>
            <div class="controls">
                <input type="text" id="externalId" ng-model="formData.externalId">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="active">{{ 'label.input.active' | translate }}</label>
            <div class="controls">
                <input type="checkbox" id="active" ng-model="formData.active" data-ng-click="setChoice()">
            </div>
        </div>
        <div data-ng-switch on="choice">
            <div class="control-group" data-ng-switch-when="1">
                <label class="control-label">{{'label.input.activationdate' | translate}}<span class="required">*</span></label>
                <div class="controls">
                    <input  id="activationDate" type="text" datepicker-pop="dd MMMM yyyy" ng-model="first.date" is-open="opened" min="'2000-01-01'" max="restrictDate"/>
                </div>
            </div>
        </div>
        <div class="offset2 paddedleft120">
            <a href="#/viewgroup/{{groupId}}" class="btn">{{ 'label.button.cancel' | translate }}</a>
            <button id="save" type="submit" class="btn btn-primary">{{ 'label.button.save' | translate }}</button>
        </div>
    </fieldset>
</form>