<div class="well" data-ng-controller="AssignStaffController">
    <h3>{{'label.heading.assignstaff' | translate}}</h3>
    <api-validate></api-validate>
    <form>
        <table>
            <tr>
                <td><label>{{'label.input.staff' | translate}}<span class="required">*</span></label></td>
                <td>
                    <select id="staffId" ng-model="formData.staffId" ng-options="staff.id as staff.displayName for staff in staffs" value="{{staff.id}}">
                    </select>
                </td>
            </tr>
        </table>
        <br/><hr/>
        <div class="paddedleft80 offset1">
            <a id="cancel" href="#/viewgroup/{{group.id}}" class="btn">{{'label.button.cancel' | translate}}</a>
            <button id="save" type="button" class="btn btn-primary" data-ng-click="assignStaff()">{{'label.button.save' | translate}}</button>
        </div>
    </form>
</div>
