<div data-ng-controller="AssignStaffController">
    <h3>{{'label.assignstaff' | translate}}</h3>
    <form>
        <table>
            <tr>
                <td><label>{{'label.staff' | translate}}<span class="required">*</span></label></td>
                <td>
                    <select id="staffs" ng-model="formData.staffId" ng-options="staff.id as staff.displayName for staff in staffs" value="{{staff.id}}">
                    </select>
                </td>
            </tr>
        </table>
        <div class="offset1">
            <a href="#/viewgroup/{{group.id}}" class="btn">{{'label.cancel' | translate}}</a>
            <button type="button" class="btn btn-primary" data-ng-click="assignStaff()">{{'label.save' | translate}}</button>
        </div>
    </form>
</div>
