<form class="form-horizontal well" ng-controller="CreateGroupController" ng-submit="submit()">
    <fieldset>
        <legend>{{'label.creategroup' | translate}}</legend>

        <div class="control-group">
            <label class="control-label" for="name">{{'label.form.name' | translate}}</label>
            <div class="controls">
                <input type="text" id="name" ng-model="formData.name">
            </div>
        </div>
        <div class="control-group info">
            <label class="control-label" for="office">{{'label.form.office' | translate}}</label>
            <div class="controls">
                <select id="office" ng-model="formData.officeId">
                    <option ng-repeat="office in offices" value="{{office.id}}" ng-click="changeOffice(office.id)">{{office.name}}</option>
                </select>
            </div>
        </div>
        <div class="control-group info">
            <label class="control-label" for="staffs">{{'label.staff' | translate}}</label>
            <div class="controls">
                <select id="staffs" ng-model="formData.staffId">
                    <option ng-repeat="staff in staffs" value="{{staff.id}}">{{staff.displayName}}</option>
                </select>
            </div>
        </div>
        <div class="control-group info">
            <label class="control-label">{{'label.clients' | translate}}</label>
            <div class="controls">
                <select multiple ng-model="formData.clientMembers">
                    <option ng-repeat="member in clients" value="{{member.id}}">{{member.displayName}}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="activationdate">{{'label.form.activationdate' | translate}}</label>
            <div class="controls">
                <input type="text" id="activationdate" ng-model="formData.activationDate">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="externalid">{{'label.externalid' | translate}}</label>
            <div class="controls">
                <input type="text" id="externalid" ng-model="formData.externalId">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="active">{{'label.active' | translate}}</label>
            <div class="controls">
                <input type="checkbox" id="active" ng-model="formData.active">
            </div>
        </div>
        <div class="offset2 paddedleft120">
            <a href="#/groups" class="btn btn-primary">{{'label.cancel' | translate}}</a>
            <button type="submit" class="btn btn-primary">{{'label.save' | translate}}</button>
        </div>
    </fieldset>
</form>
