<div class="col-md-12" ng-controller="GroupController">
    <ul class="breadcrumb">
        <li class="active">{{'label.anchor.groups' | translate}}</li>
    </ul>

    <input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbynameorstatusoroffice' | translate}}">
    <a href="#/creategroup" class="btn btn-primary pull-right" has-permission='CREATE_GROUP'><i class="icon-plus icon-white"></i>{{'label.button.creategroup' | translate}}</a>

    <table class="table">
        <thead>
        <tr class="graybg">
            <th>{{'label.heading.name' | translate}}</th>
            <th>{{'label.heading.status' | translate}}</th>
            <th>{{'label.heading.office' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr class="pointer-main" ng-repeat="group in groups.currentPageItems| orderBy:'name':reverse  | filter:filterText">
            <td class="pointer" data-ng-click="routeTo(group.id)">{{group.name}}</td>
            <td data-ng-click="routeTo(group.id)">
                <i class="icon-stop {{group.status.code | StatusLookup}}"></i>&nbsp;{{group.status.value}}
            </td>
            <td data-ng-click="routeTo(group.id)">{{group.officeName}}</td>
        </tr>
        </tbody>
    </table>
    <ul class="pager">
        <li class="previous"><a id="prev" ng-click="groups.previous()" data-ng-hide="!groups.hasPrevious()">&larr;{{'label.button.previous' | translate}}</a></li>
        <li class="next"><a id="next" ng-click="groups.next()" data-ng-hide="!groups.hasNext()">{{'label.button.next' | translate}} &rarr;</a></li>
    </ul>
</div>