<div class="col-md-12" ng-controller="GroupAttendanceController">
    <ul class="breadcrumb">
        <li><a href="#/groups">{{'label.anchor.groups' | translate}}</a></li>
        <li>{{group.officeName}}</li>
        <li><a href="#/viewgroup/{{group.id}}">{{group.name}}</a></li>
        <li class="active">{{'label.heading.attendance' | translate}}</li>
    </ul>

    <api-validate></api-validate>
    <form class="form-horizontal well">
        <legend>{{'label.heading.attendance' | translate}}</legend>

        <div class="form-group">
            <label class="control-label col-sm-2">{{'label.input.meetingdate' | translate}}<span class="required">*</span></label>
            <div class="col-sm-3">
                <input type="text" class="form-control" required ng-model="first.date" datepicker-pop="dd MMMM yyyy" is-open="opened" min="minDate" max="'2020-06-22'">
                {{'label.nextmettingon' | translate}} {{meeting.nextTenRecurringDates[0] | DateFormat}}
            </div>

            <div class="col-sm-7">
                <table class="table">
                    <tr class="graybg">
                        <th>{{'label.heading.name' | translate}}</th>
                        <th>{{'label.heading.attendance' | translate}}</th>
                    </tr>
                    <tr ng-repeat="client in clients">
                        <td>{{client.displayName}}</td>
                        <td><select class="form-control" ng-model="client.attendanceType" ng-options="attendance.id as attendance.value for attendance in attendanceOptions"></select></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="text-center">
            <a id="cancel" class="btn btn-default" href="#/viewgroup/{{group.id}}">{{'label.button.cancel' | translate}}</a>
            <button id="save" type="button" class="btn btn-primary" data-ng-click="attendanceUpdate(meeting.id)" has-permission='SAVEORUPDATEATTENDANCE_MEETING'>{{'label.button.save' | translate}}</button>
        </div>
    </form>
</div>