<div class="col-md-12" ng-controller="ListLoanUtilizationCheckController">
    <div class="paddedbottom10">
        <ul class="breadcrumb" ng-show="entityType=='group'">
            <li><a href="#/viewgroup/{{entityId}}">{{'label.anchor.viewgroup' | translate}}</a></li>
            <li class="active">{{'label.anchor.luc' | translate}}</li>
        </ul>
        <api-validate></api-validate>
    </div>


    <div>
        <div class="col-md-12 primarydiv">
            <div class="btn-group pull-right">
                <a href="#/group/{{entityId}}/createutilizationcheck" class="btn btn-primary"><i
                        class="icon-plus-sign-alt icon-white"></i>{{'label.button.addluc' | translate }}</a>
            </div>
        </div>
        <br/><br/>

        <div class="row">
            <div class="col-sm-12 col-md-12">
                <table class="table">
                    <thead>
                    <tr class="graybg">
                        <th>{{ 'label.heading.group' | translate }}</th>
                        <th>{{ 'label.heading.client' | translate }}</th>
                        <th>{{ 'label.heading.loan' | translate }}</th>
                        <th>{{ 'label.heading.amount.disb' | translate }}</th>
                        <th>{{ 'label.heading.auditdoneon' | translate }}</th>
                        <th>{{ 'label.heading.list.loanutilization' | translate }}</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody data-ng-repeat="loanUtilizationdetailCheck in loanUtilizationChecks">
                    <tr class="pointer-main"
                        data-ng-repeat="loanUtilizationCheck in loanUtilizationdetailCheck.loanUtilizationCheckDetailData">
                        <td class="col-md-2 pointer" routeTO="">{{loanUtilizationCheck.groupName}}</td>
                        <td class="col-md-2 pointer" routeTO="">
                            {{loanUtilizationCheck.clientName}}-{{loanUtilizationCheck.clientId}}
                        </td>
                        <td class="col-md-2 pointer" routeTO="">
                            {{loanUtilizationCheck.loanType.value}}-{{loanUtilizationCheck.loanId}}
                        </td>
                        <td class="col-md-2 pointer" routeTO="">{{loanUtilizationCheck.principalAmount}}</td>
                        <td class="col-md-2 pointer" routeTO="">{{loanUtilizationdetailCheck.auditDoneOn | DateFormat}}</td>
                        <td>
                            <table ng-repeat="loanUtilization in loanUtilizationCheck.utilizationDetailsDatas">
                                <td class="col-md-2 pointer" routeTO="">{{loanUtilization.loanPurposeData.name}}</td>
                                <td class="col-md-2 pointer" routeTO="">{{loanUtilization.amount}}</td>
                                <td class="col-md-2 pointer" routeTO="">{{}}</td>

                            </table>
                        </td>
                        <td>
                            <button role="button" ng-click="showEdit(loanUtilizationdetailCheck.id)"
                                    class="btn-link ng-binding">
                                <i class="icon-edit icon-white"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>