<div ng-controller="ViewGroupController">
 <div>
   <ul class="breadcrumb">
    <li>
        <div class='gavatar'>
                <img class="avatarpic" title="member1" src="../app/images/blank_avatar.jpg">
                <img class="avatarpic" title="member2" src="../app/images/1.jpg">
                <img class="avatarpic next-row" title="member3" src="../app/images/2.jpg">
                <img class="avatarpic next-row" title="member4" src="../app/images/3.jpg">
        </div>
    </li>
    <li>
        <h3>
            &nbsp;
            {{group.name}}
            &nbsp;
            <i class="icon-circle {{group.status.value | StatusLookup}}"></i>
            &nbsp;
        </h3>
    </li>
    <li><span class="divider">|</span>
        <i class="icon-barcode"></i>
        <small>{{ 'label.uniquelyidentifiedwithid' | translate }} {{group.id}}&nbsp;</small>
    </li>
    <li><span class="divider">|</span>
        <i class="icon-building"></i>
        <small>{{ 'label.office' | translate }}: "{{group.officeName}}" </small>
    </li>
   </ul>
 </div>
 <div>
   <tabset  style="margin-bottom: 0px;">
    <tab heading="{{ 'label.general' | translate }}">
        <div class="row-fluid">
            <div class="row-fluid primarydiv">
                <div class="btn-group pull-right" data-ng-hide="group.status.value == 'Closed'">
                    <button class="btn btn-primary" data-ng-click="activateGrouppop()" data-ng-hide="group.status.value=='Active'"><i class="icon-check-sign icon-white"></i>{{ 'label.activate' | translate }}</button>
                    <a href="#/editgroup/{{group.id}}" class="btn btn-primary"><i class="icon-edit icon-white"></i>{{ 'label.edit' | translate }}</a>
                    <a href="#/closegroup/{{group.id}}" class="btn btn-primary"><i class="icon-remove-circle icon-white"></i>{{ 'label.close' | translate }}</a>
                    <button class="btn btn-primary" data-ng-click="deleteGrouppop()" data-ng-hide="group.status.value=='Active'"><i class="icon-trash icon-white"></i>{{ 'label.delete' | translate }}</button>
                </div>
            </div>
            <br/>
            <div data-ng-switch on="choice">
                <form ng-switch-when="2">
                    <div class="paddedleft">
                        <div>
                            <label class="control-label">{{ 'label.enteractivationdate' | translate }}</label>
                            <input type="text" data-ng-model="formData.activationDate" required/>
                        </div>
                        <br/>
                        <button type="button" class="btn btn-primary" data-ng-click="cancel(group.id)">{{ 'label.cancel' | translate }}</button>
                        <button type="button" class="btn btn-primary" data-ng-click="activate(group.id)"><i class="icon-check-sign icon-white"></i>{{ 'label.activate' | translate }}</button>
                    </div>
                    <hr/>
                </form>
                <form data-ng-switch-when="3">
                    <button type="button" class="btn btn-primary paddedleft" data-ng-click="delete(group.id)">{{ 'label.confirmdelete' | translate }}</button>
                    <hr/>
                </form>
            </div>
                <div class="row-fluid">
                <div class="span7">
                    <div data-ng-show="group.status.value=='Closed'">
                        <h3>{{'label.groupclosed' | translate}}</h3>
                    </div>
                    <table width="100%" >
                        <tr>
                            <td width="35%">{{'label.name' | translate}}</td>
                            <td width="65%">{{group.name}}</td>
                        </tr>
                        <tr>
                            <td>{{ 'label.activationdate' | translate }}</td>
                            <td valign="top">{{group.activationDate}}</td>
                        </tr>
                        <tr>
                            <td>{{ 'label.staff' | translate }}</td>
                            <td>{{group.staffName}}</td>
                        </tr>
                        <tr>
                            <td>{{ 'label.nextmeetingon' | translate }}</td>
                            <td>{{group.collectionMeetingCalendar.nextTenRecurringDates[0]}}</td>
                        </tr>
                        <tr>
                            <td>{{ 'label.meetingfrequency' | translate }}</td>
                            <td>{{group.collectionMeetingCalendar.humanReadable}}</td>
                        </tr>
                    </table>
                </div>
                <div class="span5">
                    <table class="table table-striped" width="100%" >
                        <thead>
                        <tr class="graybg">
                            <th colspan="2">{{ 'label.summary' | translate }}</th>
                        </tr>
                        </thead>
                        <tr>
                            <td width="60%">{{ 'label.numofactiveclient' | translate }}</td>
                            <td width="40%">{{summary.activeClients}}</td>
                        </tr>
                        <tr>
                            <td width="60%">{{ 'label.numofactivegrouploans' | translate }}</td>
                            <td width="40%">{{summary.activeGroupLoans}}</td>
                        </tr>
                        <tr>
                            <td width="60%">{{ 'label.numofactiveclientloans' | translate }}</td>
                            <td width="40%">{{summary.activeGroupLoans}}</td>
                        </tr>
                        <tr>
                            <td width="60%">{{ 'label.numofactivegroupborrowers' | translate }}</td>
                            <td width="40%">{{summary.activeGroupBorrowers}}</td>
                        </tr>
                        <tr>
                            <td width="60%">{{ 'label.numofactiveclientborrowers' | translate }}</td>
                            <td width="40%">{{summary.activeClientBorrowers}}</td>
                        </tr>
                        <tr>
                            <td width="60%">{{ 'label.numofactiveoverduegrouploans' | translate }}</td>
                            <td width="40%">{{summary.overdueGroupLoans}}</td>
                        </tr>
                        <tr>
                            <td width="60%">{{ 'label.numofactiveoverdueclientloans' | translate }}</td>
                            <td width="40%">{{summary.overdueClientLoans}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <br/>
              <div data-ng-show="groupAccounts.loanAccounts">
                <h3>{{ 'label.loanaccountoverview' | translate }}</h3>
                <table class="table table-striped" width="100%">
                  <thead>
                    <tr class="graybg">
                        <th>{{ 'label.products' | translate }}</th>
                        <th>{{ 'label.group.accounts' | translate }} No</th>
                        <th>{{ 'label.status' | translate }}</th>
                    </tr>
                    <tr ng-repeat="loanaccount in groupAccounts.loanAccounts" >
                        <td>
                            <a href="#/">
                                {{loanaccount.productName}}
                            </a>
                        </td>
                        <td>
                            <a href="#/">
                                {{loanaccount.accountNo}}
                            </a>
                        </td>
                        <td><i class="icon-stop {{loanaccount.status.code | StatusLookup}}"></i>{{loanaccount.status.value}}</td>
                    </tr>
                </table>
              </div>
            <br/>
              <div data-ng-show="groupAccounts.savingsAccounts">
                <table class="table table-striped" width="100%">
                  <thead>  <h3>{{ 'label.savingsaccountsoverview' | translate }}</h3>
                    <tr><td colspan="5">&nbsp;</td></tr>
                    <tr class="graybg">
                        <th>{{ 'label.products' | translate }}</th>
                        <th>{{ 'label.accountno' | translate }}</th>
                        <th>{{ 'label.balance' | translate }}</th>
                        <th>{{ 'label.status' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="savingaccount in groupAccounts.savingsAccounts">
                        <td><a href="#/viewsavingaccount/{{savingaccount.id}}">{{savingaccount.productName}}</a></td>
                        <td><a href="#/viewsavingaccount/{{savingaccount.id}}">{{savingaccount.accountNo}}</a></td>
                        <td>{{savingaccount.accountBalance}}</td>
                        <td><i class="icon-stop {{savingaccount.status.code | StatusLookup}}"></i>{{savingaccount.status.value}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
    </tab>
    <tab heading="{{ 'label.group.members' | translate }}">
        <div class="row-fluid">
            <div class="row-fluid primarydiv">
                <a href="#/addmember?groupId={{group.id}}&officeId={{group.officeId}}" class="btn btn-primary pull-right"><i class="icon-plus-sign-alt icon-white"></i>{{ 'label.add' | translate }}</a>
                <button type="button" class="btn btn-primary pull-right" data-ng-click="disassociateMemberpop(group.id)">{{ 'label.disassociatemember' | translate }}</button>
                <button type="button" class="btn btn-primary pull-right" data-ng-click="associateMemberpop(group.id)">{{ 'label.associatemember' | translate }}</button>
                <a href="#/groupattendance?groupId={{group.id}}&calendarId={{group.collectionMeetingCalendar.id}}" class="btn btn-primary pull-right">{{ 'label.attendance' | translate }}</a>
            </div>
        </div>
        <div data-ng-switch on="choice">
            <form ng-switch-when="5">
                <div class="paddedleft">
                    <h3>{{ 'label.associatemembers' | translate }}</h3>
                    <div>
                        <label class="control-label">{{ 'label.clients' | translate }}</label>
                        <select multiple ng-model="formData.clientMembers">
                            <option ng-repeat="client in allClients" value="{{client.id}}">{{client.displayName}}</option>
                        </select>
                    </div>
                    <br/>
                    <div>
                        <button type="button" class="btn btn-primary" data-ng-click="cancel(group.id)">{{ 'label.cancel' | translate }}</button>
                        <button type="button" class="btn btn-primary" data-ng-click="associateMember(group.id)">{{ 'label.save' | translate }}</button>
                    </div>
                </div>
                <hr/>
            </form>
            <form ng-switch-when="6">
                <div class="paddedleft">
                    <h3>{{ 'label.disassociatemembers' | translate }}</h3>
                    <div>
                        <label class="control-label">{{ 'label.members' | translate }}</label>
                        <select multiple ng-model="formData.clientMembers">
                            <option ng-repeat="mem in allMembers" value="{{mem.id}}">{{mem.displayName}}</option>
                        </select>
                    </div>
                    <br/>
                    <div>
                        <button type="button" class="btn btn-primary" data-ng-click="cancel(group.id)">{{ 'label.cancel' | translate }}</button>
                        <button type="button" class="btn btn-primary" data-ng-click="disassociate(group.id)">{{ 'label.save' | translate }}</button>
                    </div>
                </div>
                <hr/>
            </form>
        </div>
        <table class="table table-striped" width="100%">
            <thead>
                 <th>{{'label.group.accounts' | translate}}</th>
                 <th>{{'label.name' | translate}}</th>
                 <th>{{ 'label.status' | translate }}</th>
            </thead>
            <tbody>
               <tr ng-repeat="member in group.clientMembers">
                <td><a href="#/viewclient/{{member.id}}">{{member.accountNo}}</a></td>
                <td><a href="#/viewclient/{{member.id}}">{{member.displayName}}</a></td>
                <td> <i class="icon-stop {{member.status.code | StatusLookup}}"></i>{{member.status.value}}</td>
               </tr>
            </tbody>
        </table>
    </tab>
    <tab heading="{{ 'label.notes' | translate }}">
        <form>
            <div class="control-group" data-ng-hide="group.status.value=='Closed'">
                <div class="controls">
                    <textarea rows="1" class="field span10" id="textarea" placeholder="{{ 'label.enternote' | translate }}" ng-model="formData.note"></textarea>
                    <br/>
                    <button class="btn btn-primary" ng-click="resetNote()">{{ 'label.reset' | translate }}</button>
                    <button class="btn btn-primary" type="submit" ng-click="saveNote()">{{ 'label.addnote' | translate }}</button>
                </div>
            </div>
        </form>
        <div ng-repeat="groupNote in groupNotes">
            <div>
                <blockquote>
                    <p>{{groupNote.note}}</p>
                    <small>{{ 'label.createdby' | translate }} :&nbsp;{{groupNote.createdByUsername}}</small>
                    <small>{{ 'label.createdon' | translate }} :&nbsp;{{groupNote.createdOn}}</small>
                </blockquote>
            </div>
        </div>
        </ul>
    </tab>
    <tab heading="{{ 'label.committee' | translate }}">
        <div class="row-fluid">
            <div class="row-fluid primarydiv">
                <button class="btn btn-primary pull-right" data-ng-click="addrolepop(group.id)"><i class="icon-plus-sign-alt icon-white"></i>{{ 'label.add' | translate }}</button>
            </div>
        </div>
        <div data-ng-switch on="choice">
            <form ng-switch-when="0">
                <div class="paddedleft">
                    <h3>{{ 'label.addrole' | translate }}</h3>
                    <div>
                        <label class="control-label">{{ 'label.client' | translate }}</label>
                        <select ng-model="formData.clientId">
                            <option ng-repeat="client in clients" value="{{client.id}}">{{client.displayName}}</option>
                        </select>
                    </div>
                    <div>
                        <label class="control-label">{{ 'label.role' | translate }}</label>
                        <select ng-model="formData.role">
                            <option ng-repeat="role in roles" value="{{role.id}}">{{role.name}}</option>
                        </select>
                    </div>
                    <br/>
                    <div>
                        <button type="button" class="btn btn-primary" data-ng-click="cancel(group.id)">{{ 'label.cancel' | translate }}</button>
                        <button type="button" class="btn btn-primary" data-ng-click="addrole(group.id)">{{ 'label.add' | translate }}</button>
                    </div>
                </div>
                <hr/>
            </form>
        </div>
        <table class="table ">
            <thead>
                <tr>
                    <th>{{ 'label.role' | translate }}</th>
                    <th>{{ 'label.form.name' | translate }}</th>
                    <th>{{ 'label.clientid' | translate }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="grouprole in group.groupRoles" >
                    <td>{{grouprole.role.name}}</td>
                    <td><a href="#viewclient/{{member.id}}">{{grouprole.clientName}}</a></td>
                    <td>{{grouprole.clientId}}</td>
                    <td><button type="button" class="btn btn-primary" data-ng-click="delrole(grouprole.id)">{{ 'label.unassign' | translate }}</button></td>
                </tr>
            </tbody>
        </table>
    </tab>
   </tabset>
 </div>
</div>

