<div ng-controller="ViewGroupController">
 <div>
   <ul class="breadcrumb">
    <li>
        <i class="icon-group icon-2x"></i>
    </li>
    <li>
        <h3>
            &nbsp;
            <strong>{{group.name}}</strong>
            &nbsp;
            <i class="icon-circle {{group.status.code | StatusLookup}}"></i>
            &nbsp;
        </h3>
    </li>
    <li><span class="divider">|</span>
        <i class="icon-barcode"></i>
        <small>{{ 'label.uniquelyidentifiedwithid' | translate }} {{group.id}}&nbsp;</small>
    </li>
    <li><span class="divider">|</span>
        <i class="icon-building"></i>
        <small>{{ 'label.heading.office' | translate }}: "{{group.officeName}}" </small>
    </li>
    <li data-ng-show="group.centerName"><span class="divider">|</span>
       <i class="icon-map-marker"></i>
       <small>{{ 'label.heading.center' | translate }}:"{{group.centerName}}" </small>
    </li>
   </ul>
 </div>
 <div>
   <tabset style="margin-bottom: 0;">
    <tab heading="{{ 'label.heading.general' | translate }}">
        <div class="row-fluid">
            <div class="row-fluid primarydiv">
                <div class="btn-group pull-right" data-ng-hide="group.status.value == 'Closed'">
                    <a href="#/editgroup/{{group.id}}?managecode=2" class="btn btn-primary" data-ng-hide="group.status.value=='Active'"><i class="icon-check-sign icon-white"></i>{{ 'label.button.activate' | translate }}</a>
                    <a href="#/editgroup/{{group.id}}?managecode=1" class="btn btn-primary"><i class="icon-edit icon-white"></i>{{ 'label.button.edit' | translate }}</a>
                    <a ng-show="group.active" href="#/new_group_saving_application/{{group.id}}" class="btn btn-primary"><i class="icon-plus icon-white"></i>{{ 'label.button.groupsavingapplication' | translate }}</a>
                    <a ng-show="group.active" href="#/newgrouploanaccount/{{group.id}}" class="btn btn-primary"><i class="icon-plus icon-white"></i>{{ 'label.button.grouploanapplication' | translate }}</a>
                    <a ng-show="group.active" href="#/newjlgloanaccount/{{group.id}}" class="btn btn-primary"><i class="icon-plus icon-white"></i>{{ 'label.button.jlgloanapplication' | translate }}</a>
                    <span class="btn-group">
                      <a class="btn btn-primary dropdown-toggle">
                          {{ 'label.button.more' | translate}}
                          <span class="caret"></span>
                      </a>
                      <ul style='margin-left:-98px;' class="dropdown dropdown-menu">
                          <li>
                              <a href="#/assignstaff/{{group.id}}/groups" data-ng-hide="group.staffId">{{ 'label.button.assignstaff' | translate }}</a>
                          </li>
                          <li>
                              <a data-ng-click="unassignStaffGroup()" data-ng-show="group.staffId">{{ 'label.button.unassignstaff' | translate }}</a>
                          </li>
                          <li>
                              <a data-ng-click="deleteGroup()" data-ng-hide="group.status.value=='Active'">{{ 'label.button.delete' | translate }}</a>
                          </li>
                          <li>
                              <a href="#/closegroup/{{group.id}}">{{ 'label.button.close' | translate }}</a>
                          </li>
                          <li>
                            <span ng-hide="group.centerId">
                              <a href="#/attachmeeting/{{group.id}}/groups" data-ng-hide="group.collectionMeetingCalendar">{{ 'label.button.attachmeeting' | translate }}</a>
                            </span>
                          </li>
                      </ul>
                    </span>
                </div>
            </div>
            <br/>
            <script type="text/ng-template" id="deletegroup.html">
                <div class="modal-header silver">
                    <h3 class="bolder">{{'label.heading.delete' | translate}}</h3>
                </div>
                <div class="modal-body">
                    <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
                    <button class="btn btn-primary" ng-click="delete()">{{'label.button.confirm' | translate}}</button>
                </div>
            </script>
            <script type="text/ng-template" id="groupunassignstaff.html">
                <div class="modal-header silver">
                    <h3 class="bolder">{{'label.heading.unassignstaff' | translate}}</h3>
                </div>
                <div class="modal-body">
                    <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
                    <button class="btn btn-primary" ng-click="unassign()">{{'label.button.confirm' | translate}}</button>
                </div>
            </script>
            <div class="row-fluid">
            <div class="span6">
                <div data-ng-show="group.status.value=='Closed'">
                    <h3>{{'label.heading.groupclosed' | translate}}</h3>
                </div>
                <table class="table view-table table-bordered">
                    <tr data-ng-show="group.name">
                        <td class="table-bold">{{'label.heading.name' | translate}}</td>
                        <td><span class="padded-td">{{group.name}}</span></td>
                    </tr>
                    <tr>
                        <td class="table-bold">{{ 'label.heading.activationdate' | translate }}</td>
                        <td><span class="padded-td">{{group.activationDate | DateFormat}}<span data-ng-hide="group.activationDate">{{ 'label.notactivated' | translate }}</span></span></td>
                    </tr>
                    <tr>
                        <td class="table-bold">{{ 'label.heading.staff' | translate }}</td>
                        <td><span class="padded-td">{{group.staffName}}<span data-ng-hide="group.staffName">{{ 'label.unassigned' | translate }}</span></span></td>
                    </tr>
                    <tr>
                        <th class="table-bold">{{ 'label.input.externalid' | translate }}</th>
                        <td><span class="padded-td">{{group.externalId}}<span data-ng-hide="group.externalId">{{ 'label.notprovided' | translate }}</span></span></td>
                    </tr>
                    <tr>
                        <td class="table-bold">{{ 'label.heading.nextmeetingon' | translate }}</td>
                        <td><span class="padded-td">{{group.collectionMeetingCalendar.nextTenRecurringDates[0] | DateFormat}}&nbsp;
                            <a href="#/editcalendar/groups/{{group.id}}/{{group.collectionMeetingCalendar.id}}" ng-show="group.collectionMeetingCalendar"><i class="icon-edit icon-white"></i></a>
                            <span style="margin-left:-7px" data-ng-hide="group.collectionMeetingCalendar.nextTenRecurringDates[0]">{{ 'label.unassigned' | translate }}</span> </span>
                        </td>
                    </tr>
                    <tr data-ng-show="group.collectionMeetingCalendar.humanReadable">
                        <td class="table-bold">{{ 'label.heading.meetingfrequency' | translate }}</td>
                        <td><span class="padded-td">{{group.collectionMeetingCalendar.humanReadable}}</span></td>
                    </tr>
                    <tr data-ng-show="group.centerName">
                        <td class="table-bold">{{ 'label.heading.center' | translate }}</td>
                        <td><span class="padded-td"><a style="color: #555555" href="#/viewcenter/{{group.centerId}}">{{group.centerName}}</a></span></td>
                    </tr>
                    <tr data-ng-show="group.status.value=='Closed'">
                        <td class="table-bold">{{ 'label.heading.closedate' | translate }}</td>
                        <td><span class="padded-td">{{group.timeline.closedOnDate | DateFormat}}</span></td>
                    </tr>
                </table>
            </div>
            <div class="span5">
                <table class="table paddedsummary table-striped">
                    <thead>
                    <tr class="graybg">
                        <th colspan="2">{{ 'label.heading.summary' | translate }}</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>{{ 'label.numofactiveclient' | translate }}</td>
                        <td>{{summary.activeClients}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'label.numofactivegrouploans' | translate }}</td>
                        <td>{{summary.activeGroupLoans}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'label.numofactiveclientloans' | translate }}</td>
                        <td>{{summary.activeGroupLoans}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'label.numofactivegroupborrowers' | translate }}</td>
                        <td>{{summary.activeGroupBorrowers}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'label.numofactiveclientborrowers' | translate }}</td>
                        <td>{{summary.activeClientBorrowers}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'label.numofactiveoverduegrouploans' | translate }}</td>
                        <td>{{summary.overdueGroupLoans}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'label.numofactiveoverdueclientloans' | translate }}</td>
                        <td>{{summary.overdueClientLoans}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row-fluid">
            <div class="pull-right" style="margin-top:10px ">
              <span data-ng-show="groupAccounts.loanAccounts">
                  <button data-ng-show="openLoan" type="button" class="btn-primary btn" data-ng-click="setLoan()">{{ 'label.button.viewclosedloans' | translate }}</button>
                  <button data-ng-show="!openLoan" type="button" class="btn-primary btn" data-ng-click="setLoan()">{{ 'label.button.viewactiveloans' | translate }}</button>
              </span>
              <span data-ng-show="groupAccounts.savingsAccounts">
                  <button data-ng-show="openSaving" type="button" data-ng-click="setSaving()" class="btn-primary btn">{{ 'label.button.viewclosedsavings' | translate }}</button>
                  <button data-ng-show="!openSaving" type="button" data-ng-click="setSaving()" class="btn-primary btn">{{ 'label.button.viewactivesavings' | translate }}</button>
              </span>
            </div>
            <div data-ng-show="groupAccounts.loanAccounts">
                <div class="span gray-head" style="margin-left:0%">
                  <span style="margin-left: 10px;font-size:20px">
                        <strong>{{ 'label.heading.loanaccoverview' | translate }}</strong>
                  </span>
                </div>
                <br/>
                <table class="table" data-ng-show="openLoan">
                    <thead>
                    <tr class="graybg">
                        <th style="width: 250px">{{ 'label.heading.products' | translate }}</th>
                        <th style="width: 150px">{{'label.heading.accnum' | translate}}</th>
                        <th style="width: 150px">{{'label.heading.type' | translate}}</th>
                        <th>{{ 'label.heading.status' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="pointer-main" ng-repeat="loanaccount in groupAccounts.loanAccounts | orderBy:'productName':reverse | filter:isLoanNotClosed" >
                        <td class="pointer" data-ng-click="routeToLoan(loanaccount.id)"> {{loanaccount.productName}}</td>
                        <td class="pointer" data-ng-click="routeToLoan(loanaccount.id)">{{loanaccount.accountNo}}</td>
                        <td class="pointer" data-ng-click="routeToLoan(loanaccount.id)">{{loanaccount.loanType.value}}</td>
                        <td class="pointer" data-ng-click="routeToLoan(loanaccount.id)"><i class="icon-stop {{loanaccount.status.code | StatusLookup}}"></i>{{loanaccount.status.value}}</td>
                    </tr>
                    </tbody>
                </table>
                <table class="table" data-ng-show="!openLoan">
                    <thead>
                    <tr class="graybg">
                        <th style="width: 250px">{{ 'label.heading.products' | translate }}</th>
                        <th style="width: 150px">{{'label.heading.accnum' | translate}}</th>
                        <th style="width: 150px">{{'label.heading.type' | translate}}</th>
                        <th>{{ 'label.heading.status' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="pointer-main" ng-repeat="loanaccount in groupAccounts.loanAccounts| orderBy:'productName':reverse | filter:isLoanClosed" >
                        <td class="pointer" data-ng-click="routeToLoan(loanaccount.id)"> {{loanaccount.productName}}</td>
                        <td class="pointer" data-ng-click="routeToLoan(loanaccount.id)">{{loanaccount.accountNo}}</td>
                        <td class="pointer" data-ng-click="routeToLoan(loanaccount.id)">{{loanaccount.loanType.value}}</td>
                        <td class="pointer" data-ng-click="routeToLoan(loanaccount.id)"><i class="icon-stop {{loanaccount.status.code | StatusLookup}}"></i>{{loanaccount.status.value}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div data-ng-show="groupAccounts.savingsAccounts">
                  <div class="span gray-head" style="margin-left:0%">
                      <span style="margin-left: 10px;font-size:20px">
                            <strong>{{'label.heading.savingsaccoverview' | translate }}</strong>
                      </span>
                  </div>
                  <br/>
                  <table class="table" data-ng-show="openSaving">
                      <thead>
                        <tr class="graybg">
                            <th style="width: 250px">{{ 'label.heading.products' | translate }}</th>
                            <th style="width: 150px">{{ 'label.heading.accnum' | translate }}</th>
                            <th style="width: 150px">{{ 'label.heading.balance' | translate }}</th>
                            <th>{{ 'label.heading.status' | translate }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="pointer-main" ng-repeat="savingaccount in groupAccounts.savingsAccounts | orderBy:'productName':reverse | filter:isSavingNotClosed">
                            <td class="pointer" data-ng-click="routeToSaving(savingaccount.id)">{{savingaccount.productName}}</td>
                            <td class="pointer" data-ng-click="routeToSaving(savingaccount.id)">{{savingaccount.accountNo}}</td>
                            <td class="pointer" data-ng-click="routeToSaving(savingaccount.id)">{{savingaccount.accountBalance}}</td>
                            <td class="pointer" data-ng-click="routeToSaving(savingaccount.id)"><i class="icon-stop {{savingaccount.status.code | StatusLookup}}"></i>{{savingaccount.status.value}}</td>
                        </tr>
                      </tbody>
                  </table>
                  <table class="table" data-ng-show="!openSaving">
                        <thead>
                        <tr class="graybg">
                            <th style="width: 250px">{{ 'label.heading.products' | translate }}</th>
                            <th style="width: 150px">{{ 'label.heading.accnum' | translate }}</th>
                            <th>{{ 'label.heading.status' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="pointer-main" ng-repeat="savingaccount in groupAccounts.savingsAccounts | orderBy:'productName':reverse | filter:isSavingClosed">
                            <td class="pointer" data-ng-click="routeToSaving(savingaccount.id)">{{savingaccount.productName}}</td>
                            <td class="pointer" data-ng-click="routeToSaving(savingaccount.id)">{{savingaccount.accountNo}}</td>
                            <td class="pointer" data-ng-click="routeToSaving(savingaccount.id)"><i class="icon-stop {{savingaccount.status.code | StatusLookup}}"></i>{{savingaccount.status.value}}</td>
                        </tr>
                        </tbody>
                  </table>
            </div>
            </div>
      </div>
    </tab>
    <tab heading="{{ 'label.heading.members' | translate }}">
        <div class="row-fluid">
            <div class="row-fluid primarydiv" data-ng-hide="group.status.value == 'Closed'">
                <a href="#/addmember?groupId={{group.id}}&officeId={{group.officeId}}" class="btn btn-primary pull-right"><i class="icon-plus-sign-alt icon-white"></i>{{ 'label.button.add' | translate }}</a>
                <a href="#/membermanage/{{group.id}}?managecode=2" class="btn btn-primary pull-right">{{ 'label.button.disassociatemember' | translate }}</a>
                <a href="#/membermanage/{{group.id}}?managecode=1" class="btn btn-primary pull-right">{{ 'label.button.associatemember' | translate }}</a>
                <a href="#/groupattendance?groupId={{group.id}}&calendarId={{group.collectionMeetingCalendar.id}}" data-ng-show="group.collectionMeetingCalendar" class="btn btn-primary pull-right">{{ 'label.button.attendance' | translate }}</a>
                <a href="#/transferclients/{{group.id}}" class="btn btn-primary pull-right">{{ 'label.button.transferclients' | translate }}</a>
            </div>
        </div>
        <table class="table" width="100%">
            <thead>
                 <th>{{'label.heading.accnum' | translate}}</th>
                 <th>{{'label.heading.name' | translate}}</th>
                 <th>{{ 'label.heading.status' | translate }}</th>
            </thead>
            <tbody>
               <tr class="pointer-main" ng-repeat="member in group.clientMembers">
                <td class="pointer" data-ng-click="routeToMem(member.id)">{{member.accountNo}}</td>
                <td class="pointer" data-ng-click="routeToMem(member.id)">{{member.displayName}}</td>
                <td class="pointer" data-ng-click="routeToMem(member.id)"> <i class="icon-stop {{member.status.code | StatusLookup}}"></i>{{member.status.value}}</td>
               </tr>
            </tbody>
        </table>
    </tab>
    <tab heading="{{ 'label.heading.notes' | translate }}">
        <br/>
        <form>
            <div class="control-group">
                <div class="controls">
                    <textarea rows="1" class="field span marginbottom0px" id="textarea" placeholder="{{ 'label.input.enternote' | translate }}" ng-model="formData.note"></textarea>
                    <div class="notewrapper row-fluid">
                        <span class="pull-right noteaddbuttonwrapper">
                            <button class="btn btn-primary" type="submit" ng-click="saveNote()">{{ 'label.button.add' | translate }}</button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <div ng-repeat="groupNote in groupNotes | orderBy:predicate:reverse">
            <div>
                <blockquote>
                    <p>{{groupNote.note}}</p>
                    {{groupNote.id}}
                    <small>{{'label.createdby' | translate}} :&nbsp;{{groupNote.createdByUsername}}</small>
                    <small>{{'label.createdon' | translate}} :&nbsp;{{groupNote.createdOn | DateFormat}}</small>
                </blockquote>
            </div>
        </div>
        </ul>
    </tab>
    <tab heading="{{ 'label.heading.committee' | translate }}">
        <div class="row-fluid">
            <div class="row-fluid primarydiv" data-ng-hide="group.status.value == 'Closed'">
                <a href="#/addrole/{{group.id}}" class="btn btn-primary pull-right"><i class="icon-plus-sign-alt icon-white"></i>{{ 'label.button.add' | translate }}</a>
            </div>
        </div>
        <table class="table ">
            <thead>
                <tr>
                    <th>{{ 'label.heading.role' | translate }}</th>
                    <th>{{ 'label.heading.name' | translate }}</th>
                    <th>{{ 'label.heading.clientid' | translate }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="grouprole in group.groupRoles" >
                    <td>{{grouprole.role.name}}</td>
                    <td><a href="#viewclient/{{member.id}}">{{grouprole.clientName}}</a></td>
                    <td>{{grouprole.clientId}}</td>
                    <td><button type="button" class="btn btn-primary" data-ng-hide="group.status.value == 'Closed'" data-ng-click="delrole(grouprole.id)">{{ 'label.button.unassign' | translate }}</button></td>
                </tr>
            </tbody>
        </table>
    </tab>
        <tab heading="{{groupdatatable.registeredTableName}}" ng-repeat="groupdatatable in groupdatatables" select="dataTableChange(groupdatatable)">
            <div>
                  <a ng-show="datatabledetails.isData" class="btn btn-danger pull-right" ng-click="deleteAll(groupdatatable.registeredTableName, group.id)"><i class="icon-trash icon-white"></i>{{'label.button.deleteall' | translate}}</a>
                  <span ng-show="!datatabledetails.isData || datatabledetails.isMultirow" class="pull-right ">
                    <a href="#/makedatatableentry/{{groupdatatable.registeredTableName}}/{{group.id}}" class="btn btn-primary"><i class="icon-plus icon-white"></i>{{'label.button.add' | translate}}</a>
                  </span></br>
                        <div ng-show="datatabledetails.isData">
                    <table class="table" data-ng-show="datatabledetails.isMultirow">
                        <thead>
                        <th ng-repeat="column in datatabledetails.columnHeaders">{{column.columnName}}</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in datatabledetails.data">
                            <td ng-repeat="row in data.row">
                    <span ng-show="$index == 0">
                      <a href="#/viewdatatableentry/{{groupdatatable.registeredTableName}}/{{group.id}}/{{data.row[0]}}" ng-show="datatabledetails.isMultirow">{{row}}</a>
                      <a href="#/viewdatatableentry/{{groupdatatable.registeredTableName}}/{{group.id}}/" ng-hide="datatabledetails.isMultirow">{{row}}</a>
                    </span>
                                <span ng-hide="$index == 0">{{row}}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered" data-ng-show="!datatabledetails.isMultirow" style="width: 450px">
                        <tr ng-repeat="value in singleRow">
                            <td class="graybg" style="font-weight: bold">{{value.key}}</td>
                            <td><span class="padded-td">{{value.value}}</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </tab>
   </tabset>
 </div>
</div>

