<div class="col-md-12" ng-controller="ViewProvisioningCriteriaController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li><a href="#/viewallprovisionings">{{'label.anchor.provisioningcriteria' | translate}}</a></li>
        <li class="active">{{'label.anchor.viewprovisioningcriteria' | translate}}</li>
    </ul>
    <form name="createprovisioningcriteriaform" novalidate="" class="form-horizontal well" rc-submit="submit()">
        <api-validate></api-validate>
        <fieldset>
            <h3 class="bolder">{{criterianame}}
                <div class="btn-group pull-right">
                    <a href="#/editprovisioningcriteria/{{criteriaId}}" class="btn btn-primary" has-permission='UPDATE_CHARGE'><i class="icon-edit icon-white"></i>{{'label.button.edit' | translate}}</a>
                    <button type="button" data-ng-click="deleteProvisionigCriteria()" class="btn btn-warning" has-permission='DELETE_CHARGE'><i
                            class="icon-trash icon-white"></i>{{'label.button.delete' | translate}}
                    </button>
                </div>
            </h3>
            <hr>
            <label class="control-label col-sm-2">{{'label.input.loanproduct' | translate}}</label>
            <div class="col-sm-8">
                <textarea type="text" rows="3" name="loanproducts" ng-model="formattedProductNames" class="form-control" disabled></textarea>
            </div>
            <table class="table" class="width100" ng-show="categories.length>0">
                <tr class="graybg">
                    <th>{{'label.heading.provisioningcategory' | translate}}</th>
                    <th>{{'label.heading.minimumage' | translate}}</th>
                    <th>{{'label.heading.maximumage' | translate}}</th>
                    <th>{{'label.heading.provisioningpercentage' | translate}}</th>
                    <th>{{'label.heading.provisioningliabilityaccount' | translate}}</th>
                    <th>{{'label.heading.provisioningexpenseaccount' | translate}}</th>
                </tr>
                <tr ng-repeat="provisioningcategory in categories">
                    <td>{{provisioningcategory.categoryName}}</td>
                    <td>{{provisioningcategory.minAge}}</td>
                    <td>{{provisioningcategory.maxAge}}</td>
                    <td>{{provisioningcategory.provisioningPercentage}}</td>
                    <td>{{provisioningcategory.liabilityCode}}</td>
                    <td>{{provisioningcategory.expenseCode}}</td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>
