<form name="addgroupform" novalidate="" class="form-horizontal well" ng-controller="AddGroupController" rc-submit="submit()">
    <api-validate></api-validate>
    <fieldset>
        <legend>{{'label.heading.addgroup' | translate}}</legend>

        <div class="form-group">
            <label class="control-label" for="staffid">{{ 'label.input.staff' | translate }}</label>
            <div class="controls">
                <select ng-model="formData.staffId" id="staffid">
                    <option ng-repeat="staff in groupTemplate.staffOptions" value="{{staff.id}}">{{staff.displayName}}</option>
                </select>
            </div>
        </div>
        <div>
            <div class="form-group">
                <label class="control-label" for="fullname">{{ 'label.input.name' | translate }}<span class="required">*</span></label>
                <div class="controls">
                    <input type="text" id="fullname" name="fullname" ng-model="formData.name" required="" late-validate="" class="form-control">
                    <form-validate valattributeform="addgroupform" valattribute="fullname">
                </form-validate></div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="externalid">{{ 'label.input.externalid' | translate }}</label>
            <div class="controls">
                <input type="text" id="externalid" ng-model="formData.externalId" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="staffId">{{'label.input.addclients' | translate}}</label>
            <div class="controls">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <label class="control-label">{{ 'label.input.availableclients' | translate }}</label>
                        <select multiple="" id="clientMembers" ng-model="available">
                            <option ng-repeat="member in clients" value="{{member.id}}">{{member.displayName}}</option>
                        </select>
                    </div>
                    <div class="paddedtop10 paddedleft0 col-sm-2 col-md-2">
                        <button type="button" class="btn angled-btn btn-primary" data-ng-click="add()"><i class="icon-double-angle-right"></i></button><br>
                        <button type="button" class="btn angled-btn btn-primary" data-ng-click="sub()"><i class="icon-double-angle-left"></i></button>
                    </div>
                    <div class="angled-textarea col-sm-3 col-md-3">
                        <label class="control-label">{{ 'label.input.selectedclients' | translate }}</label>
                        <select multiple="" ng-model="added">
                            <option ng-repeat="client in addedClients" value="{{client.id}}">{{client.displayName}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">{{'label.input.submittedon' | translate}}:</label>
            <div class="controls">
                <input id="submittedon" type="text" name="submittedon" datepicker-pop="dd MMMM yyyy" ng-model="first.submitondate" is-open="opened" min="'2000-01-01'" max="restrictDate" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="active">{{ 'label.input.active' | translate }}</label>
            <div class="controls">
                <input type="checkbox" data-ng-click="setChoice()" id="active" ng-model="formData.active">
            </div>
        </div>
        <div data-ng-switch="" on="choice">
            <div class="form-group" data-ng-switch-when="1">
                <label class="control-label">{{'label.input.activationdate' | translate}}</label>
                <div class="controls">
                    <input id="activationDate" type="text" datepicker-pop="dd MMMM yyyy" ng-model="first.date" is-open="opened" min="'2000-01-01'" max="restrictDate" class="form-control">
                 </div>
            </div>
        </div>
        <div class="paddedleft120 col-lg-offset-2">
            <a id="cancel" href="#/viewcenter/{{groupTemplate.centerId}}" class="btn btn-default">{{ 'label.button.cancel' | translate }}</a>
            <button id="save" type="submit" class="btn btn-primary">{{ 'label.button.save' | translate }}</button>
        </div>
    </fieldset></form>

