<form name="addgroupform" novalidate="" class="col-md-12 form-horizontal well" ng-controller="AddGroupController" rc-submit="submit()">
    <api-validate></api-validate>
    <fieldset>
        <legend>{{'label.heading.addgroup' | translate}}</legend>

        <div class="form-group">
            <label class="control-label col-sm-2" for="staffid">{{ 'label.input.staff' | translate }}</label>

            <div class="col-sm-3">
                <select ng-model="formData.staffId" id="staffid" class="form-control">
                    <option ng-repeat="staff in groupTemplate.staffOptions" value="{{staff.id}}">{{staff.displayName}}
                    </option>
                </select>
            </div>
        </div>
        <div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="fullname">{{ 'label.input.name' | translate }}<span
                        class="required">*</span></label>

                <div class="col-sm-3">
                    <input type="text" id="fullname" name="fullname" ng-model="formData.name" class="form-control" required late-Validate/>
                    <form-validate valattributeform="addgroupform" valattribute="fullname"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="externalid">{{ 'label.input.externalid' | translate }}</label>

            <div class="col-sm-3">
                <input type="text" id="externalid" ng-model="formData.externalId" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="staffId">{{'label.input.addclients' | translate}}</label>

            <div class="col-sm-9 col-md-9">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <label class="control-label col-sm-10">{{ 'label.input.availableclients' | translate }}</label>
                        <select multiple id="clientMembers" ng-model="available" class="form-control col-md-8 multiselectmin">
                            <option ng-repeat="member in clients" value="{{member.id}}">{{member.displayName}}</option>
                        </select>
                    </div>
                    <div class="col-sm-2 col-md-1 paddedtop10">
                        <button type="button" class="btn angled-btn btn-primary" data-ng-click="add()"><i
                                class="icon-double-angle-right"></i></button>
                        <br/>
                        <button type="button" class="btn angled-btn btn-primary" data-ng-click="sub()"><i
                                class="icon-double-angle-left"></i></button>
                    </div>
                    <div class="col-sm-4 col-md-4 paddedleft angled-textarea">
                        <label class="control-label col-sm-10">{{ 'label.input.selectedclients' | translate }}</label>
                        <select multiple ng-model="added" class="form-control col-md-8 multiselectmin">
                            <option ng-repeat="client in addedClients" value="{{client.id}}">{{client.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">{{'label.input.submittedon' | translate}}:</label>

            <div class="col-sm-3">
                <input id="submittedon" type="text" name="submittedon" datepicker-pop="dd MMMM yyyy"
                       ng-model="first.submitondate" is-open="opened" min="'2000-01-01'" max="restrictDate" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="active">{{ 'label.input.active' | translate }}</label>

            <div class="col-sm-3">
                <input type="checkbox" data-ng-change="setChoice()" id="active" ng-model="formData.active">
            </div>
        </div>
        <div data-ng-switch on="choice">
            <div class="form-group" data-ng-switch-when="1">
                <label class="control-label col-sm-2">{{'label.input.activationdate' | translate}}</label>

                <div class="col-sm-3">
                    <input id="activationDate" type="text" datepicker-pop="dd MMMM yyyy" ng-model="first.date"
                           is-open="opened" min="'2000-01-01'" max="restrictDate" class="form-control"/>
                </div>
            </div>
        </div>
        <div class="col-md-offset-2 paddedleft120">
            <a id="cancel" href="#/viewcenter/{{groupTemplate.centerId}}" class="btn btn-default">{{ 'label.button.cancel' |
                translate }}</a>
            <button id="save" type="submit" class="btn btn-primary" has-permission='CREATE_GROUP'>{{ 'label.button.save' | translate }}</button>
        </div>
    </fieldset>
</form>


