<div ng-controller="BulkUndoTransactionsController">
    <ul class="breadcrumb">
        <li><a href="#/viewcenter/{{centerId}}"><strong>{{center.name}}</strong></a></li>
        <li class="active">{{'label.anchor.bulkundotransactions' | translate}}</li>
    </ul>
    <form name="bulkundotransactions" novalidate="" class="well form-inline">
        <api-validate></api-validate>

        <div class="row">
            <div class="col-sm-6 text-right">
                <label>{{ 'label.heading.transactionDate' | translate }}<span class="required">*</span>:&nbsp;</label>

                <input id="txnDate" type="text" name="txnDate" datepicker-pop="dd MMMM yyyy" ng-model="transactionsDate"
                       is-open="opened" class="form-control"/>
            </div>
            <div class="col-sm-6">
                <button id="getLoanRepayments" type="submit" class="btn btn-primary"
                        ng-click="getLoanRepaymentDetails()">{{'label.button.preview' | translate}}
                </button>
            </div>
        </div>
        <div class="row">
            <p></p>Select All :
                <input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" />
            <table class="table table-condensed">
                <thead>
                <tr class="active">
                    <th>{{'label.menu.select' | translate}}</th>
                    <th>{{'label.input.transactionid' | translate}}</th>
                    <th>{{'label.heading.clientnamewithaccountnumber' | translate}}</th>
                    <th>{{'label.heading.productnamewithloanId' | translate}}</th>
                    <th>{{'label.heading.transactionamount' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="txnData in transactionData" ng-init="outerIndex = $index">
                    <td>
                        <input type="checkbox" ng-model="transactionData[outerIndex].isSelected">
                    </td>
                    <td>{{txnData.transactions[0].id}}</td>
                    <td>{{txnData.clientName}}({{txnData.accountNo}})</td>
                    <td>{{txnData.loanProductName}}({{txnData.id}})</td>
                    <td>{{txnData.transactions[0].amount}}</td>
                </tr>
                <tbody>
            </table>

            <div class="col-md-offset-6">
                <button id="cancel" type="reset" class="btn btn-default" ng-click="cancel()">{{'label.button.cancel' |
                    translate}}
                </button>
                <button id="save" type="submit" class="btn btn-primary"
                        ng-click="submit()">{{'label.button.save' | translate}}
                </button>
            </div>
        </div>

    </form>
</div>