<div>
    <ul class="breadcrumb">
        <li class="active">{{'label.anchor.centers' | translate}}</li>
    </ul>
    <div class="pull-right">
        <a href="#/createcenter" class="btn btn-primary"><i class="icon-plus icon-white"></i>{{'label.button.createcenter' | translate}}</a>
    </div>
</div>
<div class="row-fluid" ng-controller="CenterController">
    <input ng-autofocus="true" ng-model="filterText" type="text" class="span marginbottom0px" placeholder="{{'label.input.filterbynameheadoffice' | translate}}">
    <table class="table">
        <thead>
        <tr class="graybg">
            <th>{{'label.heading.name' | translate}}</th>
            <th>{{'label.heading.status' | translate}}</th>
            <th>{{'label.heading.office' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr class="pointer-main" ng-repeat="center in centers.currentPageItems| orderBy:'name':reverse  | filter:filterText">
            <td class="pointer" data-ng-click="routeTo(center.id)">{{center.name}}</td>
            <td class="pointer" data-ng-click="routeTo(center.id)"><i class="icon-stop {{center.status.code | StatusLookup}}"></i>{{center.status.value}}</td>
            <td class="pointer" data-ng-click="routeTo(center.id)">{{center.officeName}}</td>
        </tr>
        </tbody>
    </table>
    <ul class="pager">
        <li class="previous"><a id="prev" ng-click="centers.previous()" ng-hide="!centers.hasPrevious()">&larr; {{'label.button.previous' | translate}}</a></li>
        <li class="next" ><a id="next" ng-click="centers.next()" ng-hide="!centers.hasNext()">{{'label.button.next' | translate}} &rarr;</a></li>
    </ul>
</div>