<form class="well" data-ng-controller="CloseCenterController">
    <api-validate></api-validate>
    <div class="paddedleft">
        <h3><strong>{{ 'label.heading.confirm' | translate }}</strong></h3>
        <div>
            <label class="control-label">{{ 'label.input.closuredate' | translate }}<span class="required">*</span></label>
            <input  id="closureDate" type="text" datepicker-pop="dd MMMM yyyy" ng-model="first.date" is-open="opened" min="'2000-01-01'" max="restrictDate"/>
        </div>
        <div>
            <label class="control-label">{{ 'label.input.closurereason' | translate }}<span class="required">*</span></label>
            <select id="closureReasonId" ng-model="formData.closureReasonId" ng-options="reason.id as reason.name for reason in template.closureReasons" value="{{reason.id}}">
            </select>
        </div>
        <br/>
        <div class="offset1">
            <a id="cancel" href="#/viewcenter/{{center.id}}" class="btn">{{ 'label.button.cancel' | translate }}</a>
            <button id="save" type="button" class="btn btn-primary" data-ng-click="closeGroup()">{{ 'label.button.close' | translate }}</button>
        </div>
    </div>
</form>