<div>
    <ul class="breadcrumb">
        <li><a href="#/centers">{{'label.anchor.centers' | translate}}</a> <span class="divider">/</span></li>
        <li class="active">{{'label.anchor.createcenter' | translate}}</li>
    </ul>
</div>
<form name="createcenterform" novalidate="" class="form-horizontal well" ng-controller="CreateCenterController" rc-submit="submit()">
    <api-validate></api-validate>
    <fieldset>
        <legend>{{'label.heading.createcenter' | translate}}</legend>

        <div class="control-group">
            <label class="control-label" for="name">{{'label.input.name' | translate}}<span class="required">*</span></label>
            <div class="controls">
                <input ng-autofocus="true" type="text" id="name" name="name" ng-model="formData.name" required  late-Validate/>
                <form-validate valattributeform="createcenterform" valattribute="name"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{'label.input.office' | translate}}<span class="required">*</span></label>
            <div class="controls">
                <select id="officeId" ng-model="formData.officeId" ng-options="office.id as office.name for office in offices" value="{{office.id}}" ng-change="changeOffice()">
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{'label.input.staff' | translate}}</label>
            <div class="controls">
                <select id="staffId" ng-model="formData.staffId" ng-options="staff.id as staff.displayName for staff in staffs" value="{{staff.id}}">
                    <option value="">{{'label.menu.selectstaff' | translate}}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="active">{{'label.input.active' | translate}}</label>
            <div class="controls">
                <input type="checkbox" id="active" data-ng-click="setChoice()" ng-model="formData.active">
            </div>
        </div>
        <div data-ng-switch on="choice">
            <div class="control-group" data-ng-switch-when="1">
                <label class="control-label">{{'label.input.activationdate' | translate}}<span class="required">*</span></label>
                <div class="controls">
                    <input  id="activationDate" type="text" datepicker-pop="dd MMMM yyyy" ng-model="first.date" is-open="opened" min="'2000-01-01'" max="restrictDate"/>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="externalid">{{'label.input.externalid' | translate}}</label>
            <div class="controls">
                <input type="text" id="externalId" ng-model="formData.externalId">
            </div>
        </div>
        <div class="control-group">
          <label class="control-label">{{'label.input.submittedon' | translate}}:</label>
          <div class="controls">
            <input  id="submittedon" type="text" name="submittedon" datepicker-pop="dd MMMM yyyy" ng-model="first.submitondate" is-open="opened" min="'2000-01-01'" max="restrictDate"/>
          </div>
        </div>
        <div class="offset2 paddedleft120">
            <a id="cancel" href="#/centers" class="btn">{{'label.button.cancel' | translate}}</a>
            <button id="save" type="submit" class="btn btn-primary">{{'label.button.save' | translate}}</button>
        </div>
    </fieldset>
</form>