<div ng-controller="EditCenterController">
    <div>
        <ul class="breadcrumb">
            <li><a href="#/centers">{{'link.clients.centers' | translate}}</a> <span class="divider">/</span></li>
            <li><a href='#/viewcenter/{{centerId}}'>{{'link.view.center' | translate}}</a> <span class="divider">/</span></li>
            <li class="active">{{'label.editcenter' | translate}}</li>
        </ul>
    </div>
    <div data-ng-switch on="managecode">
        <form name="editcenterform" novalidate="" class="form-horizontal well" data-ng-switch-when="2">
            <fieldset>
                <legend>{{'label.editcenter' | translate}}</legend>
                <div class="control-group">
                    <label class="control-label" for="name">{{'label.name' | translate}}<span class="required">*</span></label>
                    <div class="controls">
                        <input type="text" id="name" name="name" placeholder="{{edit.name}}" ng-model="formData.name" required  late-Validate/>
                        <span  ng-show="editcenterform.name.$invalid">
                            <small class="error">
                                Required Field
                            </small>
                        </span>
                    </div>
                </div>
                <div class="control-group info">
                    <label class="control-label" for="staffs">{{'label.staff' | translate}}</label>
                    <div class="controls">
                        <select id="staffs" ng-model="formData.staffId" data-ng-options="staff.id as staff.displayName for staff in staffs" value="{{staff.id}}">
                            <option  value="">{{'label.select.staff' | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="externalid">{{'label.externalid' | translate}}</label>
                    <div class="controls">
                        <input type="text" id="externalid"  ng-model="formData.externalId">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">{{'label.form.activationdate' | translate}}<span class="required">*</span></label>
                    <div class="controls">
                        <input type="text" datepicker-pop="dd MMMM yyyy" ng-model="first.date" is-open="opened" min="minDate" max="'2020-06-22'" date-disabled="disabled(date, mode)" required late-Validate />
                    </div>
                </div>
                <div class="offset2 paddedleft120">
                    <a href="#/viewcenter/{{edit.id}}" class="btn">{{'label.cancel' | translate}}</a>
                    <button type="button" class="btn btn-primary" data-ng-click="updateGroup()">{{'label.save' | translate}}</button>
                </div>
            </fieldset>
        </form>
        <form ng-switch-when="1">
            <div class="paddedleft">
                <div>
                    <label class="control-label">{{ 'label.enteractivationdate' | translate }}<span class="required">*</span></label>
                    <input type="text" datepicker-pop="dd MMMM yyyy" ng-model="first.date" is-open="opened" min="minDate" max="'2020-06-22'" date-disabled="disabled(date, mode)" required late-Validate />
                </div>
                <br/>
                <a href="#/viewgroup/{{edit.id}}" class="btn">{{'label.cancel' | translate}}</a>
                <button type="button" class="btn btn-primary" data-ng-click="activate()"><i class="icon-check-sign icon-white"></i>{{ 'label.activate' | translate }}</button>
            </div>
            <hr/>
        </form>
    </div>
</div>