<div ng-controller="ViewCenterController">
<div>
    <ul class="breadcrumb">
        <li>
            <i class="icon-map-marker icon-2x"></i>
        </li>
        <li>
            <h3>
                &nbsp;
                <strong>{{center.name}}</strong>
                &nbsp;
                <i class="icon-circle {{center.status.code | StatusLookup}}"></i>
                &nbsp;
            </h3>
        </li>
        <li><span class="divider">|</span>
            <i class="icon-barcode"></i>
            <small>{{ 'label.uniquelyidentifiedwithid' | translate }} {{center.id}}&nbsp;</small>
        </li>
        <li><span class="divider">|</span>
            <i class="icon-building"></i>
            <small>{{ 'label.heading.office' | translate }} "{{center.officeName}}" </small>
        </li>
    </ul>
</div>
<div>
<tabset style="margin-bottom: 0;">
<tab heading="{{ 'label.heading.general' | translate }}">
    <div class="row-fluid">
        <div class="row-fluid primarydiv">
            <div class="btn-group pull-right" data-ng-hide="center.status.value == 'Closed'">
                <a href="#/editcenter/{{center.id}}?managecode=1" class="btn btn-primary" data-ng-hide="center.status.value=='Active'"><i class="icon-check-sign icon-white"></i>{{ 'label.button.activate' | translate }}</a>
                <a href="#/editcenter/{{center.id}}?managecode=2" class="btn btn-primary"><i class="icon-edit icon-white"></i>{{ 'label.button.edit' | translate }}</a>
                <a ng-show="center.active" href="#/new_group_saving_application/{{center.id}}/center" class="btn btn-primary"><i class="icon-plus icon-white"></i>{{ 'label.button.centersavingapplication' | translate }}</a>
                <span class="btn-group">
                      <a class="btn btn-primary dropdown-toggle">
                          {{ 'label.button.more' | translate}}
                          <span class="caret"></span>
                      </a>
                      <ul style='margin-left:-98px;' class="dropdown dropdown-menu">
                          <li>
                              <a href="#/assignstaff/{{center.id}}/centers" data-ng-hide="center.staffId">{{ 'label.button.assignstaff' | translate }}</a>
                          </li>
                          <li>
                              <a data-ng-click="unassignStaffCenter()" data-ng-show="center.staffId">{{ 'label.button.unassignstaff' | translate }}</a>
                          </li>
                          <li>
                              <a data-ng-click="deleteCenter()" data-ng-hide="center.status.value=='Active'">{{ 'label.button.delete' | translate }}</a>
                          </li>
                          <li>
                              <a href="#/closecenter/{{center.id}}">{{ 'label.button.close' | translate }}</a>
                          </li>
                          <li>
                              <a href="#/attachmeeting/{{center.id}}/centers" data-ng-hide="center.collectionMeetingCalendar">{{ 'label.button.attachmeeting' | translate }}</a>
                          </li>
                      </ul>
                  </span>
            </div>
        </div>
        <br/>
        <script type="text/ng-template" id="delete.html">
            <div class="modal-header silver">
                <h3 class="bolder">{{'label.heading.delete' | translate}}</h3>
            </div>
            <div class="modal-body ">
                <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
                <button class="btn btn-primary" ng-click="delete()">{{'label.button.confirm' | translate}}</button>
            </div>
         </script>
        <script type="text/ng-template" id="unassignstaff.html">
            <div class="modal-header silver">
                <h3 class="bolder">{{'label.heading.unassignstaff' | translate}}</h3>
            </div>
            <div class="modal-body ">
                <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
                <button class="btn btn-primary" ng-click="unassign()">{{'label.button.confirm' | translate}}</button>
            </div>
        </script>
       <div class="row-fluid">
            <div class="span6">
                <div data-ng-show="center.status.value=='Closed'">
                    <h3>{{'label.heading.centerclosed' | translate}}</h3>
                </div>
                <table class="table view-table table-bordered">
                    <tr>
                        <td class="table-bold">{{'label.heading.name' | translate}}</td>
                        <td><span class="padded-td">{{center.name}}</span></td>
                    </tr>
                    <tr>
                        <td class="table-bold">{{ 'label.heading.activationdate' | translate }}</td>
                        <td><span class="padded-td">{{center.activationDate | DateFormat}}<span data-ng-hide="center.activationDate">{{ 'label.notactivated' | translate }}</span></span></td>
                    </tr>
                    <tr>
                        <td class="table-bold">{{ 'label.heading.staff' | translate }}</td>
                        <td><span class="padded-td">{{center.staffName}}<span data-ng-hide="center.staffName">{{ 'label.unassigned' | translate }}</span></span></td>
                    </tr>
                    <tr>
                        <td class="table-bold">{{ 'label.heading.nextmeetingon' | translate }}</td>
                        <td><span class="padded-td">{{center.collectionMeetingCalendar.nextTenRecurringDates[0] | DateFormat}}&nbsp;
                            <a href="#/editcalendar/centers/{{center.id}}/{{center.collectionMeetingCalendar.id}}" ng-show="center.collectionMeetingCalendar"><i class="icon-edit icon-white"></i></a>
                         <span style="margin-left:-7px" data-ng-hide="center.collectionMeetingCalendar.nextTenRecurringDates[0]">{{ 'label.unassigned' | translate }}</span></span>
                        </td>
                    </tr>
                    <tr data-ng-show="center.collectionMeetingCalendar.humanReadable">
                        <td class="table-bold">{{ 'label.heading.meetingfrequency' | translate }}</td>
                        <td><span class="padded-td">{{center.collectionMeetingCalendar.humanReadable}}</span></td>
                    </tr>
                    <tr data-ng-show="center.status.value=='Closed'">
                        <td class="table-bold">{{ 'label.heading.closedate' | translate }}</td>
                        <td><span class="padded-td">{{center.timeline.closedOnDate | DateFormat}}</span></td>
                    </tr>
                </table>
            </div>
            <div class="span5">
                <table class="table paddedsummary table-striped">
                    <thead>
                    <tr class="graybg">
                        <th colspan="2">{{ 'label.heading.summary' | translate }}</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>{{ 'label.numofactiveclient' | translate }}</td>
                        <td>{{summary.activeClients}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'label.numofactivegrouploans' | translate }}</td>
                        <td>{{summary.activeGroupLoans}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'label.numofactiveclientloans' | translate }}</td>
                        <td>{{summary.activeGroupLoans}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'label.numofactivegroupborrowers' | translate }}</td>
                        <td>{{summary.activeGroupBorrowers}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'label.numofactiveclientborrowers' | translate }}</td>
                        <td>{{summary.activeClientBorrowers}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'label.numofactiveoverduegrouploans' | translate }}</td>
                        <td>{{summary.overdueGroupLoans}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'label.numofactiveoverdueclientloans' | translate }}</td>
                        <td>{{summary.overdueClientLoans}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <br/>
        <div data-ng-show="accounts.savingsAccounts">
            <div class="span gray-head" style="margin-left:0%">
                  <span style="margin-left: 10px;font-size:20px">
                        <strong>{{'label.heading.savingsaccoverview' | translate }}</strong>
                  </span>
            </div>
            <br/>
            <table class="table">
                <thead>
                    <tr class="graybg">
                        <th>{{ 'label.heading.products' | translate }}</th>
                        <th>{{ 'label.heading.accnum' | translate }}</th>
                        <th>{{ 'label.heading.balance' | translate }}</th>
                        <th>{{ 'label.heading.status' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="pointer-main" ng-repeat="savingaccount in accounts.savingsAccounts | orderBy:'productName':reverse">
                        <td class="pointer" data-ng-click="routeTo(savingaccount.id)">{{savingaccount.productName}}</td>
                        <td class="pointer" data-ng-click="routeTo(savingaccount.id)">{{savingaccount.accountNo}}</td>
                        <td class="pointer" data-ng-click="routeTo(savingaccount.id)">{{savingaccount.accountBalance}}</td>
                        <td class="pointer" data-ng-click="routeTo(savingaccount.id)"><i class="icon-stop {{savingaccount.status.code | StatusLookup}}"></i>{{savingaccount.status.value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</tab>
<tab heading="{{ 'label.heading.groups' | translate }}">
    <div class="row-fluid">
        <div class="row-fluid primarydiv" data-ng-hide="center.status.value == 'Closed'">
            <a href="#/addgroup?centerId={{center.id}}&officeId={{center.officeId}}" class="btn btn-primary pull-right"><i class="icon-plus-sign-alt icon-white"></i>{{ 'label.button.add' | translate }}</a>
            <a href="#/centerattendance?centerId={{center.id}}&calendarId={{meeting.id}}" class="btn btn-primary pull-right" data-ng-show="center.collectionMeetingCalendar">{{ 'label.button.attendance' | translate }}</a>

        </div>
    </div>
    <table class="table" width="100%">
        <thead>
        <th>{{'label.heading.name' | translate}}</th>
        <th>{{'label.heading.office' | translate}}</th>
        <th>{{ 'label.heading.status' | translate }}</th>
        </thead>
        <tbody>
        <tr class="pointer-main" ng-repeat="group in center.groupMembers">
            <td class="pointer" data-ng-click="routeToGroup(group.id)">{{group.name}}</td>
            <td class="pointer" data-ng-click="routeToGroup(group.id)">{{group.officeName}}</td>
            <td class="pointer" data-ng-click="routeToGroup(group.id)"> <i class="icon-stop {{group.status.code | StatusLookup}}"></i>{{group.status.value}}</td>
        </tr>
        </tbody>
    </table>
</tab>
<tab heading="{{ 'label.heading.notes' | translate }}">
    <br/>
    <form>
        <div class="control-group">
            <div class="controls">
                <textarea rows="1" class="field span marginbottom0px" id="textarea" placeholder="{{ 'label.input.enternote' | translate }}" ng-model="formData.note"></textarea>
                <div class="notewrapper row-fluid">
                        <span class="pull-right noteaddbuttonwrapper">
                            <button class="btn btn-primary" type="submit" ng-click="saveNote()">{{ 'label.button.add' | translate }}</button>
                        </span>
                </div>
            </div>
        </div>
    </form>
    <div ng-repeat="note in notes | orderBy:predicate:reverse">
        <div>
            <blockquote>
                <p>{{note.note}}</p>
                {{note.id}}
                <small>{{'label.createdby' | translate}} :&nbsp;{{note.createdByUsername}}</small>
                <small>{{'label.createdon' | translate}} :&nbsp;{{note.createdOn | DateFormat}}</small>
            </blockquote>
        </div>
    </div>
    </ul>
</tab>
</tab>
    <tab heading="{{centerdatatable.registeredTableName}}" ng-repeat="centerdatatable in centerdatatables" select="dataTableChange(centerdatatable)">
        <span>
            <a ng-show="datatabledetails.isData" class="btn btn-danger pull-right" ng-click="deleteAll(centerdatatable.registeredTableName, center.id)"><i class="icon-trash icon-white"></i>{{'label.button.deleteall' | translate}}</a>
            <span ng-show="!datatabledetails.isData || datatabledetails.isMultirow" class="pull-right ">
              <a href="#/makedatatableentry/{{centerdatatable.registeredTableName}}/{{center.id}}" class="btn btn-primary"><i class="icon-plus icon-white"></i>{{'label.button.add' | translate}}</a>
            </span></br>
        </span>
      <div data-ng-show="datatabledetails.isData">
        <table ng-show="datatabledetails.isMultirow" class="table">
          <thead>
            <th ng-repeat="column in datatabledetails.columnHeaders">{{column.columnName}}</th>
          </thead>
            <tbody>
              <tr ng-repeat="data in datatabledetails.data">
                <td ng-repeat="row in data.row">
                  <span ng-show="$index == 0">
                    <a href="#/viewdatatableentry/{{centerdatatable.registeredTableName}}/{{center.id}}/{{data.row[0]}}" ng-show="datatabledetails.isMultirow">{{row}}</a>
                    <a href="#/viewdatatableentry/{{centerdatatable.registeredTableName}}/{{center.id}}/" ng-hide="datatabledetails.isMultirow">{{row}}</a>
                  </span>
                  <span ng-hide="$index == 0">{{row}}</span>
                </td>
              </tr>
            </tbody>
        </table>
        <table class="table table-bordered" data-ng-show="!datatabledetails.isMultirow" style="width: 450px">
            <tr ng-repeat="value in singleRow">
                <td class="graybg" style="font-weight: bold">{{value.key}}</td>
                <td><span class="padded-td">{{value.value}}</span></td>
            </tr>
        </table>
      </div>
    </tab>
</tabset>
</div>
</div>

