<form class="form-horizontal well" ng-controller="ClientIdentifierController" ng-submit="submit()">
	<div>
		<ul class="breadcrumb">
			<li><a href="#/clients">{{'link.clients' | translate}}</a> <span class="divider">/</span></li>
			<li><a href="#/viewclient/{{clientId}}">{{'link.view.client' | translate}}</a> <span class="divider">/</span></li>
			<li class="active">{{'link.add.clientidentifier' | translate}}</li>
		</ul>
	</div>
	<fieldset>
		<legend>{{'label.add.client.identifier' | translate}}</legend>

		<div class="control-group">
			<label class="control-label" for="documentTypeId">{{'label.document.type' | translate}}</label>
			<div class="controls">
				<select ng-model="formData.documentTypeId" ng-options="documenttype.id as documenttype.name for documenttype in documenttypes" value="{{documenttype.id}}" required="required">
					<option style="display:none" value="">{{'label.select.identitydocument.type' | translate}}</option>
				</select>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="documentKey">{{'label.unique.identification' | translate}}</label>
			<div class="controls">
				<input type="text" ng-model="formData.documentKey" required="required">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="description">{{'label.description' | translate}}</label>
			<div class="controls">
				<textarea rows="2" ng-model="formData.description"></textarea>
			</div>
		</div>

		<div class="offset3">
			<a href="#/viewclient/{{clientId}}"><button type="reset" class="btn">{{'button.cancel' | translate}}</button></a>
			<button type="submit" class="btn btn-primary">{{'button.save' | translate}}</button>
		</div>
	</fieldset>
</form>