<div class="content-container" ng-controller="ClientScreenReportController">
        <ul class="breadcrumb">
            <li><a href="#/clients">{{'label.anchor.clients' | translate}}</a></li>
            <li><a href='#/viewclient/{{clientId}}'>{{'label.anchor.viewclient' | translate}}</a></li>
            <li class="active">{{'label.anchor.clientscreenreport' | translate}}</li>
        </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4>{{'label.heading.clientscreenreport' | translate}}</h4>
            </div>
            <br>
            <div class="span"></div>
            <div class="row">
                <div class="col-sm-3 col-md-3" style="margin: 10px">
                    <table class="table">
                        <tr ng-repeat="templateData in clientTemplateData" ng-class="{graybg: templateData.id == selectedTemplate}">
                            <td>
                                <a ng-click="getClientTemplate(templateData.id)">{{templateData.name}}</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-8 col-md-8" ng-show="template" style="margin: 10px">
                    <span ng-bind-html="template"></span>
                    <hr>
                    <span class="">
                        <button type="button" data-ng-click="print(template)" class="btn btn-primary"><i class="fa fa-print"></i>&nbsp;&nbsp;{{'label.button.print'| translate}}</button>
                </span>
                </div> 
            </div>
        </div>
    </div>
</div>
