<div ng-controller="ClientActionsController">
  <div>
    <ul class="breadcrumb">
      <li><a href="#/clients">{{'link.clients' | translate}}</a> <span class="divider">/</span></li>
      <li><a href='#/viewclient/{{clientId}}'>{{'link.view.client' | translate}}</a> <span class="divider">/</span></li>
      <li class="active">{{breadcrumbName | translate}}</li>
    </ul>
  </div>
  <form name="clientactionform" novalidate="" class="form-horizontal well" ng-submit="submit()">
      <div class="control-group" ng-show="showDateField">
        <label class="control-label">{{labelName | translate}}<span class="required">*</span></label>
        <div class="controls">
          <input type="date" datepicker-pop="dd MMMM yyyy" name="modelName" ng-model="formData[modelName]" min="minDate" max="'2020-06-22'" date-disabled="disabled(date, mode)"/>
        </div>
      </div>

      <div class="control-group" ng-show="closureReasonField">
        <label class="control-label">{{labelNameClosurereason | translate}}</label>
        <div class="controls">
          <select ng-model="formData.closureReasonId"  ng-options="closureReason.id as closureReason.name for closureReason in closureReasons" value="{{closureReason.id}}">
          </select>
        </div>
      </div>

      <div class="control-group" ng-show="staffField">
        <label class="control-label">{{labelName | translate}}<span class="required">*</span></label>
        <div class="controls">
          <select ng-model="formData.staffId"  ng-options="staff.id as staff.displayName for staff in staffOptions" value="{{staff.id}}">
          </select>
        </div>
      </div>

      <div class="control-group" ng-show="showNoteField">
        <label class="control-label" for="note">{{ 'label.note' | translate}}</label>
        <div class="controls">
          <textarea rows="2" ng-model="formData.note"></textarea>
        </div>
      </div>

      <div class="offset3" ng-show="!showDeleteClient">
        <button type="reset" ng-click="cancel()" class="btn">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>		
  </form>
</div>