<div class="col-md-12" ng-controller="ClientController">
    <ul class="breadcrumb">
        <li class="active">{{'label.anchor.clients' | translate}}</li>
    </ul>
    <api-validate></api-validate>
    <div class="col-sm-5">
        <input ng-autofocus="true" ng-model="filterText" ng-keyup="onFilter()" type="text" class="form-control" placeholder="{{'label.input.filterbynameaccno' | translate}}">
    </div>
        <form ng-submit="search()">
            <div class="col-sm-4">
            <input  data-ng-model="client.query" type="text" placeholder="Search Client with Name/ExternalId/Identifier/Acc.No" value="{{query}}" class="form-control"/>
            </div>
            <button id="query" type="search" class="btn btn-primary" has-permission='READ_CLIENT'>Search Client</button>
            <a href="#/createclient" class="btn btn-primary pull-right" has-permission='CREATE_CLIENT'><i class="icon-plus icon-white"></i>{{'label.button.createclient' | translate}}</a>
        </form>
    <table class="table">
        <thead>
        <tr class="graybg">
            <th>{{'label.heading.name' | translate}}</th>
            <th>{{'label.heading.clientno' | translate}}</th>
            <th>{{'label.heading.status' | translate}}</th>
            <th>{{'label.heading.office' | translate}}</th>
            <th>{{'label.heading.staff' | translate}}</th>
        </tr>
        </thead>
        <tbody>
         <tr class="pointer-main" ng-repeat="result in searchResults" ng-show="result.entityType  == 'CLIENT'" >
             <td class="pointer" data-ng-click="routeTo(result.entityId)"> {{result.entityName}} </td>
             <td class="pointer" data-ng-click="routeTo(result.entityId)"> {{result.entityExternalId || result.entityAccountNo}} </td>
             <td class="pointer" data-ng-click="routeTo(result.entityId)">
                 <i class="icon-stop {{result.entityStatus.code | StatusLookup}}"></i>&nbsp;{{result.entityStatus.value}}
                 <small ng-if="result.entitySubStatus.description">[{{result.entiytSubStatus.description}}]</small></td>
             <td class="pointer" data-ng-click="routeTo(result.entityId)"> {{result.parentName}} </td>
         </tr>
        </tbody>

        <tbody>
        <tr class="pointer-main" ng-repeat="result in searchResults" ng-show="result.entityType  == 'CLIENTIDENTIFIER'" >
            <td class="pointer" data-ng-click="routeTo(result.entityId)"> {{result.parentName}} </td>
            <td class="pointer" data-ng-click="routeTo(result.entityId)"> {{result.entityExternalId}} </td>
            <td class="pointer" data-ng-click="routeTo(result.entityId)">
                <i class="icon-stop {{result.entityStatus.code | StatusLookup}}"></i>&nbsp;{{result.entityStatus.value}}
                <small ng-if="result.entitySubStatus.description">[{{result.entiytSubStatus.description}}]</small></td>
        </tr>
        </tbody>
        <tbody>
        <tr class="pointer-main" dir-paginate="client in clients | orderBy:'displayName':reverse  | filter:filterText | itemsPerPage: clientsPerPage" total-items="totalClients">
            <td class="pointer" data-ng-click="routeTo(client.id)">{{client.displayName}}</td>
            <td class="pointer" data-ng-click="routeTo(client.id)">{{client.accountNo}}</td>
            <td class="pointer" data-ng-click="routeTo(client.id)">
                <i class="icon-stop {{client.status.code | StatusLookup}}"></i>&nbsp;{{client.status.value}}
                <small ng-if="client.subStatus.description">[{{client.subStatus.description}}]</small>
            </td>
            <td class="pointer" data-ng-click="routeTo(client.id)">{{client.officeName}}</td>
            <td class="pointer" data-ng-click="routeTo(client.id)">{{client.staffName}}</td>
        </tr>
        </tbody>

    </table>
    <!-- <ul class="pager">
        <li class="previous"><a id="prev" ng-click="clients.previous()" href="" ng-disabled="!clients.hasPrevious()">&larr; {{'label.button.previous' | translate}}</a></li>
        <li class="next"><a id="next" ng-click="clients.next()" href="" ng-disabled="!clients.hasNext()">{{'label.button.next' | translate}} &rarr;</a></li>
    </ul> -->
    <dir-pagination-controls template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html" on-page-change="getResultsPage(newPageNumber)"></dir-pagination-controls>
</div>