<div ng-controller="ClientActionsController">
  <div>
    <ul class="breadcrumb">
      <li class="active">{{breadcrumbName | translate}}</li>
    </ul>
  </div>
  <form class="form-horizontal well" ng-submit="submit()">
      <div class="control-group" ng-show="showDateField">
        <label class="control-label">{{labelName | translate}}</label>
        <div class="controls">
          <input type="text" datepicker-pop="dd MMMM yyyy" ng-model="formData[modelName]" min="minDate" max="'2020-06-22'" date-disabled="disabled(date, mode)" late-Validate />
        </div>
      </div>

      <div class="control-group" ng-show="closureReasonField">
        <label class="control-label">{{labelNameClosurereason | translate}}</label>
        <div class="controls">
          <select ng-model="formData.closureReasonId"  ng-options="closureReason.id as closureReason.name for closureReason in closureReasons" value="{{closureReason.id}}">
          </select>
        </div>
      </div>

      <div class="control-group" ng-show="staffField">
        <label class="control-label">{{labelName | translate}}</label>
        <div class="controls">
          <select ng-model="formData.staffId"  ng-options="staff.id as staff.displayName for staff in staffOptions" value="{{staff.id}}">
          </select>
        </div>
      </div>

      <div class="control-group" ng-show="showDeleteClient">
        <label class="control-label">Are you sure?</label>
      </div>

      <div class="offset3" ng-show="showDeleteClient">
        <button type="reset" ng-click="submit()" class="btn">Confirm</button>
        <button type="submit" ng-click="cancel()"class="btn btn-primary">cancel</button>
      </div>

      <div class="offset3" ng-show="!showDeleteClient">
        <button type="reset" ng-click="cancel()" class="btn">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>		
  </form>
</div>