<form name="editclientform" novalidate="" class="form-horizontal" ng-controller="EditClientController" rc-submit="submit()">
        <div>
          <ul class="breadcrumb">
            <li><a href="#/clients">{{'label.anchor.clients' | translate}}</a> </li>
            <li><a href="#/viewclient/{{clientId}}">{{'label.anchor.viewclient' | translate}}</a> </li>
              <li class="active">{{'label.anchor.editclient' | translate}}</li>
          </ul>
        </div>
        <api-validate></api-validate>
        <fieldset>
          <legend>{{'label.heading.editclient' | translate}}</legend>
          <table width="100%">
            <tbody><tr>
              <td>
              <div class="form-group">
                <label class="control-label col-sm-2">{{ 'label.heading.office' | translate }}:<span class="required">*</span></label>
                <div class="col-sm-3">
                  <select id="officeId" ng-model="officeId" ng-options="office.id as office.name for office in offices" value="{{office.id}}" disabled="disabled" class="form-control">
                </select>
                </div>
              </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="form-group">
                  <label class="control-label col-sm-2">{{ 'label.heading.staff' | translate }}:</label>
                  <div class="col-sm-3">
                    <select id="staffId" ng-model="formData.staffId" ng-options="staff.id as staff.displayName for staff in staffs" value="{{staff.id}}" class="form-control">
                      <option value="">{{'label.menu.selectloanofficer' | translate}}</option>
                    </select>
                  </div>
                </div>
                </td>
            </tr>

            <tr>
              <td>
                <div class="form-group">
                  <label class="control-label col-sm-2">{{ 'label.input.firstname' | translate }}:<span class="required">*</span></label>
                  <div class="col-sm-3">
                    <input type="text" id="firstname" name="firstname" ng-model="formData.firstname" required="" late-validate="" class="form-control">
                    <form-validate valattributeform="editclientform" valattribute="firstname">
                  </form-validate></div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2">{{ 'label.input.middlename' | translate }}:</label>
                  <div class="col-sm-3">
                    <input id="middlename" type="text" ng-model="formData.middlename" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2">{{ 'label.input.lastname' | translate }}:<span class="required">*</span></label>
                  <div class="col-sm-3">
                    <input type="text" id="lastname" name="lastname" ng-model="formData.lastname" required="" late-validate="" class="form-control">
                    <form-validate valattributeform="editclientform" valattribute="lastname">
                  </form-validate></div>
                </div>
              </td>
            </tr>
            
            <tr>
              <td>
                <div class="form-group">
                  <label class="control-label col-sm-2">{{ 'label.input.accno' | translate }}:</label>
                  <div class="col-sm-3">
                    <input id="accountNo" type="text" ng-model="formData.accountNo" class="form-control">
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="form-group">
                  <label class="control-label col-sm-2">{{ 'label.input.externalid' | translate }}:</label>
                  <div class="col-sm-3">
                    <input id="externalId" type="text" ng-model="formData.externalId" class="form-control">
                  </div>
                </div>
              </td>
            </tr>
              <tr>
                  <td>
                      <div class="form-group">
                          <label class="control-label col-sm-2" for="mobileNo">{{'label.input.mobilenumber' | translate}}</label>
                          <div class="col-sm-3">
                              <input id="mobileNo" name="mobileNo" ng-model="formData.mobileNo" ng-pattern="/^[0-9]+$/" class="form-control">
                                <span ng-show="editclientform.mobileNo.$invalid &amp;&amp; editclientform.mobileNo.$dirty">
                                  <small class="required" ng-show="editclientform.mobileNo.$error.pattern">
                                      {{'label.mustbenumeric' | translate}}
                                  </small>
                                </span>
                          </div>
                      </div>
                  </td>
              </tr>

              <tr>
                  <td>
                      <div data-ng-switch="" on="choice">
                          <div class="form-group" data-ng-switch-when="1">
                              <label class="control-label col-sm-2">{{'label.input.activationdate' | translate}}:<span class="required">*</span></label>
                              <div class="col-sm-3">
                                  <input id="activationDate" type="text" datepicker-pop="dd MMMM yyyy" ng-model="date.activationDate" is-open="opened" min="'2000-01-01'" max="restrictDate" class="form-control">
                              </div>
                          </div>
                      </div>
                  </td>
              </tr>
        </tbody></table>
          <div class="col-lg-offset-3">
            <a id="cancel" href="#/viewclient/{{clientId}}"><button type="reset" class="btn btn-default">{{'label.button.cancel' | translate}}</button></a>
            <button id="save" type="submit" class="btn btn-primary">{{'label.button.save' | translate}}</button>
          </div>
          
        </fieldset>
      </form>
