<div ng-controller="TransactionClientController">
	<div>
		<ul class="breadcrumb">
			<li><a href="#/clients">{{'label.anchor.clients' | translate}}</a> <span class="divider">/</span></li>
			<li><a href='#/viewclient/{{clientId}}'>{{'label.anchor.viewclient' | translate}}</a> <span class="divider">/</span></li>
			<li class="active">{{'label.anchor.transferclient' | translate}}</li>
		</ul>
	</div>
	<api-validate></api-validate>
	<form class="form-horizontal well" ng-submit="submit()">
		<br>
		<fieldset>
			<div class="control-group">
				<label class="control-label">{{ 'label.input.office' | translate }}:<span class="required">*</span></label>
				<div class="controls">
	                <select id="destinationOfficeId" ng-model="formData.destinationOfficeId"  ng-options="office.id as office.name for office in offices" value="{{office.id}}"></select>
	             </div>
			</div>
			<div class="control-group">
	          	<label class="control-label">{{'label.input.notes' | translate}}:</label>
		        <div class="controls">
		          <textarea ng-model="formData.note"></textarea>
		        </div>
	        </div>
			<div class="offset3">
				<a href='#/viewclient/{{clientId}}' class="btn">{{'label.button.cancel' | translate}}</a>
				<button id="save" type="submit" class="btn btn-primary">{{'label.button.save' | translate}}</button>
			</div>

		</fieldset>
	</form>
</div>