      <div class="paddedbottom10">
        <ul class="breadcrumb">
          <li class="active">Add Saving charge</li>
        </ul>
      </div>
      <form name="savingccountchargeform" novalidate="" class="form-horizontal" ng-controller="AddNewSavingsChargeController" ng-submit="submit()">
        <fieldset>

          <div class="control-group">
            <label class="control-label">{{ 'label.charges' | translate }}<span class="required">*</span></label>
            <div class="controls">
              <select ng-model="formData.chargeId"  ng-options="charge.id as charge.name for charge in chargeOptions" value="{{formData.chargeId}}"
               ng-change="chargeSelected(formData.chargeId)">
                <option style="display:none" value="">{{ 'label.select.charge' | translate }}</option>
              </select>
            </div>
          </div>

          <div ng-show="chargeDetails">
            <div class="control-group">
              <label class="control-label">{{ 'label.amount' | translate }}<span class="required">*</span></label>
              <div class="controls">
                <input type="text" name="amount" ng-model="formData.amount" required ng-late-Validate/>
                <span  ng-show="savingccountchargeform.amount.$invalid">
                  <small class="error">
                      Required Field
                  </small>
                </span>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">{{ 'label.chargecalculation' | translate }}</label>
              <div class="controls">
                <select ng-model="chargeCalculationType"  ng-options="chargeCalculation.id as chargeCalculation.value for chargeCalculation in chargeDetails.chargeCalculationTypeOptions" value="{{chargeCalculation.id}}" disabled="disabled">
                </select>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">{{ 'label.chargecalculation' | translate }}</label>
              <div class="controls">
                <select ng-model="chargeTimeType"  ng-options="chargeTime.id as chargeTime.value for chargeTime in chargeDetails.chargeTimeTypeOptions" value="{{chargeTime.id}}" disabled="disabled">
                </select>
              </div>
            </div>

            <div class="control-group" ng-show="!withDrawCharge">
              <label class="control-label">{{ 'label.dueon' | translate }}<span class="required">*</span></label>
              <div class="controls">
                <input type="text" datepicker-pop="dd MMMM yyyy" ng-model="formData.feeOnMonthDay" is-open="opened" min="minDate" max="'2020-06-22'" date-disabled="disabled(date, mode)" required late-Validate />
              </div>
            </div>

            <div class="offset3">
              <button ng-click = "cancel()" class="btn">{{'label.cancel' | translate}}</button>
              <button type="submit" class="btn btn-primary">{{'label.save' | translate}}</button>
            </div>
          </div>
          
        </fieldset>
      </form>
