<div class="col-md-12" ng-controller="EditSavingAccountController">
    <ul class="breadcrumb">
        <li><a href="#/viewsavingaccount/{{accountId}}">{{'label.anchor.viewsavingaccount' | translate}}</a></li>
        <li class="active">{{'label.anchor.editsavingapplication' | translate}}</li>
    </ul>

    <api-validate></api-validate>
    <form name="editsavingccountform" class="form-horizontal well" novalidate="" rc-submit="submit()">
        <legend>{{'label.heading.editsavingapplication' | translate}}</legend>

        <div class="form-group">
            <label class="control-label col-sm-2">{{'label.input.product' | translate}}<span class="required">*</span></label>
            <div class="col-sm-3">
                <select id="productId" class="form-control" ng-model="formData.productId" ng-options="product.id as product.name for product in products" ng-change="changeProduct()"></select>
            </div>

            <label class="control-label col-sm-2">{{'label.input.submittedon' | translate}}<span class="required">*</span></label>
            <div class="col-sm-2">
                <input id="submittedOnDate" type="text" class="form-control" required ng-model="date.submittedOnDate" datepicker-pop="dd MMMM yyyy" is-open="opened" min="minDate" max="restrictDate" sort>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">{{'label.input.fieldofficer' | translate}}</label>
            <div class="col-sm-3">
                <select id="fieldOfficerId" class="form-control" ng-model="formData.fieldOfficerId" ng-options="fieldOfficer.id as fieldOfficer.displayName for fieldOfficer in fieldOfficers">
                    <option value="">{{'label.selectfieldofficer' | translate}}</option>
                </select>
            </div>

            <label class="control-label col-sm-2">{{'label.input.externalid' | translate}}</label>
            <div class="col-sm-3">
                <input id="externalId" class="form-control" ng-model="formData.externalId">
            </div>
        </div>

        <hr>
        <h3>{{'label.heading.terms' | translate}}</h3>

        <div class="form-group">
            <label class="control-label col-sm-2">{{'label.heading.currency' | translate}}</label>
            <span class="col-sm-2">{{data.currency.name}} ({{data.currency.displaySymbol}})</span>

            <label class="control-label col-sm-3">{{'label.heading.decimalplaces' | translate}}</label>
            <span class="col-sm-2">{{data.currency.decimalPlaces}}</span>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">{{'label.input.nominalannualinterestrate' | translate}}<span class="required">*</span></label>
            <div class="col-sm-2">
                <input id="nominalAnnualInterestRate" name="nominalannualinterestrate" type="text" class="form-control" required ng-model="formData.nominalAnnualInterestRate">
            </div>

            <label class="control-label col-sm-3">{{'label.input.interestcompoundingperiod' | translate}}<span class="required">*</span></label>
            <div class="col-sm-2">
                <select id="interestCompoundingPeriodType" class="form-control" ng-model="formData.interestCompoundingPeriodType" ng-options="type.id as type.value for type in data.interestCompoundingPeriodTypeOptions"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">{{'label.input.currencyinmultiplesof' | translate}}</label>
            <span class="col-sm-2">{{data.currency.inMultiplesOf}}</span>

            <label class="control-label col-sm-3">{{'label.input.interestpostingperiod' | translate}}<span class="required">*</span></label>
            <div class="col-sm-2">
                <select id="interestPostingPeriodType" class="form-control" ng-model="formData.interestPostingPeriodType" ng-options="type.id as type.value for type in data.interestPostingPeriodTypeOptions"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">{{'label.input.interestcalculatedusing' | translate}}<span class="required">*</span></label>
            <div class="col-sm-2">
                <select id="interestCalculationType" class="form-control" ng-model="formData.interestCalculationType" ng-options="type.id as type.value for type in data.interestCalculationTypeOptions"></select>
            </div>

            <label class="control-label col-sm-3">{{'label.input.daysinyears' | translate}}<span class="required">*</span></label>
            <div class="col-sm-2">
                <select id="interestCalculationDaysInYearType" class="form-control" ng-model="formData.interestCalculationDaysInYearType" ng-options="type.id as type.value for type in data.interestCalculationDaysInYearTypeOptions"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">{{'label.input.minimumopeningbalance' | translate}}</label>
            <div class="col-sm-2">
                <input id="minRequiredOpeningBalance" type="text" class="form-control" ng-model="formData.minRequiredOpeningBalance">
            </div>

            <label class="control-label col-sm-3">{{'label.input.lockinPeriodFrequency' | translate}}</label>
            <div class="col-sm-4 form-inline">
                <input id="lockinPeriodFrequency" type="text" class="form-control" ng-model="formData.lockinPeriodFrequency">
                <select id="lockinPeriodFrequencyType" class="form-control" ng-model="formData.lockinPeriodFrequencyType" ng-options="type.id as type.value for type in data.lockinPeriodFrequencyTypeOptions">
                    <option value="">{{'label.selectone' | translate}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">{{'label.input.withdrawalfeefortransfers' | translate}}</label>
            <input type="checkbox" class="col-sm-1" ng-model="formData.withdrawalFeeForTransfers">
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">{{'label.input.allowoverdraft' | translate}}</label>
            <input type="checkbox" class="col-sm-1" ng-model="formData.allowOverdraft">

            <div ng-show="formData.allowOverdraft">
                <label class="control-label col-sm-4">{{'label.input.overdraftlimit' | translate}}</label>
                <div class="col-sm-2">
                    <input id="overdraftLimit" type="text" class="form-control" ng-model="formData.overdraftLimit">
                </div>
            </div>
        </div>

        <div class="form-group" ng-hide="formData.allowOverdraft">
            <label class="control-label col-sm-2">{{'label.input.enforceMinRequiredBalance' | translate}}</label>
            <input type="checkbox" class="col-sm-1" ng-model="formData.enforceMinRequiredBalance">

            <label class="control-label col-sm-4">{{'label.input.minRequiredBalance' | translate}}</label>
            <div class="col-sm-2">
                <input id="minRequiredBalance" type="text" class="form-control" ng-model="formData.minRequiredBalance">
            </div>
        </div>

        <hr>
        <h3>{{'label.heading.charges' | translate}}</h3>

        <div class="form-group">
            <div class="col-sm-3">
                <select class="form-control" ng-model="chargeId" ng-options="charge.id as charge.name for charge in data.chargeOptions|filter:data.currency.code:strict">
                    <option value="">{{'label.selectcharge' | translate}}</option>
                </select>
            </div>
            <a class="btn btn-primary" ng-click="addCharge(chargeId)"><i class="icon-plus icon-white"></i> {{'label.button.add' | translate}}</a>
            <span class="error" ng-show="errorchargeevent">{{'label.'+labelchargeerror | translate}}</span>
        </div>

        <table class="table" ng-show="charges.length > 0">
            <tr class="graybg">
                <th>{{'label.heading.name' | translate}}</th>
                <th>{{'label.heading.type' | translate}}</th>
                <th>{{'label.heading.amount' | translate}}</th>
                <th>{{'label.heading.collectedon' | translate}}</th>
                <th>{{'label.heading.date' | translate}}</th>
                <th>{{'label.heading.repaymentsevery' | translate}}</th>
                <th>{{'label.heading.actions' | translate}}</th>
            </tr>
            <tr ng-repeat="charge in charges">
                <td>{{charge.name}} ({{charge.currency.displaySymbol}})</td>
                <td>{{charge.chargeCalculationType.value}}</td>
                <td><input id="charges[{{$index}}].amount" type="text" class="form-control" placeholder="{{'label.placeholder.amount' | translate}}" ng-model="charge.amount"></td>
                <td>{{charge.chargeTimeType.value}}</td>
                <td ng-show="charge.chargeTimeType.value == 'Annual Fee'">
                    <input id="charges[{{$index}}].feeOnMonthDay" type="text" class="date-disable form-control" readonly ng-model="charge.feeOnMonthDay" datepicker-pop="dd MMMM" is-open="opened">
                </td>
                <td ng-show="charge.chargeTimeType.value == 'Specified due date'">
                    <input id="charges[{{$index}}].dueDate" type="text" class="date-disable form-control" readonly ng-model="charge.dueDate" datepicker-pop="dd MMMM yyyy" is-open="opened">
                </td>
                <td ng-show="charge.chargeTimeType.value == 'Monthly Fee'">
                    <input class="date-disable" type="text" class="date-disable form-control" readonly ng-model="charge.feeOnMonthDay" datepicker-pop="dd MMMM" is-open="opened">
                </td>
                <td ng-show="charge.chargeTimeType.value == 'Monthly Fee'">
                    <input id="charges[{{$index}}].feeInterval" class="form-control" type="text" ng-model="charge.feeInterval">
                </td>
                <td ng-hide="charge.chargeTimeType.value == 'Monthly Fee'"></td>
                <td ng-hide="charge.chargeTimeType.value == 'Annual Fee' || charge.chargeTimeType.value == 'Specified due date' || charge.chargeTimeType.value == 'Monthly Fee'"></td>
                <td><a ng-click="deleteCharge($index)"><i class="icon-remove icon-white"></i></a></td>
            </tr>
        </table>

        <div class="text-center">
            <button id="cancel" class="btn btn-default" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
            <button id="save" type="submit" class="btn btn-primary" has-permission='UPDATE_SAVINGSACCOUNT'>{{'label.button.save' | translate}}</button>
        </div>
    </form>
</div>