<div  ng-controller="SavingAccountActionsController" >
  <div class="paddedbottom10">
    <ul class="breadcrumb">
      <li><a href="#/viewsavingaccount/{{accountId}}">{{'label.view.saving.account' | translate}}</a> <span class="divider">/</span></li>
      <li class="active">{{action}}</li>
    </ul>
  </div>
  <form name="savingccountactionform" novalidate="" class="form-horizontal" ng-submit="submit()">
    <fieldset>
      <legend>{{ title | translate}}</legend>

      <div class="control-group" ng-show="showDateField">
        <label class="control-label" for="modelName">{{labelName | translate}}<span class="required">*</span></label>
        <div class="controls">
          <input type="text" datepicker-pop="dd MMMM yyyy" ng-model="formData[modelName]" is-open="opened" min="minDate" max="'2020-06-22'" date-disabled="disabled(date, mode)" required late-Validate />
        </div>
      </div>

      <div ng-show="isTransaction">
        <div class="control-group">
          <label class="control-label" for="transactionAmount">{{ 'label.saving.account.transactionAmount' | translate}}<span class="required">*</span></label>
          <div class="controls">
            <input type="text" name="transactionAmount" ng-model="formData.transactionAmount" required late-Validate/>
            <span  ng-show="savingccountactionform.transactionAmount.$invalid">
              <small class="error" ng-show="savingccountactionform.transactionAmount.$error.req">
                  Required Field
              </small>
            </span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="paymentTypeId">{{ 'label.saving.account.paymentTypeId' | translate}}<span class="required">*</span></label>
          <div class="controls">
            <select ng-model="formData.paymentTypeId" ng-options="paymentType.id as paymentType.name for paymentType in paymentTypes" value="{{paymentType.id}}">
              <option value="">{{'label.select.one' | translate}}</option>
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">{{ 'label.saving.account.show.payment.details' | translate}}</label>
          <div class="controls">
            <a class="btn btn-primary" ng-click="showPaymentDetails=!showPaymentDetails">
              <i ng-show="showPaymentDetails" class="icon-minus icon-white"></i>
              <i ng-show="!showPaymentDetails" class="icon-plus icon-white"></i>
            </a>
          </div>
        </div>
        <div collapse="!showPaymentDetails">
          <div class="control-group">
            <label class="control-label" for="accountNumber">{{ 'label.saving.account.accountNumber' | translate}}</label>
            <div class="controls">
              <input type="text" ng-model="formData.accountNumber">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="checkNumber">{{ 'label.saving.account.checkNumber' | translate}}</label>
            <div class="controls">
              <input type="text" ng-model="formData.checkNumber">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="routingCode">{{ 'label.saving.account.routingCode' | translate}}</label>
            <div class="controls">
              <input type="text" ng-model="formData.routingCode">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="receiptNumber">{{ 'label.saving.account.receiptNumber' | translate}}</label>
            <div class="controls">
              <input type="text" ng-model="formData.receiptNumber">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="bankNumber">{{ 'label.saving.account.bankNumber' | translate}}</label>
            <div class="controls">
              <input type="text" ng-model="formData.bankNumber">
            </div>
          </div>
        </div>
      </div>
      <div class="control-group" ng-show="showAnnualAmountField">
        <label class="control-label">{{ 'label.amount' | translate}}<span class="required">*</span></label>
        <div class="controls">
          <input type="text" name="amount" ng-model="formData.amount" required late-Validate/>
          <span  ng-show="savingccountactionform.amount.$invalid">
            <small class="error">
                Required Field
            </small>
          </span>
        </div>
      </div>
      <div class="control-group" ng-show="showNoteField">
        <label class="control-label" for="note">{{ 'label.note' | translate}}</label>
        <div class="controls">
          <textarea rows="2" ng-model="formData.note"></textarea>
        </div>
      </div>
      
      <div class="control-group" ng-show="showAmountField">
        <label class="control-label">{{ labelName | translate}}</label>
        <div class="controls">
          <input type="text" ng-model="formData.amount">
        </div>
      </div>

      <div class="control-group" ng-show="showDelete">
        <label class="control-label">Are you sure?</label>
      </div>
      <div class="offset3" ng-show="showDelete">
        <button type="reset" ng-click="submit()" class="btn">Confirm</button>
        <button type="submit" ng-click="cancel()"class="btn btn-primary">cancel</button>
      </div>

      <div class="offset3" ng-hide="showDelete">
        <button type="reset" class="btn">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>

    </fieldset>
  </form>
</div>
