<div id="expertsearch" data-ng-controller="ExpertSearchController">
    <h3 class="paddedleft"><strong>{{'label.heading.welcome' | translate}}, {{currentSession.user.name}}</strong>
    </h3>
    <hr/>
    <input id="expert" type="text" data-ng-model="formData.search"
	    placeholder="{{'label.input.searchactivities' | translate}}" class="col-md-4 form-control" typeahead-on-select="search()"
	    ng-autofocus="true" typeahead="param as param for param in searchParams | filter:$viewValue | limitTo:8"/>
	<div id="home" class="row">
		<div class="col-md-8">
			<h3>{{'label.heading.navigation.guide' | translate}}: </h3>
			<i class="icon-arrow-left"></i>{{'label.heading.left.shortcuts' | translate}} &nbsp;&nbsp;
			<i class="icon-arrow-up"></i>{{'label.heading.top.menu' | translate}} &nbsp;&nbsp;
			<i class="icon-arrow-up top-right"></i>{{'label.heading.right.search' | translate}}
		</div>
	</div>

	<div class = "row"><br/><br/></div>

	<div class = "row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="icon-tasks"></i>{{'label.heading.myTasks' | translate}}</h3>
				</div>
				<div class="panel-body">

				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="icon-bolt"></i>{{'label.heading.recentactivities' | translate}}</h3>
				</div>
				<div class="panel-body">
					<div class="list-group">
						<a href="#{{recent}}" data-ng-repeat="recent in recents" class="list-group-item">
							{{recent | UrlToString | translate}}</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="icon-laptop"></i>{{'label.heading.frequentactivities' | translate}}</h3>
				</div>
				<div class="panel-body">
					<div class="list-group">
						<a href="#{{freq}}" data-ng-repeat="freq in frequent" class="list-group-item">
							{{freq | UrlToString | translate}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
