    <h2>Dashboard</h2>
    <div data-ng-controller="SuperuserController">
        <div class="row">
            <div class="span4">
                <panel title="Logins Per Session" >
                    <div style="margin-left:40px;margin-top:-20px;">
                        <nvd3-pie-chart
                                data="exampleData"
                                id="piechart"
                                width="300"
                                height="300"
                                x="xFunction()"
                                y="yFunction()"
                                tooltips="true"
                                color="colorFunction()">
                            <svg height="230"></svg>
                        </nvd3-pie-chart>
                    </div>
                </panel>
            </div>
            <div class="span4">
                <panel title="Transactions">
                    <nvd3-multi-bar-chart
                            data="BarData"
                            id="barchart"
                            width="400"
                            height="300"
                            showLegend="true">
                        <svg></svg>
                    </nvd3-multi-bar-chart>
                </panel>
            </div>
            <div class="span4">
                <panel title="Current">
                    <nvd3-stacked-area-chart
                            data="BarData"
                            id="stackchart"
                            width="400"
                            height="300">
                        <svg></svg>
                    </nvd3-stacked-area-chart>
                </panel>
            </div>
        </div>
        <div class="row">
            <div class="span4">
                <panel title="Logins Per Session" >
                    <div style="margin-left:40px;margin-top:-20px;">
                        <nvd3-pie-chart
                                data="exampleData"
                                id="piechart1"
                                width="300"
                                height="300"
                                x="xFunction()"
                                y="yFunction()"
                                tooltips="true"
                                donut="true"
                                donutRatio=".25"
                                color="colorFunction()">
                            <svg height="230"></svg>
                        </nvd3-pie-chart>
                    </div>
                </panel>
            </div>
            <div class="span4">
                <panel title="Transactions">
                    <nvd3-multi-bar-chart
                            data="BarData"
                            id="barchart3"
                            width="400"
                            height="300"
                            showLegend="true">
                        <svg></svg>
                    </nvd3-multi-bar-chart>
                </panel>
            </div>
            <div class="span4">
                <panel title="Improvement">
                    <nvd3-line-chart
                            data="BarData"
                            id="linechart"
                            width="400"
                            height="300"
                            showXAxis="true"
                            showYAxis="true">
                        <svg></svg>
                    </nvd3-line-chart>
                </panel>
            </div>
        </div>
    </div>
