<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li class="active">{{'label.anchor.bulkimport' | translate}}</li>
    </ul>
    
    <div class="card">
    <div class="content">
	<div class="row">
    <div class="col-sm-6 col-md-6">
        <div class="list-group">
            <a class="list-group-item" href="#/bulkimportoffices" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-building icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importoffices'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/bulkimportusers" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-user-plus icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importusers'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/bulkimportgroup" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-group icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importgroups'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/bulkimportloanaccounts" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-money icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importloanaccounts'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/bulkimportsavingsaccounts" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-money icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importsavingsaccounts'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/bulkimportfixeddepositaccounts" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-money icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importfdaccounts'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/bulkimportrecurringdeposits" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-money icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importrdaccounts'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/bulkimportcoa" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-money icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importcoa'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/bulkimportshareaccounts" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-arrow-right icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importshareaccounts'
                    | translate}}</h4>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="list-group">
            <a class="list-group-item" href="#/bulkimportemployees" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-android icon-large"></i>&nbsp;&nbsp;{{'label.anchor.employees '
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/bulkimportclients" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-user icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importclients'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/bulkimportcenters" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-user icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importcenters'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/bulkimportloanrepayments" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-arrow-right icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importloanrepayments'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/bulkimportsavingsaccountstransactions" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-arrow-right icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importsavingstransactions'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/bulkimportfixeddeposittransactions" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-arrow-right icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importfdtransactions'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/bulkimportrecurringdepositstransactions" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-arrow-right icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importrdtransactions'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/bulkimportjournalentries" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-arrow-right icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importjournalentries'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/bulkimportguarantor" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-arrow-right icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importguarantor'
                    | translate}}</h4>
            </a>
        </div>
    </div>
    </div>
    </div>
    </div>
</div>