<div class="col-md-12">
    <ul class="breadcrumb">
        <li><a href="#/villages">{{'label.anchor.villages' | translate}}</a></li>
        <li class="active">{{'label.anchor.createvillage' | translate}}</li>
    </ul>
    <form name="createvillageform" novalidate="" class="form-horizontal well" ng-controller="CreateVillageController"
          rc-submit="submit()">
        <api-validate></api-validate>
        <fieldset>
            <legend>{{'label.heading.createvillage' | translate}}</legend>


            <div class="form-group">
                <label class="control-label col-sm-2">{{'label.input.office' | translate}}<span class="required">*</span></label>

                <div class="col-sm-3">
                    <select chosen="offices" id="officeId" ng-model="formData.officeId"
                            ng-options="office.id as office.name for office in offices" value="{{office.id}}"
                            ng-change="changeOffice()" class="form-control">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">{{'label.input.village' | translate}}<span class="required">*</span></label>

                <div class="col-sm-3">
                    <input type="text" id="villageName" name = "villageName" ng-model="formData.villageName" class="form-control"
                           required late-Validate />

                </div>
                <div class="col-sm-2">
                    <form-validate valattributeform="createvillageform" valattribute="villageName"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">{{'label.input.villageCode' | translate}}</label>

                <div class="col-sm-3">
                    <input type="text" id="villageCode" ng-model="formData.villageCode" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="externalid">{{'label.input.villageexternalid' | translate}}</label>

                <div class="col-sm-3">
                    <input type="text" id="externalId" ng-model="formData.externalId" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">
                    {{'label.input.countryname' | translate}}
                </label>

                <div class="col-sm-3">
                    <select chosen="countries" id="countryId" ng-model="formAddressData.countryId" class="form-control"
                            ng-options="country.countryId as country.countryName for country in countries" value="{{country.countryId}}"
                            ng-change="changeCountry(formAddressData.countryId)">
                        <option value="">{{'label.menu.selectCountry' | translate}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">
                    {{'label.input.statename' | translate}}
                </label>

                <div class="col-sm-3">
                    <select chosen="states" id="stateId" ng-model="formAddressData.stateId"  class="form-control"
                            ng-options="state.stateId as state.stateName for state in states" value="{{state.stateId}}"
                            ng-change="changeState(formAddressData.stateId)">
                        <option value="">{{'label.menu.selectState' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">
                    {{'label.input.districtname' | translate}}
                </label>

                <div class="col-sm-3">
                    <select chosen="districts" id="districtId" ng-model="formAddressData.districtId"  class="form-control"
                            ng-options="district.districtId as district.districtName for district in districts" value="{{district.districtId}}"
                            ng-change="changeDistrict(formAddressData.districtId)">
                        <option value="">{{'label.menu.selectDistrict' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">
                    {{'label.input.talukname' | translate}}
                </label>
                <div class="col-sm-3">
                    <select chosen="talukas" id="talukaId" ng-model="formAddressData.talukaId"
                            ng-options="taluka.talukaId as taluka.talukaName for taluka in talukas"
                            value="{{taluka.talukaId}}" >
                        <option value="">{{'label.menu.selectTaluka' | translate}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="pincode">{{'label.input.pincode' | translate}}
                </label>

                <div class="col-sm-3">
                    <input type="text" id="pincode" name="pincode" ng-model="formAddressData.postalCode"
                           class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="active">{{'label.input.active' | translate}}</label>

                <div class="col-sm-3">
                    <input type="checkbox" id="active" data-ng-change="setChoice()" ng-model="formData.active" ng-disabled="response.uiDisplayConfigurations.createVillage.isReadOnlyField.active == true"
                           ng-checked="response.uiDisplayConfigurations.createVillage.isReadOnlyField.active == true">
                </div>
                <div data-ng-switch on="choice">
                    <div class="form-group" data-ng-switch-when="1">
                        <label class="control-label col-sm-2">{{'label.input.activationdate' | translate}}<span class="required">*</span></label>

                        <div class="col-sm-3">
                            <input id="activationDate" type="text" datepicker-pop="dd MMMM yyyy" ng-model="first.date"
                                   is-open="opened" min="'2000-01-01'" max="restrictDate" class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">{{'label.input.submittedon' | translate}}:<span class="required">*</span></label>

                <div class="col-sm-3">
                    <input id="submittedon" type="text" name="submittedon" datepicker-pop="dd MMMM yyyy"
                           ng-model="first.submitondate" is-open="opened" min="'2000-01-01'" max="restrictDate" class="form-control"/>
                </div>
            </div>

            <div class="col-md-offset-2 paddedleft">
                <a id="cancel" href="#/villages" class="btn btn-default">{{'label.button.cancel' | translate}}</a>
                <button id="save" type="submit" class="btn btn-primary" has-permission='CREATE_VILLAGE'>{{'label.button.save' | translate}}</button>
            </div>
        </fieldset>
    </form>
</div>