<div class="col-md-12">
    <ul class="breadcrumb">
        <li><a href="#/villages">{{'label.anchor.villages' | translate}}</a></li>
        <li class="active">{{'label.anchor.editvillageaddress' | translate}}</li>
    </ul>
    <form name="editvillageaddressform" novalidate="" class="form-horizontal well" ng-controller="EditVillageAddressController"
          rc-submit="submit()">
        <api-validate></api-validate>
        <fieldset>
            <legend>{{'label.heading.editvillageaddress' | translate}}</legend>

            <div class="form-group">
                <label class="control-label col-sm-2">
                    {{'label.input.countryname' | translate}}
                </label>

                <div class="col-sm-3">
                    <select chosen="countries" id="countryId" ng-model="formData.countryId" class="form-control"
                            ng-options="country.countryId as country.countryName for country in countries" value="{{country.countryId}}"
                            ng-change="changeCountry(formData.countryId)">
                        <option value="">{{'label.menu.selectCountry' | translate}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">
                    {{'label.input.statename' | translate}}
                </label>

                <div class="col-sm-3">
                    <select chosen="states" id="stateId" ng-model="formData.stateId"  class="form-control"
                            ng-options="state.stateId as state.stateName for state in states" value="{{state.stateId}}"
                            ng-change="changeState(formData.stateId)">
                        <option value="">{{'label.menu.selectState' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">
                    {{'label.input.districtname' | translate}}
                </label>

                <div class="col-sm-3">
                    <select chosen="districts" id="districtId" ng-model="formData.districtId"  class="form-control"
                            ng-options="district.districtId as district.districtName for district in districts" value="{{district.districtId}}"
                             ng-change="changeDistrict(formData.districtId)">
                        <option value="">{{'label.menu.selectDistrict' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">
                    {{'label.input.talukname' | translate}}
                </label>
                <div class="col-sm-3">
                    <select chosen="talukas" id="talukaId" ng-model="formData.talukaId"
                            ng-options="taluka.talukaId as taluka.talukaName for taluka in talukas"
                            value="{{taluka.talukaId}}" >
                        <option value="">{{'label.menu.selectTaluka' | translate}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="pincode">{{'label.input.pincode' | translate}}
                </label>

                <div class="col-sm-3">
                    <input type="text" id="pincode" name="pincode" ng-model="formData.postalCode"  class="form-control" />
                </div>
            </div>
            <div class="col-md-offset-2 paddedleft">
                <a id="cancel" href="#/viewvillage/{{villageId}}">
                    <button type="reset" class="btn btn-default">{{'label.button.cancel' | translate}}</button>
                </a>
                <button id="save" type="submit" class="btn btn-primary" has-permission='UPDATE_ADDRESSES'>{{'label.button.save' | translate}}</button>
            </div>
        </fieldset>
    </form>
</div>