/* Variables */
$brand-primary:rgba(79,153,237,1);
$brand-success:#1abc9c;
$state-success-text:#1abc9c;

/* Mixins and Colors */
@import "custom_mixins";

/* Load External Stylesheets */

@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
//@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../bower_components/fontawesome/scss/font-awesome";
@import "CSS:../../bower_components/angular-bootstrap/ui-bootstrap-csp";
@import "CSS:../../bower_components/chosen/chosen";
@import "CSS:../../bower_components/ng-scrollbar/dist/ng-scrollbar";



/* Load style components */
@import "components/alerts";
@import "components/variables";
@import "components/content";
@import "components/inputs";
@import "components/navbar";
@import "components/buttons";
@import "components/layout";
@import "components/leftnav";
@import "components/chosen";
@import "components/notifications";
