/* app css stylesheet */
.well {
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
}

.paddedleft {
padding-left: 20px;
}

.paddedtop {
padding-top: 10px;
}

td > a {
    color: #080808;
}

.condensed-table th, .condensed-table td {
  padding:5px 5px 4px;
}
accordion > div > div > div > a {
	color : #5e565e;
}

accordion > div > div > div > a:hover,
accordion > div > div > div > a:focus {
  color: #080808;
  text-decoration: underline;
}

div > div > ul > li a {
  color : #5e565e;
}

div > div > ul > li a:hover,
div > div > ul > li a:focus {
  color: #080808;
  text-decoration: underline;
}


.list-group {
    background-color: #FFFFFF;
    margin-bottom: 20px;
    padding-left: 0;
}
.list-group-item {
    border-bottom: 1px solid #DDDDDD;
    display: block;
    margin-bottom: -1px;
    padding: 10px 30px 10px 15px;
    position: relative;
}
.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}
.list-group-item > .badge {
    float: right;
    margin-right: -15px;
}
.list-group-item-heading {
    margin-bottom: 5px;
    margin-top: 0;
}
.list-group-item-text {
    line-height: 1.3;
    margin-bottom: 0;
}
a.list-group-item .list-group-item-heading {
    color: #333333;
}
a.list-group-item .list-group-item-text {
    color: #555555;
}
a.list-group-item:hover, a.list-group-item:focus {
    background-color: #F5F5F5;
    text-decoration: none;
}
a.list-group-item.active {
    background-color: #007FFF;
    border-color: #007FFF;
    color: #FFFFFF;
    z-index: 2;
}
a.list-group-item.active .list-group-item-heading {
    color: inherit;
}
a.list-group-item.active .list-group-item-text {
    color: #CCE5FF;
}