/* NAVIGATION */

nav a:link {
  color: #58b4df;
}

nav a:visited {
  color: #58b4df;
}

nav a:hover { 
  color: #000000;
}

nav a:active { 
  color: #000000;
}

nav .section {
  display: inline-block;
  margin-right: 20px;
}
