<form class="form-horizontal well" ng-controller="EditLoanChargeController" ng-submit="submit()">
	<div class="paddedbottom10">
		<ul class="breadcrumb">
			<li><a href="#/viewloanaccount/{{loanId}}">{{'label.view.loan.account' | translate}}</a> <span class="divider">/</span></li>
			<li class="active">{{'label.edit.loan.charge' | translate}}</li>
		</ul>
	</div>
	<fieldset>
		<legend>{{ 'label.edit.loan.charge' | translate }}</legend>

		<div class="control-group">
			<label class="control-label" for="amount">{{ 'label.transaction.amount' | translate }}</label>
			<div class="controls">
				<input type="text" ng-model="formData.amount">
			</div>
		</div>

		<div class="offset3">
			<button type="reset" class="btn" ng-click="cancel()">{{ 'button.cancel' | translate }}</button>
			<button type="submit" class="btn btn-primary">{{ 'button.save' | translate }}</button>
		</div>

	</fieldset>
</form>