<div ng-controller="EditLoanChargeController">
	<div>
		<ul class="breadcrumb">
			<li><a href="#/viewloanaccount/{{loanId}}">{{'label.anchor.viewloanaccount' | translate}}</a> <span class="divider">/</span></li>
			<li class="active">{{'label.anchor.editloancharge' | translate}}</li>
		</ul>
	</div>
	<form name="loanchargeform" novalidate="" class="form-horizontal well" ng-submit="submit()">
		<api-validate></api-validate>
		<fieldset>
			<legend>{{ 'label.heading.editloancharge' | translate }}</legend>
			<div class="control-group">
				<label class="control-label" for="amount">{{ 'label.input.amount' | translate }}<span class="required">*</span></label>
				<div class="controls">
					<input id="amount" ng-autofocus="true" type="text" name="amount" ng-model="formData.amount" required late-Validate/>
                    <form-validate valattributeform="loanchargeform" valattribute="amount"/>
				</div>
			</div>

			<div class="offset3">
				<button id="cancel" type="reset" class="btn" ng-click="cancel()">{{ 'label.button.cancel' | translate }}</button>
				<button id="save" type="submit" ng-disabled="!loanchargeform.$valid" class="btn btn-primary">{{ 'label.button.save' | translate }}</button>
			</div>
		</fieldset>
	</form>
</div>