<form name="newjlgloanform" novalidate="" class="well" ng-controller="NewJLGLoanAccAppController" rc-submit="submit()">
<api-validate></api-validate>
<fieldset>
<legend>{{ 'label.heading.newjlgloanapplication' | translate }}</legend>
<div class="form-group">
    <table width="80%">
        <tr class="form-group">
            <td width="16%"></td>
            <td width="30%">
                <label class="control-label col-sm-4">{{ 'label.input.group' | translate }}&nbsp;</label>
                <input type="text" value="{{groupName}}" class="form-control" readonly>
            </td>
            <td width="30%">
                <label class="control-label col-sm-4">{{ 'label.input.product' | translate }}&nbsp;<span
                        class="required">*</span></label>
                <select id="productId" ng-model="formData.productId"
                        ng-options="product.id as product.name for product in products" value="{{product.id}}"
                        ng-change="loanProductChange(formData.productId)" class="form-control" required="required">
                    <option style="display:none" value="">{{'label.selectloanproduct' | translate}}</option>
                </select>
            </td>
        </tr>
        <tr class="span2"></tr>
    </table>
</div>

<div ng-show="clients.length > 0" class="form-group">
    <div ng-hide="previewRepayment">
        <hr>
        <table width="100%">
            <tr>
                <td width="12%"></td>
                <td width="88%">
                    <div class="form-group">
                        <label><strong>{{ 'label.heading.clientspecificdata' | translate }}</strong></label>
                        <table width="100%" class="table">
                            <thead>
                            <tr class="graybg">
                                <th>#</th>
                                <th>{{ 'label.input.name' | translate }}</th>
                                <th>{{ 'label.input.amount' | translate }}</th>
                                <th>{{ 'label.input.interestrate' | translate }}</th>
                                <th>{{ 'label.input.repayments' | translate }}</th>
                                <th>{{ 'label.input.loanterm' | translate }}</th>
                                <th>{{ 'label.input.actions' | translate }}</th>
                                <th>{{ 'label.heading.status' | translate }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="client in clients">
                                <td><input type="checkbox" ng-model="client.selected"></td>
                                <td><label class="control-label col-sm-4">{{client.name}}</label></td>
                                <td><input class="input-sm form-control" type="text" ng-model="client.amount"
                                           ng-show="client.selected"></td>
                                <td><input class="input-sm form-control" type="text" ng-model="client.interest"
                                           ng-show="client.selected"></td>
                                <td><input class="input-sm form-control" type="text" ng-model="client.repayments"
                                           ng-show="client.selected"></td>
                                <td><input class="input-sm form-control" type="text" ng-model="client.frequency"
                                           ng-show="client.selected">
                                    <select id="loanTermFrequencyType" class="input-sm form-control"
                                            ng-model="client.frequencyType" ng-show="client.selected"
                                            ng-options="termFrequencyType.id as termFrequencyType.value for termFrequencyType in loanaccountinfo.termFrequencyTypeOptions"
                                            value="{{termFrequencyType.id}}"></select>
                                </td>
                                <td><a class="btn btn-primary" ng-click="viewLoanSchedule($index)"
                                       ng-show="client.selected">{{ 'label.anchor.viewschedule' | translate }}</a></td>
                                <td><strong>{{client.status}}</strong></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        <hr>
    </div>
</div>

<div ng-show="loanaccountinfo" class="form-group">
    <table ng-hide="previewRepayment" width="80%">
        <tr class="form-group">
            <td width="16%"></td>
            <td width="30%">
                <label class="control-label col-sm-4">{{ 'label.input.loanofficer' | translate }}&nbsp;</label>
                <select id="loanOfficerId" ng-model="formData.loanOfficerId"
                        ng-options="loanOfficer.id as loanOfficer.displayName for loanOfficer in loanaccountinfo.loanOfficerOptions"
                        value="{{loanOfficer.id}}">
                    <option value="">{{'label.selectloanofficer' | translate}}</option>
                </select>
            </td>
            <td width="30%">
                <label class="control-label col-sm-4">{{ 'label.input.submittedon' | translate }}&nbsp;<span
                        class="required">*</span></label>
                <input id="submittedOnDate" sort type="text" datepicker-pop="dd MMMM yyyy" class="form-control"
                       ng-model="formData.submittedOnDate" is-open="opened" min="'2000-01-01'" max="restrictDate"/>
            </td>
        </tr>
        <tr class="form-group">
            <td></td>
            <td>
                <label class="control-label col-sm-4">{{ 'label.input.loanpurpose' | translate }}&nbsp;</label>
                <select id="loanPurposeId" ng-model="formData.loanPurposeId"
                        ng-options="loanPurpose.id as loanPurpose.name for loanPurpose in loanaccountinfo.loanPurposeOptions"
                        value="{{loanPurpose.id}}" class="form-control">
                    <option value="">{{'label.selectpurpose' | translate}}</option>
            </td>
            <td>
                <label class="control-label col-sm-4">{{ 'label.input.fund' | translate }}&nbsp;</label>
                <select id="fundId" ng-model="formData.fundId" class="form-control"
                        ng-options="fund.id as fund.name for fund in loanaccountinfo.fundOptions" value="{{fund.id}}">
                    <option value="">{{'label.selectfund' | translate}}</option>
                </select>
            </td>
        </tr>
    </table>
</div>

<div ng-show="loanaccountinfo.calendarOptions" class="form-group">
    <div ng-hide="previewRepayment">
        <hr>
        <table width="100%">
            <tr ng-repeat="calendar in loanaccountinfo.calendarOptions">
                <td width="12%"></td>
                <td width="88%">
                    <div class="form-group">
                        <label><i class="icon-calendar icon-white"></i> &nbsp;<strong>{{ 'label.heading.meetingdetails'
                            | translate }}</strong></label>
                        <label>{{ 'label.heading.startdate' | translate }}&nbsp;{{calendar.startDate |
                            DateFormat}}</label>
                        <label>{{ 'label.heading.repeatson' | translate }}&nbsp;{{calendar.humanReadable}}</label>
                        <label><input type="checkbox" ng-model="formData.syncRepaymentsWithMeeting"
                                      ng-change="syncRepaymentsWithMeetingchange()">&nbsp;{{
                            'label.input.syncrepaymentswithmeeting' | translate }}</label>
                        <label><input type="checkbox" ng-model="formData.syncDisbursementWithMeeting"
                                      ng-change="syncDisbursementWithMeetingchange()">&nbsp;{{
                            'label.input.syncdisbursementdatewithmeeting' | translate }}</label>
                    </div>
                </td>
            </tr>
        </table>
        <hr>
    </div>
</div>

<div ng-show="loanaccountinfo" class="form-group">
<table ng-hide="previewRepayment" width="100%">
<tr class="form-group">
    <td width="11%">
        <label class="control-label col-sm-4"><h4>{{ 'label.heading.terms' | translate }}</h4></label>
    </td>
    <td class="blockquoteresult" width="80%">
        <table>
            <tr>
                <td width="40%">
                    <label class="control-label col-sm-4">{{ 'label.input.expecteddisbursementon' | translate }}&nbsp;<span
                            class="required">*</span></label>
                    <input id="expectedDisbursementDate" type="text" datepicker-pop="dd MMMM yyyy"
                           ng-model="formData.expectedDisbursementDate" is-open="opened1" min="minDate"
                           max="'2020-06-22'" date-disabled="disabled(date, mode)" class="form-control"/>
                </td>
                <td width="40%">

                </td>
            </tr>
            <tr>

                <td>
                    <label class="control-label col-sm-4">{{ 'label.input.repaidevery' | translate }}&nbsp;<span
                            class="required">*</span></label>
                    <input id="repaymentEvery" class="input-sm form-control" name="repaidevery" type="text"
                           ng-model="formData.repaymentEvery" required late-Validate/>
                    <select id="repaymentFrequencyType" class="input-small" ng-model="formData.repaymentFrequencyType"
                            ng-options="repaymentFrequencyType.id as repaymentFrequencyType.value for repaymentFrequencyType in loanaccountinfo.termFrequencyTypeOptions"
                            value="{{repaymentFrequencyType.id}}"></select>
                    <form-validate valattributeform="newjlgloanform" valattribute="repaidevery"/>
                </td>
            </tr>
            <tr>
            </tr>
        </table>
    </td>
</tr>
<tr class="span2"></tr>
<tr class="form-group">
    <td>
        <label class="control-label col-sm-4"><h4>{{ 'label.heading.settings' | translate }}</h4></label>
    </td>
    <td class="blockquoteresult" width="80%">
        <table>
            <tr>
                <td width="40%">
                    <label class="control-label col-sm-4">{{ 'label.input.amortization' | translate }}&nbsp;<span
                            class="required">*</span></label>
                    <select id="amortizationType" ng-model="formData.amortizationType"
                            ng-options="amortizationType.id as amortizationType.value for amortizationType in loanaccountinfo.amortizationTypeOptions"
                            value="{{amortizationType.id}}">
                </td>
                <td width="40%">
                    <label class="control-label col-sm-4">{{ 'label.input.interestmethod' | translate }}&nbsp;<span
                            class="required">*</span></label>
                    <select id="interestType" ng-model="formData.interestType"
                            ng-options="interestType.id as interestType.value for interestType in loanaccountinfo.interestTypeOptions"
                            value="{{interestType.id}}">
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label col-sm-4">{{ 'label.input.interestcalculationperiod' | translate }}&nbsp;<span
                            class="required">*</span></label>
                    <select id="interestCalculationPeriodType" ng-model="formData.interestCalculationPeriodType"
                            ng-options="interestCalculationPeriodType.id as interestCalculationPeriodType.value for interestCalculationPeriodType in loanaccountinfo.interestCalculationPeriodTypeOptions"
                            value="{{interestCalculationPeriodType.id}}">
                </td>
                <td>
                    {{formData.displaySymbol}}
                    <label class="control-label col-sm-4">{{ 'label.input.arearstolerance' | translate }}&nbsp;</label>
                    <input id="inArrearsTolerance" type="text" ng-model="formData.inArrearsTolerance" class="form-control">
                    {{loanaccountinfo.currency.displaySymbol}}
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label col-sm-4">{{ 'label.input.repaymentstrategy' | translate }}&nbsp;<span
                            class="required">*</span></label>
                    <select id="transactionProcessingStrategyId" ng-model="formData.transactionProcessingStrategyId"
                            ng-options="transactionProcessingStrategy.id as transactionProcessingStrategy.name for transactionProcessingStrategy in loanaccountinfo.transactionProcessingStrategyOptions"
                            value="{{transactionProcessingStrategy.id}}">
                </td>
                <td>
                    <label class="control-label col-sm-4">{{ 'label.input.interestfreeperiod' | translate }}&nbsp;</label>
                    <input id="graceOnInterestCharged" type="text" ng-model="formData.graceOnInterestCharged">
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label col-sm-4">{{ 'label.input.firstrepaymenton' | translate }}&nbsp;</label>
                    <input id="repaymentsStartingFromDate" type="text" datepicker-pop="dd MMMM yyyy"
                           ng-model="formData.repaymentsStartingFromDate" is-open="opened3" min="minDate"
                           max="'2020-06-22'" date-disabled="disabled(date, mode)" class="form-control"/>
                </td>
                <td>
                    <label class="control-label col-sm-4">{{ 'label.input.interestchargedfrom' | translate }}&nbsp;</label>
                    <input id="interestChargedFromDate" type="text" datepicker-pop="dd MMMM yyyy"
                           ng-model="formData.interestChargedFromDate" is-open="opened2" min="minDate"
                           max="'2020-06-22'" date-disabled="disabled(date, mode)" class="form-control"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label col-sm-4">{{ 'label.input.linksavings' | translate }}&nbsp;</label>
                    <select id="linkAccountId" ng-model="formData.linkAccountId"
                            ng-options="savingaccount.id as savingaccount.productName for savingaccount in loanaccountinfo.accountLinkingOptions"
                            value="{{savingaccount.id}}">
                        <option value="">{{'label.menu.selectone' | translate}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label col-sm-4">{{ 'label.input.grace' | translate }}&nbsp;</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label col-sm-4">{{'label.input.onprincipalpayment' | translate}}&nbsp;</label>
                    <input id="graceOnPrincipalPayment" type="text" ng-model="formData.graceOnPrincipalPayment" class="form-control"/>&nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label col-sm-4">{{'label.input.oninterestpayment' | translate}}&nbsp;</label>
                    <input id="graceOnInterestPayment" type="text" ng-model="formData.graceOnInterestPayment" class="form-control"/>&nbsp;
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr class="span2"></tr>
<tr class="form-group" ng-show="multiDisburseLoan">
    <td width="10%" align="center">
        <label class="control-label col-sm-4"><h4>{{ 'label.heading.tranchedetails' | translate }}</h4></label>
    </td>
    <td class="blockquoteresult" width="90%">
        <table width="100%">
            <tr>
                <td>
                    <label class="control-label col-sm-4">{{'label.input.fixedemiamount' | translate}}&nbsp;</label>
                    <input id="graceOnPrincipalPayment" type="text" ng-model="formData.fixedEmiAmount">&nbsp;
                </td>
            </tr>
        </table>
        <table width="100%">
            <tr>
                <td>
                    <label class="control-label col-sm-4">{{'label.input.outstandingloanbalance' | translate}}&nbsp;</label>
                    <input id="graceOnPrincipalPayment" type="text" ng-model="formData.maxOutstandingLoanBalance" class="form-control" />&nbsp;
                </td>
            </tr>
        </table>
        <table width="100%">
            <tr>
                <td width="100%">
                    <a class="btn btn-primary" ng-click="addTranches()">{{ 'label.button.addtranch' |
                        translate }}</a>
                </td>

            </tr>
        </table>
        <table class="table" width="100%" ng-show="formData.disbursementData.length>0">
            <tr class="graybg">
                <th>{{'label.input.expecteddisbursementon' | translate}}</th>
                <th>{{'label.input.principal' | translate}}</th>
            </tr>
            <tr ng-repeat="disbursementDetail in formData.disbursementData">
                <td>
                    <input id="disbursementDetail[{{$index}}].expectedDisbursementDate" type="text"
                           datepicker-pop="dd MMMM yyyy"
                           placeholder="{{'label.input.expecteddisbursementon' | translate}}"
                           ng-model="disbursementDetail.expectedDisbursementDate" is-open="'openedtranche'+$index"
                           min="minDate" max="'2020-06-22'" class="form-control"/>
                </td>
                <td><input id="{{disbursementDetail[$index].principal}}" class="input-sm form-control" type="text"
                           ng-model="disbursementDetail.principal"
                           placeholder="{{'label.input.principal' | translate}}"></td>

                <td><a ng-click="deleteTranches($index)"><i class="icon-remove icon-white"></i></a></td>
            </tr>
        </table>
    </td>
</tr>
<tr class="span2"></tr>
<tr class="form-group">
    <td>
        <label class="control-label col-sm-4"><h4>{{ 'label.heading.charges' | translate }}</h4></label>
    </td>
    <td class="blockquoteresult">
        <form>
            <select ng-model="chargeFormData.chargeId"
                    ng-options="charge.id as charge.name for charge in loanaccountinfo.chargeOptions"
                    value="{{charge.id}}">
                <option style="display:none" value="">{{'label.selectcharge' | translate}}</option>
            </select>
            <a ng-click="addCharge()"><i class="icon-plus icon-white"></i></a>
        </form>
        <table class="table" width="100%" ng-show="charges.length>0">
            <tr class="graybg">
                <th>{{'label.heading.name' | translate}}</th>
                <th>{{'label.heading.type' | translate}}</th>
                <th>{{'label.heading.amount' | translate}}</th>
                <th>{{'label.heading.collectedon' | translate}}</th>
                <th>{{'label.heading.date' | translate}}</th>
                <th>{{'label.heading.actions' | translate}}</th>
            </tr>
            <tr ng-repeat="charge in charges">
                <td>{{charge.name}},{{charge.currency.displaySymbol}}</td>
                <td>{{charge.chargeCalculationType.value}}</td>
                <td><input id="{{charges[$index].amount}}" class="input-sm form-control" type="text" ng-model="charge.amount"
                           placeholder="{{'label.input.amount' | translate}}"></td>
                <td>{{charge.chargeTimeType.value}}</td>
                <td>
                    <input id="charges[{{$index}}].duedate" type="text" datepicker-pop="dd MMMM yyyy"
                           placeholder="{{'label.input.duedate' | translate}}" ng-model="charge.dueDate"
                           is-open="'openedch'+$index" min="minDate" max="'2020-06-22'"
                           date-disabled="disabled(date, mode)" class="form-control"/>
                </td>
                <td><a ng-click="deleteCharge($index)"><i class="icon-remove icon-white"></i></a></td>
            </tr>
        </table>
    </td>
</tr>
<tr class="span2" ng-show="loanaccountinfo.overdueCharges.length>0"></tr>
<tr class="form-group" ng-show="loanaccountinfo.overdueCharges.length>0">
    <td>
        <label class="control-label col-sm-4"><h4>{{ 'label.heading.overduepenalitycharge' | translate }}</h4></label>
    </td>
    <td class="blockquoteresult">
        <table class="table" width="100%" >
            <tr class="graybg">
                <th>{{'label.heading.name' | translate}}</th>
                <th>{{'label.heading.type' | translate}}</th>
                <th>{{'label.heading.amount' | translate}}</th>
                <th>{{'label.heading.collectedon' | translate}}</th>
            </tr>
            <tr ng-repeat="charge in loanaccountinfo.overdueCharges">
                <td>{{charge.name}},{{charge.currency.displaySymbol}}</td>
                <td>{{charge.chargeCalculationType.value}}</td>
                <td>{{charge.amount}}</td>
                <td>{{charge.chargeTimeType.value}}</td>
            </tr>
        </table>
    </td>
</tr>
<tr class="span2"></tr>
<tr class="form-group">
    <td>
        <label class="control-label col-sm-4"><h4>{{ 'label.heading.collaterals' | translate }}</h4></label>
    </td>
    <td class="blockquoteresult">
        <form>
            <select ng-model="collateralFormData.collateralIdTemplate"
                    ng-options="collateralTemplate.name for collateralTemplate in collateralOptions"
                    value="{{collateralTemplate.id}}">
            </select>&nbsp;&nbsp;
            <input class="input-sm form-control" type="text" ng-model="collateralFormData.collateralValueTemplate"
                   placeholder="{{'label.input.value' | translate}}">&nbsp;&nbsp;
            <input type="text" ng-model="collateralFormData.collateralDescriptionTemplate"
                   placeholder="{{'label.input.description' | translate}}" class="form-control">
            <a ng-click="addCollateral()">&nbsp;<i class="icon-plus icon-white"></i></a>
        </form>
        <table class="table" width="100%" ng-show="collaterals.length>0">
            <tr class="graybg">
                <th>{{'label.heading.name' | translate}}</th>
                <th>{{'label.heading.value' | translate}}</th>
                <th>{{'label.heading.description' | translate}}</th>
                <th>{{'label.heading.actions' | translate}}</th>
            </tr>
            <tr ng-repeat="collateral in collaterals">
                <td><input type="text" class="input-sm form-control" ng-model="collateral.name" readonly></td>
                <td><input id="{{collaterals[$index].value}}" type="text" class="input-sm form-control"
                           ng-model="collateral.value"></td>
                <td><input id="{{collaterals[$index].description}}" type="text" ng-model="collateral.description"
                           placeholder="{{'label.input.description' | translate}}" class="form-control"></td>
                <td><a ng-click="deleteCollateral($index)"><i class="icon-remove icon-white"></i></a></td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>

<br>

<div ng-show="loanaccountinfo">
    <span><a ng-show="previewRepayment" ng-click="previewRepayment=!previewRepayment"><i class="icon-circle-arrow-left">{{'label.anchor.backtoloaninfo'
        | translate}}</i></a><br><br></span>
</div>

<div class="form-group">
    <table class="table" ng-show="previewRepayment">
        <thead>
        <th colspan="3" scope="col"></th>
        <th colspan="3" scope="col">{{'label.heading.loanamountandbalance' | translate}}</th>
        <th colspan="2" scope="col">{{'label.heading.totalcostofloan' | translate}}</th>
        <th></th>
        </thead>
        <tbody>
        <tr>
            <td>#</td>
            <td>{{'label.heading.date' | translate}}</td>
            <td>{{'label.heading.days' | translate}}</td>
            <td>{{'label.heading.disbursement' | translate}}</td>
            <td>{{'label.heading.principaldue' | translate}}</td>
            <td>{{'label.heading.principalbalance' | translate}}</td>
            <td>{{'label.heading.interestdue' | translate}}</td>
            <td>{{'label.heading.fees' | translate}}</td>
            <td>{{'label.heading.due' | translate}}</td>
        </tr>
        <tr ng-repeat="period in repaymentscheduleinfo.periods">
            <td>{{period.period}}</td>
            <td>{{period.dueDate | DateFormat}}</td>
            <td>{{period.daysInPeriod}}</td>
            <td>{{period.principalDisbursed}}</td>
            <td>{{period.principalDue}}</td>
            <td>{{period.principalLoanBalanceOutstanding}}</td>
            <td>{{period.interestDue}}</td>
            <td>{{period.feeChargesDue}}</td>
            <td>{{period.totalDueForPeriod}}</td>
        </tr>
        <tfoot class="ui-widget-header">
        <tr>
            <td colspan="2">{{'label.heading.total' | translate}}</td>
            <td>{{repaymentscheduleinfo.loanTermInDays}}</td>
            <td>{{repaymentscheduleinfo.totalPrincipalDisbursed}}</td>
            <td>{{repaymentscheduleinfo.totalPrincipalExpected}}</td>
            <td></td>
            <td>{{repaymentscheduleinfo.totalInterestCharged}}</td>
            <td>{{repaymentscheduleinfo.totalFeeChargesCharged}}</td>
            <td>{{repaymentscheduleinfo.totalRepaymentExpected}}</td>
        </tr>
        </tfoot>
        </tbody>
    </table>
</div>

<div class="col-md-offset-6">
    <button id="cancel" type="reset" class="btn btn-default" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
    <button id="save" type="submit" has-permission='CREATE_LOAN' class="btn btn-primary" ng-show="loanaccountinfo">{{'label.button.save' |
        translate}}
    </button>
</div>
</fieldset>
</form>
