<div class="col-md-12" ng-controller="NewJLGLoanAccAppController">
    <ul class="breadcrumb">
        <li><a href="#/viewgroup/{{group.id}}">{{group.name}}</a></li>
        <li class="active">{{'label.anchor.bulkjlgloanapplication' | translate}}</li>
    </ul>

    <form name="newjlgloanform" class="form-horizontal well">
        <div class="form-group">
            <label class="control-label col-sm-2">{{'label.input.product' | translate}}<span class="required">*</span> <i class="icon-question-sign" tooltip="{{'label.tooltip.product' | translate}}"></i></label>
            <div class="col-sm-3">
                <select id="productId" class="form-control" ng-model="selectedProduct.id" ng-options="product.id as product.name for product in products" ng-change="loanProductChange(selectedProduct.id)">
                    <option class="displaynone" value="">{{'label.selectloanproduct' | translate}}</option>
                </select>
            </div>

            <br>
            <div ng-show="caledars">
                <table class="table">
                    <tr ng-repeat="calendar in caledars">
                        <td><i class="icon-calendar icon-white"></i> {{'label.heading.meetingdetails' | translate}}</td>
                        <td>{{'label.heading.repeatson' | translate }}</td>
                        <td>{{calendar.humanReadable}}</td>
                        <td align="center"><input type="checkbox" ng-model="loanApplicationCommonData.syncDisbursementWithMeeting"></td>
                        <td>{{'label.input.syncdisbursementdatewithmeeting' | translate}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div ng-show="productDetails">
            <div class="form-group">
                <label class="control-label col-sm-2">{{'label.input.loanofficer' | translate}}</label>
                <div class="col-sm-2">
                    <select id="loanOfficerId" class="form-control" ng-model="loanApplicationCommonData.loanOfficerId" ng-options="loanOfficer.id as loanOfficer.displayName for loanOfficer in loanOfficers | orderBy:'displayName':reverse">
                        <option value="">{{'label.selectloanofficer' | translate}}</option>
                    </select>
                </div>

                <label class="control-label col-sm-2">{{'label.input.fund' | translate}}</label>
                <div class="col-sm-2">
                    <select id="fundId" class="form-control" ng-model="loanApplicationCommonData.fundId" ng-options="fund.id as fund.name for fund in funds">
                        <option value="">{{'label.selectfund' | translate}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">{{'label.input.submittedon' | translate}}<span class="required">*</span></label>
                <div class="col-sm-2">
                    <input id="submittedOnDate" name="submittedon" type="text" class="form-control" ng-model="loanApplicationCommonData.submittedOnDate" datepicker-pop="dd MMMM yyyy" is-open="opened">
                </div>

                <label class="control-label col-sm-2">{{'label.input.disbursementon' | translate}}<span class="required">*</span></label>
                <div class="col-sm-2">
                    <input id="expectedDisbursementDate" name="expecteddisbursementon" type="text" class="form-control" ng-model="loanApplicationCommonData.expectedDisbursementDate" datepicker-pop="dd MMMM yyyy" is-open="opened1" sort>
                </div>
            </div>

            <table class="table">
                <tr class="graybg">
                    <th></th>
                    <th>{{'label.heading.clientid' | translate}}</th>
                    <th>{{'label.heading.clientname' | translate}}</th>
                    <th>{{'label.heading.loanpurpose' | translate}}</th>
                    <th>{{'label.heading.loanamount' | translate}}</th>
                    <th>{{'label.heading.charges' | translate}}</th>
                </tr>
                <tr ng-repeat="client in group.clients" ng-init="outerIndex = $index">
                    <td><input type="checkbox" ng-model="group.clients[outerIndex].isSelected"></td>
                    <td>{{client.id}}</td>
                    <td>{{client.displayName}}</td>
                    <td>
                        <select class="loanPurposeId form-control" ng-model="group.clients[outerIndex].loanPurposeId" ng-options="loanPurpose.id as loanPurpose.name for loanPurpose in loanPurposes | orderBy:'name':reverse">
                            <option value="">{{'label.selectpurpose' | translate}}</option>
                        </select>
                    </td>
                    <td><input name="principal" type="text" class="form-control principal" required ng-model="group.clients[outerIndex].principal" number-format></td>
                    <td>
                        <span ng-class="{'label': true, 'label-primary': charge.isDeleted == false, 'label-default': charge.isDeleted}" ng-repeat="charge in client.charges" ng-init="innerIndex = $index">
                            {{charge.name}} <i ng-click="toggleCharge(outerIndex, innerIndex)" ng-class="{'icon-remove-sign': charge.isDeleted == false, 'icon-plus-sign': charge.isDeleted}"></i>
                        </span>
                    </td>
                </tr>
            </table>
        </div>

        <div class="text-center">
            <button id="cancel" type="reset" class="btn btn-default" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
            <button id="save" type="submit" class="btn btn-primary" ng-click="submit()" ng-show="selectedProduct.id" has-permission='CREATE_LOAN'>{{'label.button.save' | translate}}</button>
        </div>
    </form>
</div>