<div class="col-md-12" ng-controller="NewLoanAccAppController">
    <ul class="breadcrumb">
        <li ng-show="groupName"><a href="#/viewgroup/{{groupId}}">{{groupName}}</a></li>
        <li ng-show="clientName"><a href="#/viewclient/{{clientId}}">{{clientName}}</a></li>
        <li class="active">{{'label.anchor.loanapplication' | translate}}</li>
    </ul>

    <api-validate></api-validate>
    <form name="newloanaccountform" class="form-horizontal well" novalidate="" rc-submit="submit()">
        <legend>{{'label.anchor.loanapplication' | translate}}</legend>

        <div class="form-group">
            <label class="control-label col-sm-2">{{'label.input.product' | translate}}<span class="required">*</span> <i class="icon-question-sign" tooltip="{{'label.tooltip.product' | translate}}"></i></label>
            <div class="col-sm-3">
                <select id="productId" class="form-control" ng-model="formData.productId" ng-options="product.id as product.name for product in products" ng-change="loanProductChange(formData.productId)">
                    <option class="displaynone" value="">{{'label.selectloanproduct' | translate}}</option>
                </select>
            </div>

            <div ng-show="formData.productId">
                <label class="control-label col-sm-2">{{'label.input.loanofficer' | translate}} <i class="icon-question-sign" tooltip="{{'label.tooltip.loanofficer' | translate}}"></i></label>
                <div class="col-sm-2">
                    <select id="loanOfficerId" class="form-control" ng-model="formData.loanOfficerId" ng-options="loanOfficer.id as loanOfficer.displayName for loanOfficer in loanaccountinfo.loanOfficerOptions | orderBy:'displayName':reverse">
                        <option value="">{{'label.selectloanofficer' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div ng-show="formData.productId">
            <div class="form-group">
                <label class="control-label col-sm-2">{{'label.input.loanpurpose' | translate}} <i class="icon-question-sign" tooltip="{{'label.tooltip.loanpurpose' | translate}}"></i></label>
                <div class="col-sm-2">
                    <select id="loanPurposeId" class="form-control" ng-model="formData.loanPurposeId" chosen="loanaccountinfo.loanPurposeOptions" ng-options="loanPurpose.id as loanPurpose.name for loanPurpose in loanaccountinfo.loanPurposeOptions | orderBy:'name':reverse">
                        <option value="">{{'label.selectpurpose' | translate}}</option>
                    </select>
                </div>

                <label class="control-label col-sm-3">{{'label.input.fund' | translate}}</label>
                <div class="col-sm-2">
                    <select id="fundId" class="form-control" ng-model="formData.fundId" ng-options="fund.id as fund.name for fund in loanaccountinfo.fundOptions">
                        <option value="">{{'label.selectfund' | translate}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">{{'label.input.submittedon' | translate}}<span class="required">*</span> <i class="icon-question-sign" tooltip="{{'label.tooltip.submittedon' | translate}}"></i></label>
                <div class="col-sm-2">
                    <input id="submittedOnDate" name="submittedon" type="text" class="form-control" required ng-model="date.first" datepicker-pop="dd MMMM yyyy" is-open="opened" min="'2000-01-01'" max="restrictDate">
                </div>

                <label class="control-label col-sm-3">{{'label.input.disbursementon' | translate}}<span class="required">*</span> <i class="icon-question-sign" tooltip="{{'label.tooltip.disbursementon' | translate}}"></i></label>
                <div class="col-sm-2">
                    <input id="expectedDisbursementDate" name="expecteddisbursementon" type="text" class="form-control" required ng-model="date.second" datepicker-pop="dd MMMM yyyy" sort is-open="opened1" min="minDate" max="'2020-06-22'">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">{{'label.input.externalid' | translate}} <i class="icon-question-sign" tooltip="{{'label.tooltip.externalid' | translate}}"></i></label>
                <div class="col-sm-2">
                    <input id="externalId" name="externalId" type="text" class="form-control" ng-model="formData.externalId">
                </div>
            </div>

            <div ng-show="loanaccountinfo" ng-hide="previewRepayment">
                <div ng-show="loanaccountinfo.calendarOptions">
                    <hr>
                    <h3><i class="icon-calendar icon-white"></i> {{'label.heading.meetingdetails' | translate}}</h3>

                    <table>
                        <tr ng-repeat="calendar in loanaccountinfo.calendarOptions">
                            <td>{{'label.heading.startdate' | translate}}</td>
                            <td>{{calendar.startDate | DateFormat}}</td>
                            <td>{{'label.heading.repeatson' | translate}}</td>
                            <td>{{calendar.humanReadable}}</td>
                        </tr>
                        <tr ng-repeat="calendar in loanaccountinfo.calendarOptions">
                            <td align="center"><input type="checkbox" ng-model="formData.syncRepaymentsWithMeeting" ng-change="syncRepaymentsWithMeetingchange()"></td>
                            <td>{{'label.input.syncrepaymentswithmeeting' | translate}}</td>
                            <td align="center"><input type="checkbox" ng-model="formData.syncDisbursementWithMeeting" ng-change="syncDisbursementWithMeetingchange()"></td>
                            <td>{{'label.input.syncdisbursementdatewithmeeting' | translate}}</td>
                        </tr>
                    </table>
                </div>

                <hr>
                <h3>{{'label.heading.savingsLinkage' | translate}}</h3>

                <div class="form-group">
                    <label class="control-label col-sm-2">{{'label.heading.savingsLinkage' | translate}}</label>
                    <div class="col-sm-3">
                        <select id="linkAccountId" class="form-control" ng-model="formData.linkAccountId" ng-options="savingaccount.id as savingaccount.productName for savingaccount in loanaccountinfo.accountLinkingOptions">
                            <option value="">{{'label.menu.selectone' | translate}}</option>
                        </select>
                    </div>

                    <label class="control-label col-sm-4">{{'label.input.createStandingInstruction' | translate}}</label>
                    <input id="createStandingInstruction" type="checkbox" class="input-mini-small col-sm-1" ng-model="formData.createStandingInstructionAtDisbursement">
                </div>

                <hr>
                <h3>{{'label.heading.terms' | translate}}</h3>

                <div class="form-group">
                    <label class="control-label col-sm-2">{{'label.input.principal' | translate}}<span class="required">*</span></label>
                    <div class="col-sm-2">
                        <input id="principal" name="principal" type="text" class="form-control" required ng-model="formData.principal" number-format late-Validate>
                    </div>
                    <span class="col-sm-1">{{loanaccountinfo.currency.displaySymbol}}</span>

                    <label class="control-label col-sm-2">{{'label.input.loanterm' | translate}}<span class="required">*</span></label>
                    <div class="col-sm-2">
                        <input id="loanTermFrequency" name="loanterm" type="text" class="form-control" required ng-model="formData.loanTermFrequency" late-Validate>
                    </div>
                    <div class="col-sm-2">
                        <select id="loanTermFrequencyType" class="form-control" ng-model="formData.loanTermFrequencyType" ng-options="termFrequencyType.id as termFrequencyType.value for termFrequencyType in loanaccountinfo.termFrequencyTypeOptions"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">{{'label.input.numofrepayments' | translate}}<span class="required">*</span></label>
                    <div class="col-sm-2">
                        <input id="numberOfRepayments" name="numofrepayments" type="text" class="form-control" required ng-model="formData.numberOfRepayments" late-Validate>
                    </div>

                    <label class="control-label col-sm-3">{{'label.input.repaidevery' | translate}}<span class="required">*</span></label>
                    <div class="col-sm-2">
                        <input id="repaymentEvery" name="repaidevery" type="text" class="form-control" required ng-model="formData.repaymentEvery" late-Validate>
                    </div>
                    <div class="col-sm-2">
                        <select id="repaymentFrequencyType" class="form-control" ng-model="formData.repaymentFrequencyType" ng-options="repaymentFrequencyType.id as repaymentFrequencyType.value for repaymentFrequencyType in loanaccountinfo.termFrequencyTypeOptions"></select>
                    </div>
                    <div ng-show="formData.repaymentFrequencyType == 2">
                        <br>
                        <label class="control-label col-sm-7">on the</label>
                        <div class="col-sm-2">
                            <select id="repaymentFrequencyNthDayType" class="form-control" ng-model="formData.repaymentFrequencyNthDayType" ng-options="repaymentFrequencyNthDayType.id as repaymentFrequencyNthDayType.value for repaymentFrequencyNthDayType in loanaccountinfo.repaymentFrequencyNthDayTypeOptions"></select>
                        </div>
                        <div class="col-sm-2">
                            <select id="repaymentFrequencyDayOfWeekType" class="form-control" ng-model="formData.repaymentFrequencyDayOfWeekType" ng-options="repaymentFrequencyDayOfWeekType.id as repaymentFrequencyDayOfWeekType.value for repaymentFrequencyDayOfWeekType in loanaccountinfo.repaymentFrequencyDaysOfWeekTypeOptions"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">{{'label.input.firstrepaymenton' | translate}} <i class="icon-question-sign" tooltip="{{'label.tooltip.firstrepaymenton' | translate}}"></i></label>
                    <div class="col-sm-2">
                        <input id="repaymentsStartingFromDate" type="text" class="form-control" ng-model="date.fourth" datepicker-pop="dd MMMM yyyy" is-open="opened3" min="minDate" max="'2020-06-22'">
                    </div>

                    <label class="control-label col-sm-3">{{'label.input.interestchargedfrom' | translate}} <i class="icon-question-sign" tooltip="{{'label.tooltip.interestchargedfrom' | translate}}"></i></label>
                    <div class="col-sm-2">
                        <input id="interestChargedFromDate" type="text" class="form-control" ng-model="date.third" datepicker-pop="dd MMMM yyyy" is-open="opened2" min="minDate" max="'2020-06-22'">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">{{'label.input.nominalinterestrate' | translate}}<span class="required">*</span></label>
                    <div class="col-sm-2">
                        <input id="interestRatePerPeriod" name="nominalinterestrate" type="text" class="form-control" required ng-model="formData.interestRatePerPeriod" late-Validate>
                    </div>
                    <span class="col-sm-1">{{loanaccountinfo.interestRateFrequencyType.value}}</span>

                    <label class="control-label col-sm-2">{{'label.input.interestmethod' | translate}}</label>
                    <div class="col-sm-2">
                        <select id="interestType" class="form-control" ng-model="formData.interestType" ng-options="interestType.id as interestType.value for interestType in loanaccountinfo.interestTypeOptions"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">{{'label.input.amortization' | translate}}<span class="required">*</span></label>
                    <div class="col-sm-2">
                        <select id="amortizationType" class="form-control" ng-model="formData.amortizationType" ng-options="amortizationType.id as amortizationType.value for amortizationType in loanaccountinfo.amortizationTypeOptions"></select>
                    </div>

                    <label class="control-label col-sm-3">{{'label.input.interestcalculationperiod' | translate}}<span class="required">*</span></label>
                    <div class="col-sm-2">
                        <select id="interestCalculationPeriodType" class="form-control" ng-model="formData.interestCalculationPeriodType" ng-options="interestCalculationPeriodType.id as interestCalculationPeriodType.value for interestCalculationPeriodType in loanaccountinfo.interestCalculationPeriodTypeOptions"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">{{'label.input.arearstolerance' | translate}}</label>
                    <div class="col-sm-2">
                        <input id="inArrearsTolerance" type="text" class="form-control" ng-model="formData.inArrearsTolerance" number-format>
                    </div>
                    <span class="col-sm-1">{{loanaccountinfo.currency.displaySymbol}}</span>

                    <label class="control-label col-sm-2">{{'label.input.interestfreeperiod' | translate}}</label>
                    <div class="col-sm-2">
                        <input id="graceOnInterestCharged" type="text" class="form-control" ng-model="formData.graceOnInterestCharged">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">{{'label.input.repaymentstrategy' | translate}}<span class="required">*</span></label>
                    <div class="col-sm-2">
                        <select id="transactionProcessingStrategyId" class="form-control" ng-model="formData.transactionProcessingStrategyId" ng-options="transactionProcessingStrategy.id as transactionProcessingStrategy.name for transactionProcessingStrategy in loanaccountinfo.transactionProcessingStrategyOptions"></select>
                    </div>

                    <lable class="control-label col-sm-2">{{'label.input.grace' | translate}} <i class="icon-question-sign" tooltip="{{'label.tooltip.moratorium' | translate}}"></i></lable>
                    <div class="col-sm-5">
                        <label class="control-label">{{'label.input.onprincipalpayment' | translate}}</label>
                        <input id="graceOnPrincipalPayment" type="text" class="input-mini-small" ng-model="formData.graceOnPrincipalPayment">
                        <label class="control-label">{{'label.input.oninterestpayment' | translate}}</label>
                        <input id="graceOnInterestPayment" type="text" class="input-mini-small" ng-model="formData.graceOnInterestPayment">
                        <label class="control-label">{{'label.input.onduedate' | translate}}</label>
                        <input id="graceOnArrearsAgeing" type="text" class="input-mini-small" ng-model="formData.graceOnArrearsAgeing">
                    </div>
                </div>
                <hr>

                <div class="form-group">
                    <label class="control-label col-sm-2">{{'label.input.recalculateinterest' | translate}}</label>
                    <span class="col-sm-2">{{loanaccountinfo.isInterestRecalculationEnabled | YesOrNo}}</span>

                    <div ng-show="loanaccountinfo.isInterestRecalculationEnabled">
                        <label class="control-label col-sm-2">{{'label.input.daysinyears' | translate}}</label>
                        <span class="col-sm-2">{{loanaccountinfo.daysInYearType.value}}</span>
                    </div>
                </div>

                <div ng-show="loanaccountinfo.isInterestRecalculationEnabled">
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{'label.input.interest.recalculation.reschdule.strategy' | translate}}</label>
                        <span class="col-sm-2">{{loanaccountinfo.interestRecalculationData.rescheduleStrategyType.value}}</span>

                        <label class="control-label col-sm-2">{{'label.input.daysinmonth' | translate}}</label>
                        <span class="col-sm-2">{{loanaccountinfo.daysInMonthType.value}}</span>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">{{'label.input.interest.recalculation.compounding.method' | translate}}</label>
                        <span class="col-sm-2">{{loanaccountinfo.interestRecalculationData.interestRecalculationCompoundingType.value}}</span>

                        <label class="control-label col-sm-2">{{'label.input.frequency.for.recalculte.outstanding.principal' | translate}}</label>
                        <span class="col-sm-2">{{loanaccountinfo.interestRecalculationData.recalculationRestFrequencyType.value}}</span>
                    </div>

                    <div class="form-group" ng-show="loanaccountinfo.interestRecalculationData.recalculationRestFrequencyType.id != 1">
                        <label class="control-label col-sm-2">{{'label.input.frequenc.interval.for.recalculte.outstanding.principal' | translate}}</label>
                        <span class="col-sm-2">{{loanaccountinfo.interestRecalculationData.recalculationRestFrequencyInterval}}</span>

                        <label class="control-label col-sm-2">{{'label.input.frequenc.date.for.recalculte.outstanding.principal' | translate}}<span class="required">*</span></label>
                        <div class="col-sm-2">
                            <input id="recalculationRestFrequencyDate" name="recalculationRestFrequencyDate" type="text" class="form-control" required ng-model="date.recalculationRestFrequencyDate" datepicker-pop="dd MMMM yyyy" is-open="opened" min="'2000-01-01'" max="restrictDate">
                        </div>
                    </div>
                </div>

                <div ng-show="multiDisburseLoan">
                    <hr>
                    <h3>{{'label.heading.tranchedetails' | translate}}</h3>

                    <div class="form-group">
                        <label class="control-label col-sm-2">{{'label.input.fixedemiamount' | translate}}</label>
                        <div class="col-sm-2">
                            <input id="fixedEmiAmount" type="text" class="form-control" ng-model="formData.fixedEmiAmount" number-format>
                        </div>

                        <label class="control-label col-sm-2">{{'label.input.outstandingloanbalance' | translate}}</label>
                        <div class="col-sm-2">
                            <input id="maxOutstandingLoanBalance" type="text" class="form-control" ng-model="formData.maxOutstandingLoanBalance" number-format>
                        </div>

                        <a class="btn btn-primary" ng-click="addTranches()"><i class="icon-plus icon-white"></i> {{'label.button.addtranch' | translate}}</a>
                    </div>

                    <table class="table" ng-show="formData.disbursementData.length > 0">
                        <tr class="graybg">
                            <th>{{'label.input.expecteddisbursementon' | translate}}</th>
                            <th>{{'label.input.principal' | translate}}</th>
                            <th>{{'label.heading.actions' | translate}}</th>
                        </tr>
                        <tr ng-repeat="disbursementDetail in formData.disbursementData">
                            <td><input id="disbursementDetail[{{$index}}].expectedDisbursementDate" type="text" class="form-control" placeholder="{{'label.input.expecteddisbursementon' | translate}}" ng-model="disbursementDetail.expectedDisbursementDate" datepicker-pop="dd MMMM yyyy" is-open="'openedtranche'+$index" min="minDate" max="'2020-06-22'"></td>
                            <td><input id="{{disbursementDetail[$index].principal}}" type="text" class="input-sm form-control" placeholder="{{'label.input.principal' | translate}}" ng-model="disbursementDetail.principal" number-format></td>
                            <td><a ng-click="deleteTranches($index)"><i class="icon-remove icon-white"></i></a></td>
                        </tr>
                    </table>
                </div>

                <hr>
                <h3>{{'label.heading.charges' | translate}}</h3>

                <div class="form-group">
                    <div class="col-sm-3">
                        <select class="form-control" ng-model="chargeFormData.chargeId" ng-options="charge.id as (charge.name + ' (' + charge.currency.displaySymbol + ')') for charge in loanaccountinfo.chargeOptions|filter:loanaccountinfo.currency.code:strict">
                            <option value="">{{'label.selectcharge' | translate}}</option>
                        </select>
                    </div>
                    <a class="btn btn-primary" ng-click="addCharge()"><i class="icon-plus-sign icon-white"></i> {{'label.button.addcharge' | translate}}</a>
                </div>

                <table class="table" ng-show="charges.length > 0">
                    <tr class="graybg">
                        <th>{{'label.heading.name' | translate}}</th>
                        <th>{{'label.heading.type' | translate}}</th>
                        <th>{{'label.heading.amount' | translate}}</th>
                        <th>{{'label.heading.collectedon' | translate}}</th>
                        <th>{{'label.heading.date' | translate}}</th>
                        <th>{{'label.heading.actions' | translate}}</th>
                    </tr>
                    <tr ng-repeat="charge in charges">
                        <td>{{charge.name}} ({{charge.currency.displaySymbol}})</td>
                        <td>{{charge.chargeCalculationType.value}}</td>
                        <td><input id="{{charges[$index].amount}}" type="text" class="form-control" placeholder="{{'label.input.amount' | translate}}" ng-model="charge.amount" number-format></td>
                        <td>{{charge.chargeTimeType.value}}</td>
                        <td><input id="charges[{{$index}}].duedate" type="text" class="form-control" placeholder="{{'label.input.duedate' | translate}}" ng-model="charge.dueDate" datepicker-pop="dd MMMM yyyy" is-open="'openedch'+$index" min="minDate" max="'2020-06-22'"></td>
                        <td><a ng-click="deleteCharge($index)"><i class="icon-remove icon-white"></i></a></td>
                    </tr>
                </table>

                <div ng-show="loanaccountinfo.overdueCharges.length > 0">
                    <hr>
                    <h3>{{'label.heading.overduepenalitycharge' | translate}}</h3>

                    <table class="table">
                        <tr class="graybg">
                            <th>{{'label.heading.name' | translate}}</th>
                            <th>{{'label.heading.type' | translate}}</th>
                            <th>{{'label.heading.amount' | translate}}</th>
                            <th>{{'label.heading.collectedon' | translate}}</th>
                        </tr>
                        <tr ng-repeat="charge in loanaccountinfo.overdueCharges">
                            <td>{{charge.name}} ({{charge.currency.displaySymbol}})</td>
                            <td>{{charge.chargeCalculationType.value}}</td>
                            <td>{{charge.amount}}</td>
                            <td>{{charge.chargeTimeType.value}}</td>
                        </tr>
                    </table>
                </div>

                <hr>
                <h3>{{'label.heading.collaterals' | translate}}</h3>

                <div class="form-group">
                    <div class="col-sm-2">
                        <select class="form-control" ng-model="collateralFormData.collateralIdTemplate" ng-options="collateralTemplate.id as collateralTemplate.name for collateralTemplate in collateralOptions">
                            <option value="">{{'label.selectcollateral' | translate}}</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="{{'label.input.value' | translate}}" ng-model="collateralFormData.collateralValueTemplate" number-format>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="{{'label.input.description' | translate}}" ng-model="collateralFormData.collateralDescriptionTemplate">
                    </div>
                    <a class="btn btn-primary" ng-click="addCollateral()"><i class="icon-plus-sign icon-white"> {{'label.button.addcollateral' | translate}}</i></a>
                </div>

                <table class="table" ng-show="collaterals.length > 0">
                    <tr class="graybg">
                        <th>{{'label.heading.type' | translate}}</th>
                        <th>{{'label.heading.value' | translate}}</th>
                        <th>{{'label.heading.description' | translate}}</th>
                        <th>{{'label.heading.actions' | translate}}</th>
                    </tr>
                    <tr ng-repeat="collateral in collaterals">
                        <td><input type="text" class="input-sm form-control" ng-model="collateral.name" readonly></td>
                        <td><input id="{{collaterals[$index].value}}" type="text" class="form-control" ng-model="collateral.value"></td>
                        <td><input id="{{collaterals[$index].description}}" type="text" class="form-control" placeholder="{{'label.input.description' | translate}}" ng-model="collateral.description"></td>
                        <td><a ng-click="deleteCollateral($index)"><i class="icon-remove icon-white"></i></a></td>
                    </tr>
                </table>
            </div>
            <br>

            <div ng-show="loanaccountinfo">
                <span ng-hide="previewRepayment"><a ng-click="previewRepayments()">{{'label.anchor.repaymentinfo' | translate}} <i class="icon-circle-arrow-right"></i></a></span>
                <span ng-show="previewRepayment"><a ng-click="previewRepayment=!previewRepayment"><i class="icon-circle-arrow-left"> {{'label.anchor.backtoloaninfo' | translate}}</i></a></span>
            </div>

            <div ng-show="previewRepayment">
                <table class="table">
                    <tr>
                        <th colspan="3"></th>
                        <th colspan="3">{{'label.heading.loanamountandbalance' | translate}}</th>
                        <th colspan="2">{{'label.heading.totalcostofloan' | translate}}</th>
                        <th colspan="2"></th>
                    </tr>
                    <tr>
                        <td>#</td>
                        <td>{{'label.heading.date' | translate}}</td>
                        <td>{{'label.heading.days' | translate}}</td>
                        <td>{{'label.heading.disbursement' | translate}}</td>
                        <td>{{'label.heading.principaldue' | translate}}</td>
                        <td>{{'label.heading.principalbalance' | translate}}</td>
                        <td>{{'label.heading.interestdue' | translate}}</td>
                        <td>{{'label.heading.fees' | translate}}</td>
                        <td>{{'label.heading.penalty' | translate}}</td>
                        <td>{{'label.heading.due' | translate}}</td>
                    </tr>
                    <tr ng-repeat="period in repaymentscheduleinfo.periods">
                        <td>{{period.period}}</td>
                        <td>{{period.dueDate | DateFormat}}</td>
                        <td>{{period.daysInPeriod}}</td>
                        <td>{{period.principalDisbursed | number}}</td>
                        <td>{{period.principalDue| number}}</td>
                        <td>{{period.principalLoanBalanceOutstanding| number}}</td>
                        <td>{{period.interestDue| number}}</td>
                        <td>{{period.feeChargesDue| number}}</td>
                        <td>{{period.penaltyChargesDue| number}}</td>
                        <td>{{period.totalDueForPeriod| number}}</td>
                    </tr>
                    <tr class="ui-widget-header">
                        <td colspan="2">{{'label.heading.total' | translate}}</td>
                        <td>{{repaymentscheduleinfo.loanTermInDays}}</td>
                        <td>{{repaymentscheduleinfo.totalPrincipalDisbursed| number}}</td>
                        <td>{{repaymentscheduleinfo.totalPrincipalExpected| number}}</td>
                        <td></td>
                        <td>{{repaymentscheduleinfo.totalInterestCharged| number}}</td>
                        <td>{{repaymentscheduleinfo.totalFeeChargesCharged| number}}</td>
                        <td>{{repaymentscheduleinfo.totalPenaltyChargesCharged| number}}</td>
                        <td>{{repaymentscheduleinfo.totalRepaymentExpected| number}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="text-center">
            <button id="cancel" class="btn btn-default" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
            <button id="save" type="submit" class="btn btn-primary" has-permission='CREATE_LOAN' ng-show="loanaccountinfo">{{'label.button.save' | translate}}</button>
        </div>
    </form>
</div>