<div class="content-container" ng-controller="RejectLoanRescheduleRequestController">
        <ul class="breadcrumb">
            <li><a href="#/viewloanaccount/{{loanId}}">{{'label.anchor.viewloanaccount' | translate}}</a></li>
            <li><a href="#/loans/{{loanId}}/viewreschedulerequest/" class="active">{{'label.anchor.reschedulerequest' | translate}}</a></li>
        </ul>
    <div class="card">
        <div class="content">
            <form name="rejectloanrescheduleform" novalidate="" class="form-horizontal" rc-submit="submit()">
                <api-validate></api-validate>
                <fieldset>
                    <legend>{{'label.heading.rejectloanreschedule' | translate}}</legend>

                    <label class="control-label col-sm-2">{{'label.input.rejectedOnDate' | translate}}<span class="required">*</span></label>
                    <div class="col-sm-3">
                        <input id="rejectedOnDate" type="text" name="rejectedOnDate" datepicker-pop="dd MMMM yyyy"
                               class="form-control paddedbottom10 paddedtop" ng-model="formData.rejectedOnDate" is-open="opened" min="'2000-01-01'" max="restrictDate"/>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div style="padding-left: 100px;">
                        <button type="button" ng-click="cancel()" class="btn btn-default ">{{ 'label.button.cancel' | translate }}</button>

                        <button type="button" ng-click="reject()" type="submit" class="btn btn-primary"  has-permission="REJECTRESCHEDULE_LOAN">
                            {{'label.button.save' | translate}}
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>