<div ng-controller="ViewLoanCollateralController">
	<div class="paddedbottom10">
		<ul class="breadcrumb">
			<li><a href="#/viewloanaccount/{{loanId}}">{{'label.view.loan.account' | translate}}</a><span class="divider">/</span></li>
			<li class="active">{{ 'label.loan.view.collateral' | translate}}({{collateral.type.name}})</li>
		</ul>
		<div class="pull-right">
			<div class="btn-group">
				<a href="#/loan/{{loanId}}/editcollateral/{{collateralId}}" class="btn btn-primary"><i class="icon-edit icon-white"></i> {{'button.edit' | translate}}</a>
				<button type="button" ng-click="deleteCollateral()" class="btn btn-danger"><i class="icon-trash icon-white"></i>{{'button.delete' | translate}}</button>
			</div>
		</div>
	</div>
    <script type="text/ng-template" id="deletecollateral.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.delete' | translate}}</h3>
        </div>
        <div class="modal-body modal-middle">
            <button class="btn btn-warning" ng-click="cancel()">{{'label.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="delete()">{{'label.confirm' | translate}}</button>
        </div>
    </script>
	<div class="row-fluid">
		<h3>{{'label.loan.view.collateral' | translate}}</h3>
		<table width="100%">
			<tr>
				<td width="20%">{{'label.name' | translate}}</td>
				<td width="80%">{{collateral.type.name}}</td>
			</tr>
			<tr>
				<td>{{'label.description' | translate}}</td>
				<td>{{collateral.description}}</td>
			</tr>
			<tr>
				<td>{{'label.currency' | translate}}</td>
				<td>{{collateral.currency.name}}</td>
			</tr>
			<tr>
				<td>{{'label.value' | translate}}</td>
				<td>{{collateral.currency.displaySymbol}}&nbsp;&nbsp;{{collateral.value}}</td>
			</tr>
		</table>
	</div>
</div>