<div class="col-md-12" ng-controller="AccCoaController">
    <ul class="breadcrumb">
        <li><a href="#/accounting">{{'label.anchor.accounting' | translate}}</a></li>
        <li class="active">{{'label.anchor.coa' | translate}}</li>
    </ul>

    <api-validate></api-validate>
    <h3 class="bolder col-md-12">{{'label.heading.chartofaccounts' | translate}}
        <div class="pull-right">
            <a ng-show="isTreeView" ng-click="isTreeView=!isTreeView" class="btn btn-primary btn-sm"><i class="icon-list icon-white"></i>{{'label.button.listview' | translate}}</a>
            <a ng-hide="isTreeView" ng-click="isTreeView=!isTreeView" class="btn btn-primary btn-sm"><i class="icon-sitemap icon-white"></i>{{'label.button.treeview' | translate}}</a>
            <a href="#/createglaccount" class="btn btn-primary btn-sm" has-permission='CREATE_GLACCOUNT'><i class="icon-plus icon-white"></i>{{'label.button.addaccount' | translate}}</a>
        </div>
    </h3>
    <div class="clear"></div>
    <div ng-hide="isTreeView">
        <input ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control marginbottom0px" placeholder="{{'label.input.filterbyAccountGlcodeAccounttype' | translate}}">
        <table class="table">
            <thead>
            <tr class="graybg">
                <th>{{'label.heading.account' | translate}}</th>
                <th>{{'label.heading.glcode' | translate}}</th>
                <th>{{'label.heading.acctype' | translate}}</th>
                <th>{{'label.heading.disabled' | translate}}?</th>
                <th>{{'label.heading.manualentriesallowed' | translate}}</th>
                <th>{{'label.heading.usedas' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr class="pointer-main" ng-repeat="coadata in coadatas | orderBy:'type.value' | SearchFilter:filterText">
                <td class="pointer" data-ng-click="routeTo(coadata.id)">{{coadata.name}}</td>
                <td class="pointer" data-ng-click="routeTo(coadata.id)">{{coadata.glCode}}</td>
                <td class="pointer" data-ng-click="routeTo(coadata.id)">{{coadata.type.value}}</td>
                <td class="pointer" data-ng-click="routeTo(coadata.id)">{{coadata.disabled}}</td>
                <td class="pointer" data-ng-click="routeTo(coadata.id)">{{coadata.manualEntriesAllowed}}</td>
                <td class="pointer" data-ng-click="routeTo(coadata.id)">{{coadata.usage.value}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="isTreeView"  >
		<div ng-show="$root.tempNodeID >= 0" class="col-md-8 divscrollable" >
            <div ng-show = "$root.edit" class="btn-group pull-right">
                <a ng-show="glaccount.usage.value == 'HEADER'" class="btn btn-primary" href="#/createglaccount?parent={{glaccount.id}}&acctype={{glaccount.type.value}}" has-permission='CREATE_GLACCOUNT'><i
                        class="icon-lock icon-plus"></i>{{'label.button.addchildaccount' | translate}}</a>
                <a ng-hide="glaccount.disabled" class="btn btn-primary" ng-click="changeState(glaccount.disabled, $root.tempNodeID)" has-permission='UPDATE_GLACCOUNT'><i
                        class="icon-lock icon-white"></i>{{'label.button.disable' | translate}}</a>
                <a ng-show="glaccount.disabled" class="btn btn-primary" ng-click="changeState(glaccount.disabled, $root.tempNodeID)" has-permission='UPDATE_GLACCOUNT'><i
                        class="icon-unlock icon-white"></i>{{'label.button.enable' | translate}}</a>
                <a  data-ng-click = "$root.edit = false" class="btn btn-primary" has-permission='UPDATE_GLACCOUNT'><i class="icon-edit icon-white"></i>{{'label.button.edit' | translate}}</a>
                <button class="btn btn-primary" ng-click="deleteGLAccount()" has-permission='DELETE_GLACCOUNT'><i class="icon-trash icon-white"></i>{{'label.button.delete' | translate}}</button>
            </div>


            <script type="text/ng-template" id="deleteglacc.html">
                <div class="modal-header silver">
                    <h3 class="bolder">{{'label.heading.delete' | translate}}</h3>
                </div>
                <div class="modal-body ">
                    <api-validate></api-validate>
                    <br>
                    <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
                    <button class="btn btn-primary" ng-click="delete()">{{'label.button.confirm' | translate}}</button>
                </div>
            </script>
				<table ng-show = "$root.edit" class="table table-bordered table-striped">
					<tr>
						<td>{{ 'label.heading.glcode' | translate }}</td>
						<td ng-repeat="coadata in coadatas" ng-show="coadata.id == $root.tempNodeID">{{coadata.glCode}}</td>
					</tr>
	            <tr>
	                <td>{{ 'label.heading.acctype' | translate }}</td>
	                <td ng-repeat="coadata in coadatas" ng-show="coadata.id == $root.tempNodeID">{{coadata.type.value}}</td>
	            </tr>
	           
	            <tr>
	                <td>{{ 'label.heading.accountusage' | translate }}</td>
	                <td ng-repeat="coadata in coadatas" ng-show="coadata.id == $root.tempNodeID">{{coadata.usage.value}}</td>
	            </tr>
	
	            <tr>
	                <td class="width40">{{ 'label.heading.manualentriesallowed' | translate }}</td>
	                <td ng-repeat="coadata in coadatas" ng-show="coadata.id == $root.tempNodeID">{{coadata.manualEntriesAllowed}}</td>
	            </tr>
	            <tr>
	                <td>{{ 'label.heading.description' | translate }}</td>
	                <td ng-repeat="coadata in coadatas" ng-show="coadata.id == $root.tempNodeID">{{coadata.description}}</td>
	            </tr>
	        </table>

            <form ng-hide = "$root.edit" name="editglaccountingform" novalidate="" class="form-horizontal well" rc-submit="submit()">
                <fieldset>
                    <legend>{{'label.heading.editglaccount' | translate}}</legend>
                    <div class="form-group">
                        <label class="control-label col-sm-3 " for="type">{{'label.input.accounttype' | translate}}
                        </label>
                        <div class="col-sm-3">
                            <select id="type" ng-model="formData.type"
                                    ng-options="accountType.id as accountType.value for accountType in accountTypes"
                                    value="{{accountType.id}}" class="form-control"/>
                        </div>
                        <label class="control-label col-sm-2" for="parentId">{{'label.input.parent' | translate}}</label>
                        <div class="col-sm-4">
                            <select id="parentId" ng-model="formData.parentId" class="form-control"
                                    ng-options="headerType.id as headerType.name for headerType in headerTypes"
                                    value="{{headerType.id}}">
                                <option value="">{{'label.selectparent' | translate}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 ">{{'label.input.glcode' | translate}}<span
                                class="required">*</span></label>
                        <div class="col-sm-3">
                            <input type="text" id="glCode" name="glCode" ng-autofocus="true" ng-model="formData.glCode" class="form-control" required
                                   late-Validate/>
                        </div>
                        <div >
                            <form-validate valattributeform="createglaccountingform" valattribute="glCode"/>
                        </div>
                        <label class="control-label col-sm-2" >{{'label.input.accountname' | translate}}<span
                                class="required">*</span></label>
                        <div class="col-sm-4">
                            <input id="name" type="text"  name="name"
                                   ng-model="formData.name" class="form-control" required late-Validate/>
                        </div>
                        <div>
                            <form-validate valattributeform="createglaccountingform" valattribute="name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 " for="usage">{{'label.input.accountusage' | translate}}</label>

                        <div class="col-sm-3">
                            <select id="usage" ng-model="formData.usage" class="form-control"
                                    ng-options="usageType.id as usageType.value for usageType in usageTypes"
                                    value="{{usageType.id}}"></select>
                        </div>
                        <label class="control-label col-sm-2 " for="tagId">{{'label.input.tag' | translate}}</label>
                        <div class="col-sm-4">
                            <select id="tagId" ng-model="formData.tagId" class="form-control"
                                    ng-options="type.id as type.name for type in types" value="{{type.id}}">
                                <option value="">{{'label.selecttag' | translate}}</option>
                            </select>          </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="manualEntriesAllowed">{{'label.input.manualentriesallowed' |
                            translate}}</label>

                        <div class="col-sm-3">
                            <label class="checkbox">
                                <input id="manualEntriesAllowed" type="checkbox" ng-model="formData.manualEntriesAllowed">
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="description">{{'label.input.description' |
                            translate}}</label>

                        <div class="col-sm-8">
                            <textarea id="description" name="description" ng-model="formData.description" rows="8" class="form-control" cols=""></textarea>
                        </div>
                    </div>
                    <div class="col-md-offset-5">
                        <a id="cancel" href="#/accounting_coa/" data-ng-click = "$root.isTreeView = true" class="btn btn-default">{{'label.button.cancel' | translate}}</a>
                        <button id="save" type="submit" class="btn btn-primary" has-permission='UPDATE_GLACCOUNT'>{{'label.button.save' | translate}}</button>
                    </div>
                </fieldset>
            </form>
		</div>
		
        <div class = "col-sm-4"
                data-angular-treeview="true"
                data-tree-id="treeview"
                data-tree-model="treedata"
                data-node-id="id"
                data-node-label="name"
                data-node-children="children"
				data-node-glCode="glCode">
        </div>
		
    </div>
	<br>
	<br>
	<br><br><br><br><br><br>
    <br>
    <br>
    <br><br><br><br><br><br>
    <br>
    <br>
    <br><br><br><br><br><br>
    <br>
    <br>
    <br><br><br><br><br><br>
	<!-- <br> was needed to move footer a bit down, because detail-table was covered by version details -->
</div>