      <div class="paddedbottom10">
        <ul class="breadcrumb">
          <li><a href="#/accounting">{{'link.accounting' | translate}}</a> <span class="divider">/</span></li>
          <li class="active">{{'label.closingentries.title' | translate}}</li>
        </ul>
      </div>
      <form class="form-horizontal well" ng-controller="AccountingClosureController" ng-submit="submit()">
          <legend>{{ 'label.accounting.closure' | translate }}</legend>
          <div class="control-group">
            <label class="control-label" for="officeId">{{ 'label.office' | translate }}</label>
            <div class="controls">
              <select ng-model="formData.officeId" ng-change="updateLastClosed(formData.officeId)">
                <option ng-repeat="office in offices" value="{{office.id}}">{{office.name}}</option>
              </select>
              <span ng-show="lastClosed">{{ 'label.previous.closedOn' | translate }} - {{lastClosed}}</span>
            </div>
          </div>
        
          <div class="control-group">
            <label class="control-label" for="closingDate">{{ 'label.accounting.closure.closing.date' | translate }}</label>
            <div class="controls">
              <input type="text" id="closingDate" ng-model="formData.closingDate">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="comments">{{ 'label.accounting.closure.comments' | translate }}</label>
            <div class="controls">
              <textarea rows="2" ng-model="formData.comments"></textarea>
            </div>
          </div>
          <div class="form-actions">
            <button type="reset" class="btn">{{ 'label.cancel' | translate }}</button>
            <button type="submit" class="btn btn-primary">{{ 'label.save' | translate }}</button>
          </div>
      </form>