<div class="row paddedleft paddedtop">
	<div class="span6">
		<div class="list-group">
			<a class="list-group-item" href="#/freqposting">
				<h4 class="list-group-item-heading"><i class="icon-repeat icon-large"></i>&nbsp;&nbsp;{{ 'label.heading.frequentpostings' | translate}}</h4>
				<p class="list-group-item-text">{{'label.thesearepredefinedpostings' | translate}}</p>
			</a>
			<a class="list-group-item" href="#/journalentry">
				<h4 class="list-group-item-heading"><i class="icon-plus icon-large"></i>&nbsp;&nbsp;{{ 'label.heading.addjournalentries' | translate}}</h4>
				<p class="list-group-item-text">{{ 'label.manualjournalentrytransactionsrecordedinajournal' | translate}}</p>
			</a>
			<a class="list-group-item" href="#/searchtransaction">
				<h4 class="list-group-item-heading"><i class="icon-search icon-large"></i>&nbsp;&nbsp;{{ 'label.heading.searchjournalentries' | translate}}</h4>
				<p class="list-group-item-text">{{ 'label.advancesearchoptionforjournalentries' | translate}}</p>
			</a>
		</div>
	</div>
	<div class="span6">
		<a class="list-group-item" href="#/accounting_coa">
			<h4 class="list-group-item-heading"><i class="icon-large icon-sitemap"></i>&nbsp;&nbsp;{{ 'label.heading.chartofaccounts' | translate}}</h4>
			<p class="list-group-item-text">{{ 'label.listoftheaccountsusedbytheorganization' | translate}}</p>
		</a>
		<a class="list-group-item" href="#/accounts_closure">
			<h4 class="list-group-item-heading"><i class="icon-large icon-folder-close"></i>&nbsp;&nbsp;{{ 'label.heading.closingentries' | translate}}</h4>
			<p class="list-group-item-text">{{ 'label.journalentriesmadeattheendofanaccountingperiod' | translate}}</p>
		</a>
		<a class="list-group-item" href="#/accounting_rules">
			<h4 class="list-group-item-heading"><i class="icon-large icon-lock"></i>&nbsp;&nbsp;{{ 'label.heading.accountingrules' | translate}}</h4>
			<p class="list-group-item-text">{{ 'label.listsallaccountingrules' | translate}}</p>
		</a>
	</div>
</div>