<div>
    <ul class="breadcrumb">
        <li><a href="#/accounting">{{'link.accounting' | translate}}</a> <span class="divider">/</span></li>
        <li class="active">{{'label.accountsclosure' | translate}}</li>
    </ul>
    <div class="pull-right">
        <a href="#/createclosure" class="btn btn-primary"><i class="icon-plus icon-white"></i>{{'label.createclosure' | translate}}</a>
    </div>
</div>
<div ng-controller="AccountingClosureController" >
    <legend>{{ 'label.closed.accounting.details' | translate }}</legend>

    <div class="pull-left">
        <span for="officeId"><b>{{ 'label.office' | translate }}</b></span>
        <select ng-model="formData.officeId" ng-change="closedAccountingDetails(formData.officeId)">
            <option value="">--{{ 'label.filterbyoffice' | translate }}--</option>
            <option ng-repeat="office in offices" value="{{office.id}}">{{office.name}}</option>
        </select>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>{{ 'table.heading.officename' | translate }}</th>
            <th>{{ 'label.accounting.closure.closing.date' | translate }}</th>
            <th>{{ 'label.journalentry.comments' | translate }}</th>
            <th>{{ 'label.close.accounting.created.by' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="accountClosure in accountClosures">
            <td><a href="#/view_close_accounting/{{accountClosure.id}}">{{accountClosure.officeName}}</a></td>
            <td>{{accountClosure.closingDate | DateFormat}}</td>
            <td>{{accountClosure.comments}}</td>
            <td>{{accountClosure.createdByUsername}}</td>
        </tr>
        </tbody>
    </table>
</div>