<div>
    <ul class="breadcrumb">
      <li><a href="#/accounting">{{'link.accounting' | translate}}</a> <span class="divider">/</span></li>
      <li><a href="#/accounting_rules">{{'label.accountingrules' | translate}}</a> <span class="divider">/</span></li>
      <li class="active">{{'button.addrule' | translate}}</li>
    </ul>
</div>
<form class="form-horizontal well" ng-controller="AccCreateRuleController" ng-submit="submit()">
  <fieldset>
    <legend>{{ 'label.accounting.rule.title' | translate }}</legend>
    <div class="control-group">
      <label class="control-label" for="name">{{ 'label.accounting.rule.name' | translate }}</label>
      <div class="controls">
        <input type="text" id="name" ng-model="formData.name">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="officeId">{{ 'label.office' | translate }}</label>
      <div class="controls">
        <select ng-model="formData.officeId"  ng-options="office.id as office.name for office in offices" value="{{office.id}}">
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="description">{{ 'label.description' | translate }}</label>
      <div class="controls">
        <textarea rows="2" ng-model="formData.description"></textarea>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">{{ 'label.journalentry.effected.entries' | translate }}</label>
      <div class="controls">
        <table width="100%">
          <tr>
            <td width="50%">
              <strong>{{ 'label.journalentry.credit' | translate }}</strong>
            </td>
            <td width="50%">
              <strong>{{ 'label.journalentry.debit' | translate }}</strong>
            </td>
          </tr>
          <tr>
            <td width="50%">
              <span>{{ 'label.credit.rule.type' | translate }}</span> &nbsp;
              <input type="radio" ng-model="creditRuleType" value="Account" ng-change="resetCredits()">Account &nbsp;&nbsp;&nbsp;
              <input type="radio" ng-model="creditRuleType" value="tags" ng-change="resetCredits()">Tags
            </td>
            <td width="50%">
              <span>{{ 'label.debit.rule.type' | translate }}</span>&nbsp;
              <input type="radio" ng-model="debitRuleType" value="Account" ng-change="resetDebits()">Account &nbsp;&nbsp;&nbsp;
              <input type="radio" ng-model="debitRuleType" value="tags" ng-change="resetDebits()">Tags
            </td>
          </tr>
          <tr>
            <td>
              <div ng-show="creditRuleType=='Account'">
                <select class="input-medium" ng-model="formData.accountToCredit" ng-options="creditAccount.name for creditAccount in glAccounts" ></select>
              </div>
              <div ng-show="creditRuleType=='tags'">
                <label for="allowMultipleCreditEntries">{{ 'label.allowMultipleCreditEntries' | translate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" ng-model="formData.allowMultipleCreditEntries"></label>
                <select class="input-medium" ng-model="formData.creditTagTemplate" ng-options="creditTag.name for creditTag in creditTagOptions" ></select>
                &nbsp; <a ng-click="addCreditTag()">&nbsp;<i class="icon-plus icon-white"></i></a>
                <br>
                <div ng-repeat="crTag in formData.creditTags">
                  <input type="text" class="input-medium"  ng-model="crTag.name" readonly>
                  <a ng-click="removeCrTag($index)">&nbsp;<i class="icon-remove icon-white"></i></a>
                </div>
              </div>
            </td>
            <td>
              <div ng-show="debitRuleType=='Account'">
                <select class="input-medium" ng-model="formData.accountToDebit" ng-options="debitAccount.name for debitAccount in glAccounts" ></select>
              </div>
              <div ng-show="debitRuleType=='tags'">
                <label for="allowMultipleDebitEntries">{{ 'label.allowMultipleDebitEntries' | translate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" ng-model="formData.allowMultipleDebitEntries"></label>
                <select class="input-medium" ng-model="formData.debitTagTemplate" ng-options="debitTag.name for debitTag in debitTagOptions" ></select>
                &nbsp; <a ng-click="addDebitTag()">&nbsp;<i class="icon-plus icon-white"></i></a>
                <br>
                <div ng-repeat="dbTag in formData.debitTags">
                  <input type="text" class="input-medium"  ng-model="dbTag.name" readonly>
                  <a ng-click="removeDebitTag($index)">&nbsp;<i class="icon-remove icon-white"></i></a>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="offset3">
      <a href="#/accounting_rules"><button type="reset" class="btn">{{ 'label.cancel' | translate }}</button></a>
      <button type="submit" class="btn btn-primary">{{ 'label.save' | translate }}</button>
    </div>
  </fieldset>
</form>
