<div>
    <ul class="breadcrumb">
        <li><a href="#/accounting">{{'link.accounting' | translate}}</a> <span class="divider">/</span></li>
        <li><a href="#/accounting_coa">{{'label.coa' | translate}}</a> <span class="divider">/</span></li>
        <li class="active">{{'label.createglaccount' | translate}}</li>
    </ul>
</div>
<form name="createglaccountingform" novalidate="" class="form-horizontal well"
      ng-controller="AccCreateGLAccountController" ng-submit="submit()">
    <div class="error" ng-show="errorStatus || errorDetails">
        <label>{{'label.error' | translate}}</label>
        <label ng-show="errorStatus">{{errorStatus}}</label>
        <label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
    </div>
    <fieldset>
        <legend>{{'label.createglaccount' | translate}}</legend>

        <table width="100%">
            <tr>
                <td>
                    <div class="control-group">
                        <label class="control-label" for="name">{{'label.accountname' | translate}}<span
                                class="required">*</span></label>

                        <div class="controls">
                            <input id="name" type="text" ng-autofocus="true" name="name" id="name"
                                   ng-model="formData.name" required late-Validate/>
                      <span ng-show="createglaccountingform.name.$invalid">
                        <small class="error" ng-show="createglaccountingform.name.$error.req">
                            {{'label.requiredfield' | translate}}
                        </small>
                      </span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="control-group">
                        <label class="control-label" for="glCode">{{'label.glcode' | translate}}<span
                                class="required">*</span></label>

                        <div class="controls">
                            <input type="text" id="glCode" name="glCode" ng-model="formData.glCode" required
                                   late-Validate/>
                      <span ng-show="createglaccountingform.glCode.$invalid">
                        <small class="error" ng-show="createglaccountingform.glCode.$error.req">
                            {{'label.requiredfield' | translate}}
                        </small>
                      </span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="control-group">
                        <label class="control-label" for="type">{{'label.accounttype' | translate}}</label>

                        <div class="controls">
                            <select id="type" ng-model="formData.type" ng-change="changeType(formData.type)"
                                    ng-options="accountType.id as accountType.value for accountType in accountTypes"
                                    value="{{accountType.id}}"/>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="control-group">
                        <label class="control-label" for="tagId">{{'label.tag' | translate}}</label>

                        <div class="controls">
                            <select id="tagId" ng-model="formData.tagId"
                                    ng-options="type.id as type.name for type in types" value="{{type.id}}">
                                <option value="">{{'label.select.tag' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
            <tr>
                <td>
                    <div class="control-group">
                        <label class="control-label" for="usage">{{'label.accountusage' | translate}}</label>

                        <div class="controls">
                            <select id="usage" ng-model="formData.usage"
                                    ng-options="usageType.id as usageType.value for usageType in usageTypes"
                                    value="{{usageType.id}}">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
            <tr>
                <td>
                    <div class="control-group">
                        <label class="control-label" for="parentId">{{'label.parent' | translate}}</label>

                        <div class="controls">
                            <select id="parentId" ng-model="formData.parentId"
                                    ng-options="headerType.id as headerType.name for headerType in headerTypes"
                                    value="{{headerType.id}}">
                                <option value="">{{'label.select.parent' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="control-group">
                        <label class="control-label" for="manualEntriesAllowed">{{'label.manualentriesallowed' |
                            translate}}</label>

                        <div class="controls">
                            <label class="checkbox">
                                <input type="checkbox" ng-model="formData.manualEntriesAllowed">
                            </label>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="control-group">
                        <label class="control-label" for="description">{{'label.description' | translate}}</label>

                        <div class="controls">
                            <textarea id="description" name="description" ng-model="formData.description" rows="4"
                                      cols=""></textarea>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <div class="offset3">
            <a href="#/accounting_coa">
                <button type="reset" class="btn">{{'label.cancel' | translate}}</button>
            </a>
            <button type="submit" class="btn btn-primary">{{'label.save' | translate}}</button>
        </div>
    </fieldset>
</form>
