<div ng-controller="SearchTransactionController">
    <div>
      <ul class="breadcrumb">
        <li><a href="#/accounting">{{'label.anchor.accounting' | translate}}</a> <span class="divider">/</span></li>
        <li class="active">{{'label.anchor.searchjournalentries' | translate}}</li>
      </ul>
    </div><br>
    <div class="row-fluid" >
        <span class="input-append grpinputicons" >
                <input ng-model="formData.transactionId" type="text" placeholder="{{'label.input.searchbytransaction' | translate}}" />
                <span><a ng-click="isCollapsed = !isCollapsed" class="btn control"><i class="icon-chevron-down"></i></a></span>
                <span><a ng-click="searchTransaction()" class="btn btn-primary control"><i class="icon-search icon-white"></i></a></span>
        </span>
    </div>
    <div collapse="isCollapsed" class="blockoverlay" width="100%" style="overflow-y: scroll">
        <br/><!-- The span is displaying the first line of the hiding div, making the first line of div as blank solved my problem -->
        <div>
            <label>{{'label.input.accountname' | translate}}</label>
            <input ng-autofocus="true" ng-model="formData.glAccount" type="text" placeholder="Account Name" autocomplete="off" typeahead="glAccount as glAccount.name for glAccount in glAccounts | filter:$viewValue | limitTo:8" />
            <div class="control-group">
                <label class="control-label">{{ 'label.input.office' | translate }}</label>
                <div class="controls">
                  <select ng-model="formData.officeId"  ng-options="office.id as office.name for office in offices" value="{{office.id}}">
                      <option style="display:none" value="">{{'label.selectoffice' | translate}}</option>
                  </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ 'label.input.additionalfilter' | translate }}</label>
                <div class="controls">
                  <select ng-model="formData.manualEntriesOnly"  ng-options="filter.value as filter.option for filter in filters" value="{{filter.value}}">
                      <option style="display:none" value="">{{'label.selectfilter' | translate}}</option>
                  </select>
                </div>
            </div>
            <label>{{ 'label.input.fromdate' | translate }}</label>
            <input class="date-disable" type="text" datepicker-pop="dd MMMM yyyy" ng-model="date.first" is-open="opened" min="minDate" max="'2020-06-22'" date-disabled="disabled(date, mode)" readonly />
            <label>{{ 'label.input.todate' | translate }}</label>
            <input class="date-disable" type="text" datepicker-pop="dd MMMM yyyy" ng-model="date.second" is-open="opened1" min="minDate" max="'2020-06-22'" date-disabled="disabled(date, mode)" readonly /><br>
            <span><a ng-click="searchTransaction()" class="btn btn-primary control"><i class="icon-search icon-white"></i>{{'label.button.advancesearch' | translate}}</a></span>
        </div>
    </div>

    <div ng-show="displayResults" class="row-fluid">
    	<table class="table">
            <thead>
                <tr class="graybg">
                    <th>{{'label.heading.entryid' | translate}}</th>
                    <th>{{'label.heading.office' | translate}}</th>
                    <th>{{'label.heading.transactiondate' | translate}}</th>
                    <th>{{'label.heading.transactionid' | translate}}</th>
                    <th>{{'label.heading.type' | translate}}</th>
                    <th>{{'label.heading.createdby' | translate}}</th>
                    <th>{{'label.heading.account' | translate}}</th>
                    <th>{{'label.heading.debit' | translate}}</th>
                    <th>{{'label.heading.credit' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr class="pointer-main" ng-repeat="transaction in transactions.currentPageItems">
                    <td class="pointer" data-ng-click="routeTo(transaction.transactionId)">{{transaction.id}}</td>
                    <td class="pointer" data-ng-click="routeTo(transaction.transactionId)">{{transaction.officeName}}</td>
                    <td class="pointer" data-ng-click="routeTo(transaction.transactionId)">{{transaction.transactionDate | DateFormat}}</td>
                    <td class="pointer" data-ng-click="routeTo(transaction.transactionId)">{{transaction.transactionId}}</td>
                    <td class="pointer" data-ng-click="routeTo(transaction.transactionId)">{{transaction.glAccountType.value}}</td>
                    <td class="pointer" data-ng-click="routeTo(transaction.transactionId)">{{transaction.createdByUserName}}</td>
                    <td class="pointer" data-ng-click="routeTo(transaction.transactionId)">{{transaction.glAccountName}}({{transaction.glAccountCode}})</td>
                    <td class="pointer" data-ng-click="routeTo(transaction.transactionId)">
                        <div ng-show="transaction.entryType.value == 'DEBIT'">
                            {{transaction.currency.displaySymbol}}&nbsp;{{transaction.amount}}
                        </div>
                    </td>
                    <td class="pointer" data-ng-click="routeTo(transaction.transactionId)">
                        <div ng-show="transaction.entryType.value == 'CREDIT'">
                            {{transaction.currency.displaySymbol}}&nbsp;{{transaction.amount}}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul class="pager">
            <li class="previous"><a id="prev" ng-click="transactions.previous()" href="" ng-disabled="!transactions.hasPrevious()">&larr; {{'label.button.previous' | translate}}</a></li>
            <li class="next" ><a id="next" ng-click="transactions.next()" href="" ng-disabled="!transactions.hasNext()">{{'label.button.next' | translate}} &rarr;</a></li>
        </ul>
    </div>
</div>