<div ng-controller="ViewAccountingClosureController">
    <div>
        <ul class="breadcrumb">
            <li><a href="#/accounts_closure">{{'link.accountclosure' | translate}}</a> <span class="divider">/</span></li>
            <li class="active">{{'label.viewclosure' | translate}}</li>
        </ul>
    </div>
    <div class="pull-right">
        <button class="btn btn-primary" data-ng-click="deleteAcc()"><i class="icon-trash icon-white"></i>{{ 'label.delete' | translate }}</button>
    </div>
    <script type="text/ng-template" id="deleteacc.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.delete' | translate}}</h3>
        </div>
        <div class="modal-body modal-middle">
            <button class="btn btn-warning" ng-click="cancel()">{{'label.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="delete()">{{'label.confirm' | translate}}</button>
        </div>
    </script>
    <div>
        <legend>{{ 'label.closed.accounting.details' | translate }}</legend>
        <div class="paddedleft">
            <table width="100%" >
                <tr>
                    <td><strong>{{ 'table.heading.officename' | translate }}:</strong></td>
                    <td>{{accountClosure.officeName}}</td>
                </tr>
                <tr>
                    <td><strong>{{ 'label.accounting.closure.closing.date' | translate }}:</strong></td>
                    <td>{{accountClosure.closingDate | DateFormat}}</td>
                </tr>
                <tr>
                    <td><strong>{{ 'label.close.accounting.created.by' | translate }}:</strong></td>
                    <td>{{accountClosure.createdByUsername}}</td>
                </tr>
                <tr>
                    <td><strong>{{ 'label.updatedby' | translate }}:</strong></td>
                    <td>{{accountClosure.lastUpdatedByUsername}}</td>
                </tr>
                <tr>
                    <td><strong>{{ 'label.updatedon' | translate }}:</strong></td>
                    <td>{{accountClosure.lastUpdatedDate | DateFormat}}</td>
                </tr>
                <tr >
                    <td><strong>{{ 'label.closurecreationdate' | translate }}:</strong></td>
                    <td>{{accountClosure.createdDate | DateFormat}}</td>
                </tr>
                <tr>
                    <td><strong>{{ 'label.journalentry.comments' | translate }}:</strong></td>
                    <td>{{accountClosure.comments}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>