<div class="col-md-12"  ng-controller="ViewTransactionController">
    <ul class="breadcrumb">
        <li><a href="#/accounting">{{'label.anchor.accounting' | translate}}</a></li>
        <li class="active">{{'label.anchor.viewtransaction' | translate}}</li>
    </ul>
    
    <h3>{{'label.heading.transactionnumber' | translate}} - {{transactionNumber}}</h3>
    <div class="pull-right" ng-show="manualEntry">
			            <span class="required" data-ng-show="!flag"><strong>{{ 'label.transactionisreversedonce' | translate
			                }}</strong></span>
			
			            <div class="btn-group">
			                <a data-ng-show="flag" ng-click="reverseTransaction(transactionNumber)" class="btn btn-primary" has-permission='REVERSE_JOURNALENTRY'><i class="icon-undo icon-white"></i>{{'label.button.reverse' | translate}}</a>
			            </div>
			        </div>
                    
         <label class="control-label col-sm-2">{{'label.input.office' | translate}}</label>
         <span class="col-sm-2">{{transactions[0].officeName}}</span>
         
         <label class="control-label col-sm-2">{{'label.input.transactiondate' | translate}}</label>
         <span class="col-sm-2">{{transactions[0].transactionDate | DateFormat}}</span>
         
         <label class="control-label col-sm-2">{{'label.createdby' | translate}}</label>
		  <span class="col-sm-2">{{transactions[0].createdByUserName}}</span>
          
		  <label class="control-label col-sm-2">{{'label.createdon' | translate}}</label>
		  <span class="col-sm-2">{{transactions[0].createdDate | DateFormat}}</span>
          
          <table class="table">
          		  <tr class="graybg">
		                <th>{{'label.heading.entryid' | translate}}</th>
		                <th>{{'label.heading.type' | translate}}</th>
		                <th>{{'label.heading.account' | translate}}</th>
		                <th>{{'label.heading.debit' | translate}}</th>
		                <th>{{'label.heading.credit' | translate}}</th>
		            </tr>
          <tr class="pointer-main" ng-repeat="transaction in transactions">
		                <td class="pointer" data-ng-click="showTransaction(transaction)">{{transaction.id}}</td>
		                <td class="pointer" data-ng-click="showTransaction(transaction)">{{transaction.glAccountType.value}}</td>
		                <td class="pointer" data-ng-click="showTransaction(transaction)">{{transaction.glAccountName}}({{transaction.glAccountCode}})</td>
		                <td class="pointer" data-ng-click="showTransaction(transaction)">
		                    <div ng-show="transaction.entryType.value == 'DEBIT'">
		                        {{transaction.currency.displaySymbol}} {{transaction.amount}}
		                    </div>
		                </td>
		                <td class="pointer" data-ng-click="showTransaction(transaction)">
		                    <div ng-show="transaction.entryType.value == 'CREDIT'">
		                        {{transaction.currency.displaySymbol}} {{transaction.amount}}
		                    </div>
		                </td>
		            </tr>
          </table>
          
          <script type="text/ng-template" id="viewjournalentry.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.heading.viewjournalentry' | translate}}</h3>
            <label class="col-sm-2">{{'label.input.office' | translate}}</label>
                    <span class="col-sm-2">{{transaction.officeName}}</span>
                
				<label class="col-sm-2">{{'label.input.entryid' | translate}}</label>
                  <span class="col-sm-2">  {{transaction.id}}</span>
               
			  <label class="col-sm-2"> {{'label.input.transactionid' | translate}}</label>
                   <span class="col-sm-2"> {{transaction.transactionId}}</span>
               
			  <label class="col-sm-2"> {{'label.input.transactiondate' | translate}}</label>
                   <span class="col-sm-2"> {{transaction.transactionDate | DateFormat}}</span>
            
			<label class="col-sm-2">{{'label.input.type' | translate}}</label>
                   <span class="col-sm-2"> {{transaction.glAccountType.value}}</span>
              
			 <label class="col-sm-2"> {{'label.input.account' | translate}}</label>
                 <span class="col-sm-2"> {{transaction.glAccountName}}({{transaction.glAccountCode}})</span>
           
		  <label class="col-sm-2"> {{transaction.entryType.code | translate}}</label>
                 <span class="col-sm-2"> {{transaction.currency.displaySymbol}}&nbsp;{{transaction.amount}}</span>
               
                <div ng-show="transaction.referenceNumber">
                   <label class="col-sm-2"> {{'label.input.referencenumber' | translate}}</label>
                  <span class="col-sm-2"> {{transaction.referenceNumber}}</span>
                </div>
				
                <div ng-show="transaction.comments">
                    <label class="col-sm-2">{{'label.input.comments' | translate}}</label>
                   <span class="col-sm-2"> {{transaction.comments}}</span>
                </div>
				
                
                   <label class="col-sm-2"> {{'label.createdby' | translate}}</label>
                   <span class="col-sm-2"> {{transaction.createdByUserName}}</span>
               
			  <label class="col-sm-2"> {{'label.createdon' | translate}}</label>
                   <span class="col-sm-2"> {{transaction.createdDate | DateFormat}}</span>

        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
        </div>
    </script>
</div>