<div class="col-md-12">
	<ul class="breadcrumb">
	    <li class="active">{{'label.button.collectionsheet' | translate}}</li>
	</ul>
	<form name="collectionsheetform" novalidate class="form-horizontal well" ng-controller="CollectionSheetController">
	<api-validate></api-validate>
	<h2><strong ng-show="noData" style="padding-top: 400px !important;">{{'label.norepaymentsanddisbursalareavailable' |
	    translate}}</strong></h2>
	
	<h2><strong ng-show="val" class="display-save-message">{{'label.savecollectionsheetsuccessfully' |
	    translate}}</strong></h2>
	<fieldset ng-hide="val || noData">
	<div>
	    <div class="form-group">
	        <label class="control-label col-sm-2">{{ 'label.input.branchoffice' | translate }}<span
	                class="required">*</span></label>
	
	        <div class="col-sm-3">
	            <select chosen="offices" id="officeId" ng-model="officeId" name="office" class="chzn-select-deselect form-control"
	                    ng-options="office.id as office.name for office in offices" value="{{office.id}}"
	                    ng-change="officeSelected(officeId)" required>
	                <option value="">{{'label.selectoffice' | translate}}</option>
	            </select>
	        </div>
	        <div class="col-sm-3">
	            <form-validate valattributeform="collectionsheetform" valattribute="office"/>
	        </div>
	    </div>
	
	    <div class="form-group">
	        <label class="control-label col-sm-2">{{ 'label.input.meetingcalendar' | translate }}<span
	                class="required">*</span></label>
	
	        <div class="col-sm-3">
	            <input type="text" id="transactionDate" name="transactiondate" datepicker-pop="dd MMMM yyyy"
	                   ng-model="date.transactionDate" is-open="opened" class="form-control"/>
	        </div>
	    </div>
	
	    <div class="form-group">
	        <label class="control-label col-sm-2">{{ 'label.input.staff' | translate }}</label>
	
	        <div class="col-sm-3">
	            <select chosen="loanOfficers" id="loanOfficerId" ng-model="loanOfficerId"
	                    ng-options="loanOfficer.id as loanOfficer.displayName for loanOfficer in loanOfficers"
	                    value="{{loanOfficer.id}}" ng-change="loanOfficerSelected(loanOfficerId)" class="form-control"
	                    required>
	                <option value="">{{'label.selectloanofficer' | translate}}</option>
	            </select>
	        </div>
	    </div>
	
	    <div class="form-group">
	    	<div class="col-sm-2">
		        <button class="btn btn-primary" ng-click="productiveCollectionSheet()">
		            {{'label.button.productivecollectionsheet' | translate}}
		            <i class="icon-circle-arrow-right"></i></button>
	        </div>
	    </div>
	
	
	    <div class="form-group">
	        <label class="control-label col-sm-2">{{ 'label.input.center' | translate }}</label>
	
	        <div class="col-sm-3">
	            <select chosen="centers" id="centerId" name="center" ng-model="centerId"
	                    ng-options="center.id as center.name for center in centers" value="{{center.id}}"
	                    ng-change="centerSelected(centerId)" class="form-control">
	                <option value="">{{'label.selectcenter' | translate}}</option>
	            </select>
	        </div>
	    </div>
	
	    <div class="form-group">
	        <label class="control-label col-sm-2">{{ 'label.input.group' | translate }}</label>
	
	        <div class="col-sm-3">
	            <select chosen="groups" id="groupId" ng-model="groupId" ng-options="group.id as group.name for group in groups"
	                    value="{{group.id}}" ng-change="groupSelected(groupId)" class="form-control">
	                <option value="">{{'label.selectgroup' | translate}}</option>
	            </select>
	        </div>
	    </div>
	
	    <div class="form-group">
	    	<div class="col-sm-2">
		        <button class="btn btn-primary" ng-click="previewCollectionSheet()">{{'label.button.collectionsheet' |
		            translate}}
		            <i class="icon-circle-arrow-right"></i></button>
			</div>
	    </div>
	</div>
	<div class="paddedbottom"></div>
	<div class="span">
	    <div class="col-sm-3 col-md-3" ng-hide="noData" ng-show="collectionsheetdata">
	        <div>
	            <table class="table table-bordered" ng-show="collectionsheetdata" data-anchor>
	                <thead>
	                <tr>
	                    <td>{{'label.heading.borrowername' | translate}}</td>
	                </tr>
	                <tr>
	                    <td>
	                        {{'label.heading.groups/clients' | translate}}
	                    </td>
	                </tr>
	                </thead>
	                <tbody ng-repeat="group in collectionsheetdata.groups">
	                <tr class="graybg">
	                    <td>
	                        <b>{{group.groupName}}</b>
	                    </td>
	                </tr>
	                <tr ng-repeat="client in group.clients">
	                    <td style="height:30px">
	                        <table>
	                            <tr>
	                                <td>({{client.clientId}})</td>
	                                <td>{{client.clientName}}</td>
	                            </tr>
	                        </table>
	                    </td>
	                </tr>
	                <tr>
	                    <td class="graybg" style="height:30px" ng-show="collectionsheetdata.loanProducts">
	                        {{'label.input.grouptotal' | translate}}
	                    </td>
	                </tr>
	                </tbody>
	                <tfoot>
	                <tr>
	                    <td class="graybg" style="height:30px" ng-show="collectionsheetdata.loanProducts">
	                        {{'label.input.total' | translate}}Total
	                    </td>
	                </tr>
	                </tfoot>
	            </table>
	        </div>
	    </div>
	    <div class="col-sm-9 col-md-9">
	        <div ng-show="collectionsheetdata"
	             style="float:left; max-width:700px; min-width:600px; overflow-x:auto!important; white-space:nowrap;">
	            <table class="table table-bordered">
	                <thead>
	                <tr>
	                    <th class="highlightcol" scope="colgroup"
	                        colspan="{{collectionsheetdata.loanProducts.length}}">{{'label.heading.duecollections' |
	                        translate}}
	                    </th>
	                    <th class="highlightcol" scope="colgroup"
	                        colspan="{{collectionsheetdata.savingsProducts.length}}">
	                        {{'label.heading.due.savings.collections' |
	                        translate}}
	                    </th>
	                    <th class="empty" scope="colgroup"></th>
	                </tr>
	                <tr>
	                    <th scope="colgroup" ng-repeat="loanproduct in collectionsheetdata.loanProducts">
	                        {{loanproduct.name}}/{{'label.heading.charges' | translate}}
	                    </th>
	                    <th scope="colgroup" ng-repeat="savingproduct in collectionsheetdata.savingsProducts">
	                        {{savingproduct.name}}
	                    </th>
	                    <th>{{'label.heading.attendance' | translate}}</th>
	                </tr>
	                </thead>
	                <tbody ng-repeat="group in collectionsheetdata.groups">
	                <tr>
	                    <td scope="colgroup" colspan="{{collectionsheetdata.loanProducts.length}}">&nbsp;</td>
	                    <td scope="colgroup" colspan="{{collectionsheetdata.savingsProducts.length}}">&nbsp;</td>
	                    <td colspan="1" scope="colgroup">&nbsp;</td>
	                </tr>
	                <tr ng-repeat="client in group.clients">
	                    <td ng-repeat="loanproduct in collectionsheetdata.loanProducts">
	
										<span ng-repeat="loan in client.loans" ng-show="loanproduct.id == loan.productId">
	                                        <div class="col-md-7 paddinglr0px">
	                                            <input id="total" type="text" class="input-sm form-control"
	                                                   ng-model="loan.totalDue"
	                                                   ng-change="sumTotalDueCollection()">
	                                        </div>
											<span ng-hide="loan.chargesDue" ng-init="loan.chargesDue = 0">
											</span>
	                                        <div class="col-md-5 padd">
	                                            <input type="text" class="input-sm form-control" ng-model="loan.chargesDue"
	                                                   ng-change="sumTotalDueCollection()">
	                                        </div>
										</span>
	                    </td>
	                    <td ng-repeat="savingsproduct in collectionsheetdata.savingsProducts">
	                                <span ng-repeat="savings in client.savings"
	                                      ng-show="savingsproduct.id === savings.productId">
	                                    <div class="col-md-7">
	                                        <input id="dueAmount" number-format type="text" class="input-sm form-control"
	                                               ng-model="savings.dueAmount"
	                                               ng-change="sumTotalDueCollection()">
	                                    </div>
	                                </span>
	                    </td>
	                    <td>
	                        <select id="clientsAttendance[{{$index}}][attendanceType]"
	                                ng-model="client.attendanceType.id" class="input-sm form-control"
	                                ng-options="attendance.id as attendance.value for attendance in collectionsheetdata.attendanceTypeOptions"
	                                value="{{attendance.id}}">
	                        </select>
	                    </td>
	                </tr>
	                <tr>
	                    <!--<td ng-repeat="loanproduct in collectionsheetdata.loanProducts">
					                  <span ng-repeat="grouptotal in groupTotal"
	                                        ng-show="grouptotal.groupId == group.groupId">
					                    <span ng-repeat="loanProductArray in grouptotal.loanProductArrayDup"
	                                          ng-show="loanproduct.id == loanProductArray.productId">
					                      <input type="text" class="input-sm form-control"
	                                             ng-model="loanProductArray.transactionAmount" disabled="disabled">
					                    </span>
					                  </span>
	                    </td>-->
	                    <td ng-repeat="loanproduct in collectionsheetdata.loanProducts">
					                  <span ng-repeat="grouptotal in loanGroupsTotal"
	                                        ng-show="grouptotal.groupId === group.groupId && loanproduct.id === grouptotal.productId">
					                      <input type="text" class="input-sm form-control"
	                                             ng-model="grouptotal.dueAmount" disabled="disabled">
					                  </span>
	                    </td>
	                    <td ng-repeat="savingsproduct in collectionsheetdata.savingsProducts">
					                  <span ng-repeat="grouptotal in savingsGroupsTotal"
	                                        ng-show="grouptotal.groupId === group.groupId && savingsproduct.id === grouptotal.productId">
					                      <input type="text" class="input-sm form-control"
	                                             ng-model="grouptotal.dueAmount" disabled="disabled">
					                  </span>
	                    </td>
	                    <td></td>
	                </tr>
	                </tbody>
	                <tfoot>
	                <tr>
	                    <td style="height:30px" ng-repeat="loanproduct in collectionsheetdata.loanProducts">
					                  <span ng-repeat="total in loansTotal" ng-show="loanproduct.id == total.productId">
					                    <input type="text" class="input-sm form-control" ng-model="total.dueAmount"
	                                           disabled="disabled">
					                  </span>
	                    </td>
	                    <td style="height:30px" ng-repeat="savingsproduct in collectionsheetdata.savingsProducts">
					                  <span ng-repeat="total in savingsTotal" ng-show="savingsproduct.id == total.productId">
					                    <input type="text" class="input-sm form-control" ng-model="total.dueAmount"
	                                           disabled="disabled">
					                  </span>
	                    </td>
	                    <td></td>
	                </tr>
	                </tfoot>
	            </table>
	        </div>
	    </div>
	    <br>
	    <br>
	</div>
	<div ng-hide="noData" ng-show="collectionsheetdata" class="col-sm-3 col-md-3 paddedtop10">
	    <strong><h4 style="background-color: #D6D6C2">{{'label.heading.totalduecollections' | translate}}</h4>
	    </strong>
	
	    <div class="templatekeys" style="background-color:#8585FF!important"
	         ng-repeat="loanDueTotalCollection in totalDueCollection">
	        {{loanDueTotalCollection.dueAmount}}&nbsp;&nbsp;
	        {{loanDueTotalCollection.currencySymbol}}
	    </div>
	</div>
	<div class="col-sm-12 col-md-12 paddedtop10">
	    <div class="col-md-offset-3 paddedtop">
	        <button id="cancel" type="reset" class="btn btn-default" ng-click="cancel()">{{'label.button.cancel' |
	            translate}}
	        </button>
	        <button id="save" type="submit" class="btn btn-primary" ng-show="collectionsheetdata"
	                ng-click="submit()">{{'label.button.save' | translate}}
	        </button>
	    </div>
	</div>
	</fieldset>
	</form>
</div>