<div>
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a> </li>
        <li class="active">{{'label.anchor.bulkloanreassignment' | translate}}</li>
    </ul>
</div>
<form class="form-horizontal well" ng-controller="BulkLoanReassignmentController" ng-submit="submit()">
    <api-validate></api-validate>
    <fieldset>
        <legend>{{'label.heading.bulkloanreassignment' | translate}}</legend>
        <table>
            <tbody><tr>
                <td>
                    <div class="form-group">
                        <label class="control-label">{{ 'label.input.office' | translate }}<span class="required">*</span></label>
                        <div class="controls">
                            <select name="office" id="office" ng-model="officeIdTemp" data-ng-options="office.id as office.name for office in offices" data-ng-change="getOfficers()">
                                <option value="">{{'label.selectoffice' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label class="control-label">{{ 'label.input.assignmentdate' | translate }}<span class="required">*</span></label>
                        <div class="controls">
                            <input id="assignmentDate" type="text" datepicker-pop="dd MMMM yyyy" ng-model="first.date" is-open="opened" min="minDate" max="'2020-06-22'" date-disabled="disabled(date, mode)" required="" late-validate="" class="form-control">
                        </div>
                    </div>
                </td>
            </tr>
            <tr data-ng-show="officerChoice">
                <td>
                    <div class="form-group">
                        <label class="control-label">{{ 'label.input.fromloanofficer' | translate }}<span class="required">*</span></label>
                        <div class="controls">
                            <select id="fromLoanOfficerId" ng-model="formData.fromLoanOfficerId" data-ng-options="officer.id as officer.displayName for officer in officers" ng-change="getOfficerClients()">
                                <option value="">{{'label.selectone' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="control-label">{{ 'label.input.toloanofficer' | translate }}<span class="required">*</span></label>
                        <div class="controls">
                            <select id="toLoanOfficerId" ng-model="formData.toLoanOfficerId" data-ng-options="toOfficer.id as toOfficer.displayName for toOfficer in toOfficers">
                                <option value="">{{'label.selectone' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody></table>
        <div class="row paddedleft">
            <div class="col-sm-6 col-md-6">
                <table data-ng-show="clients">
                    <thead>
                        <tr><th>{{'label.heading.clients' | translate}}</th>
                    </tr></thead>
                    <tbody>
                    <tr ng-repeat="client in clients">
                        <td>
                            <table>
                                <tbody><tr><td><strong>{{client.displayName}}</strong></td></tr>
                                <tr ng-repeat="loan in client.loans">
                                    <td><input class="pull-left" type="checkbox" ng-model="accounts[loan.id]">&nbsp;&nbsp;{{loan.productName}}({{loan.accountNo}})</td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6 col-md-6">
                <table data-ng-show="groups">
                    <thead>
                        <tr><th>{{'label.heading.groups' | translate}}</th>
                    </tr></thead>
                    <tbody>
                        <tr ng-repeat="group in groups">
                            <td>
                            <table>
                                <tbody><tr><td><strong>{{group.displayName}}</strong></td></tr>
                                <tr ng-repeat="loan in group.loans">
                                    <td><input class="pull-left" type="checkbox" ng-model="accounts[loan.id]">&nbsp;&nbsp;{{loan.productName}}({{loan.accountNo}})</td>
                                </tr>
                            </tbody></table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-offset-3">
            <a href="#/offices"><button type="reset" class="btn btn-default">{{'label.button.cancel' | translate}}</button></a>
            <button type="submit" class="btn btn-primary">{{'label.button.save' | translate}}</button>
        </div>
    </fieldset>
</form>
