      <div>
        <ul class="breadcrumb">
          <li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
          <li><a href="#/employees">{{'label.manageemployees' | translate}}</a> <span class="divider">/</span></li>
          <li class="active">{{'label.createemployee' | translate}}</li>
        </ul>
      </div>
      <form name="createemployeeform" novalidate="" class="form-horizontal well" ng-controller="CreateEmployeeController" ng-submit="submit()">
        <fieldset>
          <legend>Create Employee</legend>

          <div class="control-group">
            <label class="control-label" for="office">{{ 'label.office' | translate }}<span class="required">*</span></label>
            <div class="controls">
              <select ng-model="formData.officeId"  ng-options="office.id as office.name for office in offices" value="{{office.id}}">
              </select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="firstname">{{ 'label.firstname' | translate }}<span class="required">*</span></label>
            <div class="controls">
              <input type="text" id="firstname" name="firstname" ng-model="formData.firstname" required late-Validate/>
              <span  ng-show="createemployeeform.firstname.$invalid">
                <small class="error" ng-show="createemployeeform.firstname.$error.req">
                    Required Field
                </small>
              </span>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="lastname">{{ 'label.lastname' | translate }}<span class="required">*</span></label>
            <div class="controls">
              <input type="text" id="lastname" name="lastname" ng-model="formData.lastname" required late-Validate/>
              <span  ng-show="createemployeeform.lastname.$invalid">
                <small class="error" ng-show="createemployeeform.lastname.$error.req">
                    Required Field
                </small>
              </span>
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="isLoanOfficer">{{ 'label.employee.isLoanOfficer' | translate }}</label>
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" id="isLoanOfficer" ng-model="formData.isLoanOfficer">
              </label>
            </div>
          </div>

          <div class="offset3">
            <a href="#/employees"><button type="reset" class="btn">{{'button.cancel'| translate}}</button></a>
            <button type="submit" class="btn btn-primary">{{'button.save'| translate}}</button>
          </div>
          
        </fieldset>
      </form>
