      <div class="paddedbottom10">
        <ul class="breadcrumb">
          <li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
          <li><a href="#/offices">{{'label.manageoffices' | translate}}</a> <span class="divider">/</span></li>
          <li class="active">{{'label.createoffice' | translate}}</li>
        </ul>
      </div>
      <form class="form-horizontal well" ng-controller="CreateOfficeController" ng-submit="submit()">
        <fieldset>
          <legend>{{'label.createoffice' | translate}}</legend>
          <table>
            <tr>
              <td>
                <div class="control-group">
                  <label class="control-label" for="name">{{ 'label.officename' | translate }}</label>
                  <div class="controls">
                    <input type="text" class="input-xlarge" ng-model="formData.name">
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="control-group info">
                  <label class="control-label" for="office">{{ 'label.parentoffice' | translate }}</label>
                  <div class="controls">
                    <select class="input-xlarge" ng-model="formData.parentId">
                      <option ng-repeat="office in offices" value="{{office.id}}">{{office.name}}</option>
                    </select>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="control-group">
                  <label class="control-label" for="externalId">{{ 'label.externalId' | translate }}</label>
                  <div class="controls">
                    <input type="text" name="externalId" class="input-xlarge" ng-model="formData.externalId">
                  </div>
                </div>
              </td>
            </tr>
          </table>
          <div class="form-actions">
            <button type="reset" class="btn">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </fieldset>
      </form>
