<div ng-controller="CurrencyConfigController">
    <div>
        <div ng-hide="hideview">
            <ul class="breadcrumb">
                <li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
                <li class="active">{{'label.currencyconfig' | translate}}</li>
            </ul>
            <div class="pull-right">
                <a ng-click="hideview = !hideview" class="btn btn-primary"><i class="icon-plus icon-white"></i> Edit</a>
            </div>
        </div>
        <div ng-show="hideview">
            <ul class="breadcrumb">
                <li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
                <li class="active">{{'label.editcurrencyconfig' | translate}}</li>
            </ul>
        </div>
    </div>
    <div class="row-fluid">
		<table class="table" ng-hide="hideview">
	        <thead>
	            <tr class="graybg">
	                <th>Currency Name</th>
	                <th>Currency Code</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr ng-repeat="currency in selectedCurrOptions  | filter:filterText">
	                <td>{{currency.name}}</td>
	                <td>{{currency.code}}</td>
	            </tr>
	        </tbody>
	    </table>
        <div ng-show="hideview">
            <br>
        	<input class="form-control input-xxlarge" 
             ng-model="selected" 
             placeholder="New Currency"
             type="text"
             typeahead="item as item.displayLabel for item in allCurrOptions | filter:$viewValue | limitTo:8" />&nbsp;&nbsp;<a ng-click='addCur()'><i class="icon-plus"></i></a>

         	<div ng-repeat="currency in selectedCurrOptions">
    			<input disabled="" class="form-control input-xxlarge" placeholder={{currency.displayLabel}}} type="text"/>&nbsp;&nbsp;<a ng-click='deleteCur(currency.code)'><i class="icon-remove"></i></a>
            </div>
            <div class="offset5">
                <button type="reset" ng-click="cancel()" class="btn">Cancel</button>
                <button type="submit" ng-click="submit()" class="btn btn-primary">Save</button>
            </div>
        </div>  
    </div>
</div>