      <div>
        <ul class="breadcrumb">
          <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a> <span class="divider">/</span></li>
          <li><a href="#/offices">{{'label.anchor.manageoffices' | translate}}</a> <span class="divider">/</span></li>
          <li class="active">{{'label.anchor.editoffice' | translate}}</li>
        </ul>
      </div>
      <form name="editofficeform" novalidate="" class="form-horizontal well" ng-controller="EditOfficeController" rc-submit="submit()">
        <api-validate></api-validate>
        <fieldset>
          <legend>{{'label.heading.editoffice' | translate}}</legend>
          <table>
            <tr>
              <td>
                <div class="control-group">
                  <label class="control-label" for="name">{{ 'label.input.office' | translate }}<span class="required">*</span></label>
                  <div class="controls">
                    <input id="name" ng-autofocus="true" type="text" name="name" ng-model="formData.name" required late-Validate/>
                    <form-validate valattributeform="editofficeform" valattribute="name"/>
                  </div>
                </div>
              </td>
            </tr>
              <tr data-ng-hide="parentId==id">
                  <td>
                      <div class="control-group">
                          <label class="control-label">{{ 'label.input.parentoffice' | translate }}<span class="required">*</span></label>
                          <div class="controls">
                              <select id="parentId" ng-model="formData.parentId"  ng-options="office.id as office.name for office in offices" value="{{office.id}}"></select>
                          </div>
                      </div>
                  </td>
              </tr>
            <tr>
              <td>
                <div class="control-group">
                  <label class="control-label">{{ 'label.input.openedon' | translate }}<span class="required">*</span></label>
                  <div class="controls">
                      <input id="openingDate" sort type="text" datepicker-pop="dd MMMM yyyy" ng-model="first.date" is-open="opened" min="minDate" max="restrictDate"/>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="control-group">
                  <label class="control-label">{{ 'label.input.externalid' | translate }}</label>
                  <div class="controls">
                    <input id="externalId" type="text" name="externalId" ng-model="formData.externalId">
                  </div>
                </div>
              </td>
            </tr>
          </table>
          <div class="offset3">
            <a id="cancel" href="#/offices"><button type="reset" class="btn">{{'label.button.cancel' | translate}}</button></a>
            <button id="save" type="submit" class="btn btn-primary">{{'label.button.save' | translate}}</button>
          </div>
        </fieldset>
      </form>
