      <div>
        <ul class="breadcrumb">
          <li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
          <li><a href="#/offices">{{'label.manageoffices' | translate}}</a> <span class="divider">/</span></li>
          <li class="active">{{'label.editoffice' | translate}}</li>
        </ul>
      </div>
      <form name="editofficeform" novalidate="" class="form-horizontal well" ng-controller="EditOfficeController" ng-submit="submit()">
        <fieldset>
          <table>
            <tr>
              <td>
                <div class="control-group">
                  <label class="control-label" for="name">{{ 'label.officename' | translate }}<span class="required">*</span></label>
                  <div class="controls">
                    <input ng-autofocus="true" type="text" name="name" ng-model="formData.name" required late-Validate/>
                    <span  ng-show="editofficeform.name.$invalid">
                      <small class="error">
                          Required Field
                      </small>
                    </span>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="control-group">
                  <label class="control-label">{{ 'label.openedon' | translate }}<span class="required">*</span></label>
                  <div class="controls">
                      <input type="text" datepicker-pop="dd MMMM yyyy" ng-model="first.date" is-open="opened" min="minDate" max="'2020-06-22'" date-disabled="disabled(date, mode)" required late-Validate />
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="control-group">
                  <label class="control-label">{{ 'label.externalId' | translate }}</label>
                  <div class="controls">
                    <input type="text" name="externalId" ng-model="formData.externalId">
                  </div>
                </div>
              </td>
            </tr>
          </table>
          <div class="offset3">
            <a href="#/offices"><button type="reset" class="btn">{{'label.cancel' | translate}}</button></a>
            <button type="submit" class="btn btn-primary">{{'label.save' | translate}}</button>
          </div>
        </fieldset>
      </form>
