<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li class="active">{{'label.anchor.passwordPreferences' | translate}}</li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4>{{'label.heading.passwordPreferences' | translate}}</h4>
            </div>
            <br>
            <form class="form-horizontal" ng-controller="EditPasswordPreferencesController" ng-submit="submit()">
                <api-validate></api-validate>
                <fieldset>
                    <div ng-repeat="data in dataOptions">
                        <input type="radio" ng-model="formData.validationPolicyId" value={{data.id}}>
                        {{'label.' + data.key | translate }}
                    </div>
                    <div class="col-md-offset-3">
                        <a href="#/organization">
                            <button type="reset" class="btn btn-default">{{'label.button.cancel' | translate}}</button>
                        </a>
                        <button type="submit" class="btn btn-primary" has-permission='UPDATE_PASSWORD_VALIDATION_POLICY'>{{'label.button.save' | translate}}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>