<div  ng-controller="ViewEmployeeController">
	<div class="paddedbottom10">
		<ul class="breadcrumb">
	        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a> <span class="divider">/</span></li>
	        <li><a href="#/employees">{{'label.anchor.manageemployees' | translate}}</a> <span class="divider">/</span></li>
	        <li class="active">{{employee.firstname}}&nbsp;&nbsp;{{employee.lastname}}</li>
	    </ul>

	</div>

	<div class="well">
		<h3><strong>{{employee.displayName}}</strong></h3>
        <div class="pull-right">
            <div class="btn-group">
                <a href="#/editemployee/{{employee.id}}" class="btn btn-primary"><i class="icon-edit icon-white"></i>{{'label.button.edit' | translate}}</a>
            </div>
        </div>
		<table class="table table-bordered">
			<tr>
				<td width="20%">{{ 'label.heading.firstname' | translate }}</td>
				<td width="80%">{{employee.firstname}}</td>
			</tr>
			<tr>
				<td>{{ 'label.heading.lastname' | translate }}</td>
				<td>{{employee.lastname}}</td>
			</tr>
			<tr>
				<td>{{ 'label.heading.office' | translate }}</td>
				<td>{{employee.officeName}}</td>
			</tr>
			<tr>
				<td>{{ 'label.heading.isLoanOfficer' | translate }}</td>
				<td>{{employee.isLoanOfficer}}</td>
			</tr>
		</table>
	</div>
</div>
          