<div ng-controller="ViewOfficeController">
	<div class="paddedbottom10">
		<ul class="breadcrumb">
	        <li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
	        <li><a href="#/offices">{{'label.manageoffices' | translate}}</a> <span class="divider">/</span></li>
	        <li class="active">{{office.name}}</li>
	    </ul>
	    <div class="pull-right">
	      <div class="btn-group">
	          <a href="#/editoffice/{{office.id}}" class="btn btn-primary"><i class="icon-edit icon-white"></i> Edit</a>
	      </div>
	    </div>
	</div>
	<div class="row paddedleft">
		<h3>{{office.name}}</h3>
		<table width="100%">
			<tr>
				<td width="20%">{{ 'label.office.parentoffice' | translate }}</td>
				<td width="70%">{{office.parentName}}</td>
			</tr>
			<tr>
				<td>{{ 'label.office.openedon' | translate }}</td>
				<td>{{office.openingDate | DateFormat}}</td>
			</tr>
			<tr>
				<td>{{ 'label.office.namedecorated' | translate }}</td>
				<td>{{office.nameDecorated}}</td>
			</tr>
			<tr>
				<td>{{ 'label.office.externalid' | translate }}</td>
				<td>{{office.externalId}}</td>
			</tr>
		</table>
	</div>
</div>
          