<div class="content-container" ng-controller="ViewEmployeeController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li><a href="#/employees">{{'label.anchor.manageemployees' | translate}}</a></li>
        <li class="active">{{employee.firstname}}&nbsp;&nbsp;{{employee.lastname}}</li>
    </ul>

    <div class="card">
        <div class="content">
        	<div class="toolbar">
        		<h4>{{employee.displayName}}</h4>
        		<div class="pull-right">
        		    <div class="btn-group">
        		        <a href="#/editemployee/{{employee.id}}" class="btn btn-primary" has-permission='UPDATE_STAFF'><i class="fa fa-edit "></i>&nbsp;&nbsp;{{'label.button.edit' | translate}}</a>
        		    </div>
        		</div>
        	</div>
        	<br/>
        			<div class="row">
        				<div class="col-md-6">
        			        <table class="table table-bordered table-striped">
        			            <tr>
        			                <td width="20%">{{ 'label.heading.firstname' | translate }}</td>
        			                <td width="80%">{{employee.firstname}}</td>
        			            </tr>
        			            <tr>
        			                <td>{{ 'label.heading.lastname' | translate }}</td>
        			                <td>{{employee.lastname}}</td>
        			            </tr>
        			            <tr>
        			                <td>{{ 'label.heading.office' | translate }}</td>
        			                <td>{{employee.officeName}}</td>
        			            </tr>
        			            <tr>
        			                <td>{{ 'label.heading.isLoanOfficer' | translate }}</td>
        			                <td>{{employee.isLoanOfficer}}</td>
        			            </tr>
        			            <tr>
        			                <td>{{ 'label.heading.mobileNo' | translate }}</td>
        			                <td>{{employee.mobileNo}}</td>
        			            </tr>
        			            <tr>
        			                <td>{{ 'label.active' | translate }}</td>
        			                <td>{{employee.isActive}}</td>
        			            </tr>
        	                    <tr>
        	                        <td>{{ 'label.heading.joiningDate' | translate }}</td>
        	                        <td>{{employee.joiningDate | DateFormat}}</td>
        	                    </tr>
        			        </table>
        				</div>
        			</div>
        </div>
    </div>
</div>      
