<div ng-controller="ViewHolController">
    <h3>{{holiday.name}}</h3>
    <h3>Include Description Here</h3>
        <table >
        <tr>
            <td>{{ 'label.heading.name' | translate }}</td>
            <td>{{holiday.name}}</td>
        </tr>
        <tr>
            <td>{{ 'label.heading.fromdate' | translate }}</td>
            <td>{{holiday.fromDate | DateFormat}}</td>
        </tr>
        <tr>
            <td>{{ 'label.heading.todate' | translate }}</td>
            <td>{{holiday.toDate | DateFormat}}</td>
        </tr>
        <tr>
            <td>{{ 'label.heading.repaymentsheduleto' | translate }}</td>
            <td>{{holiday.repaymentsScheduleTO | DateFormat}}</td>
        </tr>
    </table>
        <table>
            <thead>
             <tr>
                <td>{{ 'label.heading.applicableoffices' | translate }}</td>
             </tr>
            </thead>
             <tr >
                <td>Include applicable offices here</td>
             </tr>
        </table>
</div>