<div class="col-md-12" ng-controller="ViewOfficeController">
	<ul class="breadcrumb">
	    <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
	    <li><a href="#/offices">{{'label.anchor.manageoffices' | translate}}</a></li>
	    <li class="active">{{office.name}}</li>
	</ul>
    <hr style="margin-bottom:0; margin-top:0">
    <ul class="breadcrumb">
        <li>
            <h3 class="client-title"> 
                <i class="icon-building"></i>&nbsp;
                <strong>{{office.name}}</strong>
            </h3>
        </li>
	</ul>   

	<script type="text/ng-template" id="deleteOffice.html">
		<div class="modal-header silver">
			<h3 class="bolder">{{'label.heading.delete' | translate}}</h3>
		</div>
		<div class="modal-body">
			<api-validate></api-validate>
		</div>
		<div class="modal-footer">
			<button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
			<button class="btn btn-primary" ng-click="delete()">{{'label.button.confirm' | translate}}</button>
		</div>
	</script>

	<tabset class="overflowhidden marginbottom0">
        <tab heading="{{'label.heading.general' | translate}}">
            <div class="col-md-12 col-sm-12">
                <div class="row primarydiv">
                    <div class="btn-group pull-right">
						<a href="#/editoffice/{{office.id}}" class="btn btn-primary" has-permission='UPDATE_OFFICE'>
						<i class="icon-edit icon-white"></i>&nbsp;{{ 'label.button.edit' | translate }}</a>
                    </div>
                </div>
                <br/>
                <table class="table-bordered table view-table" style="width: 350px">
                    <tr>
                        <td>{{ 'label.heading.parentoffice' | translate }}</td>
                        <td>{{office.parentName}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'label.heading.openedon' | translate }}</td>
                        <td>{{office.openingDate | DateFormat}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'label.heading.namedecorated' | translate }}</td>
                        <td>{{office.nameDecorated | DotRemove}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'label.heading.externalid' | translate }}</td>
                        <td>{{office.externalId}}</td>
                    </tr>
                </table>
            </div>
        </tab>
	    <tab heading="{{officedatatable.registeredTableName}}" ng-repeat="officedatatable in officedatatables"
	         select="dataTableChange(officedatatable)" has-permission='READ_{{officedatatable.registeredTableName}}'>
	        <div class="col-md-12 col-sm-12">
                <div class="row primarydiv">
                    <div class="btn-group pull-right">
                        <a ng-show="datatabledetails.isData" class="btn btn-danger pull-right"
                           ng-click="deleteAll(officedatatable.registeredTableName, office.id)" has-permission='DELETE_{{officedatatable.registeredTableName}}'>
                           <i class="icon-trash icon-white"></i>&nbsp;{{'label.button.deleteall' | translate}}</a>
                        <a data-ng-show="showDataTableAddButton"
                           ng-href="#/makedatatableentry/{{officedatatable.registeredTableName}}/{{office.id}}?fromEntity=office"
                           class="btn btn-primary" has-permission='CREATE_{{officedatatable.registeredTableName}}'>
                           <i class="icon-plus icon-white"></i>&nbsp;{{'label.button.add' | translate}}</a>
                        <a data-ng-show="showDataTableEditButton"
                           ng-href="#/viewsingledatatableentry/{{officedatatable.registeredTableName}}/{{office.id}}?mode=edit"
                           class="btn btn-primary" has-permission='UPDATE_{{officedatatable.registeredTableName}}'>
                           <i class="icon-edit icon-white"></i>&nbsp;{{'label.button.edit' | translate}}</a>
	            	</div>
                </div>
                <div class="row client" ng-show="datatabledetails.isData">
                    <table class="table" data-ng-show="datatabledetails.isMultirow">
                        <thead>
                        <th ng-repeat="column in datatabledetails.columnHeaders">{{column.columnName | prettifyDataTableColumn}}</th>
                        </thead>
                        <tbody>
                        <tr class="pointer-main" ng-repeat="data in datatabledetails.data">
                            <td class="pointer" ng-repeat="row in data.row track by $index"
                                ng-click="viewDataTable(officedatatable.registeredTableName,data)">{{row}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered width450px" data-ng-hide="datatabledetails.isMultirow">
                        <tr ng-repeat="value in singleRow">
                            <td class="graybg table-font-nav">{{value.key | prettifyDataTableColumn}}</td>
                            <td><span class="padded-td">{{value.value}}</span></td>
                        </tr>
                    </table>
                </div>
	        </div>
	    </tab>
	</tabset>
</div>