<div ng-controller="ViewOfficeController">
	<div class="paddedbottom10">
		<ul class="breadcrumb">
	        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a> <span class="divider">/</span></li>
	        <li><a href="#/offices">{{'label.anchor.manageoffices' | translate}}</a> <span class="divider">/</span></li>
	        <li class="active">{{office.name}}</li>
	    </ul>
	</div>
	<div class="well" style="height: 450px">
        <div class="pull-right">
            <div class="btn-group">
                <a href="#/editoffice/{{office.id}}" class="btn btn-primary"><i class="icon-edit icon-white"></i>{{ 'label.button.edit' | translate }}</a>
            </div>
        </div>
		<h3><strong>{{office.name}}</strong></h3>
		<table class="table-bordered table view-table" style="width: 350px">
			<tr>
				<td>{{ 'label.heading.parentoffice' | translate }}</td>
				<td>{{office.parentName}}</td>
			</tr>
			<tr>
				<td>{{ 'label.heading.openedon' | translate }}</td>
				<td>{{office.openingDate | DateFormat}}</td>
			</tr>
			<tr>
				<td>{{ 'label.heading.namedecorated' | translate }}</td>
				<td>{{office.nameDecorated | DotRemove}}</td>
			</tr>
			<tr>
				<td>{{ 'label.heading.externalid' | translate }}</td>
				<td>{{office.externalId}}</td>
			</tr>
		</table>
	</div>
</div>
          