<div  ng-controller="ViewEmployeeController">
	<div class="paddedbottom10">
		<ul class="breadcrumb">
	        <li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
	        <li><a href="#/employees">{{'label.manageemployees' | translate}}</a> <span class="divider">/</span></li>
	        <li class="active">{{employee.firstname}}&nbsp;&nbsp;{{employee.lastname}}</li>
	    </ul>
	    <div class="pull-right">
	      <div class="btn-group">
	          <a href="#/editemployee/{{employee.id}}" class="btn btn-primary"><i class="icon-edit icon-white"></i> Edit</a>
	    <!--      <a class="btn btn-primary"><i class="icon-trash icon-white"></i> Delete</a>     -->
	      </div>
	    </div>
	</div>

	<div class="row paddedleft">
		<h3>{{employee.displayName}}</h3>
		<table width="100%">
			<tr>
				<td width="20%">{{ 'label.firstname' | translate }}</td>
				<td width="80%">{{employee.firstname}}</td>
			</tr>
			<tr>
				<td>{{ 'label.lastname' | translate }}</td>
				<td>{{employee.lastname}}</td>
			</tr>
			<tr>
				<td>{{ 'label.office' | translate }}</td>
				<td>{{employee.officeName}}</td>
			</tr>
			<tr>
				<td>{{ 'label.employee.isLoanOfficer' | translate }}</td>
				<td>{{employee.isLoanOfficer}}</td>
			</tr>
		</table>
	</div>
</div>
          