<div class="content-container" ng-controller="ViewSchedulerJobController">
        <ul class="breadcrumb">
            <li><a href="#/system">{{'label.anchor.system' | translate}}</a></li>
            <li><a href="#/jobs">{{'label.anchor.manageschedulerjobs' | translate}}</a></li>
            <li class="active">{{job.displayName}}</li>
        </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar"></div>
            <br>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <a href="#/editschedulerjob/{{job.jobId}}" class="btn btn-primary"><i class="fa fa-edit "></i>&nbsp;&nbsp;{{'label.button.edit' | translate}}</a>
                        <a href="#/viewhistory/{{job.jobId}}" class="btn btn-primary"><i class=""></i>{{'label.button.viewhistory' | translate}}</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="horizontal-form">
                <table width="100%">
                    <tr>
                        <td width="20%">{{ 'label.heading.jobname' | translate }}</td>
                        <td width="80%">{{job.displayName}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'label.heading.cronexpression' | translate }}</td>
                        <td>{{job.cronExpression}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'label.heading.isactivejob' | translate }}</td>
                        <td>{{job.active}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'label.heading.follow' | translate }}</td>
                        <td><a href="http://www.cronmaker.com" target="">{{'label.anchor.clickheretogeneratecron' |
                            translate}}</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
          