<div class="col-md-12" ng-controller="CreateOccupationCategoryController">
    <div class="paddedbottom10">
        <ul class="breadcrumb">
            <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
            <li><a href="#/riskrating">{{'label.anchor.riskrating' | translate}}</a></li>
            <li><a href="#/occupationcatagory">{{'label.anchor.occupation.catagory' | translate}}</a></li>
            <li class="active">{{'label.anchor.create.occupation.category' | translate}}</li>
        </ul>
        <form name="createOccupationCategory" novalidate="" class="form-horizontal well"
              rc-submit="submit()">
            <api-validate></api-validate>
            <fieldset>
                <legend>{{'label.anchor.create.occupation.category' | translate}}</legend>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="category">{{ 'label.input.occ.categary' | translate
                        }}<span
                                class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="category" name="category" ng-model="formData.name"
                               class="form-control" required late-validate/>
                    </div>
                    <div class="col-sm-2">
                        <form-validate valattributeform="createOccupationCategory" valattribute="category"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="shortName">{{ 'label.input.shortName' | translate }}<span
                            class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="shortName" name="shortName"
                               ng-model="formData.shortName" class="form-control" required late-validate/>
                    </div>
                    <div class="col-sm-2">
                        <form-validate valattributeform="createOccupationCategory" valattribute="shortName"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">{{ 'label.input.description' | translate }}</label>

                    <div class="col-sm-3">
                        <textarea name="description" id="description" name="description" ng-model="formData.description"
                                  type="text" class="form-control"/>
                    </div>
                    <div class="col-sm-2">
                        <form-validate valattributeform="createOccupationCategory" valattribute="description"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">{{ 'label.input.category.type' | translate }}</label>

                    <div class="col-sm-3">
                        <select id="typeEnumId" name="typeEnumId" ng-model="formData.typeEnumId" class="form-control"
                                ng-options="typeEnumOption.id as typeEnumOption.value for typeEnumOption in typeEnumOptions"
                                value="typeEnumOption.id">
                            <option value="">--{{'label.input.selectoptions' | translate}}--</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <form-validate valattributeform="createOccupationCategory" valattribute="typeEnumId"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">{{ 'label.input.cashflow.type' | translate }}</label>

                    <div class="col-sm-3">
                        {{occupation}}
                    </div>
                    <div class="col-sm-2">
                        <form-validate valattributeform="createOccupationCategory" valattribute="categoryEnumId"/>
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-sm-2">{{'label.input.isActive' | translate}}</label>

                    <div class="col-sm-3">
                        <input id="isActive" name="isActive" type="checkbox" ng-model="formData.isActive">
                    </div>
                    <div class="col-sm-2">
                        <form-validate valattributeform="createOccupationCategory" valattribute="isActive"/>
                    </div>
                </div>

                <div class="col-md-offset-2 paddedleft">
                    <a id="cancel" href="#/occupationcatagory" class="btn btn-default">{{'label.button.cancel' |
                        translate}}</a>
                    <button id="save" type="submit" class="btn btn-primary">{{'label.button.save' |
                        translate}}</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
