<div class="col-md-12" ng-controller="LoanPurposeController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li><a href="#/loanpurposeandtagging">{{'label.anchor.loanpurposeandtagging' | translate}}</a></li>
        <li class="active">{{'label.view.loanpurpose' | translate}}</li>
    </ul>

    <div class="clearfix"></div>

    <a href="#/loanpurposes/createloanpurpose" class="btn btn-primary pull-right">
        <i class="icon-plus icon-white"></i>{{'label.button.createloanpurpose' | translate}}</a>

    <div class="form-horizontal well">
        <h2>{{'label.heading.loanpurpose' | translate}}</h2>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'label.heading.loanpurpose' | translate }}</th>
                <th>{{ 'label.heading.shortName' | translate }}</th>
                <th>{{ 'label.heading.description' | translate }}</th>
                <th>{{ 'label.heading.status' | translate }}</th>

                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr class="pointer-main" ng-repeat="loanPurpose in loanPurposes track by $index">
                <td class="pointer" data-ng-click="routeTo(loanPurpose.id)">{{loanPurpose.name}}</td>
                <td class="pointer" data-ng-click="routeTo(loanPurpose.id)">{{loanPurpose.shortName}}</td>
                <td class="pointer" data-ng-click="routeTo(loanPurpose.id)">{{loanPurpose.description}}</td>
                <td class="pointer" data-ng-click="routeTo(loanPurpose.id)">{{loanPurpose.isActive == true ? 'Active' : 'In Active'}}</td>
                <td>
                    <button role="button" ng-click="showEdit(loanPurpose.id)" class="btn-link ng-binding">
                        <i class="icon-edit icon-white"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>