<div class="col-md-12" ng-controller="RiskDimensionController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li><a href="#/riskrating">{{'label.anchor.riskrating' | translate}}</a></li>
        <li class="active">{{'label.view.riskdimension' | translate}}</li>
    </ul>

    <div class="clearfix"></div>

    <a href="#/risk/createdimension" class="btn btn-primary pull-right">
        <i class="icon-plus icon-white"></i>{{'label.button.createriskdimension' | translate}}</a>

    <div class="form-horizontal well">
        <h2>{{'label.heading.riskdimension' | translate}}</h2>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'label.heading.riskdimension' | translate }}</th>
                <th>{{ 'label.heading.shortName' | translate }}</th>
                <th>{{ 'label.heading.description' | translate }}</th>
                <th>{{ 'label.heading.status' | translate }}</th>

                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr class="pointer-main" ng-repeat="riskDimension in riskDimensions track by $index">
                <td class="pointer" data-ng-click="routeTo(riskDimension.id)">{{riskDimension.name}}</td>
                <td class="pointer" data-ng-click="routeTo(riskDimension.id)">{{riskDimension.uname}}</td>
                <td class="pointer" data-ng-click="routeTo(riskDimension.id)">{{riskDimension.description}}</td>
                <td class="pointer" data-ng-click="routeTo(riskDimension.id)">{{riskDimension.isActive == true ? 'Active' : 'In Active'}}</td>
                <td>
                    <button role="button" ng-click="showEdit(riskDimension.id)" class="btn-link ng-binding">
                        <i class="icon-edit icon-white"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>