<div class="content-container" ng-controller="ViewFixedDepositTransactionController">
        <ul class="breadcrumb">
            <li><a href="#/viewfixeddepositaccount/{{transaction.accountId}}">{{'label.anchor.viewfixeddepositaccount' |
                translate}}</a></li>
            <li class="active">{{ 'label.anchor.viewtransaction' | translate}}</li>
        </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h3>{{ 'label.heading.transactiondetails' | translate}}</h3>
            </div>
            <div>
                <table width="100%">
                    <tr>
                        <td width="20%">{{ 'label.heading.transactionid' | translate}}</td>
                        <td width="80%">{{transaction.id}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'label.heading.type' | translate}}</td>
                        <td>{{transaction.transactionType.value}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'label.heading.transactiondate' | translate}}</td>
                        <td>{{transaction.date | DateFormat}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'label.heading.currency' | translate}}</td>
                        <td>{{transaction.currency.name}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'label.heading.amount' | translate}}</td>
                        <td>{{transaction.amount | number}}</td>
                    </tr>
                    <tr class="span2"></tr>
                </table>
                <table width="100%" ng-show="transaction.paymentDetailData">
                    <tr>
                        <td width="20%"><strong>{{ 'label.heading.paymentdetails' | translate}}</strong></td>
                        <td width="80%"></td>
                    </tr>
                    <tr ng-show="transaction.paymentDetailData.paymentType">
                        <td>{{ 'label.heading.type' | translate}}</td>
                        <td>{{transaction.paymentDetailData.paymentType.name}}</td>
                    </tr>
                    <tr ng-show="transaction.paymentDetailData.accountNumber">
                        <td>{{ 'label.heading.accnum' | translate}}</td>
                        <td>{{transaction.paymentDetailData.accountNumber}}</td>
                    </tr>
                    <tr ng-show="transaction.paymentDetailData.checkNumber">
                        <td>{{ 'label.heading.checknumber' | translate}}</td>
                        <td>{{transaction.paymentDetailData.checkNumber}}</td>
                    </tr>
                    <tr ng-show="transaction.paymentDetailData.routingCode">
                        <td>{{ 'label.heading.routingcode' | translate}}</td>
                        <td>{{transaction.paymentDetailData.routingCode}}</td>
                    </tr>
                    <tr ng-show="transaction.paymentDetailData.receiptNumber">
                        <td>{{ 'label.heading.receiptnumber' | translate}}</td>
                        <td>{{transaction.paymentDetailData.receiptNumber}}</td>
                    </tr>
                    <tr ng-show="transaction.paymentDetailData.bankNumber">
                        <td>{{ 'label.heading.banknumber' | translate}}</td>
                        <td>{{transaction.paymentDetailData.bankNumber}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
