<div>
    <ul class="breadcrumb">
        <li><a href="#/system">{{'label.anchor.system' | translate}}</a> <span class="divider">/</span></li>
        <li><a href="#/codes">{{'label.anchor.managecodes' | translate}}</a> <span class="divider">/</span></li>
        <li class="active">{{'label.anchor.addcode' | translate}}</li>
    </ul>
</div>
<form name="addcodeform" novalidate="" class="form-horizontal well" ng-controller="AddCodeController" rc-submit="submit()">
    <api-validate></api-validate>
    <fieldset>
        <legend>{{'label.heading.addcode' | translate}}</legend>
        <div>
            <label class="control-label" for="codename">{{'label.input.codename' | translate}}<span class="required">*</span></label>
            <div class="controls">
                <input type="text" id="codename" name="codename" ng-model="formData.name" required late-Validate/>
                <form-validate valattributeform="addcodeform" valattribute="codename"/>
            </div>
        </div><br>
        <div class="offset3">
            <a href="#/codes"><button class="btn">{{'label.button.cancel' | translate}}</button></a>
            <button type="submit" class="btn btn-primary">{{'label.button.save' | translate}}</button>
        </div>
    </fieldset>
</form>