<div class="col-md-12" ng-controller="CreateReportController">
    <ul class="breadcrumb">
        <li><a href="#/system">{{'label.anchor.system' | translate}}</a></li>
        <li><a href="#/reports">{{'label.anchor.managereports' | translate}}</a></li>
        <li class="active">{{'label.anchor.createreport' | translate}}</li>
    </ul>

    <api-validate></api-validate>
    <form name="createreportrform" class="form-horizontal well" novalidate="" rc-submit="submit()">
        <legend>{{'label.anchor.createreport' | translate}}</legend>
        <h3>{{'label.heading.reportdetails' | translate}}</h3>

        <div class="form-group">
            <label class="control-label col-sm-2">{{'label.input.reportname' | translate}}<span class="required">*</span></label>
            <div class="col-sm-2">
                <input id="reportName" name="reportName" type="text" class="form-control" required ng-model="formData.reportName" late-Validate>
            </div>

            <label class="control-label col-sm-3">{{'label.input.reporttype' | translate}}<span class="required">*</span></label>
            <div class="col-sm-2">
                <select id="reportType" class="form-control" ng-model="formData.reportType" ng-options="reportType for reportType in reportdetail.allowedReportTypes"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">{{'label.input.reportsubtype' | translate}}</label>
            <div class="col-sm-2">
                <select id="reportSubType" class="form-control" ng-model="formData.reportSubType" ng-options="reportSubType for reportSubType in reportdetail.allowedReportSubTypes">
                    <option value="">{{'label.selectone' | translate}}</option>
                </select>
            </div>

            <label class="control-label col-sm-3">{{'label.input.reportcategory' | translate}}</label>
            <div class="col-sm-2">
                <input id="reportCategory" type="text" class="form-control" ng-model="formData.reportCategory">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">{{'label.input.userreportui' | translate}}</label>
            <div class="col-sm-1">
                <input type="checkbox" ng-model="formData.useReport" ng-true-value="true" ng-false-value="false">
            </div>

            <label class="control-label col-sm-4">{{'label.input.description' | translate}}</label>
            <div class="col-sm-3">
                <textarea id="description" class="form-control" rows="2" ng-model="formData.description"></textarea>
            </div>
        </div>

        <hr>
        <h3>{{'label.heading.sql' | translate}}</h3>

        <div class="form-group">
            <label class="control-label col-sm-2">{{'label.input.sql' | translate}}<span class="required">*</span></label>
            <div class="col-sm-7">
                <textarea id="reportSql" name="sql" class="form-control" rows="4" required ng-model="formData.reportSql"></textarea>
            </div>
        </div>

        <hr>
        <h3>{{'label.heading.reportparameters' | translate}}</h3>

        <div class="form-group">
            <div class="col-sm-3">
                <select class="form-control" ng-model="allowedParameterId" ng-options="allowedParameter.id as (allowedParameter.parameterName | translate) for allowedParameter in reportdetail.allowedParameters">
                    <option value="">{{'label.selectallowedparameter' | translate}}</option>
                </select>
            </div>
            <a class="btn btn-primary" ng-click="addParameter()"><i class="icon-plus icon-white"></i> {{'label.button.add' | translate}}</a>
        </div>

        <table class="table">
            <tr class="graybg">
                <th>{{'label.heading.parameter' | translate}}</th>
                <th>{{'label.heading.parameternamepassedtopentaho' | translate}}</th>
                <th>{{'label.heading.actions' | translate}}</th>
            </tr>
            <tr ng-repeat="reportParameter in reportParameters">
                <td>{{reportParameter.parameterName | translate}}</td>
                <td><input type="text" class="form-control" ng-model="reportParameter.reportParameterName"></td>
                <td><a ng-click="deleteParameter($index)"><i class="icon-remove icon-white"></i></a></td>
            </tr>
        </table>

        <div class="text-center">
            <a id="cancel" class="btn btn-default" href="#/reports">{{'label.button.cancel' | translate}}</a>
            <button id="save" type="submit" class="btn btn-primary" has-permission='CREATE_REPORT'>{{'label.button.save' | translate}}</button>
        </div>
    </form>
</div>