<div ng-controller="EditSchedulerJobController">
  	<div class="paddedbottom10">
		<ul class="breadcrumb">
	        <li><a href="#/system">{{'label.anchor.system' | translate}}</a> <span class="divider">/</span></li>
	        <li><a href="#/jobs">{{'label.anchor.manageschedulerjobs' | translate}}</a> <span class="divider">/</span></li>
	        <li><a href="#/viewschedulerjob/{{job.jobId}}">{{job.displayName}}</a> <span class="divider">/</span></li>
	        <li class="active">{{'label.anchor.editschedulerjob' | translate}}</li>
	    </ul>
	</div>
	<api-validate></api-validate>
  	<form class="form-horizontal" ng-submit="submit()">
	    <fieldset>
	      <div class="control-group">
	        <label class="control-label">{{ 'label.input.jobname' | translate }}</label>
	        <div class="controls">
	          <input id="displayName" type="text" ng-model="formData.displayName">
	        </div>
	      </div>

	      <div class="control-group">
	        <label class="control-label">{{ 'label.input.cornexpression' | translate }}</label>
	        <div class="controls">
	          <input id="cronExpression" type="text" ng-model="formData.cronExpression">
	        </div>
	      </div>
	      
	      <div class="control-group">
            <label class="control-label">{{ 'label.input.isactivejob' | translate }}</label>
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" ng-model="formData.active">
              </label>
            </div>
          </div>

	      <div class="offset3">
	        <button id="cancel" type="reset" ng-click="cancel()" class="btn">{{'label.button.cancel' | translate}}</button></a>
	        <button id="save" type="submit" class="btn btn-primary">{{'label.button.save' | translate}}</button>
	      </div>
	    </fieldset>
    </form>
</div>
