<div ng-controller="EditDataTableController">
  <div>
    <ul class="breadcrumb">
      <li><a href="#/system">{{'label.anchor.system' | translate}}</a> <span class="divider">/</span></li>
      <li><a href="#/datatables">{{'label.anchor.managedatatables' | translate}}</a> <span class="divider">/</span></li>
      <li><a href="#/viewdatatable/{{datatable.registeredTableName}}">{{datatable.registeredTableName}}</a> <span class="divider">/</span></li>
      <li class="active">{{'label.anchor.editdatatable' | translate}}</li>
    </ul>
  </div>
  <form name="editdatatableform" novalidate="" class="form-horizontal well" ng-submit="submit()">
    <api-validate></api-validate>
    <fieldset>
      <legend>{{ 'label.heading.editdatatable' | translate }}</legend>
      <div class="control-group">
        <label class="control-label">{{ 'label.input.datatablename' | translate }}<span class="required">*</span></label>
        <div class="controls">
          <input id="registeredTableName" type="text" value="{{datatable.registeredTableName}}" readonly>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">{{ 'label.input.apptablename' | translate }}<span class="required">*</span></label>
        <div class="controls">
           <select id="apptableName" ng-model="formData.apptableName" required="required">
               <option style="display:none" value="">{{'label.selectone' | translate}}</option>
               <option value="m_client">{{'label.client' | translate}}</option>
               <option value="m_group">{{'label.group' | translate}}</option>
               <option value="m_center">{{'label.center' | translate}}</option>
               <option value="m_loan">{{'label.loan' | translate}}</option>
               <option value="m_office">{{'label.office' | translate}}</option>
               <option value="m_savings_account">{{'label.savingsaccount' | translate}}</option>
            </select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">{{ 'label.input.addcolumns' | translate }}</label>
        <div class="controls">
          <input name="columnname" ng-model="datatableTemplate.columnName" type="text" placeholder="{{'label.input.columnname' | translate}}"/>&nbsp;&nbsp;
          <select ng-model="datatableTemplate.columnType">&nbsp;&nbsp;
              <option style="display:none" value="">{{'label.selectcolumntype' | translate}}</option>
              <option value="string">{{'label.string' | translate}}</option>
              <option value="number">{{'label.number' | translate}}</option>
              <option value="decimal">{{'label.decimal' | translate}}</option>
              <option value="date">{{'label.date' | translate}}</option>
              <option value="text">{{'label.text' | translate}}</option>
              <option value="dropdown">{{'label.dropdown' | translate}}</option>
          </select>&nbsp;&nbsp;
          <a ng-click="addColumn()"><i class="icon-plus icon-white"></i></a>
          <span  ng-show="editdatatableform.columnname.$invalid || columnnameerror || columntypeerror">
            <small class="error" ng-show="editdatatableform.columnname.$error.req || columnnameerror || columntypeerror">
                {{ 'label.'+labelerror | translate }}
            </small>
          </span>
        </div>
      </div>

      <table ng-show="columns.length > 0" width="100%">
        <tr class="control-group">
          <td width="11%">
            <label class="control-label"><h4>{{ 'label.heading.columns' | translate }}</h4></label>
          </td>
          <td class="blockquoteresult" width="89%">
            <table ng-show="columns.length > 0">
              <thead>
                  <tr class="graybg">
                      <th>{{'label.heading.name' | translate}}</th>
                      <th>{{'label.heading.newname' | translate}}</th>
                      <th>{{'label.heading.type' | translate}}</th>
                      <th>{{'label.heading.mandatory' | translate}}</th>
                      <th>{{'label.heading.length' | translate}}</th>
                      <th>{{'label.heading.code' | translate}}</th>
                      <th>{{'label.heading.newcode' | translate}}</th>
                      <th>{{'label.heading.actions' | translate}}</th>
                  </tr>
              </thead>
              <tbody>
                <tr ng-repeat="column in columns">
                  <td>
                    <input ng-model="column.name" class="input-small" type="text" placeholder="{{'label.input.columnname' | translate}}" ng-readonly="column.originalName"/>
                  </td>
                  <td>
                    <input ng-model="column.newName" class="input-small" type="text" placeholder="{{'label.input.columnname' | translate}}" ng-show="column.originalName"/>
                  </td>
                  <td>
                    <select ng-model="column.type" required="required" class="input-small" ng-disabled="column.originalName" ng-change="updateDepenedencies($index)">
                        <option style="display:none" value="">{{'label.selectcolumntype' | translate}}</option>
                        <option value="string">{{'label.string' | translate}}</option>
                        <option value="number">{{'label.number' | translate}}</option>
                        <option value="decimal">{{'label.decimal' | translate}}</option>
                        <option value="date">{{'label.date' | translate}}</option>
                        <option value="text">{{'label.text' | translate}}</option>
                        <option value="dropdown">{{'label.dropdown' | translate}}</option>
                    </select>
                  </td>
                  <td align="center"><input ng-model="column.mandatory" type="checkbox" /></td>
                  <td>
                    <input ng-show="column.type == 'string'" ng-model="column.length" type="text" class="input-small"/>
                  </td>
                  <td>
                    <select ng-show="column.type == 'dropdown'" ng-model="column.code" ng-options="code.name as code.name for code in codes" value="{{code.name}}" class="input-small" ng-disabled="column.originalName"/>
                  </td>
                  <td>
                    <select ng-show="column.type == 'dropdown'" ng-disabled="!column.originalName" ng-model="column.newCode" ng-options="code.name as code.name for code in codes" value="{{code.name}}" class="input-small"/>
                  </td>
                  <td align="center"><a ng-click="removeColumn($index)"><i class="icon-remove icon-white"></i></a></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </table>
      <div class="offset3">
        <a id="cancel" href="#/datatables"><button type="reset" class="btn">{{ 'label.button.cancel' | translate }}</button></a>
        <button id="save" type="submit" class="btn btn-primary">{{ 'label.button.save' | translate }}</button>
      </div>
    </fieldset>
  </form>
</div>