<div class="col-md-12" ng-controller="EditReportController">
    <ul class="breadcrumb">
        <li><a href="#/system">{{'label.anchor.system' | translate}}</a></li>
        <li><a href="#/reports">{{'label.anchor.managereports' | translate}}</a></li>
        <li class="active">{{'label.anchor.editreport' | translate}}</li>
    </ul>

    <api-validate></api-validate>
    <form name="editreportrform" class="form-horizontal well" novalidate="" rc-submit="submit()">
        <legend>{{'label.anchor.editreport' | translate}}</legend>
        <h3>{{'label.heading.reportdetails' | translate}}</h3>

        <div class="form-group">
            <label class="control-label col-sm-2">{{'label.input.reportname' | translate}}<span class="required">*</span></label>
            <div class="col-sm-2">
                <input id="reportName" name="reportName" type="text" class="form-control" required ng-model="reportdetail.reportName" late-Validate>
            </div>

            <label class="control-label col-sm-2">{{'label.input.reporttype' | translate}}<span class="required">*</span></label>
            <div class="col-sm-2">
                <select id="reportType" class="form-control" ng-model="reportdetail.reportType" ng-options="reportType for reportType in reportdetail.allowedReportTypes"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">{{'label.input.reportsubtype' | translate}}</label>
            <div class="col-sm-2">
                <select class="form-control" ng-model="reportdetail.reportSubType" ng-options="reportSubType for reportSubType in reportdetail.allowedReportSubTypes">
                    <option value="">{{'label.selectone' | translate}}</option>
                </select>
            </div>

            <label class="control-label col-sm-2">{{'label.input.reportcategory' | translate}}</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" ng-model="reportdetail.reportCategory">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">{{'label.input.userreportui' | translate}}</label>
            <div class="col-sm-1">
                <input type="checkbox" ng-model="formData.useReport">
            </div>

            <label class="control-label col-sm-2">{{'label.input.description' | translate}}</label>
            <div class="col-sm-2">
                <textarea class="form-control" rows="2" ng-model="reportdetail.description"></textarea>
            </div>
        </div>

        <hr>
        <h3>{{'label.heading.sql' | translate}}</h3>

        <div class="form-group">
            <label class="control-label col-sm-2">{{'label.input.sql' | translate }}<span class="required">*</span></label>
            <textarea id="reportSql" name="sql" class="form-control col-sm-4" rows="4" required ng-model="reportdetail.reportSql"></textarea>
        </div>

        <hr>
        <h3>{{'label.heading.reportparameters' | translate}}</h3>

        <table class="table" ng-show="reportdetail.coreReport">
            <tr class="graybg">
                <th>{{'label.heading.parameter' | translate}}</th>
                <th>{{'label.heading.parameternamepassedtopentaho' | translate}}</th>
            </tr>
            <tr ng-repeat="reportParameter in reportdetail.reportParameters">
                <td>{{reportParameter.parameterName | translate}}</td>
                <td>{{reportParameter.allowedParameterName}}</td>
            </tr>
        </table>

        <div ng-hide="reportdetail.coreReport">
            <div class="form-group" ng-options="allowedParameter.id as (allowedParameter.parameterName | translate) for allowedParameter in reportdetail.allowedParameters">
                <select ng-model="allowedParameterId">
                    <option value="">{{'label.selectallowedparameter' | translate}}</option>
                </select>
                <a class="btn btn-primary" ng-click="parameterSelected(allowedParameterId)"><i class="icon-plus icon-white"></i> {{'label.button.add' | translate}}</a>
            </div>

            <table class="table">
                <tr class="graybg">
                    <th>{{'label.heading.parameter' | translate}}</th>
                    <th>{{'label.heading.parameternamepassedtopentaho' | translate}}</th>
                    <th>{{'label.heading.actions' | translate}}</th>
                </tr>
                <tr ng-repeat="reportParameter in reportdetail.reportParameters">
                    <td>{{reportParameter.parameterName | translate}}</td>
                    <td><input type="text" ng-model="reportParameter.reportParameterName"></td>
                    <td><a ng-click="deleteParameter($index)"><i class="icon-remove icon-white"></i></a></td>
                </tr>
            </table>
        </div>

        <div class="text-center">
            <a id="cancel" class="btn btn-default" href="#/system/viewreport/{{reportdetail.id}}">{{'label.button.cancel' | translate}}</a>
            <button id="save" type="submit" class="btn btn-primary" has-permission='UPDATE_REPORT'>{{'label.button.save' | translate}}</button>
        </div>
    </form>
</div>