<form name="editcodeform" novalidate="" ng-controller="EditCodeController" ng-submit="submit()">
  <div class="paddedbottom10">
      <ul class="breadcrumb">
          <li><a href="#/system">{{'link.admin.system' | translate}}</a> <span class="divider">/</span></li>
          <li><a href="#/codes">{{'label.managecodes' | translate}}</a> <span class="divider">/</span></li>
          <li><a href="#/viewcode/{{codeId}}">{{code.name}}</a> <span class="divider">/</span></li>
          <li class="active">{{'label.editcode' | translate}}</li>
      </ul>
  </div>
  <api-validate></api-validate>
  <h3>{{'label.editcode' | translate}}</h3>
    <form>
      <input name="codevalue" ng-model="newEle.name" placeholder="Code Value" type="text"/>&nbsp;&nbsp;
      <input name="position" ng-model="newEle.position" placeholder="Position" type="text"/>&nbsp;&nbsp;
      <a data-ng-click="addCv()" class="btn btn-primary"><i class="icon-plus icon-white"></i>{{ 'label.add' | translate }}</a>
        <span  ng-show="createcenterform.name.$invalid || codevalueerror">
          <small class="error" ng-show="createcenterform.name.$error.req || codevalueerror">
              {{'label.'+labelerror | translate}}
          </small>
        </span>
      </form>
    <div data-ng-repeat="codevalue in codevalues">
        <input disabled="" placeholder={{codevalue.name}} type="text"/>&nbsp;&nbsp;<input disabled="" placeholder={{codevalue.position}}
         type="text"/>&nbsp;&nbsp;<a ng-click='deleteCv(codevalue.id)'><i class="icon-remove"></i></a>
    </div>
    <div class="pull-right" data-ng-show="stat">
        <p>{{ 'error.delete.failed' | translate }}</p>
    </div>

</form>
