<div ng-controller="ViewCodeController">
    <div class="paddedbottom10">
        <ul class="breadcrumb">
            <li><a href="#/system">{{'link.admin.system' | translate}}</a> <span class="divider">/</span></li>
            <li><a href="#/codes">{{'label.managecodes' | translate}}</a> <span class="divider">/</span></li>
            <li class="active">{{code.name}}</li>
        </ul>
    </div>
    <div class="row">
        <div class="pull-right">
            <div class="btn-group">
                <a href="#/editcode/{{code.id}}" class="btn btn-primary"><i class="icon-edit icon-white"></i> Edit</a>
                <a data-ng-click="delcode()" class="btn btn-primary" ng-show="code.systemDefined == false"><i class="icon-trash icon-white"></i> Delete</a>
            </div>
        </div>
    </div>
    <div class="row paddedleft">
  <h3>{{code.name}}</h3>
    <div>
        <table class="table" ui:sortable>
            <thead>
            <tr>
                <th>{{ 'label.name1' | translate }}</th>
                <th>{{ 'label.position' | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="codevalue in codevalues">
                <td>{{codevalue.name}}</td>
                <td>{{codevalue.position}}</td>
            </tr>

            </tbody>
        </table>
 </div>
</div>
</div>