<div class="content-container" ng-controller="ViewSchedulerController">
    <ul class="breadcrumb">
      <li><a href="#/system">{{'label.anchor.system' | translate}}</a> </li>
      <li><a href="#/viewscheduler">View Scheduled Report</a> </li>
  
    </ul>
    <div class="card">
      <div class="content">
        <div class="toolbar"></div>
        <br>
        <div class="row">
          <div class="col-md-6">
  
          </div>
          <div class="col-md-6">
            <div class="pull-right">
              <a href="#/updatescheduler/{{updateScheduler.id}}" class="btn btn-primary" has-permission='UPDATE_REPORT'><i class="fa fa-edit "></i>{{'label.button.edit'
                          | translate}}</a>
              <button type="button" class="btn btn-danger" ng-click="deletescheduler()" has-permission='DELETE_REPORT'><i
                              class="fa fa-trash "></i>{{'label.button.delete' | translate}}
                      </button>
            </div>
          </div>
        </div>
        <hr>
        <label>Name:</label>&nbsp;&nbsp;&nbsp;<label>{{updateScheduler.name}}</label><br>
        <label>Start Date & Time:</label>&nbsp;&nbsp;&nbsp;<label>{{updateScheduler.startDateTime}}</label><br>
        <label>Message:</label>&nbsp;&nbsp;&nbsp;<label>{{updateScheduler.emailMessage}}</label><br>
        <label>Subject:</label>&nbsp;&nbsp;&nbsp;<label>{{updateScheduler.emailSubject}}</label><br>
        <label>Recipients:</label>&nbsp;&nbsp;&nbsp;<label>{{updateScheduler.emailRecipients}}</label><br>
        <label>Recurrence:</label>&nbsp;&nbsp;&nbsp;<label>{{updateScheduler.recurrence}}</label><br>
        <label>File Format:</label>&nbsp;&nbsp;&nbsp;<label>{{updateScheduler.emailAttachmentFileFormat.value}}</label><br>
      </div>
    </div>
  </div>