<div  ng-controller="ViewSchedulerJobController">
	<div class="paddedbottom10">
		<ul class="breadcrumb">
	        <li><a href="#/system">{{'link.admin.system' | translate}}</a> <span class="divider">/</span></li>
	        <li><a href="#/jobs">{{'label.manageschedulerjobs' | translate}}</a> <span class="divider">/</span></li>
	        <li class="active">{{job.displayName}}</li>
	    </ul>
	</div>
    <div class="pull-right">
      <div class="btn-group">
          <a href="#/editschedulerjob/{{job.jobId}}" class="btn btn-primary"><i class="icon-edit icon-white"></i> Edit</a>
          <a href="#/viewhistory/{{job.jobId}}" class="btn btn-primary"><i class=""></i> view history</a>
      </div>
    </div>

	<div class="row paddedleft">
		<h3>{{employee.displayName}}</h3>
		<table width="100%">
			<tr>
				<td width="20%">{{ 'label.jobname' | translate }}</td>
				<td width="80%">{{job.displayName}}</td>
			</tr>
			<tr>
				<td>{{ 'label.cornexpression' | translate }}</td>
				<td>{{job.cronExpression}}</td>
			</tr>
			<tr>
				<td>{{ 'label.isactivejob' | translate }}</td>
				<td>{{job.active}}</td>
			</tr>
			<tr>
				<td>Follow "http://www.cronmaker.com" to generate cron expression</td>
			</tr>
		</table>
	</div>
</div>
          