<div class="content-container" ng-controller="ViewMakerCheckerTaskController">
    <ul class="breadcrumb">
        <li><a href="#/tasks">{{'label.anchor.tasks' | translate}}</a></li>
        <li class="active">{{'label.anchor.viewcheckerinbox' | translate}}</li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4>{{'label.heading.makercheckertask.waiting.for.approval' | translate}}</h4>
            </div>
            <br>
            <div>
                <h4 class="paddedleft">{{'label.makerchecker.task.created.description' | translate}}</h4>
                <h4 class="paddedleft">{{'label.makerchecker.task.created.description.view.details' | translate}}&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#/viewcheckerinbox/{{commandId}}" class="btn btn-primary">{{'label.button.details' | translate}} </a></h4>
            </div>
        </div>
    </div>
</div>