<div>
    <ul class="breadcrumb">
        <li><a href="#/products">{{'link.admin.products' | translate}}</a> <span class="divider">/</span></li>
        <li class="active">{{'label.charges' | translate}}</li>
    </ul>
    <div class="pull-right">
        <a href="#/createcharge" class="btn btn-primary"><i class="icon-plus icon-white"></i> Create Charge</a>
    </div>
</div>

<div class="row-fluid" ng-controller="ChargeController">
    <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by name">
	<table class="table">
        <thead>
            <tr class="graybg">
                <th>Name</th>
                <th>Is Penalty?</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="charge in charges | filter:filterText">
                <td><a href="#/viewcharge/{{charge.id}}">{{charge.name}}</a></td>         
                <td>{{charge.penalty}}</td>            
                <td>{{charge.active}}</td>            
            </tr>
        </tbody>
    </table>
    <div class="hide" 
        data-mf-overlay="{show: 'ChargeDataLoadingStartEvent', hide: 'ChargeDataLoadingCompleteEvent'}"
        data-mf-overlay-target="#systemUsers">
        <div class="overlay-msg element info">
          <spam>Loading charge... Please wait.</spam>
        </div>
    </div>
</div>