<div>
    <ul class="breadcrumb">
        <li><a href="#/products">{{'label.anchor.products' | translate}}</a> <span class="divider">/</span></li>
        <li class="active">{{'label.anchor.charges' | translate}}</li>
    </ul>
    <div class="pull-right">
        <a href="#/createcharge" class="btn btn-primary"><i class="icon-plus icon-white"></i>{{'label.button.createcharge' | translate}}</a>
    </div>
</div>

<div class="row-fluid" ng-controller="ChargeController">
    <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="{{'label.input.filterbyname' | translate}}">
	<table class="table">
        <thead>
            <tr class="graybg">
                <th>{{'label.heading.name' | translate}}</th>
                <th>{{'label.heading.ispenalty' | translate}}</th>
                <th>{{'label.heading.active' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="pointer-main" ng-repeat="charge in charges |orderBy:'name':reverse | filter:filterText">
                <td class="pointer" data-ng-click="routeTo(charge.id)">{{charge.name}}</td>
                <td class="pointer" data-ng-click="routeTo(charge.id)">{{charge.penalty}}</td>
                <td class="pointer" data-ng-click="routeTo(charge.id)">{{charge.active}}</td>
            </tr>
        </tbody>
    </table>
</div>