<form name="createchargeform" novalidate="" class="form-horizontal well" ng-controller="CreateChargeController" rc-submit="submit()">
    <fieldset>
        <div class="control-group">
            <label class="control-label">{{'label.chargesappliesto' | translate}}<span class="required">*</span></label>
            <div class="controls">
                <select name="chargeappliesto" ng-model="formData.chargeAppliesTo"  ng-options="chargesapply.id as chargesapply.value for chargesapply in template.chargeAppliesToOptions" value="{{chargesapply.id}}" ng-change="chargeAppliesToSelected(formData.chargeAppliesTo)" required>
                  <option value="">{{'label.select.one' | translate}}</option>
                </select>
                <form-validate valattributeform="createchargeform" valattribute="chargeappliesto"/>
            </div>
        </div>
        <hr/>
        <div>
            <div class="control-group">
            <label class="control-label" for="name">{{'label.name' | translate}}<span class="required">*</span></label>
            <div class="controls">
                <input name="name" type="text" id="name" ng-model="formData.name" required late-Validate/>
                <form-validate valattributeform="createchargeform" valattribute="name"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{'label.currency' | translate}}<span class="required">*</span></label>
            <div class="controls">
                <select name="currency" ng-model="formData.currencyCode"  ng-options="currency.code as currency.name for currency in template.currencyOptions" value="{{currency.code}}"
                 required>
                  <option value="">{{'label.select.currency' | translate}}</option>
                </select>
                <form-validate valattributeform="createchargeform" valattribute="currency"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{'label.chargetimetype' | translate}}<span class="required">*</span></label>
            <div class="controls">
                <select name="chargetimetype" ng-model="formData.chargeTimeType"  ng-options="timetype.id as timetype.value for timetype in chargeTimeTypeOptions" value="{{timetype.id}}" required>
                  <option value="">{{'label.select.one' | translate}}</option>
                </select>
                <form-validate valattributeform="createchargeform" valattribute="chargetimetype"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{'label.chargecalculation' | translate}}<span class="required">*</span></label>
            <div class="controls">
                <select name="chargecalculation" ng-model="formData.chargeCalculationType"  ng-options="chargecalculation.id as chargecalculation.value for chargecalculation in chargeCalculationTypeOptions" value="{{chargecalculation.id}}" required>
                  <option value="">{{'label.select.one' | translate}}</option>
                </select>
                <form-validate valattributeform="createchargeform" valattribute="chargecalculation"/>
            </div>
        </div>
        <div class="control-group" ng-show="showChargePaymentByField">
            <label class="control-label">{{'label.chargepaymentby' | translate}}<span class="required">*</span></label>
            <div class="controls">
                <select name="showchargepaymentbyfield" ng-model="formData.chargePaymentMode"  ng-options="chargepayment.id as chargepayment.value for chargepayment in template.chargePaymetModeOptions" value="{{chargepayment.id}}" required>
                  <option value="">{{'label.select.one' | translate}}</option>
                </select>
                <form-validate valattributeform="createchargeform" valattribute="showchargepaymentbyfield"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="amount">{{'label.amount' | translate}}<span class="required">*</span></label>
            <div class="controls">
                <input name="amount" type="text" id="amount" ng-model="formData.amount" required late-Validate/>
                <form-validate valattributeform="createchargeform" valattribute="amount"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="active">{{'label.active' | translate}}</label>
            <div class="controls">
                <label class="checkbox">
                    <input id="active" type="checkbox" ng-model="formData.active" data-ng-click="setChoice()">
                </label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ispenalty">{{'label.ispenalty' | translate}}</label>
            <div class="controls">
                <label class="checkbox">
                    <input id="ispenalty" type="checkbox" ng-model="formData.penalty" ng-true-value="true" ng-false-value="false">
                </label>
            </div>
        </div>
        <div class="offset2 paddedleft80">
            <a href="#/charges"><button type="reset" class="btn">{{'label.cancel' | translate}}</button></a>
            <button type="submit" class="btn btn-primary">{{'label.save' | translate}}</button>
        </div>
    </fieldset>
</form>
