<form class="form-horizontal well" ng-controller="CreateChargeController" ng-submit="submit()">
    <fieldset>
        <legend>{{'label.createcharge' | translate}}</legend>
        <div class="control-group">
            <label class="control-label" for="name">{{'label.name' | translate}}</label>
            <div class="controls">
                <input type="text" id="name" ng-model="formData.name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{'label.currency' | translate}}</label>
            <div class="controls">
                <select ng-model="formData.currencyCode">
                    <option ng-repeat="currency in template.currencyOptions" value="{{currency.code}}">{{currency.name}}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{'label.chargesappliesto' | translate}}</label>
            <div class="controls">
                <select ng-model="formData.chargeAppliesTo">
                    <option ng-repeat="chargesapply in template.chargeAppliesToOptions" value="{{chargesapply.id}}">{{chargesapply.value}}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{'label.chargetimetype' | translate}}</label>
            <div class="controls">
                <select ng-model="formData.chargeTimeType">
                    <option ng-repeat="timetype in template.chargeTimeTypeOptions" value="{{timetype.id}}">{{timetype.value}}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{'label.chargecalculation' | translate}}</label>
            <div class="controls">
                <select ng-model="formData.chargeCalculationType">
                    <option ng-repeat="chargecalculation in template.chargeCalculationTypeOptions" value="{{chargecalculation.id}}">{{chargecalculation.value}}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{'label.chargepaymentby' | translate}}</label>
            <div class="controls">
                <select ng-model="formData.chargePaymentMode">
                    <option ng-repeat="chargepayment in template.chargePaymetModeOptions" value="{{chargepayment.id}}">{{chargepayment.value}}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="amount">{{'label.amount' | translate}}</label>
            <div class="controls">
                <input type="text" id="amount" ng-model="formData.amount">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="active">{{'label.active' | translate}}</label>
            <div class="controls">
                <label class="checkbox">
                    <input id="active" type="checkbox" ng-model="formData.active" ng-true-value="true" ng-false-value="false">
                </label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ispenalty">{{'label.ispenalty' | translate}}</label>
            <div class="controls">
                <label class="checkbox">
                    <input id="ispenalty" type="checkbox" ng-model="formData.penalty" ng-true-value="true" ng-false-value="false">
                </label>
            </div>
        </div>
        <div class="offset2 paddedleft80">
            <a href="#/charges"><button type="reset" class="btn">{{'label.cancel' | translate}}</button></a>
            <button type="submit" class="btn btn-primary">{{'label.save' | translate}}</button>
        </div>
    </fieldset>
</form>
