<div ng-controller="EditSavingProductController">
<div>
    <ul class="breadcrumb">
        <li><a href="#/products">{{'label.anchor.products' | translate}}</a></li>
        <li><a href="#/savingproducts">{{'label.anchor.savingproducts' | translate}}</a></li>
        <li><a href="#/viewsavingproduct/{{product.id}}">{{product.name}}</a></li>
        <li class="active">{{'label.anchor.editsavingproduct' | translate}}</li>
    </ul>
</div>
<form name="createsavingproductform" novalidate="" class="well" rc-submit="submit()">
<api-validate></api-validate>
<div>
    <table class="width100">
        <tr class="form-group">
            <td class="width11">
                <label class="control-label col-sm-2"><h4>{{ 'label.heading.details' | translate }}</h4></label>
            </td>
            <td class="blockquoteresult width80">
                <table class="width100">
                    <tr>
                        <td class="width100">
                            <label class="control-label">{{ 'label.input.productname' | translate }}&nbsp;<span
                                    class="required">*</span></label>

                            <div class="form-inline">
                                <input id="name" ng-autofocus="true" name="name" class="form-control" type="text"
                                       ng-model="formData.name"
                                       required late-validate/>
                                <form-validate valattributeform="createsavingproductform" valattribute="name"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="width100">
                            <label class="control-label">{{ 'label.input.product.shortname' | translate }}&nbsp;<span
                                    class="required">*</span></label>

                            <div class="form-inline">
                                <input type="text" id="shortName" name="shortName" class="form-control"
                                       ng-model="formData.shortName"
                                       maxlength="4" required late-validate/>
                                <form-validate valattributeform="createsavingproductform" valattribute="shortName"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="width100">
                            <label class="control-label">{{ 'label.input.description' | translate }}<span
                                    class="required">*</span></label>

                            <div class="form-inline">
                                <textarea rows="2" id="description" name="description" class="form-control"
                                          ng-model="formData.description"
                                          required late-validate/></textarea>
                                <form-validate valattributeform="createsavingproductform" valattribute="description"/>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

<div class="form-group">
<table class="width100">
<tr class="col-md-1 minheight30px"></tr>
<tr class="form-group">
    <td class="width11">
        <label class="control-label"><h4>{{ 'label.heading.terms' | translate }}</h4></label>
    </td>
    <td class="blockquoteresult width80">
        <table class="width100">
            <tr>
                <td class="width40">
                    <label class="control-label">{{ 'label.input.currency' | translate }}&nbsp;<span
                            class="required">*</span></label>

                    <div class="form-inline">
                        <select id="currencyCode" ng-model="formData.currencyCode" class="form-control width170px"
                                ng-options="currency.code as currency.name for currency in product.currencyOptions"
                                value="{{currency.code}}"></select>
                    </div>
                </td>
                <td class="width40">
                    <label class="control-label">{{ 'label.input.decimalplaces' | translate }}&nbsp;<span
                            class="required">*</span></label>

                    <div class="form-inline">
                        <input id="digitsAfterDecimal" type="text" name="decimalplace" class="form-control"
                               ng-model="formData.digitsAfterDecimal" required late-validate/>
                        <form-validate valattributeform="createsavingproductform" valattribute="decimalplace"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="width40">
                    <label class="control-label">{{ 'label.input.multiplesof' | translate }}&nbsp;<span
                            class="required">*</span></label>

                    <div class="form-inline">
                        <input id="inMultiplesOf" type="text" class="form-control" name="multiplesof"
                               ng-model="formData.inMultiplesOf" required
                               late-validate/>
                        <form-validate valattributeform="createsavingproductform" valattribute="multiplesof"/>
                    </div>
                </td>
                <td class="width40">
                    <label class="control-label">{{ 'label.input.nominalannualinterestrate' | translate }}&nbsp;<span
                            class="required">*</span></label>

                    <div class="form-inline">
                        <input id="nominalAnnualInterestRate" name="nominalAnnualInterestRate" type="text"
                               class="form-control" ng-model="formData.nominalAnnualInterestRate" required
                               late-validate/>
                        <form-validate valattributeform="createsavingproductform"
                                       valattribute="nominalAnnualInterestRate"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="width40">
                    <label class="control-label">{{ 'label.input.interestcompoundingperiod' | translate }}&nbsp;<span
                            class="required">*</span></label>

                    <div class="form-inline">
                        <select id="interestCompoundingPeriodType" ng-model="formData.interestCompoundingPeriodType"
                                class="form-control width170px"
                                ng-options="type.id as type.value for type in product.interestCompoundingPeriodTypeOptions"
                                value="{{type.id}}">
                        </select>
                    </div>
                </td>
                <td class="width40">
                    <label class="control-label">{{ 'label.input.interestpostingperiod' | translate }}&nbsp;<span
                            class="required">*</span></label>
                    <select id="interestPostingPeriodType" ng-model="formData.interestPostingPeriodType"
                            class="form-control width170px"
                            ng-options="type.id as type.value for type in product.interestPostingPeriodTypeOptions"
                            value="{{type.id}}">
                    </select>
                </td>
            </tr>
            <tr>
                <td class="width40">
                    <label class="control-label">{{ 'label.input.interestcalculatedusing' | translate }}&nbsp;<span
                            class="required">*</span></label>
                    <select id="interestCalculationType" ng-model="formData.interestCalculationType"
                            class="form-control width170px"
                            ng-options="type.id as type.value for type in product.interestCalculationTypeOptions"
                            value="{{type.id}}">
                    </select>
                </td>
                <td class="width40">
                    <label class="control-label">{{ 'label.input.daysinyears' | translate }}&nbsp;<span
                            class="required">*</span></label>
                    <select id="interestCalculationDaysInYearType" ng-model="formData.interestCalculationDaysInYearType"
                            class="form-control width170px"
                            ng-options="type.id as type.value for type in product.interestCalculationDaysInYearTypeOptions"
                            value="{{type.id}}">
                    </select>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr class="col-md-1 minheight30px"></tr>
<tr class="form-group">
    <td class="width11">
        <label class="control-label col-sm-2"><h4>{{ 'label.heading.settings' | translate }}</h4></label>
    </td>
    <td class="blockquoteresult width80">
        <table class="width100">
            <tr>
                <td class="width40">
                    <label class="control-label">{{ 'label.input.minimumopeningbalance' | translate }}&nbsp;</label>

                    <div class="form-inline">
                        <input id="minRequiredOpeningBalance" class="form-control" type="text"
                               ng-model="formData.minRequiredOpeningBalance">
                    </div>
                </td>
                <td class="width40">
                    <label class="control-label">{{ 'label.input.lockinPeriodFrequency' | translate }}&nbsp;</label>

                    <div class="form-inline">
                        <input id="lockinPeriodFrequency" type="text" class="form-control"
                               ng-model="formData.lockinPeriodFrequency">&nbsp;
                        <select id="lockinPeriodFrequencyType" ng-model="formData.lockinPeriodFrequencyType"
                                class="form-control width170px"
                                ng-options="type.id as type.value for type in product.lockinPeriodFrequencyTypeOptions"
                                value="{{type.id}}">
                            <option class="displaynone" value="">{{'label.selectone' | translate}}</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="width40">
                    <label class="control-label">{{ 'label.input.applywithdrawalfeefortransfers' | translate
                        }}&nbsp;</label>
                    <input id="withdrawalFeeForTransfers" type="checkbox" ng-model="formData.withdrawalFeeForTransfers"
                           ng-true-value="true" ng-false-value="false">
                </td>
                <td class="width40"></td>
            </tr>
            <tr>
                <td class="width40">
                    <label class="control-label">{{ 'label.input.allowoverdraft' | translate }}&nbsp;</label>
                    <input id="allowOverdraft" type="checkbox" ng-model="formData.allowOverdraft" ng-true-value="true"
                           ng-false-value="false">
                </td>
                <td class="width40"></td>
            </tr>
            <tr ng-show="formData.allowOverdraft">
                <td class="width40">
                    <label class="control-label">{{ 'label.input.overdraftlimit' | translate }}&nbsp;</label>
                    <input id="overdraftLimit" type="text" class="form-control" ng-model="formData.overdraftLimit">
                </td>
            </tr>
        </table>
    </td>
</tr>

<tr class="col-md-1 minheight30px"></tr>

<tr class="form-group">
    <td>
        <label class="control-label"><h4>{{ 'label.heading.charges' | translate }}</h4></label>
    </td>
    <td class="blockquoteresult">
        <form class="form-inline">
            <select ng-model="chargeId" ng-options="charge.id as charge.name for charge in product.chargeOptions"
                    value="{{charge.id}}" class="form-control width170px">
                <option class="displaynone" value="">{{'label.selectcharge' | translate}}</option>
            </select>
            <a class="btn btn-primary" ng-click="chargeSelected(chargeId)">{{ 'label.button.add' | translate }}</a>
        </form>
        <table class="table width100">
            <tr class="graybg">
                <th>{{'label.heading.name' | translate}}</th>
                <th>{{'label.heading.type' | translate}}</th>
                <th></th>
                <th>{{'label.heading.amount' | translate}}</th>
                <th></th>
                <th>{{'label.heading.collectedon' | translate}}</th>
                <th></th>
                <th>{{'label.heading.actions' | translate}}</th>
            </tr>
            <tr ng-repeat="charge in charges">
                <td>{{charge.name}},{{charge.currency.displaySymbol}}</td>
                <td>{{charge.chargeCalculationType.value}}</td>
                <td></td>
                <td>{{charge.amount}}</td>
                <td></td>
                <td>{{charge.chargeTimeType.value}}</td>
                <td></td>
                <td><a ng-click="deleteCharge($index)" ng-hide="charge.isMandatory"><i class="icon-remove icon-white"></i></a></td>
            </tr>
        </table>
    </td>
</tr>

<tr class="col-md-1 minheight30px"></tr>

<tr class="form-group">
    <td class="width11">
        <label class="control-label"><h4>{{ 'label.heading.accounting' | translate }}</h4></label>
    </td>
    <td class="blockquoteresult">
        <table>
            <tr>
                <td>
                    <input type="radio" ng-model="formData.accountingRule" value="1">{{'label.input.none' |
                    translate}}<br/>
                <td>
                <td>
                    <input type="radio" ng-model="formData.accountingRule" value="2">{{'label.input.cash' |
                    translate}}<br/>
                </td>
            </tr>
        </table>
    </td>
</tr>

<tr ng-show="formData.accountingRule==2" class="form-group">
<td>

</td>
<td class="blockquoteresult">
<table class="width100">
    <tr>
        <td><h4>{{"label.heading.assets" | translate}}</h4></td>
    </tr>
    <tr class="form-group">
        <td>
            <label class="control-label">{{ 'label.input.savingreference' | translate }}&nbsp;</label>
            <a tooltip="{{'label.tooltip.savingreference' | translate}}"><i class="icon-question-sign  icon-white"></i></a>

            <div class="form-inline paddedbottom10">
                <select id="savingsReferenceAccountId" ng-model="formData.savingsReferenceAccountId"
                        chosen="assetAccountOptions"
                        ng-options="assetAccount.id as assetAccount.name for assetAccount in assetAccountOptions"
                        value="{{assetAccount.id}}">
                </select>
            </div>
        </td>

    </tr>
    <tr class="form-group">
        <td>
            <label class="control-label">{{ 'label.input.overdraftportfoliocontrol' | translate }}&nbsp;</label>
            <a tooltip="{{'label.tooltip.overdraftprotfolio' | translate}}"><i
                    class="icon-question-sign  icon-white"></i></a>

            <div class="form-inline paddedbottom10">
                <select id="overdraftPortfolioControlId" ng-model="formData.overdraftPortfolioControlId"
                        chosen="assetAccountOptions"
                        ng-options="assetAccount.id as assetAccount.name for assetAccount in assetAccountOptions"
                        value="{{assetAccount.id}}">
                </select>
            </div>
        </td>

    </tr>
</table>
<table class="width100">
    <tr>
        <td>
            <hr class="marginbottom">
        </td>
    </tr>
    <tr>
        <td><h4>{{"label.heading.liabilities" | translate}}</h4></td>
    </tr>
    <tr class="form-group">
        <td>
            <label class="control-label">{{ 'label.input.savingcontrol' | translate }}&nbsp;</label>
            <a tooltip="{{'label.tooltip.savingcontrol' | translate}}"><i
                    class="icon-question-sign  icon-white"></i></a>

            <div class="form-inline paddedbottom10">
                <select id="savingsControlAccountId" ng-model="formData.savingsControlAccountId"
                        chosen="liabilityAccountOptions"
                        ng-options="liabilityAccount.id as liabilityAccount.name for liabilityAccount in liabilityAccountOptions"
                        value="{{liabilityAccount.id}}">
                </select>
            </div>
        </td>
    </tr>
    <tr class="form-group">
        <td>
            <label class="control-label">{{ 'label.input.savingstransfersinsuspenpense' | translate }}&nbsp;</label>
            <a tooltip="{{'label.tooltip.savingsuspense' | translate}}"><i
                    class="icon-question-sign  icon-white"></i></a>

            <div class="form-inline paddedbottom10">
                <select id="transfersInSuspenseAccountId" ng-model="formData.transfersInSuspenseAccountId"
                        chosen="liabilityAccountOptions"
                        ng-options="liabilityAccount.id as liabilityAccount.name for liabilityAccount in liabilityAccountOptions"
                        value="{{liabilityAccount.id}}">
                </select>
            </div>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            <hr class="marginbottom">
        </td>
    </tr>
    <tr>
        <td><h4>{{"label.heading.expenses" | translate}}</h4></td>
    </tr>
</table>
<table class="width100">
    <tr class="form-group">
        <td>
            <label class="control-label">{{ 'label.input.interestonsavings' | translate }}&nbsp;</label>
            <a tooltip="{{'label.tooltip.interestonsavings' | translate}}"><i
                    class="icon-question-sign  icon-white"></i></a>

            <div class="form-inline paddedbottom10">
                <select id="interestOnSavingsAccountId" ng-model="formData.interestOnSavingsAccountId"
                        chosen="expenseAccountOptions"
                        ng-options="expenseAccount.id as expenseAccount.name for expenseAccount in expenseAccountOptions"
                        value="{{expenseAccount.id}}">
                </select>
            </div>
        </td>
        <td></td>
    </tr>
    <tr class="form-group">
        <td>
            <label class="control-label">{{ 'label.input.writeOff' | translate }}&nbsp;</label>
            <a tooltip="{{'label.tooltip.Writeoffoverdraft' | translate}}"><i
                    class="icon-question-sign  icon-white"></i></a>

            <div class="form-inline paddedbottom10">
                <select id="writeOffAccountId" ng-model="formData.writeOffAccountId" chosen="expenseAccountOptions"
                        ng-options="expenseAccount.id as expenseAccount.name for expenseAccount in expenseAccountOptions"
                        value="{{expenseAccount.id}}">
                </select>
            </div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            <hr class="marginbottom">
        </td>
    </tr>
    <tr>
        <td><h4>{{"label.heading.income" | translate}}</h4></td>
    </tr>
</table>
<table class="width100">
    <tr class="form-group">
        <td>
            <label class="control-label">{{ 'label.input.incomefromfees' | translate }}&nbsp;</label>
            <a tooltip="{{'label.tooltip.incomefromfees' | translate}}"><i
                    class="icon-question-sign  icon-white"></i></a>

            <div class="form-inline paddedbottom10">
                <select id="incomeFromFeeAccountId" ng-model="formData.incomeFromFeeAccountId"
                        chosen="incomeAccountOptions"
                        ng-options="incomeAccount.id as incomeAccount.name for incomeAccount in incomeAccountOptions"
                        value="{{incomeAccount.id}}">
                </select>
            </div>
        </td>
        <td>
        </td>
    </tr>
    <tr class="form-group">
        <td>
            <label class="control-label">{{ 'label.input.incomefrompenalties' | translate }}&nbsp;</label>
            <a tooltip="{{'label.tooltip.incomefrompenalties' | translate}}"><i
                    class="icon-question-sign  icon-white"></i></a>

            <div class="form-inline paddedbottom10">
                <select id="incomeFromPenaltyAccountId" ng-model="formData.incomeFromPenaltyAccountId"
                        chosen="incomeAccountOptions"
                        ng-options="incomeAccount.id as incomeAccount.name for incomeAccount in incomeAccountOptions"
                        value="{{incomeAccount.id}}">
                </select>
            </div>
        </td>
        <td>
        </td>
    </tr>
    <tr class="form-group">
        <td>
            <label class="control-label">{{ 'label.input.incomefrominterest' | translate }}&nbsp;</label>
            <a tooltip="{{'label.tooltip.incomefromoverdraftinterest' | translate}}"><i
                    class="icon-question-sign  icon-white"></i></a>

            <div class="form-inline paddedbottom10">
                <select id="incomeFromInterestId" ng-model="formData.incomeFromInterestId" chosen="incomeAccountOptions"
                        ng-options="incomeAccount.id as incomeAccount.name for incomeAccount in incomeAccountOptions"
                        value="{{incomeAccount.id}}">
                </select>
            </div>
        </td>
        <td>
        </td>
    </tr>
    <tr class="col-md-1"></tr>
</table>
<table class="width100">
    <tr class="form-group">
        <td>
            <h4>{{'label.heading.advancedaccountingrules' | translate}}[<a ng-click="showOrHide(showOrHideValue)">{{showOrHideValue}}</a>]
            </h4></br>
        </td>
    </tr>
    <tr class="form-group">
        <td>
            <table class="width100" ng-show="showOrHideValue == 'hide'">
                <tr>
                    <td>{{'label.heading.configurefundsourcesforpaymentchannels' | translate}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td><a class="btn btn-primary" ng-click="addConfigureFundSource()">{{ 'label.button.add' | translate
                        }}</a></td>
                </tr>
                <tr>
                    <td>
                        <table class="table width100">
                            <tr class="graybg">
                                <th class="width30">{{'label.heading.paymenttype' | translate}}</th>
                                <th></th>
                                <th class="width30">{{'label.heading.fundsource' | translate}}</th>
                                <th></th>
                                <th class="width30">{{'label.heading.actions' | translate}}</th>
                            </tr>
                            <tr ng-repeat="configureFundOption in configureFundOptions">
                                <td class="width30">
                                    <select id="configureFundOptions[{{$index}}].paymentTypeId"
                                            class="form-control width170px"
                                            ng-model="configureFundOption.paymentTypeId"
                                            ng-options="paymentType.id as paymentType.name for paymentType in configureFundOption.paymentTypeOptions"
                                            value="{{paymentType.id}}">
                                    </select>
                                </td>
                                <td></td>
                                <td class="width30">
                                    <select id="configureFundOptions[{{$index}}].fundSourceAccountId"
                                            class="form-control width170px"
                                            ng-model="configureFundOption.fundSourceAccountId"
                                            ng-options="assetAccount.id as assetAccount.name for assetAccount in configureFundOption.assetAccountOptions"
                                            value="{{assetAccount.id}}">
                                    </select>
                                </td>
                                <td></td>
                                <td class="width30"><i class="icon-remove" ng-click="deleteFund($index)"></i></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>{{'label.heading.mapfeestoincomeaccounts' | translate}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td><a class="btn btn-primary" ng-click="mapFees()">{{ 'label.button.add' | translate }}</a></td>
                </tr>
                <tr>
                    <td>
                        <table class="table">
                            <tr class="graybg">
                                <th class="width30">{{'label.heading.fees' | translate}}</th>
                                <th></th>
                                <th class="width30">{{'label.heading.incomeaccount' | translate}}</th>
                                <th></th>
                                <th class="width30">{{'label.heading.actions' | translate}}</th>
                            </tr>
                            <tr ng-repeat="specificIncomeaccount in specificIncomeaccounts">
                                <td class="width30">
                                    <select id="specificIncomeaccounts[{{$index}}].chargeId"
                                            class="form-control width170px"
                                            ng-model="specificIncomeaccount.chargeId"
                                            ng-options="charge.id as charge.name for charge in specificIncomeaccount.chargeOptions"
                                            value="{{charge.id}}">
                                    </select>
                                </td>
                                <td></td>
                                <td class="width30">
                                    <select id="specificIncomeaccounts[{{$index}}].incomeAccountId"
                                            class="form-control width170px"
                                            ng-model="specificIncomeaccount.incomeAccountId"
                                            ng-options="assetAccount.id as assetAccount.name for assetAccount in specificIncomeaccount.incomeAccountOptions"
                                            value="{{assetAccount.id}}">
                                    </select>
                                </td>
                                <td></td>
                                <td class="width30"><i class="icon-remove" ng-click="deleteFee($index)"></i></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>{{'label.heading.mappenaltiestospecificincomeaccounts' | translate}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td><a class="btn btn-primary" ng-click="mapPenalty()">{{ 'label.button.add' | translate }}</a></td>
                </tr>
                <tr>
                    <td>
                        <table class="table">
                            <tr class="graybg">
                                <th class="width30">{{'label.heading.penalty' | translate}}</th>
                                <th></th>
                                <th class="width30">{{'label.heading.incomeaccount' | translate}}</th>
                                <th></th>
                                <th class="width30">{{'label.heading.actions' | translate}}</th>
                            </tr>
                            <tr ng-repeat="penaltySpecificIncomeaccount in penaltySpecificIncomeaccounts">
                                <td class="width30">
                                    <select id="penaltySpecificIncomeaccounts[{{$index}}].chargeId"
                                            class="form-control width170px"
                                            ng-model="penaltySpecificIncomeaccount.chargeId"
                                            ng-options="charge.id as charge.name for charge in penaltySpecificIncomeaccount.penaltyOptions"
                                            value="{{charge.id}}">
                                    </select>
                                </td>
                                <td></td>
                                <td class="width30">
                                    <select id="penaltySpecificIncomeaccounts[{{$index}}].incomeAccountId"
                                            class="form-control width170px"
                                            ng-model="penaltySpecificIncomeaccount.incomeAccountId"
                                            ng-options="assetAccount.id as assetAccount.name for assetAccount in penaltySpecificIncomeaccount.incomeAccountOptions"
                                            value="{{assetAccount.id}}">
                                    </select>
                                </td>
                                <td></td>
                                <td class="width30"><i class="icon-remove" ng-click="deletePenalty($index)"></i></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</td>
</tr>
</table>
</div>
<div class="col-md-offset-6 paddedtop">
    <button id="cancel" type="reset" class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}
    </button>
    <button id="save" type="submit" class="btn btn-primary" has-permission='UPDATE_SAVINGSPRODUCT'>{{'label.button.save'
        | translate}}
    </button>
</div>
</form>
</div>
