<div>
    <ul class="breadcrumb">
        <li><a href="#/products">{{'link.admin.products' | translate}}</a> <span class="divider">/</span></li>
        <li class="active">{{'link.products.loanproducts' | translate}}</li>
    </ul>
    <div class="pull-right">
        <a href="#/createloanproduct" class="btn btn-primary"><i class="icon-plus icon-white"></i> Create Loan Product</a>
    </div>
</div>

<div class="row-fluid" ng-controller="LoanProductController">
    <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by name/fundname">
	<table class="table">
        <thead>
            <tr class="graybg">
                <th>Name</th>
                <th>Fund name</th>
                <th>Expiry date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="loanproduct in loanproducts | filter:filterText">
                <td><a href="#/viewloanproduct/{{loanproduct.id}}">{{loanproduct.name}}</a></td>
                <td>{{loanproduct.fundName}}</td>
                <td>{{loanproduct.closeDate | DateFormat}}</td>
                <td><i class="icon-stop {{loanproduct.status | StatusLookup}}"></i></td>
            </tr>
        </tbody>
    </table>
    <div class="hide" 
        data-mf-overlay="{show: 'LoanProductDataLoadingStartEvent', hide: 'LoanProductDataLoadingCompleteEvent'}"
        data-mf-overlay-target="#systemUsers">
        <div class="overlay-msg element info">
          <spam>Loading loanproducts... Please wait.</spam>
        </div>
    </div>
</div>