<div class="row paddedleft paddedtop">
  <div class="span6">
	  <div class="list-group">
	    <a class="list-group-item" href="#/loanproducts">
	      <h4 class="list-group-item-heading"><i class="icon-tags icon-large"></i>&nbsp;&nbsp;{{ 'link.products.loanproducts' | translate }}</h4>
	      <p class="list-group-item-text">Add new loan prodcut or modify or inactivate loan prodcut.</p>
	    </a>
	    <a class="list-group-item" href="#/charges">
	      <h4 class="list-group-item-heading"><i class="icon-calendar icon-puzzle-piece"></i>&nbsp;&nbsp;{{ 'link.products.charges' | translate }}</h4>
	      <p class="list-group-item-text">Define chnarges/penalties for loan product</p>
	    </a>
	  </div>    
  </div>
  <div class="span6">
	  <div class="list-group">
	    <a class="list-group-item" href="#/savingproducts">
	      <h4 class="list-group-item-heading"><i class="icon-large icon-briefcase"></i>&nbsp;&nbsp;{{ 'link.products.savingproducts' | translate }}</h4>
	      <p class="list-group-item-text">Add new saving prodcut or modify or inactivate saving prodcut.</p>
	    </a>
	    <a class="list-group-item" href="#/productmix">
	      <h4 class="list-group-item-heading"><i class="icon-large icon-random"></i>&nbsp;&nbsp;{{ 'link.products.productsmix' | translate }}</h4>
	      <p class="list-group-item-text">Defines rules for taking multiple rules</p>
	    </a>
	  </div>
  </div>
</div>