<div class="row paddedleft paddedtop">
  <div class="span6">
	  <div class="list-group">
	    <a class="list-group-item" href="#/loanproducts">
	      <h4 class="list-group-item-heading"><i class="icon-tags icon-large"></i>&nbsp;&nbsp;{{ 'label.anchor.loanproducts' | translate }}</h4>
	      <p class="list-group-item-text">{{'label.addnewloanproductor' | translate}}</p>
	    </a>
	    <a class="list-group-item" href="#/charges">
	      <h4 class="list-group-item-heading"><i class="icon-calendar icon-puzzle-piece"></i>&nbsp;&nbsp;{{ 'label.anchor.charges' | translate }}</h4>
	      <p class="list-group-item-text">{{'label.definecharges' | translate}}</p>
	    </a>
	  </div>    
  </div>
  <div class="span6">
	  <div class="list-group">
	    <a class="list-group-item" href="#/savingproducts">
	      <h4 class="list-group-item-heading"><i class="icon-large icon-briefcase"></i>&nbsp;&nbsp;{{ 'label.anchor.savingproducts' | translate }}</h4>
	      <p class="list-group-item-text">{{'label.addnewsavingproductor' | translate}}</p>
	    </a>
	    <a class="list-group-item" href="#/productmix">
	      <h4 class="list-group-item-heading"><i class="icon-large icon-random"></i>&nbsp;&nbsp;{{ 'label.anchor.productsmix' | translate }}</h4>
	      <p class="list-group-item-text">{{'label.definesrulesfortakingmul' | translate}}</p>
	    </a>
	  </div>
  </div>
</div>