<div>
    <ul class="breadcrumb">
        <li><a href="#/products">{{'label.anchor.products' | translate}}</a></li>
        <li class="active">{{'label.anchor.savingproducts' | translate}}</li>
    </ul>
    <div class="pull-right">
        <a href="#/createsavingproduct" class="btn btn-primary" has-permission='CREATE_SAVINGSPRODUCT'><i class="icon-plus icon-white"></i>{{'label.button.createsavingproduct' | translate}}</a>
    </div>
    <input ng-autofocus="true" ng-model="filterText" type="text" class="form-control"
           placeholder="{{'label.input.filterbynameshortname' | translate}}">
</div>

<div ng-controller="SavingProductController">

    <table class="table">
        <thead>
        <tr class="graybg">
            <th>{{'label.heading.name' | translate}}</th>
            <th>{{'label.heading.shortname' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr class="pointer-main"
            ng-repeat="savingproduct in savingproducts | orderBy:'name':reverse | filter:filterText">
            <td class="pointer" data-ng-click="routeTo(savingproduct.id)">{{savingproduct.name}}</td>
            <td class="pointer" data-ng-click="routeTo(savingproduct.id)">{{savingproduct.shortName}}</td>
        </tr>
        </tbody>
    </table>
</div>
