<div ng-controller="ViewChargeController">
	<div class="paddedbottom10">
	    <ul class="breadcrumb">
	    	<li><a href="#/products">{{'label.anchor.products' | translate}}</a> <span class="divider">/</span></li>
	    	<li><a href="#/charges">{{'label.anchor.charges' | translate}}</a> <span class="divider">/</span></li>
	        <li class="active">{{charge.name}}</li>
        </ul>
    </div>
    <div class="well">
        <div class="row-fluid">
          <h3><strong>{{charge.name}}</strong></h3>
          <div class="btn-group pull-right">
              <a href="#/editcharge/{{charge.id}}" class="btn btn-primary"><i class="icon-edit icon-white"></i>{{'label.button.edit' | translate}}</a>
              <button type="button" data-ng-click="deleteCharge()" class="btn btn-warning"><i class="icon-trash icon-white"></i>{{'label.button.delete' | translate}}</button>
          </div>
        </div>
        <script type="text/ng-template" id="deletech.html">
            <div class="modal-header silver">
                <h3 class="bolder">{{'label.heading.delete' | translate}}</h3>
            </div>
            <div class="modal-body ">
                <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
                <button class="btn btn-primary" ng-click="delete()">{{'label.button.confirm' | translate}}</button>
            </div>
        </script>
        <div class="row paddedleft">
            <table width="40%">
                <tr>
                    <td>{{'label.heading.chargetype' | translate}}</td>
                    <td>
                        <div ng-switch="charge.penalty">
                            <div ng-switch-when="false">{{'label.heading.charge' | translate}}</div>
                            <div ng-switch-when="true">{{'label.heading.penalty' | translate}}</div>
                        </div>
                    </td>
                <tr>
                    <td>{{'label.heading.currency' | translate}}</td>
                    <td>{{charge.currency.name}}</td>
                </tr>
                <tr>
                    <td>{{'label.heading.amount' | translate}}</td>
                    <td>{{charge.amount}}</td>
                </tr>
                <tr>
                    <td>{{'label.heading.chargetimetype' | translate}}</td>
                    <td>{{charge.chargeTimeType.value}}</td>
                </tr>
                <tr>
                    <td>{{'label.heading.chargeappliesto' | translate}}</td>
                    <td>{{charge.chargeAppliesTo.value}}</td>
                </tr>
                <tr>
                    <td>{{'label.heading.chargecalculationtype' | translate}}</td>
                    <td>{{charge.chargeCalculationType.value}}</td>
                </tr>
                <tr>
                    <td>{{'label.heading.active' | translate}}</td>
                    <td>{{charge.active | YesOrNo}}</td>
                </tr>
                <tr>
                    <td>{{'label.heading.chargepaymentmode' | translate}}:</td>
                    <td>{{charge.chargePaymentMode.value}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>