<!-- Page that will show when user goes to a page that doesn't exist (404 error) -->
<style>
    #error-icon {
        font-size: 6em;
    }
    #error-main {
        font-size: 4em;
        color: #0c629b;
    }
    #error-sub {
        color: #627180;
        font-size: 1.8em;
    }
    #error-desc {
        font-size: 1em;
    }
    a.error-link {
        color: #1074b9; 
    }
</style>

<div style="text-align: center;">
    <i id="error-icon" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    <h1 id="error-main">404 ERROR</h1>
    <p id="error-sub">Page not found</p>
    <p id="error-desc">
        The page that you are looking for doesn't exist or has been moved.
        <br>
        Please <a class="error-link" href="javascript:history.back()">go back</a> or go to the <a class="error-link" href="#/home">home page</a>. 
    </p>
</div>