<div class="left-nav">
    <ul>
        <li>
            <a class="black" href="#/help">
                <i class="fa fa-keyboard-o"></i>
                <span>{{'label.anchor.keyboardshortcut' | translate}}</span>
            </a>
        </li>

        <li>
            <a class="black" href="#/nav/offices">
                <i class="fa fa-compass "></i>
                <span>{{'label.anchor.navigation' | translate}}</span>
            </a>
        </li>

        <li>
            <a class="black" href="#/tasks">
                <i class="fa fa-check "></i>
                <span>{{ 'label.anchor.tasks'| translate}}</span>
            </a>
        </li>

        <li>
            <a class="black" href="#/entercollectionsheet">
                <i class="fa fa-tasks "></i>
                <span>{{'label.anchor.collectionsheet' | translate}}</span>
            </a>
        </li>

        <li>
            <a class="black" href="#/individualcollectionsheet">
                <i class="fa fa-tasks "></i>
                <span>{{'label.anchor.individualcollectionsheet' | translate}}</span>
            </a>
        </li>

        <li>
            <a class="black" href="#/freqposting">
                <i class="fa fa-repeat "></i>
                <span>{{'label.anchor.frequentpostings' | translate}}</span>
            </a>
        </li>

        <li>
            <a class="black" href="#/journalentry">
                <i class="fa fa-plus "></i>
                <span>{{'label.anchor.addjournalentries' | translate}}</span>
            </a>
        </li>

        <li>
            <a class="black" href="#/accounts_closure">
                <i class="fa fa-folder "></i>
                <span>{{'label.anchor.closingentries' | translate}}</span>
            </a>
        </li>

        <li>
            <a class="black" href="#/accounting_coa">
                <i class="fa fa-sitemap "></i>
                <span>{{'label.heading.chartofaccounts' | translate}}</span>
            </a>
        </li>
        <li>
            <a class="black" href="#/notifications">
                <i class="fa fa-bell" ></i>
                <span>{{'label.heading.notification' | translate }}</span>
            </a>
        </li>
        <li>
            <a class="black" href="#/createclient">
                <i class="fa fa-user "></i> + <span>{{ 'label.anchor.client' |translate}}</span>
            </a>
        </li>

        <li>
            <a class="black" href="#/creategroup">
                <i class="fa fa-group "></i> + <span>{{ 'label.anchor.group' |translate}}</span>
            </a>
        </li>

        <li>
            <a class="black" href="#/createcenter">
                <i class="fa fa-map-marker "></i> + <span>{{'label.anchor.center' | translate}}</span>
            </a>
        </li>

        <li>
            <a class="black" ng-click="helpf()">
                <i class="fa fa-question-circle"></i>
                <span>{{'label.anchor.help' | translate }}</span> &nbsp; <span class="fa fa-external-link"></span>
            </a>
        </li>

    </ul>
</div>