<div id="expertsearch" data-ng-controller="ExpertSearchController">
    <h3><strong>MifosX Dash Home</strong></h3>
    <input type="text" data-ng-model="formData.search" placeholder="Search" class="span" typeahead-on-select="search()" ng-autofocus="true" typeahead="param as param for param in searchParams | filter:$viewValue | limitTo:8"/>
    <hr/>
    <br/>
    <div class="form-horizontal">
        <div class="control-group">
            <div class="paddedleft">
                <i class="icon-bolt icon-2x"></i><strong>Recent Activities</strong>
            </div>
            <hr/>
            <div class="row span">
                <div class="paddedleft120">
                    <span data-ng-repeat="recent in recents">
                        <a href="#{{recent}}" class="btn-silver" title="{{recent}}"><i class="icon-4x icon-globe"></i></a>
                    </span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="paddedleft">
                <br/><br/><i class="icon-laptop icon-2x"></i><strong>Frequent Activities</strong>
            </div>
            <hr/>
            <div class="row span">
                <div class="paddedleft120">
                    <span data-ng-repeat="freq in frequent">
                        <a href="#{{freq}}" class="btn-silver" title="{{freq}}"><i class="icon-4x icon-globe"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
