<!-- we can include some common header page stuff in here, i.e. menus, nav tabs etc. -->
<img src="image/logo.jpg" alt="mifosX"/>
<div>
  <div class="menu-links">
    <nav>
      <a href="#/">{{'label.startpage' | translate}}</a>
      <a href="#/home">{{'label.homepage' | translate}}</a>
      <a href="#/login">{{'label.loginpage' | translate}}</a>
      <a href="#/admin/users">{{'label.manageusers' | translate}}</a>
      <a href="#/admin/roles">{{'label.manageroles' | translate}}</a>
    </nav>
  </div>
  <div class="menu-user" data-ng-hide="currentSession.user == null">
    <div>{{'label.user' | translate}}: <strong>{{currentSession.user.name}}</strong> <a data-ng-click="logout()">({{'link.logout' | translate}})</a></div>
  </div>
</div>
<hr/>
