<!-- we can include some common header page stuff in here, i.e. menus, nav tabs etc. -->
<img src="image/logo.jpg" alt="mifosX"/>
<div>
    <div class="menu-links">
        <nav>
            <a href="#/">{{'label.anchor.startpage' | translate}}</a>
            <a href="#/home">{{'label.anchor.homepage' | translate}}</a>
            <a href="#/login">{{'label.anchor.loginpage' | translate}}</a>
            <a href="#/admin/users">{{'label.anchor.manageusers' | translate}}</a>
            <a href="#/admin/roles">{{'label.anchor.manageroles' | translate}}</a>
        </nav>
    </div>
    <div class="menu-user" data-ng-hide="currentSession.user == null">
        <div>{{'label.heading.user' | translate}}: <strong>{{currentSession.user.name}}</strong> <a
                data-ng-click="logout()">({{'label.anchor.logout' | translate}})</a></div>
    </div>
</div>
<hr/>
