<!-- we can include some common header page stuff in here, i.e. menus, nav tabs etc. -->
<img src="image/logo.jpg" alt="mifosX"/>
<div>
  <div class="menu-links">
    <nav>
      <a href="#/">Start page</a>
      <a href="#/home">Home page</a>
      <a href="#/login">Login page</a>
      <a href="#/admin/users">Manage Users</a>
      <a href="#/admin/roles">Manage Roles</a>
    </nav>
  </div>
  <div class="menu-user" data-ng-hide="currentSession.user == null">
    <div>User: <strong>{{currentSession.user.name}}</strong> <a data-ng-click="logout()">(Logout)</a></div>
  </div>
</div>
<hr/>
